{
  "Entries": [
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"http://easycreate.azure.com/anotherapp/javasdksp7eb259463\",\r\n  \"homepage\": \"http://easycreate.azure.com/anotherapp/javasdksp7eb259463\",\r\n  \"identifierUris\": [\r\n    \"http://easycreate.azure.com/anotherapp/javasdksp7eb259463\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"http://easycreate.azure.com/anotherapp/javasdksp7eb259463\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"bc666b96-bd29-4675-813e-bf4b1e3b13d3\",\r\n  \"deletionTimestamp\": null,\r\n  \"acceptMappedClaims\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"f6b5daaa-69aa-4ad0-8c31-0c59b6586f39\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"http://easycreate.azure.com/anotherapp/javasdksp7eb259463\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://easycreate.azure.com/anotherapp/javasdksp7eb259463\",\r\n  \"identifierUris\": [\r\n    \"http://easycreate.azure.com/anotherapp/javasdksp7eb259463\"\r\n  ],\r\n  \"informationalUrls\": {\r\n    \"termsOfService\": null,\r\n    \"support\": null,\r\n    \"privacy\": null,\r\n    \"marketing\": null\r\n  },\r\n  \"isDeviceOnlyAuthSupported\": null,\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"logo@odata.mediaContentType\": \"application/json;odata=minimalmetadata; charset=utf-8\",\r\n  \"logoUrl\": null,\r\n  \"oauth2AllowIdTokenImplicitFlow\": true,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access http://easycreate.azure.com/anotherapp/javasdksp7eb259463 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access http://easycreate.azure.com/anotherapp/javasdksp7eb259463\",\r\n      \"id\": \"9494d843-fb44-4816-a4c8-87c32cfba7b9\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access http://easycreate.azure.com/anotherapp/javasdksp7eb259463 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access http://easycreate.azure.com/anotherapp/javasdksp7eb259463\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"optionalClaims\": null,\r\n  \"orgRestrictions\": [],\r\n  \"parentalControlSettings\": {\r\n    \"countriesBlockedForMinors\": [],\r\n    \"legalAgeGroupRule\": \"Allow\"\r\n  },\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"publisherDomain\": null,\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [\r\n    \"http://easycreate.azure.com/anotherapp/javasdksp7eb259463\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"signInAudience\": \"AzureADMyOrg\",\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/bc666b96-bd29-4675-813e-bf4b1e3b13d3/Microsoft.DirectoryServices.Application"
        ],
        "ocp-aad-diagnostics-server-name": [
          "gXfFarcv2ysN8TtqVPgD1PYEnzY+oOLIPXpP5S4Cj3o="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "moqtbCz3C0bDdfNE8L-6SDs_GNmNnxvE9EIzeboUFpD4z-LXgagbg_kVpu5RELtsiIwoCWNbqrIP7q3b09smJZvLty7rRpf1Gn3y9JMKv0XuwLBPknZS884pSbdQU5DeuBvaGCFVE97wZ6y0PmP7EA.ut2pg4QAxEXFBe0GPVUGX_-fYvXw9syFFjh_c5z_2tE"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2993270"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications/bc666b96-bd29-4675-813e-bf4b1e3b13d3/keyCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.KeyCredential)\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "s2UwUVi+htM/n2YkhPwXRPeUZqg0DtftoAt5dzpH0b8="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "MSQdV6zlUfcCnWgWwfqOKU8pa9GZ2nLtPIza1SPO5JCA5HJmQaFzvLuM9CLmjgjQRDYMgdrERQvpaH-5WZGrGcYNu6p-kDhW2ndYb51V0NGdlDBnD4EEJ-3_51PTSVut_HsqxL_naAeI4QABq6474Q.xn0YTZT8IndNtMTnYIIW74ZE1ty8JlGa4eCvIbZ2fcY"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "468878"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications/bc666b96-bd29-4675-813e-bf4b1e3b13d3/passwordCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.PasswordCredential)\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "vPettSiUstOmmenKCofUY/RtXhXy1JLj54Gv/HPGCX8="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "fIfJF4sFV045Ztg2d4uGv4_qGA-NP7VYbftOc7Sb3bhzBKliy0op7ShDnxzp6mpYeG0E6bfGRgkjXuNpjlktkPvRl8MM9_MAT9mq6qAGpHHJ6TLPrY6VbSHE0lFkjBi576D6yGUlKsHPGBjz_bwpKw.m34DX4S28eQ3mPiib9w7SvZt0LBDyL3w3l-dr6i-V6U"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "472350"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"f6b5daaa-69aa-4ad0-8c31-0c59b6586f39\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"9385acae-5eb2-4ea4-9d0d-ff88cd259d48\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"http://easycreate.azure.com/anotherapp/javasdksp7eb259463\",\r\n  \"appId\": \"f6b5daaa-69aa-4ad0-8c31-0c59b6586f39\",\r\n  \"appOwnerTenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"http://easycreate.azure.com/anotherapp/javasdksp7eb259463\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://easycreate.azure.com/anotherapp/javasdksp7eb259463\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access http://easycreate.azure.com/anotherapp/javasdksp7eb259463 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access http://easycreate.azure.com/anotherapp/javasdksp7eb259463\",\r\n      \"id\": \"9494d843-fb44-4816-a4c8-87c32cfba7b9\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access http://easycreate.azure.com/anotherapp/javasdksp7eb259463 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access http://easycreate.azure.com/anotherapp/javasdksp7eb259463\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [],\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"AzureSDKTeam\",\r\n  \"replyUrls\": [\r\n    \"http://easycreate.azure.com/anotherapp/javasdksp7eb259463\"\r\n  ],\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"f6b5daaa-69aa-4ad0-8c31-0c59b6586f39\",\r\n    \"http://easycreate.azure.com/anotherapp/javasdksp7eb259463\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"signInAudience\": \"AzureADMyOrg\",\r\n  \"tags\": [],\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/9385acae-5eb2-4ea4-9d0d-ff88cd259d48/Microsoft.DirectoryServices.ServicePrincipal"
        ],
        "ocp-aad-diagnostics-server-name": [
          "Ejlln//HW8QHQEvfdHqbS3KozJkF5qO/py2QoUOMx9s="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "nAJ_7S_SiGdSHeiztPTpvm45ts9cI6TsuRDPtKYxfyJPzaeSSbBFPbWSHJIj0kDWyt28rWGp2eVQgMHcQMzrGF6S2x8IalrqwPTdpVkARXjqZ0K1Gf5g7hPEspa5yfS9osV1st4w2Z1tLvhFeQYhlw.4iQa-uTf7gU2f2A0u0TyMDgcG_p4kgFih5kULtfP-0M"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2230811"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/9385acae-5eb2-4ea4-9d0d-ff88cd259d48/keyCredentials?api-version=1.6",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"value\": [\r\n    {\r\n      \"startDate\": \"2018-06-27T18:01:42.7760486Z\",\r\n      \"endDate\": \"2018-06-28T18:01:42.7760486Z\",\r\n      \"value\": \"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tDQpNSUlDd1RDQ0FhbWdBd0lCQWdJRUprNTJ1REFOQmdrcWhraUc5dzBCQVFzRkFEQVJNUTh3RFFZRFZRUURFd1p0DQplVlJsYzNRd0hoY05NVFl4TVRFeU1ERXhNekkyV2hjTk1qWXhNVEV3TURFeE16STJXakFSTVE4d0RRWURWUVFEDQpFd1p0ZVZSbGMzUXdnZ0VpTUEwR0NTcUdTSWIzRFFFQkFRVUFBNElCRHdBd2dnRUtBb0lCQVFDYm56SkYzYysvDQpzY2JnUnluc2l4eG1XbDNHZFppUUh2b0FjVWJXZUdkbDF1bzBSVDZYeThCQ0tkWENCUW9ZbXhuZzNYYnZTS2RiDQp2UGUyYmtHVDlBMDhxVTh5VXFUMGJFSXFXNUZCZ3g1ZEVzdzRUeCtuOXA3UWhKTWF3Nlg1NFZ1SlVieVVwNERaDQp2VGxlOTluMDBqR0hwdDZUQndqb0VJNnNET1M3WG5lblk5WVIxR1hEY00zcVdidklXVHJ6SmFxeXMxUmdTYnhnDQpjUklMbjg4NVZaWkx1dXlqVTZXaEpRRmZ4L2kzR1hLVDNaUDhyVTNlNmQ3cTBQalZBS3lGd2FNTlZlVTRWbURpDQo3a25HaHlDODRJWW8xT0ZLc0FjU1ZDYXhkU1FiT0dhZXh2RmFqMmpqb0tmdlkzZG40aW9vM3lJelNNSmdsZk1BDQpISFgveHpUa3gyN2xBZ01CQUFHaklUQWZNQjBHQTFVZERnUVdCQlNDUXVicXhkSVBVdS9QRVdxUmxTWHBLTEZ1DQpxVEFOQmdrcWhraUc5dzBCQVFzRkFBT0NBUUVBQ3A2WUNLdDhGamtQdW5sQ0lKUFZZeFJZUTNzdDdHL0pGMnk5DQowRWlQWlc4THNCOFFTL0dQcmNoQmFaZE9pMVNNTGtEdlMyQnozN3VuSks3WUY2WC9JWG1nYWNDSkpjTnlXci8wDQpJdURUNGYwaHUzVCtYeWZlMFRVeFZJQzRDYjhpY3c1SXBGMkVhZ1ZhY0VSVFpHQi91MzhZNzdGYTNKUlN4NHdaDQpuc0hUbVA0SlNLdU94UlprbkR3NS9nSEdIZkhyKzlueWNOSjdJSHJZS0tDRUVna2hEVXZVYXgzZk4zVFd5WmFwDQpSOThTK1JRYUozckxhTmlOcVZqdUdyYkhqUmVRaWtUdFp3Q3RscE04Vkhvdml5eVRVRTd4a2VrTTJwNFloRHBEDQpaRE4raTJPZ1VLc1NLbUR3clpUQzczMkQwRzdyODBmbDk2ZXpOTTlPN3FoNDU3aWhWQT09DQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tDQo=\",\r\n      \"usage\": \"Verify\",\r\n      \"type\": \"AsymmetricX509Cert\",\r\n      \"customKeyIdentifier\": \"c3BjZXJ0\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "aLjul60AojNkmrHXU2K8UCWjsiSBDyBxA+NSaz2RTqQ="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "_GgdFV46LniwvgxX5V4o-tWPzvVDlBCyXMWsD3BvGCh4fM5l47oDCKmGyS9rBnFwfU4Hij2oiPQSymDJ_wl2ecScaQZqE1a-674tgRiY2kBzuLvghuB-9d539yKRJSaeRaFH8VMv9Fz22-aZAukeeg.jhoxbElYmH3HIriOpmJ7rWc-HtroLCQ7FVldM2mKXkU"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1969019"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/9385acae-5eb2-4ea4-9d0d-ff88cd259d48/keyCredentials?api-version=1.6",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"value\": [\r\n    {\r\n      \"startDate\": \"2018-06-27T18:01:42.7760486Z\",\r\n      \"endDate\": \"2018-06-28T18:01:42.7760486Z\",\r\n      \"keyId\": \"8938ad9f-1fb7-4dc1-9920-3cb02519419f\",\r\n      \"usage\": \"Verify\",\r\n      \"type\": \"AsymmetricX509Cert\",\r\n      \"customKeyIdentifier\": \"c3BjZXJ0\",\r\n      \"value\": null\r\n    },\r\n    {\r\n      \"startDate\": \"2018-06-27T18:01:45.9053922Z\",\r\n      \"endDate\": \"2018-06-29T18:01:45.9053922Z\",\r\n      \"value\": \"MIICwzCCAaugAwIBAgIEAeU3rDANBgkqhkiG9w0BAQsFADASMRAwDgYDVQQDEwdteUNlcnQyMB4XDTE2MTExMzE4NDkyOVoXDTI2MTExMTE4NDkyOVowEjEQMA4GA1UEAxMHbXlDZXJ0MjCCASIwDQYJKo[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/9385acae-5eb2-4ea4-9d0d-ff88cd259d48/passwordCredentials?api-version=1.6",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"value\": [\r\n    {\r\n      \"customKeyIdentifier\": \"c3BwYXNz\",\r\n      \"startDate\": \"2018-06-27T18:01:42.7730739Z\",\r\n      \"endDate\": \"2019-06-27T18:01:42.7730739Z\",\r\n      \"value\": \"StrongPass!12\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "zPeOuJeNLZ5N5CAKU8XN6jsJ5sC6cSv6Gh6WpNy3E8g="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "HGLvFqk9CyAVaMpH6z2dFBxw3iVO35cLgaE3ZPLKG1x7tT9uDkltMBQNN1BHsY-28cRDF8gBdJsn0Sm8haCORvNvqeZbScfWV8zQcGekOf7XL-2yBvyvpnm9InV06ibXcvWVydrITli4jf5x8ymIgQ.vhSvBvLotKfaLfickBgwpNrgSgAN6Of0SKsrwpKfqow"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2147263"
        ]
      },
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/9385acae-5eb2-4ea4-9d0d-ff88cd259d48?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\[...]
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals?$filter=displayName%20eq%20'f6b5daaa-69aa-4ad0-8c31-0c59b6586f39'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "Fo1QicrIhHj2KR1ZzWvNa2KLRHgOjpt7/hmcNDActAs="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "RHlreAlqUjpGXGTVk3pfeWMre8875tU7Ru9zhO5rtjQb8Pyk2va7tFpQMJaI1C4vldSbKtKn-2WijCSEOmn4_upvNos6UjgXWVmH-58IC7MAaPDvMLKXAZpU3frPvwQE9iiEzZ6khAMoPVWF_QhH6Q.pusUxOmoOIofHpgoRsM79iGZVbfJcmE6e1WGXnaYaQ4"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "454763"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals?$filter=servicePrincipalNames/any(c:c%20eq%20'f6b5daaa-69aa-4ad0-8c31-0c59b6586f39')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"value\": [\r\n    {\r\n    [...]
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications?$filter=displayName%20eq%20'f6b5daaa-69aa-4ad0-8c31-0c59b6586f39'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Application\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "Fo1QicrIhHj2KR1ZzWvNa2KLRHgOjpt7/hmcNDActAs="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "GyiCelSqjJ16GRIxCxrOfz7GO8WCjGjnow0um285TLIAMbPb2M5nzu1hn3A1zJyuD5E0Yy3wXBb9aI2zDibgc_AGzhxA-PFWEX58MxeQ05E7wY7Ls0M3VP1UGdkzOcC2g28UPew1-__bTuvrbzN_4A.x6rd1YQ9YC7hE9gJHB3gHGCYXkDZMDMYXoBjs3DQYQY"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "363469"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications?$filter=appId%20eq%20'f6b5daaa-69aa-4ad0-8c31-0c59b6586f39'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Application\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.Direc[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications/bc666b96-bd29-4675-813e-bf4b1e3b13d3?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "WBvu8jP7GvGe2O2F+aZuMDfZG7V2TvhyRVdWPfSUkTU="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "3XgKj0Hnw_HDprWWnm1D8CFskSDmtM6RxFwwZmirlOFLTG_iwepT5HXYHV1gjQ_VFNmemsW5n6ti7KYIxXRmQrstO34d6nK2dEb_9dVkhY2RG_QIgB1qvsrjLtVEKBSbbNr-eNybspIFar0UVPZubA.iS_dK97RrQJtmiNmrVd1r1LqNZUcsq9E1fNXcC6geh4"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1094188"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CanCRUDServicePrincipal": [
      "javasdksp7eb259463"
    ]
  },
  "Variables": {
    "ServicePrincipal": "39e3d217-cb72-4b90-8532-394a7e784d93",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}