{
  "Entries": [
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"javasdksp546761039\",\r\n  \"identifierUris\": [\r\n    \"http://easycreate.azure.com/anotherapp/javasdksp546761039\"\r\n  ],\r\n  \"homepage\": \"http://easycreate.azure.com/anotherapp/javasdksp546761039\",\r\n  \"replyUrls\": [\r\n    \"http://easycreate.azure.com/anotherapp/javasdksp546761039\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/1d71bb42-9115-492b-a6a3-62bb54a7b5e0/Microsoft.DirectoryServices.Application"
        ],
        "ocp-aad-diagnostics-server-name": [
          "jkM1lzjvNxXCHuvy0rCnAJ/uYNEE7+B/zPhCEcVEXNc="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "wKq4Xo-bbZCoQ2_9YgdeiDDQz8wMYhQECwwrAjQ4xllbxOfdt4xLb3U8f1m80V87x9Go4r0eE3fE1yyvfE9s2bLXmpJladFiSqba_JURAYThY8fP0VSUDjYeD0GeZPUJCZcDLqqPbGbGr-mOMNzVvPfxwdtPF2YWO5hU6NCdrqE.FIBHSFDrjTYMEWnpVGmTIlJ0dm2JimqAQIwKycojXU0"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "7648669"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"1d71bb42-9115-492b-a6a3-62bb54a7b5e0\",\r\n  \"deletionTimestamp\": null,\r\n  \"acceptMappedClaims\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"ba7897f4-4c56-4eb7-a76f-78f7d073a8b4\",\r\n  \"applicationTemplateId\": null,\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"javasdksp546761039\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://easycreate.azure.com/anotherapp/javasdksp546761039\",\r\n  \"identifierUris\": [\r\n    \"http://easycreate.azure.com/anotherapp/javasdksp546761039\"\r\n  ],\r\n  \"informationalUrls\": {\r\n    \"termsOfService\": null,\r\n    \"support\": null,\r\n    \"privacy\": null,\r\n    \"marketing\": null\r\n  },\r\n  \"isDeviceOnlyAuthSupported\": null,\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"logo@odata.mediaEditLink\": \"directoryObjects/1d71bb42-9115-492b-a6a3-62bb54a7b5e0/Microsoft.DirectoryServices.Application/logo\",\r\n  \"logo@odata.mediaContentType\": \"application/json;odata=minimalmetadata; charset=utf-8\",\r\n  \"logoUrl\": null,\r\n  \"mainLogo@odata.mediaEditLink\": \"directoryObjects/1d71bb42-9115-492b-a6a3-62bb54a7b5e0/Microsoft.DirectoryServices.Application/mainLogo\",\r\n  \"oauth2AllowIdTokenImplicitFlow\": true,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access javasdksp546761039 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access javasdksp546761039\",\r\n      \"id\": \"fe231690-0a54-49f4-b012-7750016dd740\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access javasdksp546761039 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access javasdksp546761039\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"optionalClaims\": null,\r\n  \"orgRestrictions\": [],\r\n  \"parentalControlSettings\": {\r\n    \"countriesBlockedForMinors\": [],\r\n    \"legalAgeGroupRule\": \"Allow\"\r\n  },\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"publisherDomain\": \"AzureSDKTeam.onmicrosoft.com\",\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [\r\n    \"http://easycreate.azure.com/anotherapp/javasdksp546761039\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"signInAudience\": \"AzureADMyOrg\",\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications/1d71bb42-9115-492b-a6a3-62bb54a7b5e0/keyCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "jkM1lzjvNxXCHuvy0rCnAJ/uYNEE7+B/zPhCEcVEXNc="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "HAjAxA9ZQ1jpvJgXJuU5ed3BZQATsYX1vTbnTdLn7Obr9vh_4aOowT7_W93ewPuZRB04bhNDAHM_ZVwF7upkFyo9nVWCuQLOH21ImwUyF073PICOfMhiq7Q0fuj9Hx66hJPwMxPqe__JRcRf95tIHdGnxKDXFYvekm2E5c48SAE.GWm2KQLLWTjsZM7KBu8A3lsBU25ok0ZhO9UdhW7G5gA"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2413318"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.KeyCredential)\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications/1d71bb42-9115-492b-a6a3-62bb54a7b5e0/passwordCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "5CtF8qBNjLqtxzaKLOIpQ/qdT7p2WXsr2QgsKgwSIkQ="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "zGhdreoKI4nL4SOG9LwJJBsEx_igFnzPS0taOwQA84VjRUgndgSz9htUTFlVrR59caIpYSrA-DhRs5vQSGxAvnl7gnCObuzBDQ0gK2UDMBVWdx_msovfjsN5Rj64en-w0PcCyYba_sk25Ae5qFtTMVM5NQbiYzwADR33_kIodqo.5BhtSPBrYyapjj5R83c6EQFsuQqeGJ1r0QRk2Ju4ghc"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2442592"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.PasswordCredential)\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"ba7897f4-4c56-4eb7-a76f-78f7d073a8b4\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/f8c34f2d-6548-46ff-92eb-d16f2b6f4c2c/Microsoft.DirectoryServices.ServicePrincipal"
        ],
        "ocp-aad-diagnostics-server-name": [
          "XwM9J6mYB/CvvQX3xOj9NMCXa2qCyINEEs06ms8zTaI="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "ddY4YcQ84EkV38dyVw-vGwOFRr_ZfurdPpaHvsM6JinYaw2rZoLG9oF164PWDy2gt7Q1b2Goepo8pl4WPJBzMtXyT9NClyYHpD_Sr_1PNSZPYo5WfTBn2K0e_prt4978rGFeNbFM-shgtVccOoi86GwbCm-lbbgqsr9QC4T3I5w.Eud_gYv6KBrgTnhPnwYOGWDi2AC6mlxo1dtf2DgKWko"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "6294984"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"f8c34f2d-6548-46ff-92eb-d16f2b6f4c2c\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"javasdksp546761039\",\r\n  \"appId\": \"ba7897f4-4c56-4eb7-a76f-78f7d073a8b4\",\r\n  \"applicationTemplateId\": null,\r\n  \"appOwnerTenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"javasdksp546761039\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://easycreate.azure.com/anotherapp/javasdksp546761039\",\r\n  \"informationalUrls\": {\r\n    \"termsOfService\": null,\r\n    \"support\": null,\r\n    \"privacy\": null,\r\n    \"marketing\": null\r\n  },\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"notificationEmailAddresses\": [],\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access javasdksp546761039 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access javasdksp546761039\",\r\n      \"id\": \"fe231690-0a54-49f4-b012-7750016dd740\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access javasdksp546761039 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access javasdksp546761039\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [],\r\n  \"preferredSingleSignOnMode\": null,\r\n  \"preferredTokenSigningKeyEndDateTime\": null,\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"AzureSDKTeam\",\r\n  \"replyUrls\": [\r\n    \"http://easycreate.azure.com/anotherapp/javasdksp546761039\"\r\n  ],\r\n  \"samlMetadataUrl\": null,\r\n  \"samlSingleSignOnSettings\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"ba7897f4-4c56-4eb7-a76f-78f7d073a8b4\",\r\n    \"http://easycreate.azure.com/anotherapp/javasdksp546761039\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"signInAudience\": \"AzureADMyOrg\",\r\n  \"tags\": [],\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/f8c34f2d-6548-46ff-92eb-d16f2b6f4c2c/keyCredentials?api-version=1.6",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"value\": [\r\n    {\r\n      \"startDate\": \"2019-12-13T10:19:05.3280329Z\",\r\n      \"endDate\": \"2019-12-14T10:19:05.3280329Z\",\r\n      \"value\": \"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN3VENDQWFtZ0F3SUJBZ0lFSms1MnVEQU5CZ2txaGtpRzl3MEJBUXNGQURBUk1ROHdEUVlEVlFRREV3WnQKZVZSbGMzUXdIaGNOTVRZeE1URXlNREV4TXpJMldoY05Nall4TVRFd01ERXhNekkyV2pBUk1ROHdEUVlEVlFRRApFd1p0ZVZSbGMzUXdnZ0VpTUEwR0NTcUdTSWIzRFFFQkFRVUFBNElCRHdBd2dnRUtBb0lCQVFDYm56SkYzYysvCnNjYmdSeW5zaXh4bVdsM0dkWmlRSHZvQWNVYldlR2RsMXVvMFJUNlh5OEJDS2RYQ0JRb1lteG5nM1hidlNLZGIKdlBlMmJrR1Q5QTA4cVU4eVVxVDBiRUlxVzVGQmd4NWRFc3c0VHgrbjlwN1FoSk1hdzZYNTRWdUpVYnlVcDREWgp2VGxlOTluMDBqR0hwdDZUQndqb0VJNnNET1M3WG5lblk5WVIxR1hEY00zcVdidklXVHJ6SmFxeXMxUmdTYnhnCmNSSUxuODg1VlpaTHV1eWpVNldoSlFGZngvaTNHWEtUM1pQOHJVM2U2ZDdxMFBqVkFLeUZ3YU1OVmVVNFZtRGkKN2tuR2h5Qzg0SVlvMU9GS3NBY1NWQ2F4ZFNRYk9HYWV4dkZhajJqam9LZnZZM2RuNGlvbzN5SXpTTUpnbGZNQQpISFgveHpUa3gyN2xBZ01CQUFHaklUQWZNQjBHQTFVZERnUVdCQlNDUXVicXhkSVBVdS9QRVdxUmxTWHBLTEZ1CnFUQU5CZ2txaGtpRzl3MEJBUXNGQUFPQ0FRRUFDcDZZQ0t0OEZqa1B1bmxDSUpQVll4UllRM3N0N0cvSkYyeTkKMEVpUFpXOExzQjhRUy9HUHJjaEJhWmRPaTFTTUxrRHZTMkJ6Mzd1bkpLN1lGNlgvSVhtZ2FjQ0pKY055V3IvMApJdURUNGYwaHUzVCtYeWZlMFRVeFZJQzRDYjhpY3c1SXBGMkVhZ1ZhY0VSVFpHQi91MzhZNzdGYTNKUlN4NHdaCm5zSFRtUDRKU0t1T3hSWmtuRHc1L2dIR0hmSHIrOW55Y05KN0lIcllLS0NFRWdraERVdlVheDNmTjNUV3laYXAKUjk4UytSUWFKM3JMYU5pTnFWanVHcmJIalJlUWlrVHRad0N0bHBNOFZIb3ZpeXlUVUU3eGtla00ycDRZaERwRApaRE4raTJPZ1VLc1NLbUR3clpUQzczMkQwRzdyODBmbDk2ZXpOTTlPN3FoNDU3aWhWQT09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K\",\r\n      \"keyId\": \"cf4f8a38-f1ae-4d13-9754-7416e2229b5c\",\r\n      \"usage\": \"Verify\",\r\n      \"type\": \"AsymmetricX509Cert\",\r\n      \"customKeyIdentifier\": \"c3BjZXJ0\"\r\n    },\r\n    {\r\n      \"startDate\": \"2019-12-13T10:19:05.3342037Z\",\r\n      \"endDate\": \"2019-12-14T10:19:05.3342037Z\",\r\n      \"value\": \"MIICwzCCAaugAwIBAgIEAeU3rDANBgkqhkiG9w0BAQsFADASMRAwDgYDVQQDEwdteUNlcnQyMB4XDTE2MTExMzE4NDkyOVoXDTI2MTExMTE4NDkyOVowEjEQMA4GA1UEAxMHbXlDZXJ0MjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKoFamQIOH3rawbj8cClxT5t7qfOlnJC7zOApTUOvIPYvRq7jA/Q0SqSKgNSNYhdQDN4qFwbLDDYI2GKu/Woc41IjPq22G65CHT065yfm71I0EkBPqMylX7O3ROvcUqL5qhIsYRq8vHxRDkakFt[...]
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/f8c34f2d-6548-46ff-92eb-d16f2b6f4c2c/passwordCredentials?api-version=1.6",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"value\": [\r\n    {\r\n      \"startDate\": \"2019-12-13T10:19:05.324941Z\",\r\n      \"endDate\": \"2020-12-13T10:19:05.3249923Z\",\r\n      \"keyId\": \"36a56bda-4116-4d7c-8897-71c3b742ebb1\",\r\n      \"value\": \"StrongPass!12\",\r\n      \"customKeyIdentifier\": \"c3BwYXNz\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "rKom6PMPEZ0rGSbK0aHZnJgbvmwPbE1xDrhvOPMIKQ0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "qdRxCn5-T-JDq4xLZRse5kfuj5bVm--Py-xVNHpigK3X2rLTmuWeFICPJqGwJjmwglj10g83JpxycmajD_nRC00ERzA8E32X6TMgFp9D_8M0Zq_A40F68Dz57-W6FHsbaZNMWqp-xRuJy6WB71R0BB2KBVJZgo5QqLtYVH-zLGw.LIYL0_2ZkYkj-OzpXdJ4I-3tnK9ypF6yz56u8dXmFXY"
        ],
        "Duration": [
          "6253708"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/f8c34f2d-6548-46ff-92eb-d16f2b6f4c2c?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "jkM1lzjvNxXCHuvy0rCnAJ/uYNEE7+B/zPhCEcVEXNc="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "i3u7Qnx0ykbArE[...]
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals?$filter=displayName%20eq%20'ba7897f4-4c56-4eb7-a76f-78f7d073a8b4'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "5CtF8qBNjLqtxzaKLOIpQ/qdT7p2WXsr2QgsKgwSIkQ="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "sygWmWUI2LUEo-hR-0FaeXHYsZnkIZi82r8Yz_cW7F6jUrvcSlyIGshE5saglVJhXUQxqH5A8ZUierdwJqmdHBzJGlUu12vTZPF5DdKFiChN3ouaEjc7G7za7k1SvfVVKc2xrsUv4NfMkESb4-VYbv2XwbNuVHyFUbwEOv0Nw5M.edvmGkLhKJ9mzla7SV_MdhTQLFD_yLjpLdBmACaFf0k"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2314520"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals?$filter=servicePrincipalNames/any(c:c%20eq%20'ba7897f4-4c56-4eb7-a76f-78f7d073a8b4')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "OGd52dHkIHcaxAyeCQfct4XNZH6J5AlyMhbgNvkrhVk="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "o[...]
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications?$filter=displayName%20eq%20'ba7897f4-4c56-4eb7-a76f-78f7d073a8b4'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "HXkvmHH1rvAzstsXxUC6x9utpN62tE8VfUnJzeTK/MI="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "nudp5ApZ_PBSLECBrNaaRYq2AOBCTSQ8WBMIZBkpLCqTt260Q4gpy6l0dSZv5nP8giWp_L-kXreJYnv7Sde_MiSxtxOwtmKqW4sbHTD-Or43FFft8gnkY7aWAhW8Xi8nqqqubyIhWzVLaVW2NJ2MzV4uS_i_2OppGgiGnfJQTSQ.YNo1jVd25TjTGMCxdRqbcU50BE_LtSF_-Huj5oPV9Tc"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2379508"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications?$filter=appId%20eq%20'ba7897f4-4c56-4eb7-a76f-78f7d073a8b4'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "XwM9J6mYB/CvvQX3xOj9NMCXa2qCyINEEs06ms8zTaI="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
       [...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications/1d71bb42-9115-492b-a6a3-62bb54a7b5e0?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "OGd52dHkIHcaxAyeCQfct4XNZH6J5AlyMhbgNvkrhVk="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "TGyF7gStI8twFgCSn_fB4HtCjXsqjC0tGnkjGhRlo_1d8LDvqKrOX9TOL4gUpypoDYLIFtTSgHkgIPKSGUDCGyUUCIrk7tzWqemb4M4s5gb8Dkjzsj7iMVpirReGnFr-WU2ZRB7jFg55T1qkWduR6SsPF7Vu5ekNTsq1ft2A7pw.Zv-iLXmc68brwWIlmgjrsDabAScpZcxcsFfmTFodecY"
        ],
        "Duration": [
          "3325470"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "CanCRUDServicePrincipal": [
      "javasdksp546761039"
    ]
  },
  "Variables": {
    "ServicePrincipal": "9ca1cb99-65c6-46df-aaf1-e6b869fe60a3",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}