{
  "Entries": [
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"javasdksp150857876\",\r\n  \"identifierUris\": [\r\n    \"http://easycreate.azure.com/anotherapp/javasdksp150857876\"\r\n  ],\r\n  \"homepage\": \"http://easycreate.azure.com/anotherapp/javasdksp150857876\",\r\n  \"replyUrls\": [\r\n    \"http://easycreate.azure.com/anotherapp/javasdksp150857876\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/9394b5d8-0c6c-4f73-99ba-e0d2b469b212/Microsoft.DirectoryServices.Application"
        ],
        "ocp-aad-diagnostics-server-name": [
          "111y7HzMkoF7ETvCpr8Oy05nl+w+YtkaVR6AK6LH4Ao="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "pU7Qx7Ag4VYASqqHc_D_LHrPm0hL-nRf9-_at6lGejujqG1QA-58MM6rJ2XXPSVVTKpHQNmT8IxlYDtfbIuCpWvSkKKN6kufLL6DBp5Ys9P62Ki95sdA1gwMyagIzQiqR_8c9qxhMMBwcdF23qCj78OsNbwG8vc-WllQWEg9hcc.c8cRV3wnoPbF9-S-u1i2Ug43pT_-IEOnUtpVGKrAiag"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "7746715"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"9394b5d8-0c6c-4f73-99ba-e0d2b469b212\",\r\n  \"deletionTimestamp\": null,\r\n  \"acceptMappedClaims\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"4022a86a-dfc0-4d14-80ae-4a1e574d321a\",\r\n  \"applicationTemplateId\": null,\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"javasdksp150857876\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://easycreate.azure.com/anotherapp/javasdksp150857876\",\r\n  \"identifierUris\": [\r\n    \"http://easycreate.azure.com/anotherapp/javasdksp150857876\"\r\n  ],\r\n  \"informationalUrls\": {\r\n    \"termsOfService\": null,\r\n    \"support\": null,\r\n    \"privacy\": null,\r\n    \"marketing\": null\r\n  },\r\n  \"isDeviceOnlyAuthSupported\": null,\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"logo@odata.mediaEditLink\": \"directoryObjects/9394b5d8-0c6c-4f73-99ba-e0d2b469b212/Microsoft.DirectoryServices.Application/logo\",\r\n  \"logo@odata.mediaContentType\": \"application/json;odata=minimalmetadata; charset=utf-8\",\r\n  \"logoUrl\": null,\r\n  \"mainLogo@odata.mediaEditLink\": \"directoryObjects/9394b5d8-0c6c-4f73-99ba-e0d2b469b212/Microsoft.DirectoryServices.Application/mainLogo\",\r\n  \"oauth2AllowIdTokenImplicitFlow\": true,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access javasdksp150857876 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access javasdksp150857876\",\r\n      \"id\": \"e84d4afb-1d34-4d45-b0c6-42805f0953ca\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access javasdksp150857876 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access javasdksp150857876\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"optionalClaims\": null,\r\n  \"orgRestrictions\": [],\r\n  \"parentalControlSettings\": {\r\n    \"countriesBlockedForMinors\": [],\r\n    \"legalAgeGroupRule\": \"Allow\"\r\n  },\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"publisherDomain\": \"AzureSDKTeam.onmicrosoft.com\",\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [\r\n    \"http://easycreate.azure.com/anotherapp/javasdksp150857876\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"signInAudience\": \"AzureADMyOrg\",\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications/9394b5d8-0c6c-4f73-99ba-e0d2b469b212/keyCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "eM4RAlrWvAKWWS0VxGJgfo3pEtBBb5fXNwiVR1R3sps="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "8Rwrii7DXaPZmaLsTGkdA7pOsQvAf0wEBjVM6PhyM9NmkxhJXiqx9pEWVS4l1AAAZi9jGgy37wkvRbUgMXfVRFL16dQX3HFTMqpLq5fV2rHx2TAEF6B2sHOGBDQ5QpBTZI7KkZSwfyIRnvTAzPzKO93RLM4oiap-IMl7oM1Lh7o.0_ZNW9SJAwXvAMi7cHpdGXqJXOkbZ9KMvhRDnQzkwp4"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2564523"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.KeyCredential)\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications/9394b5d8-0c6c-4f73-99ba-e0d2b469b212/passwordCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "Uxtl/q3xvktlehA8tlzo2bGqMFDKE9tmB0AkTQgg97U="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "XbDxw6qbAcDHlPdj_dim-2EXdyqqU_d77QXXe-vqCirffJ-tZeDpKmgCaEg9czIDvBxUffVAeXU7AfkSfJK7TwYznMigvMKqU4EKbryxEa4j_s6hjpN6j3cnFREKjTLL-kKUoZoegQDVNE7V9-zs9hi7JvxBsJqctrudpc9U0sw.hyO9rJ4JuYqucyEAcTPNs_1w6SuFWcp_u9TkL6WcJws"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2375611"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.PasswordCredential)\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"4022a86a-dfc0-4d14-80ae-4a1e574d321a\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/7c2b2963-6d8a-4954-8333-7f014fc682b1/Microsoft.DirectoryServices.ServicePrincipal"
        ],
        "ocp-aad-diagnostics-server-name": [
          "Uxtl/q3xvktlehA8tlzo2bGqMFDKE9tmB0AkTQgg97U="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "ya6vVI8LUSGZ03RrDCcVrfV5wxwP-C6MJ05Op5KtthW8Fwbmo_uLvlbLDBIyxHtqEjkFr2bUpY_M74q2cg3rQX0_oDtQlX-F8n3t7VSQ9A3SIXyfyLysred4NFmV0I_2apf87CHzyWWQn9DOzn2aRaD5-MxIsZn_vhoKfXRVAHY.tZVKPIkTsPHVF_wHb-5n4FS7fvzgUIFbAJvDmh9IHsU"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "6505122"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"7c2b2963-6d8a-4954-8333-7f014fc682b1\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"javasdksp150857876\",\r\n  \"appId\": \"4022a86a-dfc0-4d14-80ae-4a1e574d321a\",\r\n  \"applicationTemplateId\": null,\r\n  \"appOwnerTenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"javasdksp150857876\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://easycreate.azure.com/anotherapp/javasdksp150857876\",\r\n  \"informationalUrls\": {\r\n    \"termsOfService\": null,\r\n    \"support\": null,\r\n    \"privacy\": null,\r\n    \"marketing\": null\r\n  },\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"notificationEmailAddresses\": [],\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access javasdksp150857876 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access javasdksp150857876\",\r\n      \"id\": \"e84d4afb-1d34-4d45-b0c6-42805f0953ca\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access javasdksp150857876 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access javasdksp150857876\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [],\r\n  \"preferredSingleSignOnMode\": null,\r\n  \"preferredTokenSigningKeyEndDateTime\": null,\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"AzureSDKTeam\",\r\n  \"replyUrls\": [\r\n    \"http://easycreate.azure.com/anotherapp/javasdksp150857876\"\r\n  ],\r\n  \"samlMetadataUrl\": null,\r\n  \"samlSingleSignOnSettings\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"4022a86a-dfc0-4d14-80ae-4a1e574d321a\",\r\n    \"http://easycreate.azure.com/anotherapp/javasdksp150857876\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"signInAudience\": \"AzureADMyOrg\",\r\n  \"tags\": [],\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/7c2b2963-6d8a-4954-8333-7f014fc682b1/keyCredentials?api-version=1.6",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"value\": [\r\n    {\r\n      \"startDate\": \"2019-12-13T07:38:51.2151391Z\",\r\n      \"endDate\": \"2019-12-14T07:38:51.2151391Z\",\r\n      \"value\": \"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN3VENDQWFtZ0F3SUJBZ0lFSms1MnVEQU5CZ2txaGtpRzl3MEJBUXNGQURBUk1ROHdEUVlEVlFRREV3WnQKZVZSbGMzUXdIaGNOTVRZeE1URXlNREV4TXpJMldoY05Nall4TVRFd01ERXhNekkyV2pBUk1ROHdEUVlEVlFRRApFd1p0ZVZSbGMzUXdnZ0VpTUEwR0NTcUdTSWIzRFFFQkFRVUFBNElCRHdBd2dnRUtBb0lCQVFDYm56SkYzYysvCnNjYmdSeW5zaXh4bVdsM0dkWmlRSHZvQWNVYldlR2RsMXVvMFJUNlh5OEJDS2RYQ0JRb1lteG5nM1hidlNLZGIKdlBlMmJrR1Q5QTA4cVU4eVVxVDBiRUlxVzVGQmd4NWRFc3c0VHgrbjlwN1FoSk1hdzZYNTRWdUpVYnlVcDREWgp2VGxlOTluMDBqR0hwdDZUQndqb0VJNnNET1M3WG5lblk5WVIxR1hEY00zcVdidklXVHJ6SmFxeXMxUmdTYnhnCmNSSUxuODg1VlpaTHV1eWpVNldoSlFGZngvaTNHWEtUM1pQOHJVM2U2ZDdxMFBqVkFLeUZ3YU1OVmVVNFZtRGkKN2tuR2h5Qzg0SVlvMU9GS3NBY1NWQ2F4ZFNRYk9HYWV4dkZhajJqam9LZnZZM2RuNGlvbzN5SXpTTUpnbGZNQQpISFgveHpUa3gyN2xBZ01CQUFHaklUQWZNQjBHQTFVZERnUVdCQlNDUXVicXhkSVBVdS9QRVdxUmxTWHBLTEZ1CnFUQU5CZ2txaGtpRzl3MEJBUXNGQUFPQ0FRRUFDcDZZQ0t0OEZqa1B1bmxDSUpQVll4UllRM3N0N0cvSkYyeTkKMEVpUFpXOExzQjhRUy9HUHJjaEJhWmRPaTFTTUxrRHZTMkJ6Mzd1bkpLN1lGNlgvSVhtZ2FjQ0pKY055V3IvMApJdURUNGYwaHUzVCtYeWZlMFRVeFZJQzRDYjhpY3c1SXBGMkVhZ1ZhY0VSVFpHQi91MzhZNzdGYTNKUlN4NHdaCm5zSFRtUDRKU0t1T3hSWmtuRHc1L2dIR0hmSHIrOW55Y05KN0lIcllLS0NFRWdraERVdlVheDNmTjNUV3laYXAKUjk4UytSUWFKM3JMYU5pTnFWanVHcmJIalJlUWlrVHRad0N0bHBNOFZIb3ZpeXlUVUU3eGtla00ycDRZaERwRApaRE4raTJPZ1VLc1NLbUR3clpUQzczMkQwRzdyODBmbDk2ZXpOTTlPN3FoNDU3aWhWQT09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K\",\r\n      \"usage\": \"Verify\",\r\n      \"type\": \"AsymmetricX509Cert\",\r\n      \"customKeyIdentifier\": \"c3BjZXJ0\"\r\n    },\r\n    {\r\n      \"startDate\": \"2019-12-13T07:38:51.2190729Z\",\r\n      \"endDate\": \"2019-12-14T07:38:51.2190729Z\",\r\n      \"value\": \"MIICwzCCAaugAwIBAgIEAeU3rDANBgkqhkiG9w0BAQsFADASMRAwDgYDVQQDEwdteUNlcnQyMB4XDTE2MTExMzE4NDkyOVoXDTI2MTExMTE4NDkyOVowEjEQMA4GA1UEAxMHbXlDZXJ0MjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKoFamQIOH3rawbj8cClxT5t7qfOlnJC7zOApTUOvIPYvRq7jA/Q0SqSKgNSNYhdQDN4qFwbLDDYI2GKu/Woc41IjPq22G65CHT065yfm71I0EkBPqMylX7O3ROvcUqL5qhIsYRq8vHxRDkakFt[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/7c2b2963-6d8a-4954-8333-7f014fc682b1/keyCredentials?api-version=1.6",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"value\": [\r\n    {\r\n      \"startDate\": \"2019-12-13T07:38:51.2190729Z\",\r\n      \"endDate\": \"2019-12-14T07:38:51.2190729Z\",\r\n      \"keyId\": \"fa82cb51-7e9d-43e9-b7cf-4aabec9cd113\",\r\n      \"usage\": \"Verify\",\r\n      \"type\": \"AsymmetricX509Cert\",\r\n      \"customKeyIdentifier\": \"8B8BD4DA2C725BA6FB2CBB11E11BF6EB92E3D717\",\r\n      \"value\": null\r\n    },\r\n    {\r\n      \"startDate\": \"2019-12-13T07:38:51.2151391Z\",\r\n      \"endDate\": \"2019-12-14T07:38:51.2151391Z\",\r\n      \"keyId\": \"360b97d1-f253-4517-aa82-18e4be95b71e\",\r\n      \"usage\": \"Verify\",\r\n      \"type\": \"AsymmetricX509Cert\",\r\n    [...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/7c2b2963-6d8a-4954-8333-7f014fc682b1/passwordCredentials?api-version=1.6",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"value\": [\r\n    {\r\n      \"startDate\": \"2019-12-13T07:38:51.2130485Z\",\r\n      \"endDate\": \"2020-12-13T07:38:51.2131082Z\",\r\n      \"value\": \"StrongPass!12\",\r\n      \"customKeyIdentifier\": \"c3BwYXNz\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "OLPMsUX01yuUDJW2FfeccGNbB4kFBqoAVFmHht+7vKY="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "ZJXELeDT61hKvXG47uSvPVq5tLCjyfgdd-7oOPxPNubbzKFGRUEXPMs_eDIkmki1JElifo7FJyCnm23Wh9TSPvIyoKvTytXDm62NHhI_rnJUKZVOivGKrNgDN-T8eetxz0CTm8G3-1I3QC2KkHfvAaANapaQg3CKhNGqD9JJejA.MscQjj0EmOJIN1ktmmNUi16bDg_vhCGtPT4r57iMpC8"
        ],
        "Duration": [
          "6284705"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/7c2b2963-6d8a-4954-8333-7f014fc682b1?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "u7auLI8bGZz5io5VygnUMGJArmnPgyC4vJs1U0xDOW0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "bHypUBC32UnlWT[...]
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals?$filter=displayName%20eq%20'4022a86a-dfc0-4d14-80ae-4a1e574d321a'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "u7auLI8bGZz5io5VygnUMGJArmnPgyC4vJs1U0xDOW0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "fn_tNefiflZ3VV9t-qxyarCgF_hlAN3ljSOiaiVFyy_ntos9FqUF4G0wdcWEXLmCgnivhQ1LoCvEMjB47jog2UFkycAeXoM24sCPWglED1gJGx_uPgJ6kVJHAX-Ru41MC5bk3mdb6B-5msEzcKJJXxf9mSlkg5R7L2c93PJwm0A.eKKQwJ9geO9fBwbgK5qwnIsgntCmhqATs33tIUmhQWo"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2329605"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals?$filter=servicePrincipalNames/any(c:c%20eq%20'4022a86a-dfc0-4d14-80ae-4a1e574d321a')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "OLPMsUX01yuUDJW2FfeccGNbB4kFBqoAVFmHht+7vKY="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "o[...]
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications?$filter=displayName%20eq%20'4022a86a-dfc0-4d14-80ae-4a1e574d321a'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "wL7zcXvhIXIAGeynkORCtbz/3bweluE/NT+Ij6AZJG0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "cEacFQL72fsjeqkqnFZKZywcAMhHY4n3_NjiOArXTxMOoKLLroDhXCpA03fQhBzkTplIAyLlFA0zYG7h1WvVNxzkc6nDLQd6y0FR0WiF-YUdJkh0VPH2edmyvhQxLHGis9nTrxktToRkilIoFbryCpGfRT87jBngCGX-t9zeIHc.oj3kcbHTxT4Bpwjxdqx-xQfKkD-0VKNOFGpbTpHpr_Y"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2643336"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications?$filter=appId%20eq%20'4022a86a-dfc0-4d14-80ae-4a1e574d321a'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "qrOuAmKdo3dOvDfch9gQBrCOgmtUimCApF+pvGfIBgU="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
       [...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications/9394b5d8-0c6c-4f73-99ba-e0d2b469b212?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "26JYzEj1KAujzamlU8eWwpzZ/9HTI+y7gakRbWjTnUk="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "29CU_PErTvX_iDOijRq1eQhj9At9AsOgTlN3vEk-Cs3vawd8hHCcwaNwOgd8Joq9hkxnPJFST0Z8jlpDtMvgR0al2aeLCI5PIh9F9SOX4L2ZNWN1QITEGAGdoHvTXslJVjNMldM0dJk-oLcrFBLl9D1No3zI7VnoL1mVAV5tpOA.DZ9u24F-aQtU2HU3wAX5gtQNCykmfOJp5pHQRykXrzM"
        ],
        "Duration": [
          "43673883"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "CanCRUDServicePrincipal": [
      "javasdksp150857876"
    ]
  },
  "Variables": {
    "ServicePrincipal": "9ca1cb99-65c6-46df-aaf1-e6b869fe60a3",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}