{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgfluentchash-6745?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"southcentralus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1172"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-6745\",\n  \"name\": \"rgfluentchash-6745\",\n  \"location\": \"southcentralus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-6745/providers/Microsoft.Storage/storageAccounts/stg3978?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"sku\": {\n    \"name\": \"Premium_LRS\"\n  },\n  \"kind\": \"Storage\",\n  \"location\": \"southcentralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Storage/locations/southcentralus/asyncoperations/3568c13c-7546-4737-8bfa-b6b012da44a0?monitor=true&api-version=2017-10-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1171"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Storage/locations/southcentralus/asyncoperations/3568c13c-7546-4737-8bfa-b6b012da44a0?monitor=true&api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11884"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\n  \"sku\": {\n    \"name\": \"Premium_LRS\",\n    \"tier\": \"Premium\"\n  },\n  \"kind\": \"Storage\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-6745/providers/Microsoft.Storage/storageAccounts/stg3978\",\n  \"name\": \"stg3978\",\n  \"type\": \"Microsoft.Storage/storageAccounts\",\n  \"location\": \"southcentralus\",\n  \"tags\": {},\n  \"properties\": {\n    \"networkAcls\": {\n      \"bypass\": \"AzureServices\",\n      \"virtualNetworkRules\": [],\n      \"ipRules\": [],\n      \"defaultAction\": \"Allow\"\n    },\n    \"trustedDirectories\": [\n      \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\n    ],\n    \"supportsHttpsTrafficOnly\": false,\n    \"encryption\": {\n      \"services\": {\n        \"file\": {\n          \"enabled\": true,\n          \"lastEnabledTime\": \"2018-08-01T03:41:56.6373806Z\"\n        },\n        \"blob\": {\n          \"enabled\": true,\n          \"lastEnabledTime\": \"2018-08-01T03:41:56.6373806Z\"\n        }\n      },\n      \"keySource\": \"Microsoft.Storage\"\n    },\n    \"provisioningState\": \"Succeeded\",\n    \"creationTime\": \"2018-08-01T03:41:56.54363Z\",\n    \"primaryEndpoints\": {\n      \"blob\": \"https://stg3978.blob.core.windows.net/\"\n    },\n    \"primaryLocation\": \"southcentralus\",\n    \"statusOfPrimary\": \"available\"\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-6745/providers/Microsoft.Network/virtualNetworks/vnet1323141785f0?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"10.0.0.0/28\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"properties\": {\n          \"addressPrefix\": \"10.0.0.0/28\"\n        },\n        \"name\": \"subnet1\"\n      }\n    ]\n  },\n  \"location\": \"southcentralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/southcentralus/operations/720c5450-d268-4ade-9740-465fb8d2b07b?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"vnet1323141785f0\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-6745/providers/Microsoft.Network/virtualNetworks/vnet1323141785f0\",\n  \"etag\": \"W/\\\"5b68ee39-d61b-4bf4-a48b-0635c8b9d484\\\"\",\n  \"type\": \"Microsoft.Network/virtualNetworks\",\n  \"location\": \"southcentralus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Updating\",\n    \"resourceGuid\": \"3590efd4-5bbd-4169-8058-17fdd88d6876\",\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"10.0.0.0/28\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"name\": \"subnet1\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-6745/providers/Microsoft.Network/virtualNetworks/vnet1323141785f0/subnets/subnet1\",\n        \"etag\": \"W/\\\"5b68ee39-d61b-4bf4-a48b-0635c8b9d484\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Updating\",\n          \"addressPrefix\": \"10.0.0.0/28\",\n          \"delegations\": []\n        }\n      }\n    ],\n    \"virtualNetworkPeerings\": [],\n    \"enableDdosProtection\": false,\n    \"enableVmProtection\": false\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/southcentralus/operations/720c5450-d268-4ade-9740-465fb8d2b07b?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11939"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"status\": \"InProgress\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-6745/providers/Microsoft.Network/virtualNetworks/vnet1323141785f0?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"ca849c30-8f17-44a2-9be7-fffdf0953f9d\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11937"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"vnet1323141785f0\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-6745/providers/Microsoft.Network/virtualNetworks/vnet1323141785f0\",\n  \"etag\": \"W/\\\"ca849c30-8f1[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-6745/providers/Microsoft.Network/networkInterfaces/nicchashvmb0c189115?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"ipConfigurations\": [\n      {\n        \"properties\": {\n          \"privateIPAllocationMethod\": \"Dynamic\",\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-6745/providers/Microsoft.Network/virtualNetworks/vnet1323141785f0/subnets/subnet1\"\n          },\n          \"primary\": true\n        },\n        \"name\": \"primary\"\n      }\n    ],\n    \"dnsSettings\": {}\n  },\n  \"location\": \"southcentralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/southcentralus/operations/07eebc98-3742-4fe9-b476-228674983c69?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remai[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-6745/providers/Microsoft.Network/networkInterfaces/nicchashvmb0c189115?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"d6f15e58-f8b9-4a0a-84ed-72f116314ade\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11936"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"nicchashvmb0c189115\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-6745/providers/Microsoft.Network/networkInterfaces/nicchashvmb0c189115\",\n  \"etag\": \"W/\\\"d6f15e58-f8b9-4a0a-84ed-72f116314ade\\\"\",\n  \"location\": \"southcentralus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceGuid\": \"a4682aa1-1cb5-4bf6-aa6f-50baaec5f3af\",\n    \"ipConfigurations\": [\n      {\n        \"name\": \"primary\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-6745/providers/Microsoft.Network/networkInterfaces/nicchashvmb0c189115/ipConfigurations/primary\",\n        \"etag\": \"W/\\\"d6f15e58-f8b9-4a0a-84ed-72f116314ade\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Succeeded\",\n          \"privateIPAddress\": \"10.0.0.4\",\n          \"privateIPAllocationMethod\": \"Dynamic\",\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-6745/providers/Microsoft.Network/virtualNetworks/vnet1323141785f0/subnets/subnet1\"\n          },\n          \"primary\": true,\n          \"privateIPAddressVersion\": \"IPv4\",\n          \"isInUseWithService\": false\n        }\n      }\n    ],\n    \"dnsSettings\": {\n      \"dnsServers\": [],\n      \"appliedDnsServers\": [],\n      \"internalDomainNameSuffix\": \"0txzann3lnuudacyc543rdliog.jx.internal.cloudapp.net\"\n    },\n    \"enableAcceleratedNetworking\": false,\n    \"enableIPForwarding\": false,\n    \"services\": null,\n    \"virtualNetworkTapProvisioningState\": \"NotProvisioned\"\n  },\n  \"type\": \"Microsoft.Network/networkInterfaces\"\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-6745/providers/Microsoft.Storage/storageAccounts/stgchashvmb0c307007f3?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"sku\": {\n    \"name\": \"Standard_GRS\"\n  },\n  \"kind\": \"Storage\",\n  \"location\": \"southcentralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Storage/locations/southcentralus/asyncoperations/ab220c83-065b-4de0-9017-a804bd7463e3?monitor=true&api-version=2017-10-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1189"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-6745/providers/Microsoft.Compute/virtualMachines/chashvm?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"hardwareProfile\": {\n      \"vmSize\": \"Standard_DS2_v2\"\n    },\n    \"storageProfile\": {\n      \"imageReference\": {\n        \"publisher\": \"Canonical\",\n        \"offer\": \"UbuntuServer\",\n        \"sku\": \"16.04.0-LTS\",\n        \"version\": \"latest\"\n      },\n      \"osDisk\": {\n        \"name\": \"chashvm-os-disk\",\n        \"vhd\": {\n          \"uri\": \"https://stgchashvmb0c307007f3.blob.core.windows.net/vhds/chashvm-os-disk-20e29823-bb7a-4122-a220-a964559e1689.Vhd\"\n        },\n        \"caching\": \"ReadWrite\",\n        \"createOption\": \"FromImage\"\n      },\n      \"dataDisks\": [\n        {\n          \"lun\": 2,\n          \"name\": \"disk1\",\n          \"vhd\": {\n            \"uri\": \"https://stg3978.blob.core.windows.net/diskvhds/datadisk1vhd.vhd\"\n          },\n          \"caching\": \"ReadWrite\",\n          \"createOption\": \"Empty\",\n          \"diskSizeGB\": 100\n        },\n        {\n          \"lun\": 3,\n          \"name\": \"disk2\",\n          \"vhd\": {\n            \"uri\": \"https://stg3978.blob.core.windows.net/diskvhds/datadisk2vhd.vhd\"\n          },\n          \"caching\": \"ReadWrite\",\n          \"createOption\": \"Empty\",\n          \"diskSizeGB\": 100\n        }\n      ]\n    },\n    \"osProfile\": {\n      \"computerName\": \"chashvm\",\n      \"adminUsername\": \"Foo12\",\n      \"adminPassword\": \"abc!@#F0orL\",\n      \"linuxConfiguration\": {\n        \"disablePasswordAuthentication\": false\n      }\n    },\n    \"networkProfile\": {\n      \"networkInterfaces\": [\n        {\n          \"properties\": {\n            \"primary\": true\n          },\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-6745/providers/Microsoft.Network/networkInterfaces/nicchashvmb0c189115\"\n        }\n      ]\n    }\n  },\n  \"location\": \"southcentralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/southcentralus/operations/37b8c98c-9756-4566-af9b-18208307ca12?api-version=2018-06-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutVM3Min;568,Microsoft.Compute/PutVM30Min;2828"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1188"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"properties\": {\n    \"vmId\": \"43348f5e-0015-40a7-bc94-3efe87fb7956\",\n    \"hardwareProfile\": {\n      \"vmSize\": \"Standard_DS2_v2\"\n    },\n    \"storageProfile\": {\n      \"imageReference\": {\n        \"publisher\": \"Canonical\",\n        \"offer\": \"UbuntuServer\",\n        \"sku\": \"16.04.0-LTS\",\n        \"version\": \"latest\"\n      },\n      \"osDisk\": {\n        \"osType\": \"Linux\",\n        \"name\": \"chashvm-os-disk\",\n        \"createOption\": \"FromImage\",\n        \"vhd\": {\n          \"uri\": \"https://stgchashvmb0c307007f3.blob.core.windows.net/vhds/chashvm-os-disk-20e29823-bb7a-4122-a220-a964559e1689.Vhd\"\n        },\n        \"caching\": \"ReadWrite\"\n      },\n      \"dataDisks\": [\n        {\n          \"lun\": 2,\n          \"name\": \"disk1\",\n          \"createOption\": \"Empty\",\n          \"vhd\": {\n            \"uri\": \"https://stg3978.blob.core.windows.net/diskvhds/datadisk1vhd.vhd\"\n          },\n          \"caching\": \"ReadWrite\",\n          \"diskSizeGB\": 100\n        },\n        {\n          \"lun\": 3,\n          \"name\": \"disk2\",\n          \"createOption\": \"Empty\",\n          \"vhd\": {\n            \"uri\": \"https://stg3978.blob.core.windows.net/diskvhds/datadisk2vhd.vhd\"\n          },\n          \"caching\": \"ReadWrite\",\n          \"diskSizeGB\": 100\n        }\n      ]\n    },\n    \"osProfile\": {\n      \"computerName\": \"chashvm\",\n      \"adminUsername\": \"Foo12\",\n      \"linuxConfiguration\": {\n        \"disablePasswordAuthentication\": false,\n        \"provisionVMAgent\": true\n      },\n      \"secrets\": [],\n      \"allowExtensionOperations\": true\n    },\n    \"networkProfile\": {\n      \"networkInterfaces\": [\n        {\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-6745/providers/Microsoft.Network/networkInterfaces/nicchashvmb0c189115\",\n          \"properties\": {\n            \"primary\": true\n          }\n        }\n      ]\n    },\n    \"provisioningState\": \"Creating\"\n  },\n  \"type\": \"Microsoft.Compute/virtualMachines\",\n  \"location\": \"southcentralus\",\n  \"tags\": {},\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-6745/providers/Microsoft.Compute/virtualMachines/chashvm\",\n  \"name\": \"chashvm\"\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/southcentralus/operations/37b8c98c-9756-4566-af9b-18208307ca12?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "30"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14991,Microsoft.Compute/GetOperation30Min;29849"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11933"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"startTime\": \"2018-08-01T03:42:55.0780439+00:00\",\n  \"status\": \"InProgress\",\n  \"name\": \"37b8c98c-9756-4566-af9b-18208307ca12\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/southcentralus/operations/37b8c98c-9756-4566-af9b-18208307ca12?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14974,Microsoft.Compute/GetOperation30Min;29830"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11930"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"startTime\": \"2018-08-01T03:42:55.0780439+00:00\",\n  \"endTime\": \"2018-08-01T03:44:11.361279+00:00\",\n  \"status\": \"Succeeded\",\n  \"name\": \"37b8c98c-9756-4566-af9b-18208307ca12\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/southcentralus/operations/b15ff466-359f-4bb1-8286-f4d6aca77f18?monitor=true&api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14962,Microsoft.Compute/GetOperation30Min;29827"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11926"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR0ZMVUVOVENIQVNIOjJENjc0NS1TT1VUSENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoic291dGhjZW50cmFsdXMifQ?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR0ZMVUVOVENIQVNIOjJENjc0NS1TT1VUSENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoic291dGhjZW50cmFsdXMifQ?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11976"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR0ZMVUVOVENIQVNIOjJENjc0NS1TT1VUSENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoic291dGhjZW50cmFsdXMifQ?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11953"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "CanSetStorageAccountForUnmanagedDisk": [
      "rgfluentchash-6745",
      "stg3978",
      "nicchashvmb0c189115",
      "vnet1323141785f0",
      "stgchashvmb0c307007f3",
      "nicchashvm2b699303f",
      "vnet681923483553",
      "stgchashvm2b64419127b"
    ]
  },
  "Variables": {
    "ServicePrincipal": "39e3d217-cb72-4b90-8532-394a7e784d93",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}