{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgrsat01194289497c5?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrsat01194289497c5\",\r\n  \"name\": \"rgrsat01194289497c5\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1119"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgrsat01194289497c5/providers/Microsoft.Resources/deployments/dprsat971274863a676?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n      \"contentVersion\": \"1.0.0.0\",\r\n      \"parameters\": {\r\n        \"adminUsername\": {\r\n          \"type\": \"String\",\r\n          \"metadata\": {\r\n            \"description\": \"Username for the Virtual Machine.\"\r\n          },\r\n          \"defaultValue\": \"tirekicker\"\r\n        },\r\n        \"adminPassword\": {\r\n          \"type\": \"SecureString\",\r\n          \"metadata\": {\r\n            \"description\": \"Password for the Virtual Machine.\"\r\n          },\r\n          \"defaultValue\": \"12NewPA$$w0rd!\"\r\n        },\r\n        \"windowsOSVersion\": {\r\n          \"defaultValue\": \"2012-R2-Datacenter\",\r\n          \"allowedValues\": [\r\n            \"R2\",\r\n            \"2008-R2-SP1\",\r\n            \"2012-Datacenter\",\r\n            \"2012-R2-Datacenter\"\r\n          ],\r\n          \"type\": \"String\",\r\n          \"metadata\": {\r\n            \"description\": \"The Windows version for the VM. This will pick a fully patched image of this given Windows version. Allowed values: 2008-R2-SP1, 2012-Datacenter, 2012-R2-Datacenter.\"\r\n          }\r\n        }\r\n      },\r\n      \"variables\": {\r\n        \"location\": \"[resourceGroup().location]\",\r\n        \"imagePublisher\": \"MicrosoftWindowsServer\",\r\n        \"imageOffer\": \"WindowsServer\",\r\n        \"OSDiskName\": \"osdiskforwindowssimple\",\r\n        \"nicName\": \"mynic\",\r\n        \"addressPrefix\": \"10.0.0.0/8\",\r\n        \"subnetName\": \"Subnet11\",\r\n        \"subnetPrefix\": \"10.0.0.0/16\",\r\n        \"storageAccountType\": \"Standard_LRS\",\r\n        \"publicIPAddressName\": \"myip\",\r\n        \"publicIPAddressType\": \"Dynamic\",\r\n        \"vmStorageAccountContainerName\": \"vhds\",\r\n        \"vmName\": \"myVMDataDisk\",\r\n        \"vmSize\": \"Standard_A1\",\r\n        \"virtualNetworkName\": \"myvnet\",\r\n        \"vnetID\": \"[resourceId('Microsoft.Network/virtualNetworks',variables('virtualNetworkName'))]\",\r\n        \"subnetRef\": \"[concat(variables('vnetID'),'/subnets/',variables('subnetName'))]\",\r\n        \"apiVersion\": \"2015-06-15\",\r\n        \"computeResouresApiVersion\": \"2016-04-30-preview\",\r\n        \"dnsLabelPrefix\": \"[toLower(resourceGroup().name)]\"\r\n      },\r\n      \"resources\": [\r\n        {\r\n          \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n          \"name\": \"[variables('publicIPAddressName')]\",\r\n          \"apiVersion\": \"[variables('apiVersion')]\",\r\n          \"location\": \"[variables('location')]\",\r\n          \"properties\": {\r\n            \"publicIPAllocationMethod\": \"[variables('publicIPAddressType')]\",\r\n            \"dnsSettings\": {\r\n              \"domainNameLabel\": \"[variables('dnsLabelPrefix')]\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"type\": \"Microsoft.Network/virtualNetworks\",\r\n          \"name\": \"[variables('virtualNetworkName')]\",\r\n          \"apiVersion\": \"[variables('apiVersion')]\",\r\n          \"location\": \"[variables('location')]\",\r\n          \"properties\": {\r\n            \"addressSpace\": {\r\n              \"addressPrefixes\": [\r\n                \"[variables('addressPrefix')]\"\r\n              ]\r\n            },\r\n            \"subnets\": [\r\n              {\r\n                \"name\": \"[variables('subnetName')]\",\r\n                \"properties\": {\r\n                  \"addressPrefix\": \"[variables('subnetPrefix')]\"\r\n                }\r\n              }\r\n            ]\r\n          }\r\n        },\r\n        {\r\n          \"type\": \"Microsoft.Network/networkInterfaces\",\r\n          \"name\": \"[variables('nicName')]\",\r\n          \"apiVersion\": \"[variables('apiVersion')]\",\r\n          \"location\": \"[variables('location')]\",\r\n          \"properties\": {\r\n            \"ipConfigurations\": [\r\n              {\r\n                \"name\": \"ipconfig1\",\r\n                \"properties\": {\r\n                  \"privateIPAllocationMethod\": \"Dynamic\",\r\n                  \"publicIPAddress\": {\r\n                    \"id\": \"[resourceId('Microsoft.Network/publicIPAddresses',variables('publicIPAddressName'))]\"\r\n                  },\r\n                  \"subnet\": {\r\n                    \"id\": \"[variables('subnetRef')]\"\r\n                  }\r\n                }\r\n              }\r\n            ]\r\n          },\r\n          \"dependsOn\": [\r\n            \"[concat('Microsoft.Network/publicIPAddresses/', variables('publicIPAddressName'))]\",\r\n            \"[concat('Microsoft.Network/virtualNetworks/', variables('virtualNetworkName'))]\"\r\n          ]\r\n        },\r\n        {\r\n          \"type\": \"Microsoft.Compute/disks\",\r\n          \"name\": \"myManagedDataDisk\",\r\n          \"apiVersion\": \"[variables('computeResouresApiVersion')]\",\r\n          \"location\": \"[variables('location')]\",\r\n          \"properties\": {\r\n            \"creationData\": {\r\n              \"createOption\": \"Empty\"\r\n            },\r\n            \"accountType\": \"[variables('storageAccountType')]\",\r\n            \"diskSizeGB\": 64\r\n          }\r\n        },\r\n        {\r\n          \"type\": \"Microsoft.Compute/disks\",\r\n          \"name\": \"myManagedDataDisk1\",\r\n          \"apiVersion\": \"[variables('computeResouresApiVersion')]\",\r\n          \"location\": \"[variables('location')]\",\r\n          \"properties\": {\r\n            \"creationData\": {\r\n              \"createOption\": \"Empty\"\r\n            },\r\n            \"accountType\": \"[variables('storageAccountType')]\",\r\n            \"diskSizeGB\": 128\r\n          }\r\n        },\r\n        {\r\n          \"type\": \"Microsoft.Compute/virtualMachines\",\r\n          \"name\": \"[variables('vmName')]\",\r\n          \"apiVersion\": \"[variables('computeResouresApiVersion')]\",\r\n          \"location\": \"[variables('location')]\",\r\n          \"properties\": {\r\n            \"hardwareProfile\": {\r\n              \"vmSize\": \"[variables('vmSize')]\"\r\n            },\r\n            \"osProfile\": {\r\n              \"computerName\": \"[variables('vmName')]\",\r\n              \"adminUsername\": \"[parameters('adminUsername')]\",\r\n              \"adminPassword\": \"[parameters('adminPassword')]\"\r\n            },\r\n            \"storageProfile\": {\r\n              \"imageReference\": {\r\n                \"publisher\": \"[variables('imagePublisher')]\",\r\n                \"offer\": \"[variables('imageOffer')]\",\r\n                \"sku\": \"[parameters('windowsOSVersion')]\",\r\n                \"version\": \"latest\"\r\n              },\r\n              \"osDisk\": {\r\n                \"name\": \"myOSDisk\",\r\n                \"createOption\": \"fromImage\"\r\n              },\r\n              \"dataDisks\": [\r\n                {\r\n                  \"lun\": 2,\r\n                  \"name\": \"myManagedDataDisk\",\r\n                  \"createOption\": \"attach\",\r\n                  \"managedDisk\": {\r\n                    \"id\": \"[resourceId('Microsoft.Compute/disks', 'myManagedDataDisk')]\"\r\n                  }\r\n                },\r\n                {\r\n                  \"lun\": 3,\r\n                  \"name\": \"myManagedDataDisk1\",\r\n                  \"createOption\": \"attach\",\r\n                  \"managedDisk\": {\r\n                    \"id\": \"[resourceId('Microsoft.Compute/disks', 'myManagedDataDisk1')]\"\r\n                  }\r\n                }\r\n              ]\r\n            },\r\n            \"networkProfile\": {\r\n              \"networkInterfaces\": [\r\n                {\r\n                  \"id\": \"[resourceId('Microsoft.Network/networkInterfaces',variables('nicName'))]\"\r\n                }\r\n              ]\r\n            }\r\n          },\r\n          \"dependsOn\": [\r\n            \"[concat('Microsoft.Network/networkInterfaces/', variables('nicName'))]\",\r\n            \"Microsoft.Compute/disks/myManagedDataDisk\"\r\n          ]\r\n        }\r\n      ]\r\n    },\r\n    \"parameters\": {},\r\n    \"mode\": \"Incremental\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrsat01194289497c5/providers/Microsoft.Resources/deployments/dprsat971274863a676\",\r\n  \"name\": \"dprsat971274863a676\",\r\n  \"properties\": {\r\n    \"templateHash\": \"15481004944954057061\",\r\n    \"parameters\": {\r\n      \"adminUsername\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"tirekicker\"\r\n      },\r\n      \"adminPassword\": {\r\n        \"type\": \"SecureString\"\r\n      },\r\n      \"windowsOSVersion\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"2012-R2-Datacenter\"\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"timestamp\": \"2018-03-13T23:21:19.8490689Z\",\r\n    \"duration\": \"PT0.570328S\",\r\n    \"correlationId\": \"d6e52d24-1b01-42f1-b40a-c1a8c33cee6e\",\r\n    \"providers\": [\r\n      {\r\n        \"namespace\": \"Microsoft.Network\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"publicIPAddresses\",\r\n            \"locations\": [\r\n              \"westus\"\r\n            ]\r\n          },\r\n          {\r\n            \"resourceType\": \"virtualNetworks\",\r\n            \"locations\": [\r\n              \"westus\"\r\n            ]\r\n          },\r\n          {\r\n            \"resourceType\": \"networkInterfaces\",\r\n            \"locations\": [\r\n              \"westus\"\r\n            ]\r\n          }\r\n        ]\r\n      },\r\n      {\r\n        \"namespace\": \"Microsoft.Compute\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"disks\",\r\n            \"locations\": [\r\n              \"westus\"\r\n            ]\r\n          },\r\n          {\r\n            \"resourceType\": \"virtualMachines\",\r\n            \"locations\": [\r\n              \"westus\"\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"dependencies\": [\r\n      {\r\n        \"dependsOn\": [\r\n          {\r\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrsat01194289497c5/providers/Microsoft.Network/publicIPAddresses/myip\",\r\n            \"resourceType\": \"Microsoft.Network/publicIPAddresses\",\r\n            \"resourceName\": \"myip\"\r\n          },\r\n          {\r\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrsat01194289497c5/providers/Microsoft.Network/virtualNetworks/myvnet\",\r\n            \"resourceType\": \"Microsoft.Network/virtualNetworks\",\r\n            \"resourceName\": \"myvnet\"\r\n          }\r\n        ],\r\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrsat01194289497c5/providers/Microsoft.Network/networkInter[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgrsat01194289497c5?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1JTQVQwMTE5NDI4OTQ5N0M1LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1120"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1JTQVQwMTE5NDI4OTQ5N0M1LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1JTQVQwMTE5NDI4OTQ5N0M1LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14831"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1JTQVQwMTE5NDI4OTQ5N0M1LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14786"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "DeployVirtualMachineUsingARMTemplateTest": [
      "rgrsat01194289497c5",
      "dprsat971274863a676",
      "hprsat61b2151002ee1",
      "wnrsatc573410062282"
    ]
  },
  "Variables": {
    "ServicePrincipal": "30025a6e-6179-4064-9bef-b52de61a4c9c",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}