{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/javacsmrg9117Second?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"centralus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117Second\",\n  \"name\": \"javacsmrg9117Second\",\n  \"location\": \"centralus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/javacsmrg9117?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"eastasia\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117\",\n  \"name\": \"javacsmrg9117\",\n  \"location\": \"eastasia\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117/providers/Microsoft.Cache/Redis/javacsmrc9860?api-version=2018-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"sku\": {\n      \"name\": \"Basic\",\n      \"family\": \"C\",\n      \"capacity\": 0\n    }\n  },\n  \"location\": \"eastasia\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117/providers/Microsoft.Cache/redis/javacsmrc9860?api-version=2018-03-01"
        ],
        "x-rp-server-mvid": [
          "86bbf846-829d-4be0-9332-937c3c3684db"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117/providers/Microsoft.Cache/Redis/javacsmrc9860\",\n  \"location\": \"East Asia\",\n  \"name\": \"javacsmrc9860\",\n  \"type\": \"Microsoft.Cache/Redis\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Creating\",\n    \"redisVersion\": \"3.2.7\",\n    \"sku\": {\n      \"name\": \"Basic\",\n      \"family\": \"C\",\n      \"capacity\": 0\n    },\n    \"enableNonSslPort\": false,\n    \"redisConfiguration\": {\n      \"maxclients\": \"256\",\n      \"maxmemory-reserved\": \"2\",\n      \"maxfragmentationmemory-reserved\": \"12\",\n      \"maxmemory-delta\": \"2\"\n    },\n    \"accessKeys\": {\n      \"primaryKey\": \"JEV5VjG3adzfU+tEWOTu2EwSqC1E0UDO4yZvo45Zm9I=\",\n      \"secondaryKey\": \"m8RiSXRYWuW0dknpzXB6mIt31v2IsHQDGqVp1Yva4hc=\"\n    },\n    \"hostName\": \"javacsmrc9860.redis.cache.windows.net\",\n    \"port\": 6379,\n    \"sslPort\": 6380,\n    \"linkedServers\": []\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117/providers/Microsoft.Cache/redis/javacsmrc9860?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "86bbf846-829d-4be0-9332-937c3c3684db"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11813"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117/providers/Microsoft.Cache/Redis/javacsmrc9860\",\n  \"location\": \"East Asia\",\n  \"name\": \"javacsmrc9860\",\n  \"type\": \"Microsoft.Cache/Redis\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Creating\",\n    \"redisVersion\": \"3.2.7\",\n    \"sku\": {\n      \"name\": \"Basic\",\n      \"family\": \"C\",\n      \"capacity\": 0\n    },\n    \"enableNonSslPort\": false,\n    \"redisConfiguration\": {\n      \"maxclients\": \"256\",\n      \"maxmemory-reserved\": \"2\",\n      \"maxfragmentationmemory-reserved\": \"12\",\n      \"maxmemory-delta\": \"2\"\n    },\n    \"accessKeys\": null,\n    \"hostName\": \"javacsmrc9860.redis.cache.windows.net\",\n    \"port\": 6379,\n    \"sslPort\": 6380,\n    \"linkedServers\": []\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117Second/providers/Microsoft.Cache/Redis/javacsmrc9860Second?api-version=2018-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"shardCount\": 10,\n    \"sku\": {\n      \"name\": \"Premium\",\n      \"family\": \"P\",\n      \"capacity\": 1\n    }\n  },\n  \"location\": \"centralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117Second/providers/Microsoft.Cache/redis/javacsmrc986[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117Second/providers/Microsoft.Cache/redis/javacsmrc9860Second?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "65fec597-8aa7-4bbe-8633-71ed2ef4d634"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11766"
        ],
        "Content[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117Second/providers/Microsoft.Cache/Redis/javacsmrc9860Second/patchSchedules/default?api-version=2018-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"scheduleEntries\": [\n      {\n        \"dayOfWeek\": \"Sunday\",\n        \"startHourUtc\": 10,\n        \"maintenanceWindow\": \"PT5H2M\"\n      }\n    ]\n  }\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "65fec597-8aa7-4bbe-8633-71ed2ef4d634"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117Second/providers/Microsoft.Cache/Redis/javacsmrc9860Second/patchSchedules/default\",\n  \"location\": \"Central US\",\n  \"name\": \"javacsmrc9860Second/default\",\n  \"type\": \"Microsoft.Cache/Redis/PatchSchedules\",\n  \"properties\": {\n    \"scheduleEntries\": [\n      {\n        \"dayOfWeek\": \"Sunday\",\n        \"startHourUtc\": 10,\n        \"maintenanceWindow\": \"PT5H2M\"\n      }\n    ]\n  }\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117Second/providers/Microsoft.Cache/Redis/javacsmrc9860Third?api-version=2018-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"redisConfiguration\": {\n      \"maxclients\": \"2\"\n    },\n    \"enableNonSslPort\": true,\n    \"sku\": {\n      \"name\": \"Premium\",\n      \"family\": \"P\",\n      \"capacity\": 2\n    }\n  },\n  \"location\": \"central[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117Second/providers/Microsoft.Cache/redis/javacsmrc9860Third?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "65fec597-8aa7-4bbe-8633-71ed2ef4d634"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11791"
        ],
        "Content-[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117Second/providers/Microsoft.Cache/Redis/javacsmrc9860Third/firewallRules/rule1?api-version=2018-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"startIP\": \"192.168.0.1\",\n    \"endIP\": \"192.168.0.4\"\n  }\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117Second/providers/Microsoft.Cache/redis/javacsmrc9860Third/firewallRules/rule1?api-version=2018-03-01"
        ],
        "x-rp-server-mvid": [
          "65fec597-8aa7-4bbe-8633-71ed2ef4d634"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"properties\": {\n    \"startIP\": \"192.168.0.1\",\n    \"endIP\": \"192.168.0.4\"\n  },\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117Second/providers/Microsoft.Cache/redis/javacsmrc9860Third/firewallRules/rule1\",\n  \"name\": \"javacsmrc9860Third/rule1\",\n  \"type\": \"Microsoft.Cache/redis/firewallRules\"\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117/providers/Microsoft.Cache/Redis?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "86bbf846-829d-4be0-9332-937c3c3684db"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11946"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117/providers/Microsoft.Cache/Redis/javacsmrc9860\",\n      \"location\": \"East Asia\",\n      \"name\": \"javacsmrc9860\",\n      \"type\": \"Microsoft.Cache/Redis\",\n      \"tags\": {},\n      \"properties\": {\n        \"provisioningState\": \"Succeeded\",\n        \"redisVersion\": \"3.2.7\",\n        \"sku\": {\n          \"name\": \"Basic\",\n          \"family\": \"C\",\n          \"capacity\": 0\n        },\n        \"enableNonSslPort\": false,\n        \"redisConfiguration\": {\n          \"maxclients\": \"256\",\n          \"maxmemory-reserved\": \"2\",\n          \"maxfragmentationmemory-reserved\": \"12\",\n          \"maxmemory-delta\": \"2\"\n        },\n        \"accessKeys\": null,\n        \"hostName\": \"javacsmrc9860.redis.cache.windows.net\",\n        \"port\": 6379,\n        \"sslPort\": 6380,\n        \"linkedServers\": []\n      }\n    }\n  ]\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117/providers/Microsoft.Cache/Redis/javacsmrc9860/patchSchedules?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "86bbf846-829d-4be0-9332-937c3c3684db"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11945"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"error\": {\n    \"code\": \"ResourceNotFound\",\n    \"message\": \"There are no patch schedules found for redis cache 'javacsmrc9860'.\\r\\nRequestID=2e77139a-732d-425a-9eee-d7f6bfb35aee\",\n    \"target\": null\n  }\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117/providers/Microsoft.Cache/Redis/javacsmrc9860/firewallRules?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "86bbf846-829d-4be0-9332-937c3c3684db"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11944"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": []\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Cache/Redis?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "1121a5a5-85f7-4314-9146-af4685f28765",
          "a8fe7b90-e178-44ca-8fae-26a1a2c3e738",
          "bb3adfa8-d2c2-44b4-9436-442dde19c3b9",
          "879c65c2-2b4d-40e7-bc34-d7b42d91c611"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11941"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f0[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_redisfo4miimuja5sftj6qtjx6f7tkgtkzbukaumipji6go5ejbzrfodvnxuwrq34m/providers/Microsoft.Cache/Redis/redis5z26vuzvnu7s77piyek/patchSchedules?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "86bbf846-829d-4be0-9332-937c3c3684db"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11940"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"error\": {\n    \"code\": \"ResourceNotFound\",\n    \"message\": \"There are no patch schedules found for redis cache 'redis5z26vuzvnu7s77piyek'.\\r\\nRequestID=47b0486c-1f00-4dcc-9fa4-a060b7f80a2d\",\n    \"target\": null\n  }\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_redisfo4miimuja5sftj6qtjx6f7tkgtkzbukaumipji6go5ejbzrfodvnxuwrq34m/providers/Microsoft.Cache/Redis/redis5z26vuzvnu7s77piyek/firewallRules?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "86bbf846-829d-4be0-9332-937c3c3684db"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11939"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": []\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_redisfo4miimuja5sftj6qtjx6f7tkgtkzbukaumipji6go5ejbzrfodvnxuwrq34m/providers/Microsoft.Cache/Redis/redisxrjxnyhdftjwbohhkr2/patchSchedules?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "86bbf846-829d-4be0-9332-937c3c3684db"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11938"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"error\": {\n    \"code\": \"ResourceNotFound\",\n    \"message\": \"There are no patch schedules found for redis cache 'redisxrjxnyhdftjwbohhkr2'.\\r\\nRequestID=ec8455c3-240a-4f95-9507-f8ceaa9f0ca7\",\n    \"target\": null\n  }\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_redisfo4miimuja5sftj6qtjx6f7tkgtkzbukaumipji6go5ejbzrfodvnxuwrq34m/providers/Microsoft.Cache/Redis/redisxrjxnyhdftjwbohhkr2/firewallRules?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "86bbf846-829d-4be0-9332-937c3c3684db"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11937"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": []\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117/providers/Microsoft.Cache/Redis/javacsmrc9860/listKeys?api-version=2018-03-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "86bbf846-829d-4be0-9332-937c3c3684db"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1184"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"primaryKey\": \"JEV5VjG3adzfU+tEWOTu2EwSqC1E0UDO4yZvo45Zm9I=\",\n  \"secondaryKey\": \"m8RiSXRYWuW0dknpzXB6mIt31v2IsHQDGqVp1Yva4hc=\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117/providers/Microsoft.Cache/Redis/javacsmrc9860/regenerateKey?api-version=2018-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\n  \"keyType\": \"Primary\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "86bbf846-829d-4be0-9332-937c3c3684db"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1182"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"primaryKey\": \"540ihw18iSM4auyNG5vvcK+DJZ3SihahgMlLSzFzwZs=\",\n  \"secondaryKey\": \"m8RiSXRYWuW0dknpzXB6mIt31v2IsHQDGqVp1Yva4hc=\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Cache/locations/East%20Asia/operationresults/5451909b-598b-4154-9744-428691f9b871?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Cache/locations/East%20Asia/operationresults/5451909b-598b-4154-9744-428691f9b871?api-version=2018-03-01"
        ],
        "x-rp-server-mvid": [
          "86bbf846-829d-4be0-9332-937c3c3684db"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11929"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117Second/providers/Microsoft.Cache/Redis/javacsmrc9860Third/patchSchedules/default?api-version=2018-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"scheduleEntries\": [\n      {\n        \"dayOfWeek\": \"Monday\",\n        \"startHourUtc\": 1\n      },\n      {\n        \"dayOfWeek\": \"Tuesday\",\n        \"startHourUtc\": 5\n      }\n    ]\n  }\n}",[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117Second/providers/Microsoft.Cache/Redis/javacsmrc9860Third/forceReboot?api-version=2018-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\n  \"rebootType\": \"AllNodes\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "65fec597-8aa7-4bbe-8633-71ed2ef4d634"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"message\": \"The requested reboot operation for 'AllNodes' has been successfully scheduled and should be executed shortly.\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117Second/providers/Microsoft.Cache/Redis/javacsmrc9860Third/patchSchedules?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "65fec597-8aa7-4bbe-8633-71ed2ef4d634"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"error\": {\n    \"code\": \"ResourceNotFound\",\n    \"message\": \"There are no patch schedules found for redis cache 'javacsmrc9860Third'.\\r\\nRequestID=e982d976-c7cf-4580-abc1-80481f0796d2\",\n    \"target\": null\n  }\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117Second/providers/Microsoft.Cache/Redis/javacsmrc9860Third/firewallRules?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "65fec597-8aa7-4bbe-8633-71ed2ef4d634"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117Second/providers/Microsoft.Cache/Redis/javacsmrc9860Third/firewallRules/rule2\",\n      \"name\": \"javacsmrc9860Third/rule2\",\n      \"type\": \"Microsoft.Cache/Redis/firewallRules\",\n      \"properties\": {\n        \"startIP\": \"192.168.0.10\",\n        \"endIP\": \"192.168.0.40\"\n      }\n    },\n    {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg9117Second/providers/Microsoft.Cache/Redis/javacsmrc9860Third/firewallRules/rule3\",\n      \"name\": \"javacsmrc9860Third/rule3\",\n      \"type\": \"Microsoft.Cache/Redis/firewallRules\",\n      \"properties\": {\n        \"startIP\": \"192.168.0.10\",\n        \"endIP\": \"192.168.0.104\"\n      }\n    }\n  ]\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/javacsmrg9117?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1KQVZBQ1NNUkc5MTE3LUVBU1RBU0lBIiwiam9iTG9jYXRpb24iOiJlYXN0YXNpYSJ9?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/javacsmrg9117Second?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1KQVZBQ1NNUkc5MTE3U0VDT05ELUNFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzIn0?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {
    "CanCRUDRedisCache": [
      "javacsmrg9117",
      "javacsmrc9860",
      "javacsmsa1967"
    ]
  },
  "Variables": {
    "ServicePrincipal": "39e3d217-cb72-4b90-8532-394a7e784d93",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}