{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/loadBalancers?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "c527cf2d-3cdb-4798-8bef-29ec3c80404b",
          "f80bf400-6103-44be-9f34-a72192953096"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11959"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": [\n    {\n      \"name\": \"extlb1-ac611514e\",\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg28440/providers/Microsoft.Network/loadBalancers/extlb1-ac611514e\",\n      \"etag\": \"W/\\\"773d3eda-e441-4f69-8686-41f1f8f07d19\\\"\",\n      \"type\": \"Microsoft.Network/loadBalancers\",\n      \"location\": \"eastus\",\n      \"tags\": {},\n      \"properties\": {\n        \"provisioningState\": \"Succeeded\",\n        \"resourceGuid\": \"06593b69-1f52-463f-8ef5-cd7cfa7a7790\",\n        \"frontendIPConfigurations\": [\n          {\n            \"name\": \"extlb1-ac611514e-FE1\",\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg28440/providers/Microsoft.Network/loadBalancers/extlb1-ac611514e/frontendIPConfigurations/extlb1-ac611514e-FE1\",\n            \"etag\": \"W/\\\"773d3eda-e441-4f69-8686-41f1f8f07d19\\\"\",\n            \"properties\": {\n              \"provisioningState\": \"Succeeded\",\n              \"privateIPAllocationMethod\": \"Dynamic\",\n              \"publicIPAddress\": {\n                \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg28440/providers/Microsoft.Network/publicIPAddresses/pip-extlb1-ac611514e\"\n              },\n              \"loadBalancingRules\": [\n                {\n                  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg28440/providers/Microsoft.Network/loadBalancers/extlb1-ac611514e/loadBalancingRules/httpRule\"\n                },\n                {\n                  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg28440/providers/Microsoft.Network/loadBalancers/extlb1-ac611514e/loadBalancingRules/httpsRule\"\n                }\n              ],\n              \"inboundNatRules\": [\n                {\n                  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg28440/providers/Microsoft.Network/loadBalancers/extlb1-ac611514e/inboundNatRules/extlb1-ac611514e-INP1.0\"\n                },\n                {\n                  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg28440/providers/Microsoft.Network/loadBalancers/extlb1-ac611514e/inboundNatRules/extlb1-ac611514e-INP2.0\"\n                },\n                {\n                  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg28440/providers/Microsoft.Network/loadBalancers/extlb1-ac611514e/inboundNatRules/extlb1-ac611514e-INP1.1\"\n                },\n                {\n                  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg28440/providers/Microsoft.Network/loadBalancers/extlb1-ac611514e/inboundNatRules/extlb1-ac611514e-INP2.1\"\n                }\n              ],\n              \"inboundNatPools\": [\n                {\n                  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg28440/providers/Microsoft.Network/loadBalancers/extlb1-ac611514e/inboundNatPools/extlb1-ac611514e-INP1\"\n                },\n                {\n                  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg28440/providers/Microsoft.Network/loadBalancers/extlb1-ac611514e/inboundNatPools/extlb1-ac611514e-INP2\"\n                }\n              ]\n            }\n          }\n        ],\n        \"backendAddressPools\": [\n          {\n            \"name\": \"extlb1-ac611514e-BAP1\",\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg28440/providers/Microsoft.Network/loadBalancers/extlb1-ac611514e/backendAddressPools/extlb1-ac611514e-BAP1\",\n            \"etag\": \"W/\\\"773d3eda-e441-4f69-8686-41f1f8f07d19\\\"\",\n            \"properties\": {\n              \"provisioningState\": \"Succeeded\",\n              \"backendIPConfigurations\": [\n                {\n                  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg28440/providers/Microsoft.Compute/virtualMachineScaleSets/vmss96702/virtualMachines/0/networkInterfaces/primary-nic-cfg/ipConfigurations/primary-nic-ip-cfg\"\n                },\n                {\n                  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/javacsmrg28440/providers/Microsoft.Compute/virtualMachineScaleSets/vmss96702/vir[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgNatRules5955?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"eastus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955\",\n  \"name\": \"rgNatRules5955\",\n  \"location\": \"eastus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/virtualNetworks/netNatRules5955?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"10.0.0.0/28\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"properties\": {\n          \"addressPrefix\": \"10.0.0.0/29\"\n        },\n        \"name\": \"subnet1\"\n      },\n      {\n        \"properties\": {\n          \"addressPrefix\": \"10.0.0.8/29\"\n        },\n        \"name\": \"subnet2\"\n      }\n    ]\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/32a122fc-d29a-446f-8158-246443e92f24?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"netNatRules5955\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4d[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/32a122fc-d29a-446f-8158-246443e92f24?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11958"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"status\": \"InProgress\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/virtualNetworks/netNatRules5955?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"4cbc7a3f-7ed0-479b-be75-35b3d2291752\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11956"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"netNatRules5955\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/virtualNetworks/netNatRules5955\",\n  \"etag\": \"W/\\\"4cbc7a3f-7ed0-479b-be75-35b3d2291752\\\"\",\n  \"type\": \"Microsoft.Network/virtualNetworks\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceGuid\": \"2f65ca4d-8404-4e75-b6f3-709e37e3e9f6\",\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"10.0.0.0/28\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"name\": \"subnet1\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/virtualNetworks/netNatRules5955/subnets/subnet1\",\n        \"etag\": \"W/\\\"4cbc7a3f-7ed0-479b-be75-35b3d2291752\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Succeeded\",\n          \"addressPrefix\": \"10.0.0.0/29\",\n          \"delegations\": []\n        }\n      },\n      {\n        \"name\": \"subnet2\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/virtualNetworks/netNatRules5955/subnets/subnet2\",\n        \"etag\": \"W/\\\"4cbc7a3f-7ed0-479b-be75-35b3d2291752\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Succeeded\",\n          \"addressPrefix\": \"10.0.0.8/29\",\n          \"delegations\": []\n        }\n      }\n    ],\n    \"virtualNetworkPeerings\": [],\n    \"enableDdosProtection\": false,\n    \"enableVmProtection\": false\n  }\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/networkInterfaces/nicvm5312b13386791?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"ipConfigurations\": [\n      {\n        \"properties\": {\n          \"privateIPAllocationMethod\": \"Dynamic\",\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/virtualNetworks/netNatRules5955/subnets/subnet1\"\n          },\n          \"primary\": true\n        },\n        \"name\": \"primary\"\n      }\n    ],\n    \"dnsSettings\": {}\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/6dbcd4f8-4461-4393-b852-72439b029860?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscriptio[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/networkInterfaces/nicvm5312b13386791?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"virtualMachine\": {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Compute/virtualMachines/vm5312\"\n    },\n    \"ipConfigurations\": [\n      {\n        \"properties\": {\n          \"loadBalancerBackendAddressPools\": [\n            {\n              \"properties\": {\n                \"provisioningState\": \"Succeeded\"\n              },\n              \"name\": \"backend1\",\n              \"etag\": \"W/\\\"2d236365-3415-495e-8e8e-4f8840b18116\\\"\",\n              \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/loadBalancers/lbNatRules5955/backendAddressPools/backend1\"\n            }\n          ],\n          \"loadBalancerInboundNatRules\": [\n            {\n              \"properties\": {\n                \"frontendIPConfiguration\": {\n                  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/loadBalancers/lbNatRules5955/frontendIPConfigurations/frontend8e52537130\"\n                },\n                \"protocol\": \"Tcp\",\n                \"frontendPort\": 88,\n                \"backendPort\": 88,\n                \"idleTimeoutInMinutes\": 4,\n                \"enableFloatingIP\": false,\n                \"provisioningState\": \"Succeeded\"\n              },\n              \"name\": \"natrule1\",\n              \"etag\": \"W/\\\"2d236365-3415-495e-8e8e-4f8840b18116\\\"\",\n              \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/loadBalancers/lbNatRules5955/inboundNatRules/natrule1\"\n            }\n          ],\n          \"privateIPAddress\": \"10.0.0.4\",\n          \"privateIPAllocationMethod\": \"Dynamic\",\n          \"privateIPAddressVersion\": \"IPv4\",\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/virtualNetworks/netNatRules5955/subnets/subnet1\"\n          },\n          \"primary\": true,\n          \"provisioningState\": \"Succeeded\"\n        },\n        \"name\": \"primary\",\n        \"etag\": \"W/\\\"daac629a-0079-4be0-9cdf-c265777e0485\\\"\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/networkInterfaces/nicvm5312b13386791/ipConfigurations/primary\"\n      }\n    ],\n    \"dnsSettings\": {\n      \"dnsServers\": [],\n      \"appliedDnsServers\": [],\n      \"internalDomainNameSuffix\": \"jxfgklyeqr0u3nxtocpdpy5j4g.bx.internal.cloudapp.net\"\n    },\n    \"macAddress\": \"00-0D-3A-1F-30-2D\",\n    \"primary\": true,\n    \"enableAcceleratedNetworking\": false,\n    \"enableIPForwarding\": false,\n    \"resourceGuid\": \"7c16a24f-2d0b-4417-8817-2c39fb057d05\",\n    \"provisioningState\": \"Succeeded\"\n  },\n  \"etag\": \"W/\\\"daac629a-0079-4be0-9cdf-c265777e0485\\\"\",\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.c[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Compute/availabilitySets/asNatRules5955?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"platformUpdateDomainCount\": 5,\n    \"platformFaultDomainCount\": 2\n  },\n  \"sku\": {\n    \"name\": \"Aligned\"\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutVM3Min;236,Microsoft.Compute/PutVM30Min;1181"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"properties\": {\n    \"platformUpdateDomainCount\": 5,\n    \"platformFaultDomainCount\": 2\n  },\n  \"type\": \"Microsoft.Compute/availabilitySets\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Compute/availabilitySets/asNatRules5955\",\n  \"name\": \"asNatRules5955\",\n  \"sku\": {\n    \"name\": \"Aligned\"\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Compute/virtualMachines/vm5312?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"hardwareProfile\": {\n      \"vmSize\": \"Standard_A1\"\n    },\n    \"storageProfile\": {\n      \"imageReference\": {\n        \"publisher\": \"Canonical\",\n        \"offer\": \"UbuntuServer\",\n        \"sku\": \"14.04.4-LTS\",\n        \"version\": \"latest\"\n      },\n      \"osDisk\": {\n        \"caching\": \"ReadWrite\",\n        \"createOption\": \"FromImage\",\n        \"managedDisk\": {\n          \"storageAccountType\": \"Standard_LRS\"\n        }\n      }\n    },\n    \"osProfile\": {\n      \"computerName\": \"vm5312\",\n      \"adminUsername\": \"testuserNatRules5955\",\n      \"adminPassword\": \"Abcdef.123456\",\n      \"linuxConfiguration\": {\n        \"disablePasswordAuthentication\": false\n      }\n    },\n    \"networkProfile\": {\n      \"networkInterfaces\": [\n        {\n          \"properties\": {\n            \"primary\": true\n          },\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/networkInterfaces/nicvm5312b13386791\"\n        }\n      ]\n    },\n    \"availabilitySet\": {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Compute/availabilitySets/asNatRules5955\"\n    }\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/a8e5e374-7d4a-428c-a0a7-126b9bd4139a?api-version=2018-06-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutVM3Min;235,Microsoft.Compute/PutVM30Min;1180"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"properties\": {\n    \"vmId\": \"f550af7b-bf13-4107-8243-77bb6e138056\",\n    \"availabilitySet\": {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Compute/availabilitySets/ASNATRULES5955\"\n    },\n    \"hardwareProfile\": {\n      \"vmSize\": \"Standard_A1\"\n    },\n    \"storageProfile\": {\n      \"imageReference\": {\n        \"publisher\": \"Canonical\",\n        \"offer\": \"UbuntuServer\",\n        \"sku\": \"14.04.4-LTS\",\n        \"version\": \"latest\"\n      },\n      \"osDisk\": {\n        \"osType\": \"Linux\",\n        \"createOption\": \"FromImage\",\n        \"caching\": \"ReadWrite\",\n        \"managedDisk\": {\n          \"storageAccountType\": \"Standard_LRS\"\n        }\n      },\n      \"dataDisks\": []\n    },\n    \"osProfile\": {\n      \"computerName\": \"vm5312\",\n      \"adminUsername\": \"testuserNatRules5955\",\n      \"linuxConfiguration\": {\n        \"disablePasswordAuthentication\": false,\n        \"provisionVMAgent\": true\n      },\n      \"secrets\": [],\n      \"allowExtensionOperations\": true\n    },\n    \"networkProfile\": {\n      \"networkInterfaces\": [\n        {\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/networkInterfaces/nicvm5312b13386791\",\n          \"properties\": {\n            \"primary\": true\n          }\n        }\n      ]\n    },\n    \"provisioningState\": \"Creating\"\n  },\n  \"type\": \"Microsoft.Compute/virtualMachines\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Compute/virtualMachines/vm5312\",\n  \"name\": \"vm5312\"\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/a8e5e374-7d4a-428c-a0a7-126b9bd4139a?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "30"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14989,Microsoft.Compute/GetOperation30Min;29531"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"startTime\": \"2018-08-01T03:49:12.2333022+00:00\",\n  \"status\": \"InProgress\",\n  \"name\": \"a8e5e374-7d4a-428c-a0a7-126b9bd4139a\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/a8e5e374-7d4a-428c-a0a7-126b9bd4139a?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14929,Microsoft.Compute/GetOperation30Min;29465"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"startTime\": \"2018-08-01T03:49:12.2333022+00:00\",\n  \"endTime\": \"2018-08-01T03:51:48.9047971+00:00\",\n  \"status\": \"Succeeded\",\n  \"name\": \"a8e5e374-7d4a-428c-a0a7-126b9bd4139a\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/publicIPAddresses/pipaNatRules5955?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"dnsSettings\": {\n      \"domainNameLabel\": \"pipanatrules5955\"\n    }\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/eae0c2ba-5833-4a2d-90c6-b4eb2cdb0328?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"pipaNatRules5955\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/publicIPAddresses/pipaNatRules5955\",\n  \"etag\": \"W/\\\"69898fb9-59ee-43c7-9394-d73f7e722892\\\"\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Updating\",\n    \"resourceGuid\": \"64aaa2f3-e380-486a-80cc-a2eb0e0d3bc3\",\n    \"publicIPAddressVersion\": \"IPv4\",\n    \"publicIPAllocationMethod\": \"Dynamic\",\n    \"idleTimeoutInMinutes\": 4,\n    \"dnsSettings\": {\n      \"domainNameLabel\": \"pipanatrules5955\",\n      \"fqdn\": \"pipanatrules5955.eastus.cloudapp.azure.com\"\n    },\n    \"ipTags\": []\n  },\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\": \"Regional\"\n  }\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/publicIPAddresses/pipbNatRules5955?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"dnsSettings\": {\n      \"domainNameLabel\": \"pipbnatrules5955\"\n    }\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/publicIPAddresses/pipaNatRules5955?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"8730a5ea-83fa-467d-8367-484f54bd7b0f\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11966"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"pipaNatRules5955\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/publicIPAddresses/pipaNatRules5955\",\n  \"etag\": \"W/\\\"8730a5ea-83fa-467d-8367-484f54bd7b0f\\\"\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceGuid\": \"64aaa2f3-e380-486a-80cc-a2eb0e0d3bc3\",\n    \"ipAddress\": \"137.135.84.189\",\n    \"publicIPAddressVersion\": \"IPv4\",\n    \"publicIPAllocationMethod\": \"Dynamic\",\n    \"idleTimeoutInMinutes\": 4,\n    \"dnsSettings\": {\n      \"domainNameLabel\": \"pipanatrules5955\",\n      \"fqdn\": \"pipanatrules5955.eastus.cloudapp.azure.com\"\n    },\n    \"ipTags\": [],\n    \"ipConfiguration\": {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/loadBalancers/lbNatRules5955/frontendIPConfigurations/frontend8e52537130\"\n    }\n  },\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\": \"Regional\"\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/loadBalancers/lbNatRules5955?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"frontendIPConfigurations\": [\n      {\n        \"properties\": {\n          \"publicIPAddress\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/publicIPAddresses/pipaNatRules5955\"\n          }\n        },\n        \"name\": \"frontend8e52537130\"\n      }\n    ],\n    \"backendAddressPools\": [\n      {\n        \"name\": \"backend1\"\n      }\n    ],\n    \"loadBalancingRules\": [\n      {\n        \"properties\": {\n          \"frontendIPConfiguration\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/loadBalancers/lbNatRules5955/frontendIPConfigurations/frontend8e52537130\"\n          },\n          \"backendAddressPool\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/loadBalancers/lbNatRules5955/backendAddressPools/backend1\"\n          },\n          \"probe\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/loadBalancers/lbNatRules5955/probes/tcpProbe1\"\n          },\n          \"protocol\": \"Tcp\",\n          \"loadDistribution\": \"SourceIP\",\n          \"frontendPort\": 81,\n          \"backendPort\": 82,\n          \"idleTimeoutInMinutes\": 10\n        },\n        \"name\": \"rule1\"\n      }\n    ],\n    \"probes\": [\n      {\n        \"properties\": {\n          \"protocol\": \"Http\",\n          \"port\": 80,\n          \"intervalInSeconds\": 13,\n          \"numberOfProbes\": 4,\n          \"requestPath\": \"/\"\n        },\n        \"name\": \"httpProbe1\"\n      },\n      {\n        \"properties\": {\n          \"protocol\": \"Tcp\",\n          \"port\": 25,\n          \"intervalInSeconds\": 15,\n          \"numberOfProbes\": 5\n        },\n        \"name\": \"tcpProbe1\"\n      }\n    ],\n    \"inboundNatRules\": [\n      {\n        \"properties\": {\n          \"frontendIPConfiguration\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules595[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNatRules5955/providers/Microsoft.Network/loadBalancers/lbNatRules5955?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"53abcc4b-e0be-4cd8-8198-2508408a3afa\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11979"
        ],
[...]
