{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Cdn/checkNameAvailability?api-version=2017-10-12",
      "RequestMethod": "POST",
      "RequestBody": "{\n  \"name\": \"endpoint6c4392840874d945378e46a79\",\n  \"type\": \"Microsoft.Cdn/Profiles/Endpoints\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal"
        ]
      },
      "ResponseBody": "{\n  \"nameAvailable\": true,\n  \"reason\": null,\n  \"message\": null\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgRCCDN7296?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"centralus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1179"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296\",\n  \"name\": \"rgRCCDN7296\",\n  \"location\": \"centralus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891?api-version=2017-10-12",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"sku\": {\n    \"name\": \"Standard_Akamai\"\n  },\n  \"location\": \"centralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgRCCDN7296/providers/Microsoft.Cdn/operationresults/fe52a8e0-286b-4b81-9709-2f8bb3463623?api-version=2017-10-12"
        ],
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1178"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"cdnStandardProfile4891\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891\",\n  \"type\": \"Microsoft.Cdn/profiles\",\n  \"tags\": {},\n  \"location\": \"CentralUs\",\n  \"sku\": {\n    \"name\": \"Standard_Akamai\"\n  },\n  \"properties\": {\n    \"provisioningState\": \"Creating\",\n    \"resourceState\": \"Creating\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgRCCDN7296/providers/Microsoft.Cdn/operationresults/fe52a8e0-286b-4b81-9709-2f8bb3463623?api-version=2017-10-12",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11891"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ]
      },
      "ResponseBody": "{\n  \"status\": \"Succeeded\",\n  \"error\": {\n    \"code\": \"None\",\n    \"message\": null\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891?api-version=2017-10-12",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11983"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"cdnStandardProfile4891\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891\",\n  \"type\": \"Microsoft.Cdn/profiles\",\n  \"tags\": {\n    \"provider\": \"Akamai\"\n  },\n  \"location\": \"CentralUs\",\n  \"sku\": {\n    \"name\": \"Standard_Akamai\"\n  },\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceState\": \"Active\"\n  }\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891/endpoints/akamiEndpointWithoutMuchProperties?api-version=2017-10-12",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"origins\": [\n      {\n        \"name\": \"originSuperName\",\n        \"properties\": {\n          \"hostName\": \"storageforazdevextest.blob.core.windows.net\"\n        }\n      }\n    ]\n  },\n  \"location\": \"centralus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgRCCDN7296/providers/Microsoft.Cdn/operationresults/b64a745f-b763-4af4-9537-60ac21332d97?api-version=2017-10-12"
        ],
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1177"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"akamiEndpointWithoutMuchProperties\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891/endpoints/akamiEndpointWithoutMuchProperties\",\n  \"type\": \"Microsoft.Cdn/profiles/endpoints\",\n  \"tags\": {},\n  \"location\": \"CentralUs\",\n  \"properties\": {\n    \"hostName\": \"akamiEndpointWithoutMuchProperties.azureedge.net\",\n    \"originHostHeader\": null,\n    \"provisioningState\": \"Creating\",\n    \"resourceState\": \"Creating\",\n    \"isHttpAllowed\": true,\n    \"isHttpsAllowed\": true,\n    \"queryStringCachingBehavior\": \"IgnoreQueryString\",\n    \"originPath\": null,\n    \"origins\": [\n      {\n        \"name\": \"originSuperName\",\n        \"properties\": {\n          \"hostName\": \"storageforazdevextest.blob.core.windows.net\",\n          \"httpPort\": null,\n          \"httpsPort\": null\n        }\n      }\n    ],\n    \"customDomains\": [],\n    \"contentTypesToCompress\": [],\n    \"isCompressionEnabled\": false,\n    \"optimizationType\": null,\n    \"probePath\": null,\n    \"geoFilters\": [],\n    \"deliveryPolicy\": null\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891/endpoints/endpoint-f3757d2a3e10?api-version=2017-10-12",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"contentTypesToCompress\": [\n      \"powershell/pain\",\n      \"text/plain\"\n    ],\n    \"isCompressionEnabled\": true,\n    \"isHttpAllowed\": true,\n    \"isHttpsAllowed\": true,\n    \"queryStringCachingBehavior\": \"BypassCaching\",\n    \"geoFilters\": [\n      {\n        \"relativePath\": \"/path/videos\",\n        \"action\": \"Block\",\n        \"countryCodes\": [\n          \"AR\"\n        ]\n      },\n      {\n        \"relativePath\": \"/path/images\",\n        \"action\": \"Block\",\n        \"countryCodes\": [\n          \"BE\"\n        ]\n      }\n    ],\n    \"origins\": [\n      {\n        \"name\": \"origin\",\n        \"properties\": {\n          \"hostName\": \"mylinuxapp.azurewebsites.net\",\n          \"httpPort\": 85,\n          \"httpsPort\": 444\n        }\n      }\n    ]\n  },\n  \"location\": \"centralus\"\n}",
      "RequestHeaders":[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891/endpoints/akamiEndpointWithoutMuchProperties/customDomains?api-version=2017-10-12",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11816"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ]
      },
      "ResponseBody": "{\n  \"value\": []\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891/endpoints/endpoint6c4392840874d945378e46a79/customDomains?api-version=2017-10-12",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11813"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ]
      },
      "ResponseBody": "{\n  \"value\": []\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891/endpoints/endpoint-f3757d2a3e10/customDomains/customdomain67699791f93227ba4a8b409?api-version=2017-10-12",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"hostName\": \"sdk-1-f3757d2a3e10.azureedge-test.net\"\n  }\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; char[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891/endpoints/endpoint-f3757d2a3e10/customDomains/customdomain67699791f93227ba4a8b409?api-version=2017-10-12",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"customdomain67699791f93227ba4a8b409\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891/endpoints/endpoint-f3757d2a3e10/customdomains/customdomain67699791f93227ba4a8b409\",\n  \"type\": \"Microsoft.Cdn/profiles/endpoints/customdomains\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceState\": \"Active\",\n    \"hostName\": \"sdk-1-f3757d2a3e10.azureedge-test.net\",\n    \"validationData\": null,\n    \"customHttpsProvisioningState\": \"Disabled\",\n    \"customHttpsProvisioningSubstate\": \"None\"\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnPremiumProfile226015?api-version=2017-10-12",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"sku\": {\n    \"name\": \"Premium_Verizon\"\n  },\n  \"location\": \"centralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        [...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnPremiumProfile226015/endpoints/endpointd6f979578a31c6e4b62044bab?api-version=2017-10-12",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"origins\": [\n      {\n        \"name\": \"origin\",\n        \"properties\": {\n          \"hostName\": \"someweirdname.blob.core.windows.net\"\n        }\n      }\n    ]\n  },\n  \"loc[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnPremiumProfile226015/endpoints/supermuperep1?api-version=2017-10-12",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"origins\": [\n      {\n        \"name\": \"originPremium\",\n        \"properties\": {\n          \"hostName\": \"xplattestvmss1sto0575014.blob.core.windows.net\"\n        }\n      }\n    ]\n  },\n  \"locat[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnPremiumProfile226015/endpoints/premiumVerizonEndpointFluentTest226807?api-version=2017-10-12",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"isHttpAllowed\": true,\n    \"isHttpsAllowed\": true,\n    \"origins\": [\n      {\n        \"name\": \"origin\",\n        \"properties\": {\n          \"hostName\": \"supername.clo[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnPremiumProfile226015/endpoints/endpointd6f979578a31c6e4b62044bab/customDomains?api-version=2017-10-12",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ]
      },
      "ResponseBody": "{\n  \"value\": []\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnPremiumProfile226015/endpoints/premiumVerizonEndpointFluentTest226807/customDomains?api-version=2017-10-12",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11979"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ]
      },
      "ResponseBody": "{\n  \"value\": []\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnPremiumProfile226015/endpoints/supermuperep1/customDomains?api-version=2017-10-12",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11976"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ]
      },
      "ResponseBody": "{\n  \"value\": []\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891/endpoints?api-version=2017-10-12",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11973"
        ],
        "Content-Type": [
          "applicati[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891/endpoints/endpoint-f3757d2a3e10/customDomains/customdomain91f48691d5f17df7ec6440a?api-version=2017-10-12",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgRCCDN7296/providers/Microsoft.Cdn/operationresults/da90cd55-bc38-40fc-8edf-2ae6764f5a41/profileresults/cdnStandardProfile4891/endpointresults/endpoint-f3757d2a3e10/customdomainresults/customdomain91f48691d5f17df7ec6440a?api-version=2017-10-12"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgRCCDN7296/providers/Microsoft.Cdn/operationresults/da90cd55-bc38-40fc-8edf-2ae6764f5a41?api-version=2017-10-12"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891/endpoints/somenewnamefortheendpoint?api-version=2017-10-12",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"geoFilters\": [\n      {\n        \"relativePath\": \"/path/music\",\n        \"action\": \"Block\",\n        \"countryCodes\": [\n          \"EE\"\n        ]\n      }\n    ],\n    \"origins\": [[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgRCCDN7296/providers/Microsoft.Cdn/operationresults/da90cd55-bc38-40fc-8edf-2ae6764f5a41/profileresults/cdnStandardProfile4891/endpointresults/endpoint-f3757d2a3e10/customdomainresults/customdomain91f48691d5f17df7ec6440a?api-version=2017-10-12",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11968"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Language": [
          "en-US"
        ]
      },
      "ResponseBody": "{\n  \"error\": {\n    \"code\": \"NotFound\",\n    \"message\": \"The requested resource was not found.\"\n  }\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891/endpoints/somenewnamefortheendpoint/customDomains?api-version=2017-10-12",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ]
      },
      "ResponseBody": "{\n  \"value\": []\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891/endpoints/endpoint-f3757d2a3e10/origins/origin?api-version=2017-10-12",
      "RequestMethod": "PATCH",
      "RequestBody": "{\n  \"properties\": {\n    \"hostName\": \"mylinuxapp.azurewebsites.net\",\n    \"httpPort\": 1111,\n    \"httpsPort\": 444\n  }\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/js[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnPremiumProfile226015/endpoints/premiumVerizonEndpointFluentTest226807/origins/origin?api-version=2017-10-12",
      "RequestMethod": "PATCH",
      "RequestBody": "{\n  \"properties\": {\n    \"hostName\": \"supername.cloudapp.net\",\n    \"httpPort\": 123,\n    \"httpsPort\": 1111\n  }\n}",
      "RequestHeaders": {
        "Content-Type": [
          "ap[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgRCCDN7296/providers/Microsoft.Cdn/operationresults/37d347e7-f3db-4299-b188-501185c950ee/profileresults/cdnPremiumProfile226015/endpointresults/supermuperep1?api-version=2017-10-12",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11911"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Language": [
          "en-US"
        ]
      },
      "ResponseBody": "{\n  \"error\": {\n    \"code\": \"NotFound\",\n    \"message\": \"The requested resource was not found.\"\n  }\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnPremiumProfile226015/generateSsoUri?api-version=2017-10-12",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1148"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ]
      },
      "ResponseBody": "{\n  \"ssoUriValue\": \"https://cdn.windowsazure.com/account/loginexternal/?token=LnpvTpAEwO7pfOqX1eQLBtP2FqklL2qBl5oD8AHkjjE%3d&timestamp=2018-08-01T02:10:43.7310370Z&cdnAccountId=93F82&userCustomId=SSO-314fa718-35ff-4d5a-b43d-25ff531438eb&restEndpointId=0\"\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891/endpoints/endpoint-f3757d2a3e10/validateCustomDomain?api-version=2017-10-12",
      "RequestMethod": "POST",
      "RequestBody": "{\n  \"hostName\": \"sdk-2-f3757d2a3e10.azureedge-test.net\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1147"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal"
        ]
      },
      "ResponseBody": "{\n  \"customDomainValidated\": true,\n  \"message\": null,\n  \"reason\": null\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891/endpoints/endpoint-f3757d2a3e10/stop?api-version=2017-10-12",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgRCCDN7296/providers/Microsof[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgRCCDN7296/providers/Microsoft.Cdn/operationresults/d845103f-eb12-49fe-9d71-b7d1b12f3260/profileresults/cdnStandardProfile4891/endpointresults/endpoint-f3757d2a3e10?api-version=2017-10-12",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscripti[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgRCCDN7296/providers/Microsoft.Cdn/profiles/cdnStandardProfile4891/endpoints/endpoint-f3757d2a3e10/start?api-version=2017-10-12",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgRCCDN7296/providers/Microso[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1JDQ0RONzI5Ni1DRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6ImNlbnRyYWx1cyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1JDQ0RONzI5Ni1DRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6ImNlbnRyYWx1cyJ9?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1JDQ0RONzI5Ni1DRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6ImNlbnRyYWx1cyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "CanCRUDCdn": [
      "cdnStandardProfile4891",
      "cdnPremiumProfile226015",
      "premiumVerizonEndpointFluentTest226807",
      "rgRCCDN7296",
      "endpoint6c4392840874d945378e46a79",
      "customdomain67699791f93227ba4a8b409",
      "customdomain91f48691d5f17df7ec6440a",
      "endpointd6f979578a31c6e4b62044bab",
      "endpointcd1249040469cf9dbda14c2ca",
      "endpoint7d3235077acb530bfb57481c9"
    ]
  },
  "Variables": {
    "ServicePrincipal": "39e3d217-cb72-4b90-8532-394a7e784d93",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}