{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/applicationGateways?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11827"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/applicationGateways?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11774"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ag8024\",\r\n      \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024\",\r\n      \"etag\": \"W/\\\"7d1fbed4-9f9b-4de5-8ff8-2601ceec6f0c\\\"\",\r\n      \"type\": \"Microsoft.Network/applicationGateways\",\r\n      \"location\": \"eastus\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"287a4ece-7f22-43f6-86fa-0e6cfd50175b\",\r\n        \"sku\": {\r\n          \"name\": \"Standard_Small\",\r\n          \"tier\": \"Standard\",\r\n          \"capacity\": 1\r\n        },\r\n        \"operationalState\": \"Running\",\r\n        \"gatewayIPConfigurations\": [\r\n          {\r\n            \"name\": \"ipcfg71605\",\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024/gatewayIPConfigurations/ipcfg71605\",\r\n            \"etag\": \"W/\\\"7d1fbed4-9f9b-4de5-8ff8-2601ceec6f0c\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"subnet\": {\r\n                \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/virtualNetworks/vnet07175/subnets/default\"\r\n              }\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n          }\r\n        ],\r\n        \"sslCertificates\": [],\r\n        \"authenticationCertificates\": [],\r\n        \"frontendIPConfigurations\": [\r\n          {\r\n            \"name\": \"frontend33703\",\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024/frontendIPConfigurations/frontend33703\",\r\n            \"etag\": \"W/\\\"7d1fbed4-9f9b-4de5-8ff8-2601ceec6f0c\\\"\",\r\n            \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"privateIPAddress\": \"10.0.0.5\",\r\n              \"privateIPAllocationMethod\": \"Dynamic\",\r\n              \"subnet\": {\r\n                \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/virtualNetworks/vnet07175/subnets/default\"\r\n              },\r\n              \"httpListeners\": [\r\n                {\r\n                  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024/httpListeners/listener21772\"\r\n                }\r\n              ]\r\n            }\r\n          }\r\n        ],\r\n        \"frontendPorts\": [\r\n          {\r\n            \"name\": \"port25805\",\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024/frontendPorts/port25805\",\r\n            \"etag\": \"W/\\\"7d1fbed4-9f9b-4de5-8ff8-2601ceec6f0c\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"port\": 80,\r\n              \"httpListeners\": [\r\n                {\r\n                  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024/httpListeners/listener21772\"\r\n                }\r\n              ]\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\r\n          }\r\n        ],\r\n        \"backendAddressPools\": [\r\n          {\r\n            \"name\": \"backendcf380509be\",\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024/backendAddressPools/backendcf380509be\",\r\n            \"etag\": \"W/\\\"7d1fbed4-9f9b-4de5-8ff8-2601ceec6f0c\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"backendAddresses\": [\r\n                {\r\n                  \"ipAddress\": \"11.1.1.1\"\r\n                },\r\n                {\r\n                  \"ipAddress\": \"11.1.1.2\"\r\n                }\r\n              ],\r\n              \"requestRoutingRules\": [\r\n                {\r\n                  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024/requestRoutingRules/rule1\"\r\n                }\r\n              ]\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/backendAddressPools\"\r\n          }\r\n        ],\r\n        \"backendHttpSettingsCollection\": [\r\n          {\r\n            \"name\": \"backcfg09366\",\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024/backendHttpSettingsCollection/backcfg09366\",\r\n            \"etag\": \"W/\\\"7d1fbed4-9f9b-4de5-8ff8-2601ceec6f0c\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"port\": 8080,\r\n              \"protocol\": \"Http\",\r\n              \"cookieBasedAffinity\": \"Disabled\",\r\n              \"pickHostNameFromBackendAddress\": false,\r\n              \"requestTimeout\": 30,\r\n              \"requestRoutingRules\": [\r\n                {\r\n                  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024/requestRoutingRules/rule1\"\r\n                }\r\n              ]\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/backendHttpSettingsCollection\"\r\n          }\r\n        ],\r\n        \"httpListeners\": [\r\n          {\r\n            \"name\": \"listener21772\",\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024/httpListeners/listener21772\",\r\n            \"etag\": \"W/\\\"7d1fbed4-9f9b-4de5-8ff8-2601ceec6f0c\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"frontendIPConfiguration\": {\r\n                \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024/frontendIPConfigurations/frontend33703\"\r\n              },\r\n              \"frontendPort\": {\r\n                \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024/frontendPorts/port25805\"\r\n              },\r\n              \"protocol\": \"Http\",\r\n              \"requireServerNameIndication\": false,\r\n              \"requestRoutingRules\": [\r\n                {\r\n                  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024/requestRoutingRules/rule1\"\r\n                }\r\n              ]\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/httpListeners\"\r\n          }\r\n        ],\r\n        \"urlPathMaps\": [],\r\n        \"requestRoutingRules\": [\r\n          {\r\n            \"name\": \"rule1\",\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024/requestRoutingRules/rule1\",\r\n            \"etag\": \"W/\\\"7d1fbed4-9f9b-4de5-8ff8-2601ceec6f0c\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"ruleType\": \"Basic\",\r\n              \"httpListener\": {\r\n                \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024/httpListeners/listener21772\"\r\n              },\r\n              \"backendAddressPool\": {\r\n                \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024/backendAddressPools/backendcf380509be\"\r\n              },\r\n              \"backendHttpSettings\": {\r\n                \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024/backendHttpSettingsCollection/backcfg09366\"\r\n              }\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/requestRoutingRules\"\r\n          }\r\n        ],\r\n        \"probes\": [],\r\n        \"rewriteRuleSets\": [],\r\n        \"redirectConfigurations\": []\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourcegroups/rg8024?api-version=2019-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1184"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024\",\r\n  \"name\": \"rg8024\",\r\n  \"type\": \"Microsoft.Resources/resourceGroups\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/virtualNetworks/vnet07175?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/24\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/25\"\r\n        },\r\n        \"name\": \"default\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.128/25\"\r\n        },\r\n        \"name\": \"apps\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operations/41f2a8e6-8c6c-4b78-aeca-97cd54b6a302?api-version=2019-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1183"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vnet07175\",\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operations/41f2a8e6-8c6c-4b78-aeca-97cd54b6a302?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11826"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/virtualNetworks/vnet07175?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"6b3b174c-326f-4a80-96c0-d0ddf8c29c03\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11825"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vnet07175\",\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/virtualNetworks/vnet07175\",\r\n  \"etag\": \"W/\\\"6b3b174c-326f-4a80-96c0-d0ddf8c29c03\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"5303930d-5c91-4969-b03d-76efe3b1d0a3\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/24\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"default\",\r\n        \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/virtualNetworks/vnet07175/subnets/default\",\r\n        \"etag\": \"W/\\\"6b3b174c-326f-4a80-96c0-d0ddf8c29c03\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/25\",\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      },\r\n      {\r\n        \"name\": \"apps\",\r\n        \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/virtualNetworks/vnet07175/subnets/apps\",\r\n        \"etag\": \"W/\\\"6b3b174c-326f-4a80-96c0-d0ddf8c29c03\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.128/25\",\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Standard_Small\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 1\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n         [...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/virtualNetworks/vnet07175/subnets/default\"\r\n          },\r\n          \"provisioningState\": \"Succeeded\"\r\n        },\r\n        \"name\": \"ipcfg71605\",\r\n        \"etag\": \"W/\\\"7d1fbed4-9f9b-4de5-8ff8-2601ceec6f0c\\\"\",\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\",\r\n        \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024/gatewayIPConfigurations/ipcfg71605\"\r\n      }\r\n    ],\r\n    \"sslCertificates\": [\r\n      {\r\n        \"properties\": {\r\n          \"data\": \"MIIJpAIBAzCCCV4GCSqGSIb3DQEHAaCCCU8EgglLMIIJRzCCBYwGCSqGSIb3DQEHAaCCBX0EggV5MIIFdTCCBXEGCyqGSIb3DQEMCgECoIIE+jCCBPYwKAYKKoZIhvcNAQwBAzAaBBTAk6K6zBkWhuHTMdIS6zsm744NXwICBAAEggTIc+pQVk2X0CH6NccYKsvM4YzuQAiUBxvicZzB+Il/BGRrK0V93+uqAGZR/tnZ3ukpETnnkKSZEbGwiOyuAGbJA4x2DYNKSPThbyNv2bYdTdB0RoA9celOLh6Y2z3V2SAHmTaaLzQQZ7IAqedA9W4Zqt0bFLIREV/IvzbEw4/OWqBr2B2ER9I3FTWwEcHtsq/3BPHQE7Hr1DZ/yZDw9D4f55GBCohDIUzWsnMHOBuBJHksJN0HR6w95CUVvXeyXe0QGwU4Pvatwmd9ZZJ8x2XXrwyHjGHdK4DkuvRXd+4qYzw9aBanZl31i6SzyaHMeMscU[...]
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"894eb32d-4355-4abe-9bb5-9311f5bd2d65\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11756"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ag8024\",\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024\",\r\n  \"etag\": \"W/\\\"894eb32d-4355-4abe-9bb5-9311f5bd2d65\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"tag1\": \"value1\",\r\n    \"tag2\": \"value2\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"287a4ece-7f22-43f6-86fa-0e6cfd50175b\",\r\n    \"sku\": {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"operationalState\": \"Running\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ipcfg71605\",\r\n        \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8[...]
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg8024/providers/Microsoft.Network/applicationGateways/ag8024?api-version=2019-06-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operationResults/7fbb5886-3af8-44b7-bbcc-fa34af98375e?api-version=2019-06-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operations/7fbb5886-3af8-44b7-bbcc-fa34af98375e?api-version=2019-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operationResults/7fbb5886-3af8-44b7-bbcc-fa34af98375e?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operationResults/7fbb5886-3af8-44b7-bbcc-fa34af98375e?api-version=2019-06-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operations/7fbb5886-3af8-44b7-bbcc-fa34af98375e?api-version=2019-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11740"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourcegroups/rg8024?api-version=2019-08-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzgwMjQtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2019-08-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {
    ".ctor": [
      "1145"
    ],
    "PrivateMinimal": [
      "8024",
      "listener21772",
      "port25805",
      "frontend33703",
      "backcfg09366",
      "backendcf380509be",
      "ipcfg71605",
      "vnet07175"
    ]
  },
  "Variables": {
    "ServicePrincipal": "af519bfa-99e8-4193-b65b-e6cd2f8bde7f",
    "AADTenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "SubscriptionId": "1c638cf4-608f-4ee6-b680-c329e824c3a8"
  }
}