{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/applicationGateways?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11846"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"myAppGW\",\r\n      \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/applicationGateways/myAppGW\",\r\n      \"etag\": \"W/\\\"74558dae-4fea-424b-a32f-91b26f1a1dcc\\\"\",\r\n      \"type\": \"Microsoft.Network/applicationGateways\",\r\n      \"location\": \"southcentralus\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"982401f6-34d9-4627-9b42-858152967f98\",\r\n        \"sku\": {\r\n          \"name\": \"WAF_v2\",\r\n          \"tier\": \"WAF_v2\"\r\n        },\r\n        \"operationalState\": \"Running\",\r\n        \"gatewayIPConfigurations\": [\r\n          {\r\n            \"name\": \"appGatewayIpConfig\",\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/applicationGateways/myAppGW/gatewayIPConfigurations/appGatewayIpConfig\",\r\n            \"etag\": \"W/\\\"74558dae-4fea-424b-a32f-91b26f1a1dcc\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"subnet\": {\r\n                \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/virtualNetworks/appVNet/subnets/backend\"\r\n              }\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n          }\r\n        ],\r\n        \"sslCertificates\": [],\r\n        \"trustedRootCertificates\": [],\r\n        \"frontendIPConfigurations\": [\r\n          {\r\n            \"name\": \"appGwPublicFrontendIp\",\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/applicationGateways/myAppGW/frontendIPConfigurations/appGwPublicFrontendIp\",\r\n            \"etag\": \"W/\\\"74558dae-4fea-424b-a32f-91b26f1a1dcc\\\"\",\r\n            \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"privateIPAllocationMethod\": \"Dynamic\",\r\n              \"publicIPAddress\": {\r\n                \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/publicIPAddresses/appGateWay\"\r\n              },\r\n              \"httpListeners\": [\r\n                {\r\n                  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/applicationGateways/myAppGW/httpListeners/listener1\"\r\n                }\r\n              ]\r\n            }\r\n          }\r\n        ],\r\n        \"frontendPorts\": [\r\n          {\r\n            \"name\": \"port_80\",\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/applicationGateways/myAppGW/frontendPorts/port_80\",\r\n            \"etag\": \"W/\\\"74558dae-4fea-424b-a32f-91b26f1a1dcc\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"port\": 80,\r\n              \"httpListeners\": [\r\n                {\r\n                  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/applicationGateways/myAppGW/httpListeners/listener1\"\r\n                }\r\n              ]\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\r\n          }\r\n        ],\r\n        \"backendAddressPools\": [\r\n          {\r\n            \"name\": \"backendPool1\",\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/applicationGateways/myAppGW/backendAddressPools/backendPool1\",\r\n            \"etag\": \"W/\\\"74558dae-4fea-424b-a32f-91b26f1a1dcc\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"backendAddresses\": [],\r\n              \"requestRoutingRules\": [\r\n                {\r\n                  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/applicationGateways/myAppGW/requestRoutingRules/appRule\"\r\n                }\r\n              ]\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/backendAddressPools\"\r\n          }\r\n        ],\r\n        \"backendHttpSettingsCollection\": [\r\n          {\r\n            \"name\": \"httpSeting1\",\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/applicationGateways/myAppGW/backendHttpSettingsCollection/httpSeting1\",\r\n            \"etag\": \"W/\\\"74558dae-4fea-424b-a32f-91b26f1a1dcc\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"port\": 80,\r\n              \"protocol\": \"Http\",\r\n              \"cookieBasedAffinity\": \"Disabled\",\r\n              \"pickHostNameFromBackendAddress\": false,\r\n              \"requestTimeout\": 20,\r\n              \"requestRoutingRules\": [\r\n                {\r\n                  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/applicationGateways/myAppGW/requestRoutingRules/appRule\"\r\n                }\r\n              ]\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/backendHttpSettingsCollection\"\r\n          }\r\n        ],\r\n        \"httpListeners\": [\r\n          {\r\n            \"name\": \"listener1\",\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/applicationGateways/myAppGW/httpListeners/listener1\",\r\n            \"etag\": \"W/\\\"74558dae-4fea-424b-a32f-91b26f1a1dcc\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"frontendIPConfiguration\": {\r\n                \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/applicationGateways/myAppGW/frontendIPConfigurations/appGwPublicFrontendIp\"\r\n              },\r\n              \"frontendPort\": {\r\n                \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/applicationGateways/myAppGW/frontendPorts/port_80\"\r\n              },\r\n              \"protocol\": \"Http\",\r\n              \"requireServerNameIndication\": false,\r\n              \"requestRoutingRules\": [\r\n                {\r\n                  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/applicationGateways/myAppGW/requestRoutingRules/appRule\"\r\n                }\r\n              ]\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/httpListeners\"\r\n          }\r\n        ],\r\n        \"urlPathMaps\": [],\r\n        \"requestRoutingRules\": [\r\n          {\r\n            \"name\": \"appRule\",\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/applicationGateways/myAppGW/requestRoutingRules/appRule\",\r\n            \"etag\": \"W/\\\"74558dae-4fea-424b-a32f-91b26f1a1dcc\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"ruleType\": \"Basic\",\r\n              \"httpListener\": {\r\n                \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/applicationGateways/myAppGW/httpListeners/listener1\"\r\n              },\r\n              \"backendAddressPool\": {\r\n                \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/applicationGateways/myAppGW/backendAddressPools/backendPool1\"\r\n              },\r\n              \"backendHttpSettings\": {\r\n                \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/network1906/providers/Microsoft.Network/applicationGateways/myAppGW/backendHttpSettingsCollection/httpSeting1\"\r\n              }\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/requestRoutingRules\"\r\n          }\r\n        ],\r\n        \"probes\": [],\r\n        \"rewriteRuleSets\": [],\r\n        \"redirectConfigurations\": [],\r\n        \"webApplicationFirewallConfiguration\": {\r\n          \"enabled\": true,\r\n          \"firewallMode\": \"Prevention\",\r\n          \"ruleSetType\": \"OWASP\",\r\n          \"ruleSetVersion\": \"3.0\",\r\n          \"disabledRuleGroups\": [],\r\n          \"exclusions\": [\r\n            {\r\n              \"matchVariable\": \"RequestHeaderNames\",\r\n              \"selectorMatchOperator\": \"StartsWith\",\r\n              \"selector\": \"Connection\"\r\n            }\r\n          ],\r\n          \"requestBodyCheck\": true,\r\n          \"maxRequestBodySizeInKb\": 128,\r\n          \"fileUploadLimitInMb\": 100\r\n        },\r\n        \"enableHttp2\": false,\r\n        \"autoscaleConfiguration\": {\r\n          \"minCapacity\": 2,\r\n          \"maxCapacity\": 10\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/applicationGateways?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "45267249-f8cc-468a-a3d5-ca919f425ebd",
          "6d1f32a4-4718-4d41-bd18-11d3d5ceda65"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11728"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ag5009\",\r\n      \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/applicationGateways/ag5009\",\r\n      \"etag\": \"W/\\\"3e548784-300f-4e3b-998e-7937b6284578\\\"\",\r\n      \"type\": \"Microsoft.Network/applicationGateways\",\r\n      \"location\": \"eastus\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"244d5666-d143-48ee-81ef-0190459c6074\",\r\n        \"sku\": {\r\n          \"name\": \"Standard_Small\",\r\n          \"tier\": \"Standard\",\r\n          \"capacity\": 1\r\n        },\r\n        \"operationalState\": \"Running\",\r\n        \"gatewayIPConfigurations\": [\r\n          {\r\n            \"name\": \"ipcfg42991\",\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/applicationGateways/ag5009/gatewayIPConfigurations/ipcfg42991\",\r\n            \"etag\": \"W/\\\"3e548784-300f-4e3b-998e-7937b6284578\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"subnet\": {\r\n                \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/virtualNetworks/vnet88639/subnets/default\"\r\n              }\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n          }\r\n        ],\r\n        \"sslCertificates\": [],\r\n        \"authenticationCertificates\": [],\r\n        \"frontendIPConfigurations\": [\r\n          {\r\n            \"name\": \"frontend23987\",\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/applicationGateways/ag5009/frontendIPConfigurations/frontend23987\",\r\n            \"etag\": \"W/\\\"3e548784-300f-4e3b-998e-7937b6284578\\\"\",\r\n            \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"privateIPAddress\": \"10.0.0.5\",\r\n              \"privateIPAllocationMethod\": \"Dynamic\",\r\n              \"subnet\": {\r\n                \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/virtualNetworks/vnet88639/subnets/default\"\r\n              },\r\n              \"httpListeners\": [\r\n                {\r\n                  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/applic[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourcegroups/rg5009?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009\",\r\n  \"name\": \"rg5009\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/virtualNetworks/vnet88639?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/24\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/25\"\r\n        },\r\n        \"name\": \"default\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.128/25\"\r\n        },\r\n        \"name\": \"apps\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operations/fbd3946d-3476-4b82-ac75-a5460eceb440?api-version=2019-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vnet88639\",\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operations/fbd3946d-3476-4b82-ac75-a5460eceb440?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11845"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/virtualNetworks/vnet88639?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"7af09fbd-de3f-4958-a197-ae24495afb6e\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11844"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vnet88639\",\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/virtualNetworks/vnet88639\",\r\n  \"etag\": \"W/\\\"7af09fbd-de3f-4958-a197-ae24495afb6e\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"f0efe50b-6e2a-48e0-a7d8-4222d1c19c1e\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/24\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"default\",\r\n        \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/virtualNetworks/vnet88639/subnets/default\",\r\n        \"etag\": \"W/\\\"7af09fbd-de3f-4958-a197-ae24495afb6e\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/25\",\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      },\r\n      {\r\n        \"name\": \"apps\",\r\n        \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/virtualNetworks/vnet88639/subnets/apps\",\r\n        \"etag\": \"W/\\\"7af09fbd-de3f-4958-a197-ae24495afb6e\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.128/25\",\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/applicationGateways/ag5009?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Standard_Small\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 1\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/virtualNetworks/vnet88639/subnets/default\"\r\n          }\r\n        },\r\n        \"name\": \"ipcfg42991\"\r\n      }\r\n    ],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/virtualNetworks/vnet88639/subnets/default\"\r\n          }\r\n        },\r\n        \"name\": \"frontend23987\"\r\n      }\r\n    ],\r\n    \"frontendPorts\": [\r\n      {\r\n        \"properties\": {\r\n          \"port\": 80\r\n        },\r\n        \"name\": \"port16865\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"properties\": {\r\n          \"backendAddresses\": [\r\n            {\r\n              \"ipAddress\": \"11.1.1.1\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"11.1.1.2\"\r\n            }\r\n          ]\r\n        },\r\n        \"name\": \"backend41651802c7\"\r\n      }\r\n    ],\r\n    \"backendHttpSettingsCollection\": [\r\n      {\r\n        \"properties\": {\r\n          \"port\": 8080\r\n        },\r\n        \"name\": \"backcfg59289\"\r\n      }\r\n    ],\r\n    \"httpListeners\": [\r\n      {\r\n        \"properties\": {\r\n          \"frontendIPConfiguration\": {[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/applicationGateways/ag5009?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/virtualNetworks/vnet88639/subnets/default\"\r\n          },\r\n          \"provisioningState\": \"Succeeded\"\r\n        },\r\n        \"name\": \"ipcfg42991\",\r\n        \"etag\": \"W/\\\"3e548784-300f-4e3b-998e-7937b6284578\\\"\",\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\",\r\n        \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/applicationGateways/ag5009/gatewayIPConfigurations/ipcfg42991\"\r\n      }\r\n    ],\r\n    \"sslCertificates\": [\r\n      {\r\n        \"properties\": {\r\n          \"data\": \"MIIJpAIBAzCCCV4GCSqGSIb3DQEHAaCCCU8EgglLMIIJRzCCBYwGCSqGSIb3DQEHAaCCBX0EggV5MIIFdTCCBXEGCyqGSIb3DQEMCgECoIIE+jCCBPYwKAYKKoZIhvcNAQwBAzAaBBTAk6K6zBkWhuHTMdIS6zsm744NXwICBAAEggTIc+pQVk2X0CH6NccYKsvM4YzuQAiUBxvicZzB+Il/BGRrK0V93+uqAGZR/tnZ3ukpETnnkKSZEbGwiOyuAGbJA4x2DYNKSPThbyNv2bYdTdB0RoA9celOLh6Y2z3V2SAHmTaaLzQQZ7IAqedA9W4Zqt0bFLIREV/IvzbEw4/OWqBr2B2ER9I3FTWwEcHtsq/3BPHQE7Hr1DZ/yZDw9D4f55GBCohDIUzWsnMHOBuBJHksJN0HR6w95CUVvXeyXe0QGwU4Pvatwmd9ZZJ8x2XXrwyHjGHdK4DkuvRXd+4qYzw9aBanZl31i6SzyaHMeMscU[...]
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/applicationGateways/ag5009?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"a2c7bf36-94f8-49b7-b53f-ae8dc9df71fb\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11669"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ag5009\",\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/applicationGateways/ag5009\",\r\n  \"etag\": \"W/\\\"a2c7bf36-94f8-49b7-b53f-ae8dc9df71fb\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"tag1\": \"value1\",\r\n    \"tag2\": \"value2\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"244d5666-d143-48ee-81ef-0190459c6074\",\r\n    \"sku\": {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"operationalState\": \"Running\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ipcfg42991\",\r\n        \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5[...]
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rg5009/providers/Microsoft.Network/applicationGateways/ag5009?api-version=2019-06-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operationResults/42e6a5de-bb12-4563-abf0-9aa5babf7cbc?api-version=2019-06-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operations/42e6a5de-bb12-4563-abf0-9aa5babf7cbc?api-version=2019-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operationResults/42e6a5de-bb12-4563-abf0-9aa5babf7cbc?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operationResults/42e6a5de-bb12-4563-abf0-9aa5babf7cbc?api-version=2019-06-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operations/42e6a5de-bb12-4563-abf0-9aa5babf7cbc?api-version=2019-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11685"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourcegroups/rg5009?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzUwMDktRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {
    ".ctor": [
      "407"
    ],
    "PrivateMinimal": [
      "5009",
      "listener19745",
      "port16865",
      "frontend23987",
      "backcfg59289",
      "backend41651802c7",
      "ipcfg42991",
      "vnet88639"
    ]
  },
  "Variables": {
    "ServicePrincipal": "ad38138c-4c27-4cc1-bc68-b74f4f9780cc",
    "AADTenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "SubscriptionId": "1c638cf4-608f-4ee6-b680-c329e824c3a8"
  }
}