{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/applicationGateways?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "5f522843-5bc9-4fb7-b8cf-b593645e3ee7",
          "cf20b028-819a-44f0-9e1f-f257926f896d"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11948"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": [\n    {\n      \"name\": \"ag7095\",\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/applicationGateways/ag7095\",\n      \"etag\": \"W/\\\"d7587474-844e-4944-a7d6-11944af367a1\\\"\",\n      \"type\": \"Microsoft.Network/applicationGateways\",\n      \"location\": \"eastus\",\n      \"tags\": {},\n      \"properties\": {\n        \"provisioningState\": \"Updating\",\n        \"resourceGuid\": \"07f9a966-fd8e-4c86-a7b1-f3c8ba7b59f3\",\n        \"sku\": {\n          \"name\": \"Standard_Small\",\n          \"tier\": \"Standard\",\n          \"capacity\": 1\n        },\n        \"operationalState\": \"Stopped\",\n        \"gatewayIPConfigurations\": [\n          {\n            \"name\": \"ipcfg40556\",\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/applicationGateways/ag7095/gatewayIPConfigurations/ipcfg40556\",\n            \"etag\": \"W/\\\"d7587474-844e-4944-a7d6-11944af367a1\\\"\",\n            \"properties\": {\n              \"provisioningState\": \"Updating\",\n              \"subnet\": {\n                \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/virtualNetworks/vnet84632/subnets/default\"\n              }\n            }\n          }\n        ],\n        \"sslCertificates\": [],\n        \"authenticationCertificates\": [],\n        \"frontendIPConfigurations\": [\n          {\n            \"name\": \"frontend30035\",\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/applicationGateways/ag7095/frontendIPConfigurations/frontend30035\",\n            \"etag\": \"W/\\\"d7587474-844e-4944-a7d6-11944af367a1\\\"\",\n            \"properties\": {\n              \"provisioningState\": \"Updating\",\n              \"privateIPAllocationMethod\": \"Dynamic\",\n              \"subnet\": {\n                \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/virtualNetworks/vnet84632/subnets/default\"\n              },\n              \"httpListeners\": [\n                {\n                  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/applicationGateways/ag7095/httpListeners/listener50077\"\n                }\n              ]\n            }\n          }\n        ],\n        \"frontendPorts\": [\n          {\n            \"name\": \"port27728\",\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/applicationGateways/ag7095/frontendPorts/port27728\",\n            \"etag\": \"W/\\\"d7587474-844e-4944-a7d6-11944af367a1\\\"\",\n            \"properties\": {\n              \"provisioningState\": \"Updating\",\n              \"port\": 80,\n              \"httpListeners\": [\n                {\n                  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/applicationGateways/ag7095/httpListeners/listener50077\"\n                }\n              ]\n            }\n          }\n        ],\n        \"backendAddressPools\": [\n          {\n            \"name\": \"backend0a729179d4\",\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/applicationGateways/ag7095/backendAddressPools/backend0a729179d4\",\n            \"etag\": \"W/\\\"d7587474-844e-4944-a7d6-11944af367a1\\\"\",\n            \"properties\": {\n              \"provisioningState\": \"Updating\",\n              \"backendAddresses\": [\n                {\n                  \"ipAddress\": \"11.1.1.1\"\n                },\n                {\n                  \"ipAddress\": \"11.1.1.2\"\n                }\n              ],\n              \"requestRoutingRules\": [\n                {\n                  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/applicationGateways/ag7095/requestRoutingRules/rule1\"\n                }\n              ]\n            }\n          }\n        ],\n        \"backendHttpSettingsCollection\": [\n          {\n            \"name\": \"backcfg67628\",\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/applicationGateways/ag7095/backendHttpSettingsCollection/backcfg67628\",\n            \"etag\": \"W/\\\"d7587474-844e-4944-a7d6-11944af367a1\\\"\",\n            \"properties\": {\n              \"provisioningState\": \"Updating\",\n              \"port\": 8080,\n              \"protocol\": \"Http\",\n              \"cookieBasedAffinity\": \"Disabled\",\n              \"pickHostNameFromBackendAddress\": false,\n              \"requestTimeout\": 30,\n              \"requestRoutingRules\": [\n                {\n                  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/applicationGateways/ag7095/requestRoutingRules/rule1\"\n                }\n              ]\n            }\n          }\n        ],\n        \"httpListeners\": [\n          {\n            \"name\": \"listener50077\",\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/applicationGateways/ag7095/httpListeners/listener50077\",\n            \"etag\": \"W/\\\"d7587474-844e-4944-a7d6-11944af367a1\\\"\",\n            \"properties\": {\n              \"provisioningState\": \"Updating\",\n              \"frontendIPConfiguration\": {\n                \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/applicationGateways/ag7095/frontendIPConfigurations/frontend30035\"\n              },\n              \"frontendPort\": {\n                \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/applicationGateways/ag7095/frontendPorts/port27728\"\n              },\n              \"protocol\": \"Http\",\n              \"requireServerNameIndication\": false,\n              \"requestRoutingRules\": [\n                {\n                  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/applicationGateways/ag7095/requestRoutingRules/rule1\"\n                }\n              ]\n            }\n          }\n        ],\n        \"urlPathMaps\": [],\n        \"requestRoutingRules\": [\n          {\n            \"name\": \"rule1\",\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/applicationGateways/ag7095/requestRoutingRules/rule1\",\n            \"etag\": \"W/\\\"d7587474-844e-4944-a7d6-11944af367a1\\\"\",\n            \"properties\": {\n              \"provisioningState\": \"Updating\",\n              \"ruleType\": \"Basic\",\n              \"httpListener\": {\n                \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/applicationGateways/ag7095/httpListeners/listener50077\"\n              },\n              \"backendAddressPool\": {\n                \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/applicationGateways/ag7095/backendAddressPools/backend0a729179d4\"\n              },\n              \"backendHttpSettings\": {\n                \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg7095/providers/Microsoft.Network/applicationGateways/ag7095/backendHttpSettingsCollection/backcfg67628\"\n              }\n            }\n          }\n        ],\n        \"probes\": [],\n        \"redirectConfigurations\": []\n      }\n    },\n    {\n      \"name\": \"agac467510f\",\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg92866410c/providers/Microsoft.Network/applicationGateways/agac467510f\",\n      \"etag\": \"W/\\\"fc030357-5989-4db4-9985-52a3d1f9b6ca\\\"\",\n      \"type\": \"Microsoft.Network/applicationGateways\",\n      \"location\": \"eastus\",\n      \"tags\": {},\n      \"properties\": {\n        \"provisioningState\": \"Updating\",\n        \"resourceGuid\"[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rg573?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"eastus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1172"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg573\",\n  \"name\": \"rg573\",\n  \"location\": \"eastus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg573/providers/Microsoft.Network/publicIPAddresses/pipa573?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/301666e6-fdec-4077-8320-1d254847fa33?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1171"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"pipa573\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg573/providers/Microsoft.Network/publicIPAddresses/pipa573\",\n  \"etag\": \"W/\\\"2f471b9f-8a3c-484a-b9bd-bc7c07228c90\\\"\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Updating\",\n    \"resourceGuid\": \"d70a09e7-1d3c-4294-ad7a-4a739d0a6e22\",\n    \"publicIPAddressVersion\": \"IPv4\",\n    \"publicIPAllocationMethod\": \"Dynamic\",\n    \"idleTimeoutInMinutes\": 4,\n    \"ipTags\": []\n  },\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\": \"Regional\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg573/providers/Microsoft.Network/publicIPAddresses/pipb573?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOpera[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/301666e6-fdec-4077-8320-1d254847fa33?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11898"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"status\": \"Succeeded\"\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg573/providers/Microsoft.Network/publicIPAddresses/pipa573?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"117ef8b1-c69e-4a8f-8085-f553a81fae52\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11897"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"pipa573\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg573/providers/Microsoft.Network/publicIPAddresses/pipa573\",\n  \"etag\": \"W/\\\"117ef8b1-c69e-4a8f-8085-f553a81fae52\\\"\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceGuid\": \"d70a09e7-1d3c-4294-ad7a-4a739d0a6e22\",\n    \"publicIPAddressVersion\": \"IPv4\",\n    \"publicIPAllocationMethod\": \"Dynamic\",\n    \"idleTimeoutInMinutes\": 4,\n    \"ipTags\": []\n  },\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\": \"Regional\"\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg573/providers/Microsoft.Network/virtualNetworks/net573?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"10.0.0.0/28\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"properties\": {\n          \"addressPrefix\": \"10.0.0.0/29\"\n        },\n        \"name\": \"subnet1\"\n      },\n      {\n        \"properties\": {\n          \"addressPrefix\": \"10.0.0.8/29\"\n        },\n        \"name\": \"subnet2\"\n      }\n    ]\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
       [...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg573/providers/Microsoft.Network/applicationGateways/ag573?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"sku\": {\n      \"name\": \"Standard_Medium\",\n      \"tier\": \"Standard\",\n      \"capacity\": 2\n    },\n    \"gatewayIPConfigurations\": [\n      {\n        \"properties\": {\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg573/providers/Microsoft.Network/virtualNetworks/net573/subnets/subnet1\"\n          }\n        },\n        \"name\": \"ipcfg19774\"\n      }\n    ],\n    \"authenticationCertificates\": [\n      {\n        \"properties\": {\n          \"data\": \"MIICwzCCAaugAwIBAgIEAeU3rDANBgkqhkiG9w0BAQsFADASMRAwDgYDVQQDEwdteUNlcnQyMB4XDTE2MTExMzE4NDkyOVoXDTI2MTExMTE4NDkyOVowEjEQMA4GA1UEAxMHbXlDZXJ0MjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKoFamQIOH3rawbj8cClxT5t7qfOlnJC7zOApTUOvIPYvRq7jA/Q0SqSKgNSNYhdQDN4qFwbLDDYI2GKu/Woc41IjPq22G65CHT065yfm71I0EkBPqMylX7O3ROvcUqL5qhIsYRq8vHxRDkakFtF8XDCnBt5h5O5Z7M71Vrk/y+qQXhW3Mv0iCYGWgR6RXAXB9akVOYMRpFRl9JtRr3eqauw/Y2H+7qN0KO+NhHD466blyV2n7GbV4WAs/3Ef4Hn2YWFNqBWaHGAiB/J7JkzoXIiJLdibnbbsySsUPqJLEjgSKoGUMW5Hv3Rq[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg573/providers/Microsoft.Network/applicationGateways/ag573?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"e26e2fd7-05a0-40eb-bcb4-b2427e4ef0d2\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11735"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"ag573\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg573/providers/Microsoft.Network/applicationGateways/ag573\",\n  \"etag\": \"W/\\\"e26e2fd7-05a0-40eb-bcb4-b2427e4ef0d2\\\"\",\n  \"type\": \"Microsoft.Network/applicationGateways\",\n  \"location\": \"eastus\",\n  \"tags\": {\n    \"tag1\": \"value1\",\n    \"tag2\": \"value2\"\n  },\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceGuid\": \"fa9b267a-0a99-4d9e-9cde-cc4f41df9dd6\",\n    \"sku\": {\n      \"name\": \"Standard_Small\",\n      \"tier\": \"Standard\",\n      \"capacity\": 1\n    },\n    \"operationalState\": \"Running\",\n    \"gatewayIPConfigurations\": [\n      {\n        \"name\": \"ipcfg19774\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg573/providers/Microsoft.Network/applicationGateways/ag573/gatewayIPConfigurations/ipcfg19774\",\n        \"etag\": \"W/\\\"e26e2fd7-05a0-40eb-bcb4-b2427e4ef0d2\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Succeeded\",\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg573/providers/Microsoft.Network/virtualNetworks/net573/subnets/subnet1\"\n          }\n        }\n      }\n    ],\n    \"sslCertificates\": [\n      {\n        \"name\": \"cert65676\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg573/providers/Microsoft.Network/applicationGateways/ag573/sslCertificates/cert65676\",\n        \"etag\": \"W/\\\"e26e2fd7-05a0-40eb-bcb4-b2427e4ef0d2\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Succeeded\",\n          \"publicCertData\": \"MIIC8AYJKoZIhvcNAQcCoIIC4TCCAt0CAQExADALBgkqhkiG9w0BBwGgggLFMIICwTCCAamgAwIBAgIEJk52uDANBgkqhkiG9w0BAQsFADARMQ8wDQYDVQQDEwZteVRlc3QwHhcNMTYxMTEyMDExMzI2WhcNMjYxMTEwMDExMzI2WjARMQ8wDQYDVQQDEwZteVRlc3QwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCbnzJF3c+/scbgRynsixxmWl3GdZiQHvoAcUbWeGdl1uo0RT6Xy8BCKdXCBQoYmxng3XbvSKdbvPe2bkGT9A08qU8yUqT0bEIqW5FBgx5dEsw4Tx+n9p7QhJMaw6X54VuJUbyUp4DZvTle99n00jGHpt6TBwjoEI6sDOS7XnenY9YR1GXDcM3qWbvIWTrzJaqys1RgSbxgcRILn885VZZLuuyjU6WhJQFfx/i3GXKT3ZP8rU3e6d7q0PjVAKyFw[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg573/providers/Microsoft.Network/applicationGateways/ag573?api-version=2018-04-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operationResults/1d03ab02-6fcb-445f-8113-ab45bb93e511?api-version=2018-04-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/1d03ab02-6fcb-445f-8113-ab45bb93e511?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operationResults/1d03ab02-6fcb-445f-8113-ab45bb93e511?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operationResults/1d03ab02-6fcb-445f-8113-ab45bb93e511?api-version=2018-04-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/1d03ab02-6fcb-445f-8113-ab45bb93e511?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11714"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rg573?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzU3My1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14997"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {
    ".ctor": [
      "4624"
    ],
    "PrivateComplex": [
      "573",
      "listener60125",
      "port09516",
      "frontend39614",
      "backcfg23389",
      "backendaa3318689a",
      "listener99657",
      "port37785",
      "cert65676",
      "listener15658",
      "port92355",
      "port79006",
      "cert26240617983f",
      "ipcfg19774",
      "frontend85556"
    ]
  },
  "Variables": {
    "ServicePrincipal": "39e3d217-cb72-4b90-8532-394a7e784d93",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}