{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/applicationGateways?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ag7696\",\r\n      \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696\",\r\n      \"etag\": \"W/\\\"ee67ce2b-c482-4ca8-897a-fbff8b22d4b8\\\"\",\r\n      \"type\": \"Microsoft.Network/applicationGateways\",\r\n      \"location\": \"eastus\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"73389a29-add9-446a-b2de-1155742da235\",\r\n        \"sku\": {\r\n          \"name\": \"WAF_v2\",\r\n          \"tier\": \"WAF_v2\"\r\n        },\r\n        \"operationalState\": \"Running\",\r\n        \"gatewayIPConfigurations\": [\r\n          {\r\n            \"name\": \"ipcfg68902\",\r\n            \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/gatewayIPConfigurations/ipcfg68902\",\r\n            \"etag\": \"W/\\\"ee67ce2b-c482-4ca8-897a-fbff8b22d4b8\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"subnet\": {\r\n                \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/virtualNetworks/vnet90670/subnets/default\"\r\n              }\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n          }\r\n        ],\r\n        \"sslCertificates\": [\r\n          {\r\n            \"name\": \"cert58379\",\r\n            \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/sslCertificates/cert58379\",\r\n            \"etag\": \"W/\\\"ee67ce2b-c482-4ca8-897a-fbff8b22d4b8\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"publicCertData\": \"MIIC8AYJKoZIhvcNAQcCoIIC4TCCAt0CAQExADALBgkqhkiG9w0BBwGgggLFMIICwTCCAamgAwIBAgIEJk52uDANBgkqhkiG9w0BAQsFADARMQ8wDQYDVQQDEwZteVRlc3QwHhcNMTYxMTEyMDExMzI2WhcNMjYxMTEwMDExMzI2WjARMQ8wDQYDVQQDEwZteVRlc3QwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCbnzJF3c+/scbgRynsixxmWl3GdZiQHvoAcUbWeGdl1uo0RT6Xy8BCKdXCBQoYmxng3XbvSKdbvPe2bkGT9A08qU8yUqT0bEIqW5FBgx5dEsw4Tx+n9p7QhJMaw6X54VuJUbyUp4DZvTle99n00jGHpt6TBwjoEI6sDOS7XnenY9YR1GXDcM3qWbvIWTrzJaqys1RgSbxgcRILn885VZZLuuyjU6WhJQFfx/i3GXKT3ZP8rU3e6d7q0PjVAKyFwaMNVeU4VmDi7knGhyC84IYo1OFKsAcSVCaxdSQbOGaexvFaj2jjoKfvY3dn4ioo3yIzSMJglfMAHHX/xzTkx27lAgMBAAGjITAfMB0GA1UdDgQWBBSCQubqxdIPUu/PEWqRlSXpKLFuqTANBgkqhkiG9w0BAQsFAAOCAQEACp6YCKt8FjkPunlCIJPVYxRYQ3st7G/JF2y90EiPZW8LsB8QS/GPrchBaZdOi1SMLkDvS2Bz37unJK7YF6X/IXmgacCJJcNyWr/0IuDT4f0hu3T+Xyfe0TUxVIC4Cb8icw5IpF2EagVacERTZGB/u38Y77Fa3JRSx4wZnsHTmP4JSKuOxRZknDw5/gHGHfHr+9nycNJ7IHrYKKCEEgkhDUvUax3fN3TWyZapR98S+RQaJ3rLaNiNqVjuGrbHjReQikTtZwCtlpM8VHoviyyTUE7xkekM2p4YhDpDZDN+i2OgUKsSKmDwrZTC732D0G7r80fl96ezNM9O7qh457ihVDEA\",\r\n              \"httpListeners\": [\r\n                {\r\n                  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/httpListeners/listener67963\"\r\n                }\r\n              ]\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/sslCertificates\"\r\n          }\r\n        ],\r\n        \"trustedRootCertificates\": [],\r\n        \"trustedClientCertificates\": [],\r\n        \"sslProfiles\": [],\r\n        \"frontendIPConfigurations\": [\r\n          {\r\n            \"name\": \"frontend39965\",\r\n            \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/frontendIPConfigurations/frontend39965\",\r\n            \"etag\": \"W/\\\"ee67ce2b-c482-4ca8-897a-fbff8b22d4b8\\\"\",\r\n            \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"privateIPAllocationMethod\": \"Dynamic\",\r\n              \"publicIPAddress\": {\r\n                \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/publicIPAddresses/pip1430\"\r\n              },\r\n              \"httpListeners\": [\r\n                {\r\n                  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/httpListeners/listener67963\"\r\n                }\r\n              ]\r\n            }\r\n          }\r\n        ],\r\n        \"frontendPorts\": [\r\n          {\r\n            \"name\": \"port28432\",\r\n            \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/frontendPorts/port28432\",\r\n            \"etag\": \"W/\\\"ee67ce2b-c482-4ca8-897a-fbff8b22d4b8\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"port\": 443,\r\n              \"httpListeners\": [\r\n                {\r\n                  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/httpListeners/listener67963\"\r\n                }\r\n              ]\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\r\n          }\r\n        ],\r\n        \"backendAddressPools\": [\r\n          {\r\n            \"name\": \"backendec130319eb\",\r\n            \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/backendAddressPools/backendec130319eb\",\r\n            \"etag\": \"W/\\\"ee67ce2b-c482-4ca8-897a-fbff8b22d4b8\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"backendAddresses\": [\r\n                {\r\n                  \"ipAddress\": \"11.1.1.1\"\r\n                },\r\n                {\r\n                  \"ipAddress\": \"11.1.1.2\"\r\n                }\r\n              ],\r\n              \"requestRoutingRules\": [\r\n                {\r\n                  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/requestRoutingRules/rule1\"\r\n                }\r\n              ]\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/backendAddressPools\"\r\n          }\r\n        ],\r\n        \"loadDistributionPolicies\": [],\r\n        \"backendHttpSettingsCollection\": [\r\n          {\r\n            \"name\": \"backcfg09229\",\r\n            \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/backendHttpSettingsCollection/backcfg09229\",\r\n            \"etag\": \"W/\\\"ee67ce2b-c482-4ca8-897a-fbff8b22d4b8\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"port\": 8080,\r\n              \"protocol\": \"Http\",\r\n              \"cookieBasedAffinity\": \"Disabled\",\r\n              \"pickHostNameFromBackendAddress\": false,\r\n              \"requestTimeout\": 30,\r\n              \"requestRoutingRules\": [\r\n                {\r\n                  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/requestRoutingRules/rule1\"\r\n                }\r\n              ]\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/backendHttpSettingsCollection\"\r\n          }\r\n        ],\r\n        \"httpListeners\": [\r\n          {\r\n            \"name\": \"listener67963\",\r\n            \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/httpListeners/listener67963\",\r\n            \"etag\": \"W/\\\"ee67ce2b-c482-4ca8-897a-fbff8b22d4b8\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"frontendIPConfiguration\": {\r\n                \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/frontendIPConfigurations/frontend39965\"\r\n              },\r\n              \"frontendPort\": {\r\n                \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/frontendPorts/port28432\"\r\n              },\r\n              \"protocol\": \"Https\",\r\n              \"sslCertificate\": {\r\n                \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/sslCertificates/cert58379\"\r\n              },\r\n              \"hostNames\": [],\r\n              \"requireServerNameIndication\": false,\r\n              \"requestRoutingRules\": [\r\n                {\r\n                  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/requestRoutingRules/rule1\"\r\n                }\r\n              ]\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/httpListeners\"\r\n          }\r\n        ],\r\n        \"urlPathMaps\": [],\r\n        \"requestRoutingRules\": [\r\n          {\r\n            \"name\": \"rule1\",\r\n            \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/requestRoutingRules/rule1\",\r\n            \"etag\": \"W/\\\"ee67ce2b-c482-4ca8-897a-fbff8b22d4b8\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"ruleType\": \"Basic\",\r\n              \"httpListener\": {\r\n                \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/httpListeners/listener67963\"\r\n              },\r\n              \"backendAddressPool\": {\r\n                \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/backendAddressPools/backendec130319eb\"\r\n              },\r\n              \"backendHttpSettings\": {\r\n                \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg7696/providers/Microsoft.Network/applicationGateways/ag7696/backendHttpSettingsCollection/backcfg09229\"\r\n              }\r\n            },\r\n            \"type\": \"Microsoft.Network/applicationGateways/requestRoutingRules\"\r\n          }\r\n        ],\r\n        \"probes\": [],\r\n        \"rewriteRuleSets\": [],\r\n        \"redirectConfigurations\": [],\r\n        \"webApplicationFirewallConfiguration\": {\r\n          \"enabled\": true,\r\n          \"firewallMode\": \"Prevention\",\r\n          \"ruleSetType\": \"OWASP\",\r\n          \"ruleSetVersion\": \"3.0\",\r\n          \"disabledRuleGroups\": [],\r\n          \"requestBodyCheck\": true,\r\n          \"maxRequestBodySizeInKb\": 128,\r\n          \"fileUploadLimitInMb\": 100\r\n        },\r\n        \"autoscaleConfiguration\": {\r\n          \"minCapacity\": 2,\r\n          \"maxCapacity\": 5\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourcegroups/rg8891?api-version=2021-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg8891\",\r\n  \"name\": \"rg8891\",\r\n  \"type\": \"Microsoft.Resources/resourceGroups\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg8891/providers/Microsoft.Network/publicIPAddresses/pipb8891?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/eastus/operations/1f9abe88-6206-4810-bd71-72108e338645?api-version=2019-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pipb8891\",\r\n  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg8891/providers/Microsoft.Network/publicIPAddresses/pipb8891\",\r\n  \"etag\": \"W/\\\"be1c9400-1648-44c8-8249-3b538d063683\\\"\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"1a2b699c-cb87-4b38-b915-0984a4d3e76b\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/eastus/operations/1f9abe88-6206-4810-bd71-72108e338645?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11748"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg8891/providers/Microsoft.Network/publicIPAddresses/pipb8891?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"02e60ff4-b43a-4ecb-a5fb-52c9e054b857\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11747"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pipb8891\",\r\n  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg8891/providers/Microsoft.Network/publicIPAddresses/pipb8891\",\r\n  \"etag\": \"W/\\\"02e60ff4-b43a-4ecb-a5fb-52c9e054b857\\\"\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"1a2b699c-cb87-4b38-b915-0984a4d3e76b\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg8891/providers/Microsoft.Network/publicIPAddresses/pipa8891?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-As[...]
[...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg8891/providers/Microsoft.Network/virtualNetworks/vnet66686?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/24\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/25\"\r\n        },\r\n        \"name\": \"default\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.128/25\"\r\n        },\r\n        \"name\": \"apps\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure[...]
[...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg8891/providers/Microsoft.Network/applicationGateways/ag8891?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"sslPolicy\": {\r\n      \"disabledSslProtocols\": [\r\n        \"TLSv1_0\",\r\n        \"TLSv1_1\"\r\n      ]\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg8891/providers/Microsoft.Network/virtualNetworks/vnet66686/subnets/default\"\r\n          }\r\n        },\r\n        \"name\": \"ipcfg15922\"\r\n      }\r\n    ],\r\n    \"sslCertificates\": [\r\n      {\r\n        \"properties\": {\r\n          \"data\": \"MIIJpAIBAzCCCV4GCSqGSIb3DQEHAaCCCU8EgglLMIIJRzCCBYwGCSqGSIb3DQEHAaCCBX0EggV5MIIFdTCCBXEGCyqGSIb3DQEMCgECoIIE+jCCBPYwKAYKKoZIhvcNAQwBAzAaBBTAk6K6zBkWhuHTMdIS6zsm744NXwICBAAEggTIc+pQVk2X0CH6NccYKsvM4YzuQAiUBxvicZzB+Il/BGRrK0V93+uqAGZR/tnZ3ukpETnnkKSZEbGwiOyuAGbJA4x2DYNKSPThbyNv2bYdTdB0RoA9celOLh6Y2z3V2SAHmTaaLzQQZ7IAqedA9W4Zqt0bFLIREV/IvzbEw4/OWqBr2B2ER9I3FTWwEcHtsq/3BPHQE7Hr1DZ/yZDw9D4f55GBCohDIUzWsnMHOBuBJHksJN0HR6w95CUVvXeyXe0QGwU4Pvatwmd9ZZJ8x2XXrwyHjGHdK4DkuvRXd+4qYzw9aBanZl31i6SzyaHMeMscU[...]
[...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg8891/providers/Microsoft.Network/applicationGateways/ag8891?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"dca7812a-3cce-4968-82ba-4269352c7bbd\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11838"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ag8891\",\r\n  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg8891/providers/Microsoft.Network/applicationGateways/ag8891\",\r\n  \"etag\": \"W/\\\"dca7812a-3cce-4968-82ba-4269352c7bbd\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"tag1\": \"value1\",\r\n    \"tag2\": \"value2\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"7dd58c6d-3e93-43ed-8dbb-24e49297de17\",\r\n    \"sku\": {\r\n      \"name\": \"Standard_Small\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 1\r\n    },\r\n    \"operationalState\": \"Running\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ipcfg15922\",\r\n        \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg88[...]
[...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg8891/providers/Microsoft.Network/applicationGateways/ag8891?api-version=2019-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/eastus/operationResults/dcf18ad2-bdfb-4bc7-a46c-2b59b97219af?api-version=2019-09-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/eastus/operations/dcf18ad2-bdfb-4bc7-a46c-2b59b97219af?api-version=2019-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/eastus/operationResults/dcf18ad2-bdfb-4bc7-a46c-2b59b97219af?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/eastus/operationResults/dcf18ad2-bdfb-4bc7-a46c-2b59b97219af?api-version=2019-09-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/eastus/operations/dcf18ad2-bdfb-4bc7-a46c-2b59b97219af?api-version=2019-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11829"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourcegroups/rg8891?api-version=2021-01-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzg4OTEtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2019-08-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {
    ".ctor": [
      "3441"
    ],
    "PublicComplex": [
      "8891",
      "listener45111",
      "port82876",
      "frontend00347",
      "backcfg15386",
      "backendf3f70929e9",
      "listener15236",
      "port19791",
      "cert35966",
      "port38982",
      "cert29107",
      "ipcfg15922",
      "vnet66686"
    ]
  },
  "Variables": {
    "ServicePrincipal": "f95af6c4-6bb0-46be-945d-307f2410f6ca",
    "AADTenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "SubscriptionId": "ec0aa5f7-9e78-40c9-85cd-535c6305b380"
  }
}