{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourcegroups/rgf3d615400?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgf3d615400\",\r\n  \"name\": \"rgf3d615400\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgf3d615400/providers/Microsoft.Network/virtualNetworks/vnet74082?api-version=2017-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/24\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/25\"\r\n        },\r\n        \"name\": \"default\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.128/25\"\r\n        },\r\n        \"name\": \"apps\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vnet74082\",\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgf3d615400/providers/Microsoft.Network/virtualNetworks/vnet74082\",\r\n  \"etag\": \"W/\\\"7697a7ca-5e1f-4044-a920-8d7c5cbf20b4\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"8c6c5b7f-cc3a-453e-8383-4e4a7b79f543\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/24\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"default\",\r\n        \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgf3d615400/providers/Microsoft.Network/virtualNetworks/vnet74082/subnets/default\",\r\n        \"etag\": \"W/\\\"7697a7ca-5e1f-4044-a920-8d7c5cbf20b4\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.0.0/25\"\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"apps\",\r\n        \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgf3d615400/providers/Microsoft.Network/virtualNetworks/vnet74082/subnets/apps\",\r\n        \"etag\": \"W/\\\"7697a7ca-5e1f-4044-a920-8d7c5cbf20b4\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.0.128/25\"\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operations/abcfd920-d648-40a4-8683-f75dbbaaad28?api-version=2017-08-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operations/abcfd920-d648-40a4-8683-f75dbbaaad28?api-version=2017-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgf3d615400/providers/Microsoft.Network/applicationGateways/ag5435693560?api-version=2017-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Standard_Small\",\r\n      \"capacity\": 1\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgf3d615400/providers/Microsoft.Network/virtualNetworks/vnet74082/subnets/default\"\r\n          }\r\n        },\r\n        \"name\": \"ipcfg45506\"\r\n      }\r\n    ],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgf3d615400/providers/Microsoft.Network/virtualNetworks/vnet74082/subnets/default\"\r\n          }\r\n        },\r\n        \"name\": \"frontend95170\"\r\n      }\r\n    ],\r\n    \"frontendPorts\": [\r\n      {\r\n        \"properties\": {\r\n          \"port\": 80\r\n        },\r\n        \"name\": \"port87156\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"properties\": {\r\n          \"backendAddresses\": [\r\n            {\r\n              \"ipAddress\": \"11.1.1.1\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"11.1.1.2\"\r\n            }\r\n          ]\r\n        },\r\n        \"name\": \"backend31423\"\r\n      }\r\n    ],\r\n    \"backendHttpSettingsCollection\": [\r\n      {\r\n        \"properties\": {\r\n          \"port\": 8080\r\n        },\r\n        \"name\": \"backcfg15513\"\r\n      }\r\n    ],\r\n    \"httpListeners\": [\r\n      {\r\n        \"properties\": {\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgf3d615400/providers/Microsoft.Network/applicationGateways/ag5435693560/frontendIPConfigurations/frontend95170\"\r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgf3d615400/providers/Microsoft.Network/applicationGateways/ag5435693560/frontendPorts/port87156\"\r\n          },\r\n          \"protocol\": \"Http\"\r\n        },\r\n        \"name\": \"listener01221\"\r\n      }\r\n    ],\r\n    \"requestRoutingRules\": [\r\n      {\r\n        \"properties\": {\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgf3d615400/providers/Microsoft.Network/applicationGateways/ag5435693560/backendAddressPools/backend31423\"\r\n          },\r\n          \"backendHttpSettings\": {\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgf3d615400/providers/Microsoft.Network/applicationGateways/ag5435693560/backendHttpSettingsCollection/backcfg15513\"\r\n          },\r\n          \"httpListener\": {\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgf3d615400/providers/Microsoft.Network/applicationGateways/ag5435693560/HTTPListeners/listener01221\"\r\n          }\r\n        },\r\n        \"name\": \"rule1\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ag5435693560\",\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgf3d615400/providers/Microsoft.Network/applicationGateways/ag5435693560\",\r\n  \"etag\": \"W/\\\"822dc8b5-66d7-41df-9a59-319d65a7b7ec\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"aeb39fb5-83d4-4493-8640-00bf65c4c341\",\r\n    \"sku\": {\r\n      \"name\": \"Standard_Small\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 1\r\n    },\r\n    \"operationalState\": \"Stopped\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ipcfg45506\",\r\n        \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgf3d615400/providers/Microsoft.Network/applicationGateways/ag5435693560/gatewayIPConfigurations/ipcfg45506\",\r\n        \"etag\": \"W/\\\"822dc8b5-66d7-41df-9a59-319d65a7b7ec\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgf3d615400/providers/Microsoft.Network/virtualNetworks/vnet74082/subnets/default\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"authenticationCertificates\": [],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"frontend95170\",\r\n        \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgf3d615400/providers/Microsoft.Network/applicationGateways/ag5435693560/frontendIPConfigurations/frontend95170\",\r\n        \"etag\": \"W/\\\"822dc8b5-66d7-41df-9a59-319d65a7b7ec\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"privateIPAllocationMethod\": \"Dyna[...]
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgf3d615400/providers/Microsoft.Network/applicationGateways/ag5435693560/stop?api-version=2017-08-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operationResults/db843ae4-8613-4075-89c7-1073e9b99c35?api-version=2017-08-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operations/db843ae4-8613-4075-89c7-1073e9b99c35?api-version=2017-08-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgf3d615400/providers/Microsoft.Network/applicationGateways/ag5435693560/start?api-version=2017-08-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operationResults/ed21a86d-29f2-45ec-be33-9161a020105d?api-version=2017-08-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Network/locations/eastus/operations/ed21a86d-29f2-45ec-be33-9161a020105d?api-version=2017-08-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourcegroups/rgf3d615400?api-version=2016-02-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR0YzRDYxNTQwMC1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2016-02-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {
    "StartStop": [
      "rgf3d615400",
      "ag5435693560",
      "listener01221",
      "port87156",
      "frontend95170",
      "backcfg15513",
      "backend31423",
      "ipcfg45506",
      "vnet74082"
    ]
  },
  "Variables": {
    "ServicePrincipal": "c49b355d-adab-44ef-9141-54401c159b5e",
    "AADTenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "SubscriptionId": "1c638cf4-608f-4ee6-b680-c329e824c3a8"
  }
}