{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourcegroups/rgnemv_03e9541547b7?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7\",\r\n  \"name\": \"rgnemv_03e9541547b7\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/providers/Microsoft.DomainRegistration/topLevelDomains/com/listAgreements?api-version=2018-02-01",
      "RequestMethod": "POST",
      "RequestBody": "{}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"agreementKey\": \"DNRA\",\r\n      \"title\": \"Domain Name Registration Agreement\",\r\n      \"content\": \"<table width=\\\"100%\\\">\\n<tbody>\\n<tr><td width=\\\"100\\\"></td><td></td></tr>\\n<tr><td></td><td>\\n<table>\\n<tbody>\\n<tr><th align=\\\"left\\\" class=\\\"EULATitle\\\">\\nDomain Name Registration Agreement\\n</th></tr>\\n<tr><td class=\\\"bodyText\\\">\\n<p><strong>Last Revised: June 27, 2018</strong></p>\\n<p style=\\\"text-align: justify;\\\"><strong>PLEASE READ THIS AGREEMENT CAREFULLY, AS IT CONTAINS IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS AND REMEDIES.</strong></p>\\n<p style=\\\"text-align: justify;\\\"><strong>1. OVERVIEW</strong></p>\\n<p style=\\\"text-align: justify;\\\">This Domain Name Registration Agreement (this \\\"<span style=\\\"text-decoration: underline;\\\">Agreement</span>\\\") is entered into by and between <span class=\\\"legal-token-legal-entity\\\">Microsoft Azure</span> an individual (\\\"<span style=\\\"text-decoration: underline;\\\"><span class=\\\"legal-token-displayName\\\">Azure</span></span>) and you, and is made effective as of the date of electronic acceptance.&nbsp; This Agreement sets forth the terms and conditions of your use of <span class=\\\"legal-token-displayName\\\">Azure</span>'s Do[...]
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.DomainRegistration/domains/jsdkdemo-a88628279.com?api-version=2018-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"contactAdmin\": {\r\n      \"addressMailing\": {\r\n        \"address1\": \"123 4th Ave\",\r\n        \"city\": \"Redmond\",\r\n        \"country\": \"US\",\r\n        \"postalCode\": \"98052\",\r\n        \"state\": \"WA\"\r\n      },\r\n      \"email\": \"jondoe@contoso.com\",\r\n      \"nameFirst\": \"Jon\",\r\n      \"nameLast\": \"Doe\",\r\n      \"phone\": \"+1.4258828080\"\r\n    },\r\n    \"contactBilling\": {\r\n      \"addressMailing\": {\r\n        \"address1\": \"123 4th Ave\",\r\n        \"city\": \"Redmond\",\r\n        \"country\": \"US\",\r\n        \"postalCode\": \"98052\",\r\n        \"state\": \"WA\"\r\n      },\r\n      \"email\": \"jondoe@contoso.com\",\r\n      \"nameFirst\": \"Jon\",\r\n      \"nameLast\": \"Doe\",\r\n      \"phone\": \"+1.4258828080\"\r\n    },\r\n    \"contactRegistrant\": {\r\n      \"addressMailing\": {\r\n        \"address1\": \"123 4th Ave\",\r\n        \"city\": \"Redmond\",\r\n        \"country\": \"US\",\r\n        \"postalCode\": \"98052\",\r\n        \"state\": \"WA\"\r\n      },\r\n      \"email\": \"jondoe@contoso.com\",\r\n      \"nameFirst\": \"Jon\",\r\n      \"nameLast\": \"Doe\",\r\n      \"phone\": \"+1.4258828080\"\r\n    },\r\n    \"contactTech\": {\r\n      \"addressMailing\": {\r\n        \"address1\": \"123 4th Ave\",\r\n        \"city\": \"Redmond\",\r\n        \"country\": \"US\",\r\n        \"postalCode\": \"98052\",\r\n        \"state\": \"WA\"\r\n      },\r\n      \"email\": \"jondoe@contoso.com\",\r\n      \"nameFirst\": \"Jon\",\r\n      \"nameLast\": \"Doe\",\r\n      \"phone\": \"+1.4258828080\"\r\n    },\r\n    \"privacy\": true,\r\n    \"autoRenew\": false,\r\n    \"consent\": {\r\n      \"agreementKeys\": [\r\n        \"DNRA\"\r\n      ],\r\n      \"agreedBy\": \"127.0.0.1\",\r\n      \"agreedAt\": \"0001-01-01T00:00:00Z\"\r\n    }\r\n  },\r\n  \"location\": \"global\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.DomainRegistration/domains/jsdkdemo-a88628279.com/operationresults/4f5c45a1-e740-4206-8b61-9291571692f5?api-version=2018-02-01"
        ],
        "Retry-After": [
          "30"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.DomainRegistration/domains/jsdkdemo-a88628279.com/operationresults/4f5c45a1-e740-4206-8b61-9291571692f5?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.DomainRegistration/domains/jsdkdemo-a88628279.com/operationresults/4f5c45a1-e740-4206-8b61-9291571692f5?api-version=2018-02-01"
        ],
        "Retry-After": [
          "30"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.DomainRegistration/domains/jsdkdemo-a88628279.com/operationresults/4f5c45a1-e740-4206-8b61-9291571692f5?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.DomainRegistration/domains/jsdkdemo-a88628279.com\",\r\n  \"name\": \"jsdkdemo-a88628279.com\",\r\n  \"type\": \"Microsoft.DomainRegistration/domains\",\r\n  \"location\": \"global\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"registrationStatus\": \"Active\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"nameServers\": [\r\n      \"ns03.domaincontrol.com\",\r\n      \"ns04.domaincontrol.com\"\r\n    ],\r\n    \"privacy\": true,\r\n    \"createdTime\": \"2018-10-24T18:16:08\",\r\n    \"expirationTime\": \"2019-10-24T18:16:08\",\r\n    \"autoRenew\": true,\r\n    \"readyForDnsRecordManagement\": true,\r\n    \"managedHostNames\": [],\r\n    \"domainNotRenewableReasons\": [\r\n      \"ExpirationNotInRenewalTimeRange\"\r\n    ],\r\n    \"dnsType\": \"DefaultDomainRegistrarDns\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/serverfarms/jplan1_1f235142?api-version=2018-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"reserved\": true\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"B1\",\r\n    \"tier\": \"Basic\",\r\n    \"size\": \"B1\"\r\n  },\r\n  \"kind\": \"linux\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/serverfarms/jplan1_1f235142\",\r\n  \"name\": \"jplan1_1f235142\",\r\n  \"type\": \"Microsoft.Web/serverfarms\",\r\n  \"kind\": \"linux\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"serverFarmId\": 14743,\r\n    \"name\": \"jplan1_1f235142\",\r\n    \"workerSize\": \"Default\",\r\n    \"workerSizeId\": 0,\r\n    \"workerTierName\": null,\r\n    \"numberOfWorkers\": 1,\r\n    \"currentWorkerSize\": \"Default\",\r\n    \"currentWorkerSizeId\": 0,\r\n    \"currentNumberOfWorkers\": 1,\r\n    \"status\": \"Ready\",\r\n    \"webSpace\": \"rgnemv_03e9541547b7-WestUSwebspace\",\r\n    \"subscription\": \"c549f475-dee8-428c-bb19-829a55e52f77\",\r\n    \"adminSiteName\": null,\r\n    \"hostingEnvironment\": null,\r\n    \"hostingEnvironmentProfile\": null,\r\n    \"maximumNumberOfWorkers\": 3,\r\n    \"planName\": \"VirtualDedicatedPlan\",\r\n    \"adminRuntimeSiteName\": null,\r\n    \"computeMode\": \"Dedicated\",\r\n    \"siteMode\": null,\r\n    \"geoRegion\": \"West US\",\r\n    \"perSiteScaling\": false,\r\n    \"numberOfSites\": 0,\r\n    \"hostingEnvironmentId\": null,\r\n    \"isSpot\": false,\r\n    \"spotExpirationTime\": null,\r\n    \"freeOfferExpirationTime\": \"2018-11-23T23:17:24.6066667\",\r\n    \"tags\": {},\r\n    \"kind\": \"linux\",\r\n    \"resourceGroup\": \"rgnemv_03e9541547b7\",\r\n    \"reserved\": true,\r\n    \"isXenon\": false,\r\n    \"mdmId\": \"waws-prod-bay-081_14743\",\r\n    \"targetWorkerCount\": 0,\r\n    \"targetWorkerSizeId\": 0,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"webSiteId\": null\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"B1\",\r\n    \"tier\": \"Basic\",\r\n    \"size\": \"B1\",\r\n    \"family\": \"B\",\r\n    \"capacity\": 1\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/sites/webapp1-31860215cc?api-version=2018-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"serverFarmId\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/serverfarms/jplan1_1f235142\",\r\n    \"reserved\": true,\r\n    \"siteConfig\": {}\r\n  },\r\n  \"kind\": \"app,linux\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1D46BEFDCDB43A0\""
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "499"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/sites/webapp1-31860215cc\",\r\n  \"name\": \"webapp1-31860215cc\",\r\n  \"type\": \"Microsoft.Web/sites\",\r\n  \"kind\": \"app,linux\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"name\": \"webapp1-31860215cc\",\r\n    \"state\": \"Running\",\r\n    \"hostNames\": [\r\n      \"webapp1-31860215cc.azurewebsites.net\"\r\n    ],\r\n    \"webSpace\": \"rgnemv_03e9541547b7-WestUSwebspace\",\r\n    \"selfLink\": \"https://waws-prod-bay-081.api.azurewebsites.windows.net:454/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/webspaces/rgnemv_03e9541547b7-WestUSwebspace/sites/webapp1-31860215cc\",\r\n    \"repositorySiteName\": \"webapp1-31860215cc\",\r\n    \"owner\": null,\r\n    \"usageState\": \"Normal\",\r\n    \"enabled\": true,\r\n    \"adminEnabled\": true,\r\n    \"enabledHostNames\": [\r\n      \"webapp1-31860215cc.azurewebsites.net\",\r\n      \"webapp1-31860215cc.scm.azurewebsites.net\"\r\n    ],\r\n    \"siteProperties\": {\r\n      \"metadata\": null,\r\n      \"properties\": [\r\n        {\r\n          \"name\": \"LinuxFxVersion\",\r\n          \"value\": \"\"\r\n        },\r\n        {\r\n          \"name\": \"WindowsFxVersion\",\r\n          \"value\": null\r\n        }\r\n      ],\r\n      \"appSettings\": null\r\n    },\r\n    \"availabilityState\": \"Normal\",\r\n    \"sslCertificates\": null,\r\n    \"csrs\": [],\r\n    \"cers\": null,\r\n    \"siteMode\": null,\r\n    \"hostNameSslStates\": [\r\n      {\r\n        \"name\": \"webapp1-31860215cc.azurewebsites.net\",\r\n        \"sslState\": \"Disabled\",\r\n        \"ipBasedSslResult\": null,\r\n        \"virtualIP\": null,\r\n        \"thumbprint\": null,\r\n        \"toUpdate\": null,\r\n        \"toUpdateIpBasedSsl\": null,\r\n        \"ipBasedSslState\": \"NotConfigured\",\r\n        \"hostType\": \"Standard\"\r\n      },\r\n      {\r\n        \"name\": \"webapp1-31860215cc.scm.azurewebsites.net\",\r\n        \"sslState\": \"Disabled\",\r\n        \"ipBasedSslResult\": null,\r\n        \"virtualIP\": null,\r\n        \"thumbprint\": null,\r\n        \"toUpdate\": null,\r\n        \"toUpdateIpBasedSsl\": null,\r\n        \"ipBasedSslState\": \"NotConfigured\",\r\n        \"hostType\": \"Repository\"\r\n      }\r\n    ],\r\n    \"computeMode\": null,\r\n    \"serverFarm\": null,\r\n    \"serverFarmId\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/serverfarms/jplan1_1f235142\",\r\n    \"reserved\": true,\r\n    \"isXenon\": false,\r\n    \"lastModifiedTimeUtc\": \"2018-10-24T23:18:24.3233333\",\r\n    \"storageRecoveryDefaultState\": \"Running\",\r\n    \"contentAvailabilityState\": \"Normal\",\r\n    \"runtimeAvailabilityState\": \"Normal\",\r\n    \"siteConfig\": null,\r\n    \"deploymentId\": \"webapp1-31860215cc\",\r\n    \"trafficManagerHostNames\": null,\r\n    \"sku\": \"Basic\",\r\n    \"scmSiteAlsoStopped\": false,\r\n    \"targetSwapSlot\": null,\r\n    \"hostingEnvironment\": null,\r\n    \"hostingEnvironmentProfile\": null,\r\n    \"clientAffinityEnabled\": true,\r\n    \"clientCertEnabled\": false,\r\n    \"hostNamesDisabled\": false,\r\n    \"domainVerificationIdentifiers\": null,\r\n    \"kind\": \"app,linux\",\r\n    \"outboundIpAddresses\": \"13.64.73.110,40.118.133.8,40.118.169.141,40.118.253.162,13.64.147.140\",\r\n    \"possibleOutboundIpAddresses\": \"13.64.73.110,40.118.133.8,40.118.169.141,40.118.253.162,13.64.147.140,52.160.85.217,13.93.238.69\",\r\n    \"containerSize\": 0,\r\n    \"dailyMemoryTimeQuota\": 0,\r\n    \"suspendedTill\": null,\r\n    \"siteDisabledReason\": 0,\r\n    \"functionExecutionUnitsCache\": null,\r\n    \"maxNumberOfWorkers\": null,\r\n    \"homeStamp\": \"waws-prod-bay-081\",\r\n    \"cloningInfo\": null,\r\n    \"hostingEnvironmentId\": null,\r\n    \"tags\": {},\r\n    \"resourceGroup\": \"rgnemv_03e9541547b7\",\r\n    \"defaultHostName\": \"webapp1-31860215cc.azurewebsites.net\",\r\n    \"slotSwapStatus\": null,\r\n    \"httpsOnly\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/sites/webapp1-31860215cc/hostNameBindings/webapp1-31860215cc.jsdkdemo-a88628279.com?api-version=2018-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"siteName\": \"webapp1-31860215cc\",\r\n    \"domainId\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.DomainRegistration/domains/jsdkdemo-a88628279.com\",\r\n    \"azureResourceName\": \"webapp1-31860215cc\",\r\n    \"azureResourceType\": \"Website\",\r\n    \"customHostNameDnsRecordType\": \"CName\",\r\n    \"hostNameType\": \"Managed\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1D46BEFDCDB43A0\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"Code\": \"DomainResellerWebService_INVALID_RECORDS\",\r\n  \"Message\": \"One or more of the given records is invalid\",\r\n  \"Target\": null,\r\n  \"Details\": [\r\n    {\r\n      \"Message\": \"One or more of the given records is invalid\"\r\n    },\r\n    {\r\n      \"Code\": \"DomainResellerWebService_INVALID_RECORDS\"\r\n    },\r\n    {\r\n      \"ErrorEntity\": [\r\n        {\r\n          \"code\": \"INVALID_RECORDS\",\r\n          \"message\": \"Invalid [ipaddress] provided for record data, [Parked].\",\r\n          \"path\": \"records\"\r\n        }\r\n      ]\r\n    }\r\n  ],\r\n  \"Innererror\": null\r\n}",
      "StatusCode": 400
    },
[...]
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/certificates/E4783AC0CA91DA625E310A0CCEFF8D413889115B%23%23westus%23?api-version=2018-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"pfxBlob\": \"MIIKMAIBAzCCCewGCSqGSIb3DQEHAaCCCd0EggnZMIIJ1TCCBg4GCSqGSIb3DQEHAaCCBf8EggX7MIIF9zCCBfMGCyqGSIb3DQEMCgECoIIE/jCCBPowHAYKKoZIhvcNAQwBAzAOBAgKzR4sioF0XgICB9AEggTYI6UPQfWLqY+qHft+K+5PakjBRGTbK7SGODa71c3Yah1ZkYtcjmRrqpyWxtuZN1dUGZMtrig5PBtu4fzmDAGHilc1TXJ2D51A++hjjaNYqPmSB7pSTc0VssgxhK3AxvbG1Uh9F7gEBM6EMs3bJKD0G7zoDG1YUlypKCe2NyJmo4bIk+JZ2RYN3vxjZTN99cSx1p6TEQ7V6yghYWf/GLeYNRUibDplIYgZbTDsNNXnOngPs0maF2yNyYOgAyvDFvFOVSh2u/oK2BfbXnSd2/WX+WbYwAjA/3p49XL/pBIFGScEFcfiYDZG1ky98gGOTSj34+NdyZG0Zq3e0t0Y2[...]
[...]
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/sites/webapp1-31860215cc/config/web?api-version=2018-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"nodeVersion\": \"4.5\",\r\n    \"linuxFxVersion\": \"NODE|4.5\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1D46BEFEF8343E0\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/sites/webapp1-31860215cc\",\r\n  \"name\": \"webapp1-31860215cc\",\r\n  \"type\": \"Microsoft.Web/sites\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"numberOfWorkers\": 1,\r\n    \"defaultDocuments\": [\r\n      \"Default.htm\",\r\n      \"Default.html\",\r\n      \"Default.asp\",\r\n      \"index.htm\",\r\n      \"index.html\",\r\n      \"iisstart.htm\",\r\n      \"default.aspx\",\r\n      \"index.php\",\r\n      \"hostingstart.html\"\r\n    ],\r\n    \"netFrameworkVersion\": \"v4.0\",\r\n    \"phpVersion\": \"\",\r\n    \"pythonVersion\": \"\",\r\n    \"nodeVersion\": \"4.5\",\r\n    \"linuxFxVersion\": \"NODE|4.5\",\r\n    \"windowsFxVersion\": null,\r\n    \"requestTracingEnabled\": false,\r\n    \"remoteDebuggingEnabled\": false,\r\n    \"remoteDebuggingVersion\": null,\r\n    \"httpLoggingEnabled\": false,\r\n    \"logsDirectorySizeLimit\": 35,\r\n    \"detailedErrorLoggingEnabled\": false,\r\n    \"publishingUsername\": \"$webapp1-31860215cc\",\r\n    \"publishingPassword\": null,\r\n    \"appSettings\": null,\r\n    \"azureStorageAccounts\": {},\r\n    \"metadata\": null,\r\n    \"connectionStrings\": null,\r\n    \"machineKey\": null,\r\n    \"handlerMappings\": null,\r\n    \"documentRoot\": null,\r\n    \"scmType\": \"None\",\r\n    \"use32BitWorkerProcess\": true,\r\n    \"webSocketsEnabled\": false,\r\n    \"alwaysOn\": false,\r\n    \"javaVersion\": null,\r\n    \"javaContainer\": null,\r\n    \"javaContainerVersion\": null,\r\n    \"appCommandLine\": \"\",\r\n    \"managedPipelineMode\": \"Integrated\",\r\n    \"virtualApplications\": [\r\n      {\r\n        \"virtualPath\": \"/\",\r\n        \"physicalPath\": \"site\\\\wwwroot\",\r\n        \"preloadEnabled\": false,\r\n        \"virtualDirectories\": null\r\n      }\r\n    ],\r\n    \"winAuthAdminState\": 0,\r\n    \"winAuthTenantState\": 0,\r\n    \"customAppPoolIdentityAdminState\": false,\r\n    \"customAppPoolIdentityTenantState\": false,\r\n    \"runtimeADUser\": null,\r\n    \"runtimeADUserPassword\": null,\r\n    \"loadBalancing\": \"LeastRequests\",\r\n    \"routingRules\": [],\r\n    \"experiments\": {\r\n      \"rampUpRules\": []\r\n    },\r\n    \"limits\": null,\r\n    \"autoHealEnabled\": false,\r\n    \"autoHealRules\": null,\r\n    \"tracingOptions\": null,\r\n    \"vnetName\": \"\",\r\n    \"siteAuthEnabled\": false,\r\n    \"siteAuthSettings\": {\r\n      \"enabled\": null,\r\n      \"unauthenticatedClientAction\": null,\r\n      \"tokenStoreEnabled\": null,\r\n      \"allowedExternalRedirectUrls\": null,\r\n      \"defaultProvider\": null,\r\n      \"clientId\": null,\r\n      \"clientSecret\": null,\r\n      \"issuer\": null,\r\n      \"allowedAudiences\": null,\r\n      \"additionalLoginParams\": null,\r\n      \"isAadAutoProvisioned\": false,\r\n      \"googleClientId\": null,\r\n      \"googleClientSecret\": null,\r\n      \"googleOAuthScopes\": null,\r\n      \"facebookAppId\": null,\r\n      \"facebookAppSecret\": null,\r\n      \"facebookOAuthScopes\": null,\r\n      \"twitterConsumerKey\": null,\r\n      \"twitterConsumerSecret\": null,\r\n      \"microsoftAccountClientId\": null,\r\n      \"microsoftAccountClientSecret\": null,\r\n      \"microsoftAccountOAuthScopes\": null\r\n    },\r\n    \"cors\": null,\r\n    \"push\": null,\r\n    \"apiDefinition\": null,\r\n    \"autoSwapSlotName\": null,\r\n    \"localMySqlEnabled\": false,\r\n    \"managedServiceIdentityId\": null,\r\n    \"xManagedServiceIdentityId\": null,\r\n    \"ipSecurityRestrictions\": null,\r\n    \"http20Enabled\": false,\r\n    \"minTlsVersion\": \"1.2\",\r\n    \"ftpsState\": \"AllAllowed\",\r\n    \"reservedInstanceCount\": 0\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/sites/webapp1-31860215cc/config/appsettings/list?api-version=2018-02-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/sites/webapp1-31860215cc/config/appsettings\",\r\n  \"name\": \"appsettings\",\r\n  \"type\": \"Microsoft.Web/sites/config\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {}\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/sites/webapp1-31860215cc/config/appsettings?api-version=2018-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {},\r\n  \"location\": \"West US\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1D46BEFF0088675\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1189"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/sites/webapp1-31860215cc/config/appsettings\",\r\n  \"name\": \"appsettings\",\r\n  \"type\": \"Microsoft.Web/sites/config\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {}\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/sites/webapp1-31860215cc/sourcecontrols/web?api-version=2018-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"repoUrl\": \"https://github.Com/jianghaolu/azure-site-test\",\r\n    \"branch\": \"master\",\r\n    \"isManualIntegration\": true,\r\n    \"isMercurial\": false\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1D46BF01ECC1000\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1188"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/sites/webapp1-31860215cc/sourcecontrols/web\",\r\n  \"name\": \"webapp1-31860215cc\",\r\n  \"type\": \"Microsoft.Web/sites/sourcecontrols\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"repoUrl\": \"https://github.Com/jianghaolu/azure-site-test\",\r\n    \"branch\": \"master\",\r\n    \"isManualIntegration\": true,\r\n    \"deploymentRollbackEnabled\": false,\r\n    \"isMercurial\": false,\r\n    \"provisioningState\": \"InProgress\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/sites/webapp1-31860215cc/sourcecontrols/web?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1D46BF01ECC1000\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/sites/webapp1-31860215cc/sourcecontrols/web\",\r\n  \"name\": \"webapp1-31860215cc\",\r\n  \"type\": \"Microsoft.Web/sites/sourcecontrols\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"repoUrl\": \"https://github.Com/jianghaolu/azure-site-test\",\r\n    \"branch\": \"master\",\r\n    \"isManualIntegration\": true,\r\n    \"deploymentRollbackEnabled\": false,\r\n    \"isMercurial\": false,\r\n    \"provisioningState\": \"InProgress\",\r\n    \"provisioningDetails\": \"2018-10-24T23:20:15.1566667 Ensuring ScmType\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/sites/webapp1-31860215cc/hostNameBindings?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1D46BF01ECC1000\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
     [...]
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/sites/webapp1-31860215cc/config/slotConfigNames?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": null,\r\n  \"name\": \"webapp1-31860215cc\",\r\n  \"type\": \"Microsoft.Web/sites\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"connectionStringNames\": null,\r\n    \"appSettingNames\": null,\r\n    \"azureStorageConfigNames\": null\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgnemv_03e9541547b7/providers/Microsoft.Web/sites/webapp1-31860215cc/config/connectionstrings/list?api-version=2018-02-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11997"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
[...]
