{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourcegroups/rgnemv_a3453945a8a9?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9\",\r\n  \"name\": \"rgnemv_a3453945a8a9\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/providers/Microsoft.DomainRegistration/topLevelDomains/com/listAgreements?api-version=2015-04-01",
      "RequestMethod": "POST",
      "RequestBody": "{}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"agreementKey\": \"DNRA\",\r\n      \"title\": \"Domain Name Registration Agreement\",\r\n      \"content\": \"<table width=\\\"100%\\\">\\n<tbody>\\n<tr><td width=\\\"100\\\"></td><td></td></tr>\\n<tr><td></td><td>\\n<table>\\n<tbody>\\n<tr><th align=\\\"left\\\" class=\\\"EULATitle\\\">\\nDomain Name Registration Agreement\\n</th></tr>\\n<tr><td class=\\\"bodyText\\\">\\n<p><strong>Last Revised: October 6, 2017</strong></p>\\n<p style=\\\"text-align: justify;\\\"><strong>PLEASE READ THIS AGREEMENT CAREFULLY, AS IT CONTAINS IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS AND REMEDIES.</strong></p>\\r\\n<p style=\\\"text-align: justify;\\\"><strong>1. OVERVIEW</strong></p>\\r\\n<p style=\\\"text-align: justify;\\\">This Domain Name Registration Agreement (this \\\"<span style=\\\"text-decoration: underline;\\\">Agreement</span>\\\") is entered into by and between 510456, an individual (\\\"<span style=\\\"text-decoration: underline;\\\">Azure</span>\\\") and you, and is made effective as of the date of electronic acceptance.&nbsp; This Agreement sets forth the terms and conditions of your use of Azure's Domain Name Registration services (the \\\"<span style=\\\"text-decoration: underline;\\\">Domain Name Registration Services</span>\\\" or the \\\"<span style=\[...]
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.DomainRegistration/domains/jsdkdemo-104747433.com?api-version=2015-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"contactAdmin\": {\r\n      \"addressMailing\": {\r\n        \"address1\": \"123 4th Ave\",\r\n        \"city\": \"Redmond\",\r\n        \"country\": \"US\",\r\n        \"postalCode\": \"98052\",\r\n        \"state\": \"WA\"\r\n      },\r\n      \"email\": \"jondoe@contoso.com\",\r\n      \"nameFirst\": \"Jon\",\r\n      \"nameLast\": \"Doe\",\r\n      \"phone\": \"+1.4258828080\"\r\n    },\r\n    \"contactBilling\": {\r\n      \"addressMailing\": {\r\n        \"address1\": \"123 4th Ave\",\r\n        \"city\": \"Redmond\",\r\n        \"country\": \"US\",\r\n        \"postalCode\": \"98052\",\r\n        \"state\": \"WA\"\r\n      },\r\n      \"email\": \"jondoe@contoso.com\",\r\n      \"nameFirst\": \"Jon\",\r\n      \"nameLast\": \"Doe\",\r\n      \"phone\": \"+1.4258828080\"\r\n    },\r\n    \"contactRegistrant\": {\r\n      \"addressMailing\": {\r\n        \"address1\": \"123 4th Ave\",\r\n        \"city\": \"Redmond\",\r\n        \"country\": \"US\",\r\n        \"postalCode\": \"98052\",\r\n        \"state\": \"WA\"\r\n      },\r\n      \"email\": \"jondoe@contoso.com\",\r\n      \"nameFirst\": \"Jon\",\r\n      \"nameLast\": \"Doe\",\r\n      \"phone\": \"+1.4258828080\"\r\n    },\r\n    \"contactTech\": {\r\n      \"addressMailing\": {\r\n        \"address1\": \"123 4th Ave\",\r\n        \"city\": \"Redmond\",\r\n        \"country\": \"US\",\r\n        \"postalCode\": \"98052\",\r\n        \"state\": \"WA\"\r\n      },\r\n      \"email\": \"jondoe@contoso.com\",\r\n      \"nameFirst\": \"Jon\",\r\n      \"nameLast\": \"Doe\",\r\n      \"phone\": \"+1.4258828080\"\r\n    },\r\n    \"privacy\": true,\r\n    \"autoRenew\": false,\r\n    \"consent\": {\r\n      \"agreementKeys\": [\r\n        \"DNRA\"\r\n      ],\r\n      \"agreedBy\": \"127.0.0.1\",\r\n      \"agreedAt\": \"0001-01-01T00:00:00Z\"\r\n    }\r\n  },\r\n  \"location\": \"global\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.DomainRegistration/domains/jsdkdemo-104747433.com/operationresults/5133af51-f8fd-45d1-b19a-ea543f0aeb9c?api-version=2015-04-01"
        ],
        "Retry-After": [
          "30"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.DomainRegistration/domains/jsdkdemo-104747433.com/operationresults/5133af51-f8fd-45d1-b19a-ea543f0aeb9c?api-version=2015-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.DomainRegistration/domains/jsdkdemo-104747433.com\",\r\n  \"name\": \"jsdkdemo-104747433.com\",\r\n  \"type\": \"Microsoft.DomainRegistration/domains\",\r\n  \"location\": \"global\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"registrationStatus\": \"Active\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"nameServers\": [\r\n      \"ns45.domaincontrol.com\",\r\n      \"ns46.domaincontrol.com\"\r\n    ],\r\n    \"privacy\": true,\r\n    \"createdTime\": \"2017-11-13T18:06:49\",\r\n    \"expirationTime\": \"2018-11-13T18:06:49\",\r\n    \"autoRenew\": true,\r\n    \"readyForDnsRecordManagement\": true,\r\n    \"managedHostNames\": [],\r\n    \"domainNotRenewableReasons\": [\r\n      \"ExpirationNotInRenewalTimeRange\"\r\n    ],\r\n    \"dnsType\": \"DefaultDomainRegistrarDns\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14994"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/serverfarms/jplan1_cdd92235?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"kind\": \"app\",\r\n  \"sku\": {\r\n    \"name\": \"B1\",\r\n    \"tier\": \"Basic\",\r\n    \"size\": \"B1\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/serverfarms/jplan1_cdd92235\",\r\n  \"name\": \"jplan1_cdd92235\",\r\n  \"type\": \"Microsoft.Web/serverfarms\",\r\n  \"kind\": \"app\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"serverFarmId\": 0,\r\n    \"name\": \"jplan1_cdd92235\",\r\n    \"workerSize\": \"Default\",\r\n    \"workerSizeId\": 0,\r\n    \"workerTierName\": null,\r\n    \"numberOfWorkers\": 1,\r\n    \"currentWorkerSize\": \"Default\",\r\n    \"currentWorkerSizeId\": 0,\r\n    \"currentNumberOfWorkers\": 1,\r\n    \"status\": \"Ready\",\r\n    \"webSpace\": \"rgnemv_a3453945a8a9-WestUSwebspace\",\r\n    \"subscription\": \"ffa52f27-be12-4cad-b1ea-c2c241b6cceb\",\r\n    \"adminSiteName\": null,\r\n    \"hostingEnvironment\": null,\r\n    \"hostingEnvironmentProfile\": null,\r\n    \"maximumNumberOfWorkers\": 3,\r\n    \"planName\": \"VirtualDedicatedPlan\",\r\n    \"adminRuntimeSiteName\": null,\r\n    \"computeMode\": \"Shared\",\r\n    \"siteMode\": null,\r\n    \"geoRegion\": \"West US\",\r\n    \"perSiteScaling\": false,\r\n    \"numberOfSites\": 0,\r\n    \"hostingEnvironmentId\": null,\r\n    \"isSpot\": false,\r\n    \"spotExpirationTime\": null,\r\n    \"tags\": {},\r\n    \"kind\": \"app\",\r\n    \"resourceGroup\": \"rgnemv_a3453945a8a9\",\r\n    \"reserved\": false,\r\n    \"mdmId\": \"waws-prod-bay-087_951\",\r\n    \"targetWorkerCount\": 0,\r\n    \"targetWorkerSizeId\": 0,\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"B1\",\r\n    \"tier\": \"Basic\",\r\n    \"size\": \"B1\",\r\n    \"family\": \"B\",\r\n    \"capacity\": 1\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/sites/webapp1-8be346597c?api-version=2016-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"kind\": \"app\",\r\n  \"properties\": {\r\n    \"serverFarmId\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/serverfarms/jplan1_cdd92235\",\r\n    \"siteConfig\": {}\r\n  },\r\n  \"location\": \"West US\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/sites/webapp1-8be346597c\",\r\n  \"name\": \"webapp1-8be346597c\",\r\n  \"type\": \"Microsoft.Web/sites\",\r\n  \"kind\": \"app\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"name\": \"webapp1-8be346597c\",\r\n    \"state\": \"Running\",\r\n    \"hostNames\": [\r\n      \"webapp1-8be346597c.azurewebsites.net\"\r\n    ],\r\n    \"webSpace\": \"rgnemv_a3453945a8a9-WestUSwebspace\",\r\n    \"selfLink\": \"https://waws-prod-bay-087.api.azurewebsites.windows.net:454/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/webspaces/rgnemv_a3453945a8a9-WestUSwebspace/sites/webapp1-8be346597c\",\r\n    \"repositorySiteName\": \"webapp1-8be346597c\",\r\n    \"owner\": null,\r\n    \"usageState\": \"Normal\",\r\n    \"enabled\": true,\r\n    \"adminEnabled\": true,\r\n    \"enabledHostNames\": [\r\n      \"webapp1-8be346597c.azurewebsites.net\",\r\n      \"webapp1-8be346597c.scm.azurewebsites.net\"\r\n    ],\r\n    \"siteProperties\": {\r\n      \"metadata\": null,\r\n      \"properties\": [],\r\n      \"appSettings\": null\r\n    },\r\n    \"availabilityState\": \"Normal\",\r\n    \"sslCertificates\": null,\r\n    \"csrs\": [],\r\n    \"cers\": null,\r\n    \"siteMode\": null,\r\n    \"hostNameSslStates\": [\r\n      {\r\n        \"name\": \"webapp1-8be346597c.azurewebsites.net\",\r\n        \"sslState\": \"Disabled\",\r\n        \"ipBasedSslResult\": null,\r\n        \"virtualIP\": null,\r\n        \"thumbprint\": null,\r\n        \"toUpdate\": null,\r\n        \"toUpdateIpBasedSsl\": null,\r\n        \"ipBasedSslState\": \"NotConfigured\",\r\n        \"hostType\": \"Standard\"\r\n      },\r\n      {\r\n        \"name\": \"webapp1-8be346597c.scm.azurewebsites.net\",\r\n        \"sslState\": \"Disabled\",\r\n        \"ipBasedSslResult\": null,\r\n        \"virtualIP\": null,\r\n        \"thumbprint\": null,\r\n        \"toUpdate\": null,\r\n        \"toUpdateIpBasedSsl\": null,\r\n        \"ipBasedSslState\": \"NotConfigured\",\r\n        \"hostType\": \"Repository\"\r\n      }\r\n    ],\r\n    \"computeMode\": null,\r\n    \"serverFarm\": null,\r\n    \"serverFarmId\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/serverfarms/jplan1_cdd92235\",\r\n    \"reserved\": false,\r\n    \"lastModifiedTimeUtc\": \"2017-11-13T23:08:02.22\",\r\n    \"storageRecoveryDefaultState\": \"Running\",\r\n    \"contentAvailabilityState\": \"Normal\",\r\n    \"runtimeAvailabilityState\": \"Normal\",\r\n    \"siteConfig\": null,\r\n    \"deploymentId\": \"webapp1-8be346597c\",\r\n    \"trafficManagerHostNames\": null,\r\n    \"sku\": \"Basic\",\r\n    \"scmSiteAlsoStopped\": false,\r\n    \"targetSwapSlot\": null,\r\n    \"hostingEnvironment\": null,\r\n    \"hostingEnvironmentProfile\": null,\r\n    \"clientAffinityEnabled\": true,\r\n    \"clientCertEnabled\": false,\r\n    \"hostNamesDisabled\": false,\r\n    \"domainVerificationIdentifiers\": null,\r\n    \"kind\": \"app\",\r\n    \"outboundIpAddresses\": \"40.83.145.50,104.42.191.8,104.42.186.112,104.42.186.44,104.42.187.158\",\r\n    \"possibleOutboundIpAddresses\": \"40.83.145.50,104.42.191.8,104.42.186.112,104.42.186.44,104.42.187.158,104.42.188.168,104.42.185.137\",\r\n    \"containerSize\": 0,\r\n    \"dailyMemoryTimeQuota\": 0,\r\n    \"suspendedTill\": null,\r\n    \"siteDisabledReason\": 0,\r\n    \"functionExecutionUnitsCache\": null,\r\n    \"maxNumberOfWorkers\": null,\r\n    \"homeStamp\": \"waws-prod-bay-087\",\r\n    \"cloningInfo\": null,\r\n    \"snapshotInfo\": null,\r\n    \"hostingEnvironmentId\": null,\r\n    \"tags\": {},\r\n    \"resourceGroup\": \"rgnemv_a3453945a8a9\",\r\n    \"defaultHostName\": \"webapp1-8be346597c.azurewebsites.net\",\r\n    \"slotSwapStatus\": null,\r\n    \"httpsOnly\": false\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "ETag": [
          "\"1D35CD4417DDF2B\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/sites/webapp1-8be346597c/hostNameBindings/webapp1-8be346597c.jsdkdemo-104747433.com?api-version=2016-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"siteName\": \"webapp1-8be346597c\",\r\n    \"domainId\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.DomainRegistration/domains/jsdkdemo-104747433.com\",\r\n    \"azureResourceName\": \"webapp1-8be346597c\",\r\n    \"azureResourceType\": \"Website\",\r\n    \"customHostNameDnsRecordType\": \"CName\",\r\n    \"hostNameType\": \"Managed\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/sites/webapp1-8be346597c/hostNameBindings/webapp1-8be346597c.jsdkdemo-104747433.com\",\r\n  \"name\": \"webapp1-8be346597c/webapp1-8be346597c.jsdkdemo-104747433.com\",\r\n  \"type\": \"Microsoft.Web/sites/hostNameBindings\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"siteName\": \"webapp1-8be346597c\",\r\n    \"domainId\": null,\r\n    \"azureResourceName\": \"webapp1-8be346597c\",\r\n    \"azureResourceType\": \"Website\",\r\n    \"customHostNameDnsRecordType\": \"CName\",\r\n    \"hostNameType\": \"Managed\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "ETag": [
          "\"1D35CD4417DDF2B\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/certificates/61709002F0F3197D75E3B7AD3F7F7FE95888414C%23%23westus%23?api-version=2016-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"pfxBlob\": \"MIIKMAIBAzCCCewGCSqGSIb3DQEHAaCCCd0EggnZMIIJ1TCCBg4GCSqGSIb3DQEHAaCCBf8EggX7MIIF9zCCBfMGCyqGSIb3DQEMCgECoIIE/jCCBPowHAYKKoZIhvcNAQwBAzAOBAh5HE7IdKey+gICB9AEggTYQTonDHeKixd/dsykzmOVTrd73jnbPov4FSEStDZSIdr4Zgx6/hexQsU+lXobatD/Mg2McXQ48DV+6ISLGTgXd0C18EhQ0+rFZiWST2x4V+EkqKPz/HfUqryblio+6OBZ/dJAVTl2nKpAiy5ImRL+aTYCRR//19OH2gnvC206jkdVaRWaGpeN0vZUQQ8NjWXHqeC1mhZkaFSgKdJUuGAdp7BN5vBKFjRvr2BNUp8jb3sgSgV8LF/B3axHcoMmNAp6+cuZn7nU1EHOGUiRnqzuf2Z9jLvibawE0g0cyK6S2ymNmaQ7r4jubwoyanWQRgWCDdVUvqrMRrEYDSdzZ[...]
[...]
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/sites/webapp1-8be346597c/sourcecontrols/web?api-version=2016-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"repoUrl\": \"https://github.Com/jianghaolu/azure-site-test\",\r\n    \"branch\": \"master\",\r\n    \"isManualIntegration\": true,\r\n    \"isMercurial\": false\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/sites/webapp1-8be346597c/sourcecontrols/web\",\r\n  \"name\": \"webapp1-8be346597c\",\r\n  \"type\": \"Microsoft.Web/sites/sourcecontrols\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"repoUrl\": \"https://github.Com/jianghaolu/azure-site-test\",\r\n    \"branch\": \"master\",\r\n    \"isManualIntegration\": true,\r\n    \"deploymentRollbackEnabled\": false,\r\n    \"isMercurial\": false,\r\n    \"provisioningState\": \"InProgress\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "ETag": [
          "\"1D35CD46EFA5CC0\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/sites/webapp1-8be346597c/sourcecontrols/web?api-version=2016-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/sites/webapp1-8be346597c/sourcecontrols/web\",\r\n  \"name\": \"webapp1-8be346597c\",\r\n  \"type\": \"Microsoft.Web/sites/sourcecontrols\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"repoUrl\": \"https://github.Com/jianghaolu/azure-site-test\",\r\n    \"branch\": \"master\",\r\n    \"isManualIntegration\": true,\r\n    \"deploymentRollbackEnabled\": false,\r\n    \"isMercurial\": false,\r\n    \"provisioningState\": \"InProgress\",\r\n    \"provisioningDetails\": \"2017-11-13T23:09:52.1719235 https://webapp1-8be346597c.scm.azurewebsites.net/api/deployments/latest?deployer=GitHub&time=2017-11-13_23-09-33Z\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "ETag": [
          "\"1D35CD46EFA5CC0\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/sites/webapp1-8be346597c/hostNameBindings?api-version=2016-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/sites/webapp1-8be346597[...]
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/sites/webapp1-8be346597c/config/appsettings/list?api-version=2016-08-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/sites/webapp1-8be346597c/config/appsettings\",\r\n  \"name\": \"appsettings\",\r\n  \"type\": \"Microsoft.Web/sites/config\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"WEBSITE_NODE_DEFAULT_VERSION\": \"6.9.1\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/sites/webapp1-8be346597c/config/slotConfigNames?api-version=2016-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": null,\r\n  \"name\": \"webapp1-8be346597c\",\r\n  \"type\": \"Microsoft.Web/sites\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"connectionStringNames\": null,\r\n    \"appSettingNames\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/sites/webapp1-8be346597c/config/connectionstrings/list?api-version=2016-08-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/sites/webapp1-8be346597c/config/connectionstrings\",\r\n  \"name\": \"connectionstrings\",\r\n  \"type\": \"Microsoft.Web/sites/config\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {}\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11998"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/certificates/61709002F0F3197D75E3B7AD3F7F7FE95888414C%23%23westeurope%23?api-version=2016-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"pfxBlob\": \"MIIKMAIBAzCCCewGCSqGSIb3DQEHAaCCCd0EggnZMIIJ1TCCBg4GCSqGSIb3DQEHAaCCBf8EggX7MIIF9zCCBfMGCyqGSIb3DQEMCgECoIIE/jCCBPowHAYKKoZIhvcNAQwBAzAOBAh5HE7IdKey+gICB9AEggTYQTonD[...]
[...]
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/certificates/61709002F0F3197D75E3B7AD3F7F7FE95888414C%23%23eastasia%23?api-version=2016-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"pfxBlob\": \"MIIKMAIBAzCCCewGCSqGSIb3DQEHAaCCCd0EggnZMIIJ1TCCBg4GCSqGSIb3DQEHAaCCBf8EggX7MIIF9zCCBfMGCyqGSIb3DQEMCgECoIIE/jCCBPowHAYKKoZIhvcNAQwBAzAOBAh5HE7IdKey+gICB9AEggTYQTonDHe[...]
[...]
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Network/trafficmanagerprofiles/jsdktm-2c888501eb?api-version=2017-05-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"trafficRoutingMethod\": \"Weighted\",\r\n    \"dnsConfig\": {\r\n      \"relativeName\": \"jsdktm-2c888501eb\",\r\n      \"ttl\": 300\r\n    },\r\n    \"monitorConfig\": {\r\n      \"protocol\": \"http\",\r\n      \"port\": 80,\r\n      \"path\": \"/\"\r\n    },\r\n    \"endpoints\": []\r\n  },\r\n  \"location\": \"global\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Network/trafficManagerProfiles/jsdktm-2c888501eb\",\r\n  \"name\": \"jsdktm-2c888501eb\",\r\n  \"type\": \"Microsoft.Network/trafficManagerProfiles\",\r\n  \"location\": \"global\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"profileStatus\": \"Enabled\",\r\n    \"trafficRoutingMethod\": \"Weighted\",\r\n    \"dnsConfig\": {\r\n      \"relativeName\": \"jsdktm-2c888501eb\",\r\n      \"fqdn\": \"jsdktm-2c888501eb.trafficmanager.net\",\r\n      \"ttl\": 300\r\n    },\r\n    \"monitorConfig\": {\r\n      \"profileMonitorStatus\": \"Inactive\",\r\n      \"protocol\": \"HTTP\",\r\n      \"port\": 80,\r\n      \"path\": \"/\",\r\n      \"intervalInSeconds\": 30,\r\n      \"toleratedNumberOfFailures\": 3,\r\n      \"timeoutInSeconds\": 10\r\n    },\r\n    \"endpoints\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "10799"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Network/trafficmanagerprofiles/jsdktm-2c888501eb/azureEndpoints/endpoint3?api-version=2017-05-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"targetResourceId\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/sites/webapp3-bd099739f4\",\r\n    \"endpointStatus\": \"Enabled\",\r\n    \"weight\": 1\r\n  },\r\n  \"name\": \"endpoint3\",\r\n  \"type\": \"Microsoft.Network/trafficManagerProfiles/azureEndpoints\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Network/trafficManagerProfiles/jsdktm-2c888501eb/azureEndpoints/endpoint3\",\r\n  \"name\": \"endpoint3\",\r\n  \"type\": \"Microsoft.Network/trafficManagerProfiles/azureEndpoints\",\r\n  \"properties\": {\r\n    \"endpointStatus\": \"Enabled\",\r\n    \"endpointMonitorStatus\": \"CheckingEndpoint\",\r\n    \"targetResourceId\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/sites/webapp3-bd099739f4\",\r\n    \"target\": \"webapp3-bd099739f4.azurewebsites.net\",\r\n    \"weight\": 1,\r\n    \"priority\": 1,\r\n    \"endpointLocation\": \"East Asia\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1178"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/serverFarms/jplan1_cdd92235/operationresults/2231002c-ae4e-4bb5-8721-35100a3d31cf?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgnemv_a3453945a8a9/providers/Microsoft.Web/serverfarms/jp[...]
[...]
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR05FTVY6NUZBMzQ1Mzk0NUE4QTktV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR05FTVY6NUZBMzQ1Mzk0NUE4QTktV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-02-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR05FTVY6NUZBMzQ1Mzk0NUE4QTktV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14984"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "ManageWebAppWithTrafficManagerTest": [
      "rgnemv_a3453945a8a9",
      "webapp1-8be346597c",
      "webapp2-b0c9695533",
[...]
