{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgbf184843?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgbf184843\",\r\n  \"name\": \"rgbf184843\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgbf184843/providers/Microsoft.Network/virtualNetworks/vnet09438?api-version=2018-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"192.168.200.0/24\"\r\n        },\r\n        \"name\": \"MySubnet\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"westus2\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vnet09438\",\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgbf184843/providers/Microsoft.Network/virtualNetworks/vnet09438\",\r\n  \"etag\": \"W/\\\"3e7c62a8-9ba1-45a7-8cfd-3e9e5f13e75b\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"d5058d2d-70cb-4b44-bbab-0d745f6b2fa0\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"MySubnet\",\r\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgbf184843/providers/Microsoft.Network/virtualNetworks/vnet09438/subnets/MySubnet\",\r\n        \"etag\": \"W/\\\"3e7c62a8-9ba1-45a7-8cfd-3e9e5f13e75b\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"192.168.200.0/24\"\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus2/operations/64f0bdfd-ecf2-4f40-a41f-e85e1b853de2?api-version=2018-02-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus2/operations/64f0bdfd-ecf2-4f40-a41f-e85e1b853de2?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgbf184843/providers/Microsoft.BatchAI/fileServers/fs2f95811987?api-version=2018-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"vmSize\": \"Standard_D1_v2\",\r\n    \"sshConfiguration\": {\r\n      \"userAccountSettings\": {\r\n        \"adminUserName\": \"tirekicker\",\r\n        \"adminUserPassword\": \"MyPassword!\"\r\n      }\r\n    },\r\n    \"dataDisks\": {\r\n      \"diskSizeInGB\": 10,\r\n      \"cachingType\": \"readwrite\",\r\n      \"diskCount\": 2,\r\n      \"storageAccountType\": \"Standard_LRS\"\r\n    },\r\n    \"subnet\": {\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgbf184843/providers/Microsoft.Network/virtualNetworks/vnet09438/subnets/MySubnet\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.BatchAI/locations/westus2/operationstatuses/22463149-4e01-465a-bda1-ec29b5048d5a?api-version=2018-03-01"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.BatchAI/locations/westus2/operationresults/22463149-4e01-465a-bda1-ec29b5048d5a?api-version=2018-03-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.BatchAI/locations/westus2/operationresults/22463149-4e01-465a-bda1-ec29b5048d5a?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.BatchAI/locations/westus2/operationresults/22463149-4e01-465a-bda1-ec29b5048d5a\",\r\n  \"name\": \"22463149-4e01-465a-bda1-ec29b5048d5a\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2018-04-12T22:18:47.947Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.BatchAI/locations/westus2/operationresults/22463149-4e01-465a-bda1-ec29b5048d5a?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.BatchAI/locations/westus2/operationresults/22463149-4e01-465a-bda1-ec29b5048d5a\",\r\n  \"name\": \"22463149-4e01-465a-bda1-ec29b5048d5a\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2018-04-12T22:18:47.947Z\",\r\n  \"endTime\": \"2018-04-12T22:23:15.213Z\",\r\n  \"properties\": {\r\n    \"resourceId\": \"0b1f6471-1bf0-4dda-aec3-cb9272f09590$rgbf184843$fs2f95811987\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14953"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgbf184843/providers/Microsoft.BatchAI/fileServers/fs2f95811987?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgbf184843/providers/Microsoft.BatchAI/fileservers/fs2f95811987\",\r\n  \"name\": \"fs2f95811987\",\r\n  \"type\": \"Microsoft.BatchAI/FileServers\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"succeeded\",\r\n    \"creationTime\": \"2018-04-12T22:18:47.947Z\",\r\n    \"provisioningStateTransitionTime\": \"2018-04-12T22:23:15.197Z\",\r\n    \"vmSize\": \"Standard_D1_v2\",\r\n    \"sshConfiguration\": {\r\n      \"userAccountSettings\": {\r\n        \"adminUserName\": \"tirekicker\"\r\n      }\r\n    },\r\n    \"dataDisks\": {\r\n      \"diskSizeInGB\": 10,\r\n      \"cachingType\": \"readwrite\",\r\n      \"diskCount\": 2,\r\n      \"storageAccountType\": \"Standard_LRS\"\r\n    },\r\n    \"subnet\": {\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgbf184843/providers/Microsoft.Network/virtualNetworks/vnet09438/subnets/MySubnet\"\r\n    },\r\n    \"mountSettings\": {\r\n      \"mountPoint\": \"/data\",\r\n      \"fileServerPublicIP\": \"52.229.51.196\",\r\n      \"fileServerInternalIP\": \"192.168.200.4\",\r\n      \"fileServerType\": \"nfs\"\r\n    }\r\n  },\r\n  \"tags\": {}\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Last-Modified": [
          "Thu, 12 Apr 2018 22:18:47 GMT"
        ],
        "ETag": [
          "\"0x8D5A0C35CD758C2\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14952"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgbf184843?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR0JGMTg0ODQzLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {
    "CanCreateFileServer": [
      "rgbf184843",
      "vnet09438",
      "fs2f95811987"
    ]
  },
  "Variables": {
    "ServicePrincipal": "39e3d217-cb72-4b90-8532-394a7e784d93",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}