{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourcegroups/rgc4b42843?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgc4b42843\",\r\n  \"name\": \"rgc4b42843\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgc4b42843/providers/Microsoft.BatchAI/fileServers/fs0b86881506?api-version=2017-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"vmSize\": \"Standard_D1_v2\",\r\n    \"sshConfiguration\": {\r\n      \"userAccountSettings\": {\r\n        \"adminUserName\": \"tirekicker\",\r\n        \"adminUserPassword\": \"MyPassword!\"\r\n      }\r\n    },\r\n    \"dataDisks\": {\r\n      \"diskSizeInGB\": 10,\r\n      \"diskCount\": 2,\r\n      \"storageAccountType\": \"Standard_LRS\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/providers/Microsoft.BatchAI/locations/westus2/operationstatuses/55279b68-0d94-484e-8aa2-fe4353b8cce3?api-version=2017-09-01-preview"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/providers/Microsoft.BatchAI/locations/westus2/operationresults/55279b68-0d94-484e-8aa2-fe4353b8cce3?api-version=2017-09-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/providers/Microsoft.BatchAI/locations/westus2/operationresults/55279b68-0d94-484e-8aa2-fe4353b8cce3?api-version=2017-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"https://management.azure.com/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/providers/Microsoft.BatchAI/locations/westus2/operationresults/55279b68-0d94-484e-8aa2-fe4353b8cce3\",\r\n  \"name\": \"55279b68-0d94-484e-8aa2-fe4353b8cce3\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2018-01-18T20:35:31.809Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/providers/Microsoft.BatchAI/locations/westus2/operationresults/55279b68-0d94-484e-8aa2-fe4353b8cce3?api-version=2017-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"https://management.azure.com/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/providers/Microsoft.BatchAI/locations/westus2/operationresults/55279b68-0d94-484e-8aa2-fe4353b8cce3\",\r\n  \"name\": \"55279b68-0d94-484e-8aa2-fe4353b8cce3\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2018-01-18T20:35:31.809Z\",\r\n  \"endTime\": \"2018-01-18T20:38:12.334Z\",\r\n  \"properties\": {\r\n    \"resourceId\": \"c549f475-dee8-428c-bb19-829a55e52f77$rgc4b42843$fs0b86881506\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14975"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgc4b42843/providers/Microsoft.BatchAI/fileServers/fs0b86881506?api-version=2017-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/rgc4b42843/providers/Microsoft.BatchAI/fileservers/fs0b86881506\",\r\n  \"name\": \"fs0b86881506\",\r\n  \"type\": \"Microsoft.BatchAI/FileServers\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"succeeded\",\r\n    \"creationTime\": \"2018-01-18T20:35:31.793Z\",\r\n    \"provisioningStateTransitionTime\": \"2018-01-18T20:38:12.287Z\",\r\n    \"vmSize\": \"Standard_D1_v2\",\r\n    \"sshConfiguration\": {\r\n      \"userAccountSettings\": {\r\n        \"adminUserName\": \"tirekicker\"\r\n      }\r\n    },\r\n    \"dataDisks\": {\r\n      \"diskSizeInGB\": 10,\r\n      \"cachingType\": \"none\",\r\n      \"diskCount\": 2,\r\n      \"storageAccountType\": \"Standard_LRS\"\r\n    },\r\n    \"subnet\": {\r\n      \"id\": \"/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/resourceGroups/fileserverrg-ce63acf7-0675-41c2-90ee-1ae91cf0131c/providers/Microsoft.Network/virtualNetworks/ce63acf7-0675-41c2-90ee-1ae91cf0131cvnet/subnets/Subnet-1\"\r\n    },\r\n    \"mountSettings\": {\r\n      \"mountPoint\": \"/mnt/data\",\r\n      \"fileServerPublicIP\": \"40.65.114.145\",\r\n      \"fileServerInternalIP\": \"10.0.0.4\",\r\n      \"fileServerType\": \"nfs\"\r\n    }\r\n  },\r\n  \"tags\": {}\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Last-Modified": [
          "Thu, 18 Jan 2018 20:35:31 GMT"
        ],
        "ETag": [
          "\"0x8D55EB304F23FC9\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14974"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR0M0QjQyODQzLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR0M0QjQyODQzLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2016-02-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14973"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/c549f475-dee8-428c-bb19-829a55e52f77/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR0M0QjQyODQzLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14987"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "CanCreateFileServer": [
      "rgc4b42843",
      "cluster14f90516",
      "fs0b86881506"
    ]
  },
  "Variables": {
    "ServicePrincipal": "4c660ecb-cff1-401f-9d6e-047022d2b5e3",
    "AADTenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "SubscriptionId": "c549f475-dee8-428c-bb19-829a55e52f77"
  }
}