{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourcegroups/rg05991241?api-version=2021-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg05991241\",\r\n  \"name\": \"rg05991241\",\r\n  \"type\": \"Microsoft.Resources/resourceGroups\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg05991241/providers/Microsoft.BatchAI/workspaces/wsec259045?api-version=2018-05-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"0x8D77E233079445B\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Last-Modified": [
          "Wed, 11 Dec 2019 10:16:29 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg05991241/providers/Microsoft.BatchAI/workspaces/wsec259045\",\r\n  \"name\": \"wsec259045\",\r\n  \"type\": \"Microsoft.BatchAI/workspaces\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"succeeded\",\r\n    \"provisioningStateTransitionTime\": \"2019-12-11T10:16:29.842Z\",\r\n    \"creationTime\": \"2019-12-11T10:16:29.842Z\"\r\n  },\r\n  \"tags\": {}\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg05991241/providers/Microsoft.Network/virtualNetworks/vnet90153?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"192.168.200.0/24\"\r\n        },\r\n        \"name\": \"MySubnet\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"westus2\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/westus2/operations/a2c9923e-d9f1-4e56-b21a-293406132820?api-version=2019-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vnet90153\",\r\n  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg05991241/providers/Microsoft.Network/virtualNetworks/vnet90153\",\r\n  \"etag\": \"W/\\\"1b6cc847-eb80-42c4-94bb-32a0e54b7e56\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"e770e44a-b2dd-44b1-8ea6-10527f8b75a4\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"MySubnet\",\r\n        \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg05991241/providers/Microsoft.Network/virtualNetworks/vnet90153/subnets/MySubnet\",\r\n        \"etag\": \"W/\\\"1b6cc847-eb80-42c4-94bb-32a0e54b7e56\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"192.168.200.0/24\",\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/westus2/operations/a2c9923e-d9f1-4e56-b21a-293406132820?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11968"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg05991241/providers/Microsoft.BatchAI/workspaces/wsec259045/clusters/cluster99796928?api-version=2018-05-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"vmSize\": \"Standard_D1_v2\",\r\n    \"vmPriority\": \"lowpriority\",\r\n    \"scaleSettings\": {\r\n      \"autoScale\": {\r\n        \"minimumNodeCount\": 1,\r\n        \"maximumNodeCount\": 1\r\n      }\r\n    },\r\n    \"virtualMachineConfiguration\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"microsoft-ads\",\r\n        \"offer\": \"linux-data-science-vm-ubuntu\",\r\n        \"sku\": \"linuxdsvmubuntu\"\r\n      }\r\n    },\r\n    \"nodeSetup\": {\r\n      \"setupTask\": {\r\n        \"commandLine\": \"echo Hello World!\",\r\n        \"stdOutErrPathPrefix\": \"./outputpath\"\r\n      },\r\n      \"mountVolumes\": {\r\n        \"azureFileShares\": [\r\n          {\r\n            \"accountName\": \"sa55b31645a0\",\r\n            \"azureFileUrl\": \"dummy_uri\",\r\n            \"credentials\": {\r\n              \"accountKey\": \"dummy_key\"\r\n            },\r\n            \"relativeMountPath\": \"azurefileshare\"\r\n          }\r\n        ],\r\n        \"azureBlobFileSystems\": [\r\n          {\r\n            \"accountName\": \"sa55b31645a0\",\r\n            \"containerName\": \"mycontainer\",\r\n            \"credentials\": {\r\n              \"accountKey\": \"dummy_key\"\r\n            },\r\n            \"relativeMountPath\": \"myblobsystem\"\r\n          }\r\n        ]\r\n      },\r\n      \"performanceCountersSettings\": {\r\n        \"appInsightsReference\": {\r\n          \"component\": {\r\n            \"id\": \"appinsightsId\"\r\n          },\r\n          \"instrumentationKey\": \"appInsightsKey\"\r\n        }\r\n      }\r\n    },\r\n    \"userAccountSettings\": {\r\n      \"adminUserName\": \"tirekicker\",\r\n      \"adminUserPassword\": \"MGMT_PLACEHOLDER\"\r\n    },\r\n    \"subnet\": {\r\n      \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg05991241/providers/Microsoft.Network/virtualNetworks/vnet90153/subnets/MySubnet\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.BatchAI/locations/westus2/operationstatuses/0ca86535-b0fc-4058-b982-5eaf3429f3de?api-version=2018-05-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.BatchAI/locations/westus2/operationresults/0ca86535-b0fc-4058-b982-5eaf3429f3de?api-version=2018-05-01"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.BatchAI/locations/westus2/operationresults/0ca86535-b0fc-4058-b982-5eaf3429f3de?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.BatchAI/locations/westus2/operationresults/0ca86535-b0fc-4058-b982-5eaf3429f3de\",\r\n  \"name\": \"0ca86535-b0fc-4058-b982-5eaf3429f3de\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2019-12-11T10:16:42.146Z\",\r\n  \"endTime\": \"2019-12-11T10:16:44.347Z\",\r\n  \"properties\": {\r\n    \"resourceId\": \"ec0aa5f7-9e78-40c9-85cd-535c6305b380$rg05991241$wsec259045$cluster99796928\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg05991241/providers/Microsoft.BatchAI/workspaces/wsec259045/clusters/cluster99796928?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"0x8D77E2337CBF8B9\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Last-Modified": [
          "Wed, 11 Dec 2019 10:16:42 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg05991241/providers/Microsoft.BatchAI/workspaces/wsec259045/clusters/cluster99796928\",\r\n  \"name\": \"cluster99796928\",\r\n  \"type\": \"Microsoft.BatchAI/workspaces/clusters\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"succeeded\",\r\n    \"allocationState\": \"resizing\",\r\n    \"creationTime\": \"2019-12-11T10:16:42.128Z\",\r\n    \"allocationStateTransitionTime\": \"2019-12-11T10:16:42.128Z\",\r\n    \"provisioningStateTransitionTime\": \"2019-12-11T10:16:44.333Z\",\r\n    \"vmSize\": \"STANDARD_D1_V2\",\r\n    \"currentNodeCount\": 0,\r\n    \"nodeStateCounts\": {\r\n      \"runningNodeCount\": 0,\r\n      \"idleNodeCount\": 0,\r\n      \"unusableNodeCount\": 0,\r\n      \"preparingNodeCount\": 0,\r\n      \"leavingNodeCount\": 0\r\n    },\r\n    \"vmPriority\": \"lowpriority\",\r\n    \"scaleSettings\": {\r\n      \"autoScale\": {\r\n        \"minimumNodeCount\": 1,\r\n        \"maximumNodeCount\": 1,\r\n        \"initialNodeCount\": 1\r\n      }\r\n    },\r\n    \"virtualMachineConfiguration\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"microsoft-ads\",\r\n        \"offer\": \"linux-data-science-vm-ubuntu\",\r\n        \"sku\": \"linuxdsvmubuntu\",\r\n        \"version\": \"latest\"\r\n      }\r\n    },\r\n    \"userAccountSettings\": {\r\n      \"adminUserName\": \"tirekicker\"\r\n    },\r\n    \"nodeSetup\": {\r\n      \"setupTask\": {\r\n        \"commandLine\": \"echo Hello World!\",\r\n        \"stdOutErrPathPrefix\": \"./outputpath\",\r\n        \"stdOutErrPathSuffix\": \"ec0aa5f7-9e78-40c9-85cd-535c6305b380/rg05991241/workspaces/wsec259045/clusters/cluster99796928/3326edf9-0462-42fe-8bc2-bef08cc4cc98\"\r\n      },\r\n      \"mountVolumes\": {\r\n        \"azureFileShares\": [\r\n          {\r\n            \"accountName\": \"sa55b31645a0\",\r\n            \"azureFileUrl\": \"dummy_uri\",\r\n            \"credentials\": {},\r\n            \"relativeMountPath\": \"azurefileshare\",\r\n            \"fileMode\": \"0777\",\r\n            \"directoryMode\": \"0777\"\r\n          }\r\n        ],\r\n        \"azureBlobFileSystems\": [\r\n          {\r\n            \"accountName\": \"sa55b31645a0\",\r\n            \"containerName\": \"mycontainer\",\r\n            \"credentials\": {},\r\n            \"relativeMountPath\": \"myblobsystem\"\r\n          }\r\n        ]\r\n      },\r\n      \"performanceCountersSettings\": {\r\n        \"appInsightsReference\": {\r\n          \"component\": {\r\n            \"id\": \"appinsightsId\"\r\n          }\r\n        }\r\n      }\r\n    },\r\n    \"subnet\": {\r\n      \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg05991241/providers/Microsoft.Network/virtualNetworks/vnet90153/subnets/MySubnet\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourcegroups/rg05991241?api-version=2021-01-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzA1OTkxMjQxLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2019-08-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {
    "CreateUpdate": [
      "rg05991241",
      "wsec259045",
      "cluster99796928",
      "vnet90153",
      "sa55b31645a0"
    ]
  },
  "Variables": {
    "ServicePrincipal": "0a5612a4-bc9a-47ea-b5dd-b9280aca1b09",
    "AADTenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "SubscriptionId": "ec0aa5f7-9e78-40c9-85cd-535c6305b380"
  }
}