{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourcegroups/rgdnschash110?api-version=2021-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110\",\r\n  \"name\": \"rgdnschash110\",\r\n  \"type\": \"Microsoft.Resources/resourceGroups\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com?api-version=2018-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"zoneType\": \"Public\"\r\n  },\r\n  \"location\": \"global\",\r\n  \"tags\": {\r\n    \"a\": \"aa\",\r\n    \"b\": \"bb\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "00000002-0000-0000-181f-521aef89d501"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnszones/www.contoso-157.com\",\r\n  \"name\": \"www.contoso-157.com\",\r\n  \"type\": \"Microsoft.Network/dnszones\",\r\n  \"etag\": \"00000002-0000-0000-181f-521aef89d501\",\r\n  \"location\": \"global\",\r\n  \"tags\": {\r\n    \"a\": \"aa\",\r\n    \"b\": \"bb\"\r\n  },\r\n  \"properties\": {\r\n    \"maxNumberOfRecordSets\": 10000,\r\n    \"maxNumberOfRecordsPerRecordSet\": null,\r\n    \"nameServers\": [\r\n      \"ns1-06.azure-dns.com.\",\r\n      \"ns2-06.azure-dns.net.\",\r\n      \"ns3-06.azure-dns.org.\",\r\n      \"ns4-06.azure-dns.info.\"\r\n    ],\r\n    \"numberOfRecordSets\": 2,\r\n    \"zoneType\": \"Public\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/AAAA/www?api-version=2018-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"AAAARecords\": [\r\n      {\r\n        \"ipv6Address\": \"2001:0db8:85a3:0000:0000:8a2e:0370:7334\"\r\n      },\r\n      {\r\n        \"ipv6Address\": \"2002:0db9:85a4:0000:0000:8a2e:0371:7335\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "d4bd0dfc-6358-4afd-ba1d-3cfa122d9ccf"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnszones/www.contoso-157.com/AAAA/www\",\r\n  \"name\": \"www\",\r\n  \"type\": \"Microsoft.Network/dnszones/AAAA\",\r\n  \"etag\": \"d4bd0dfc-6358-4afd-ba1d-3cfa122d9ccf\",\r\n  \"properties\": {\r\n    \"fqdn\": \"www.www.contoso-157.com.\",\r\n    \"TTL\": 3600,\r\n    \"AAAARecords\": [\r\n      {\r\n        \"ipv6Address\": \"2001:0db8:85a3:0000:0000:8a2e:0370:7334\"\r\n      },\r\n      {\r\n        \"ipv6Address\": \"2002:0db9:85a4:0000:0000:8a2e:0371:7335\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/CNAME/documents?api-version=2018-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"CNAMERecord\": {\r\n      \"cname\": \"doc.contoso.com\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "74cae2b4-26bf-455e-a981-bef37434616b"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnszones/www.contoso-157.com/CNAME/documents\",\r\n  \"name\": \"documents\",\r\n  \"type\": \"Microsoft.Network/dnszones/CNAME\",\r\n  \"etag\": \"74cae2b4-26bf-455e-a981-bef37434616b\",\r\n  \"properties\": {\r\n    \"fqdn\": \"documents.www.contoso-157.com.\",\r\n    \"TTL\": 3600,\r\n    \"CNAMERecord\": {\r\n      \"cname\": \"doc.contoso.com\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/TXT/@?api-version=2018-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"TXTRecords\": [\r\n      {\r\n        \"value\": [\r\n          \"windows-apps-verification=2ZzjfideIJFLFje83\"\r\n        ]\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "fa99db23-607f-4d28-979e-7608edef18aa"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnszones/www.contoso-157.com/TXT/@\",\r\n  \"name\": \"@\",\r\n  \"type\": \"Microsoft.Network/dnszones/TXT\",\r\n  \"etag\": \"fa99db23-607f-4d28-979e-7608edef18aa\",\r\n  \"properties\": {\r\n    \"fqdn\": \"www.contoso-157.com.\",\r\n    \"TTL\": 3600,\r\n    \"TXTRecords\": [\r\n      {\r\n        \"value\": [\r\n          \"windows-apps-verification=2ZzjfideIJFLFje83\"\r\n        ]\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/CNAME/userguide?api-version=2018-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"CNAMERecord\": {\r\n      \"cname\": \"doc.contoso.com\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "787040fb-df25-4853-a380-20804506b5b1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnszones/www.contoso-157.com/CNAME/userguide\",\r\n  \"name\": \"userguide\",\r\n  \"type\": \"Microsoft.Network/dnszones/CNAME\",\r\n  \"etag\": \"787040fb-df25-4853-a380-20804506b5b1\",\r\n  \"properties\": {\r\n    \"fqdn\": \"userguide.www.contoso-157.com.\",\r\n    \"TTL\": 3600,\r\n    \"CNAMERecord\": {\r\n      \"cname\": \"doc.contoso.com\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/MX/email?api-version=2018-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"metadata\": {\r\n      \"mxa\": \"mxaa\",\r\n      \"mxb\": \"mxbb\"\r\n    },\r\n    \"TTL\": 3600,\r\n    \"MXRecords\": [\r\n      {\r\n        \"preference\": 1,\r\n        \"exchange\": \"mail.contoso-mail-exchange1.com\"\r\n      },\r\n      {\r\n        \"preference\": 2,\r\n        \"exchange\": \"mail.contoso-mail-exchange2.com\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "fc9a5990-8755-4b1f-9063-a2bc9fe1585a"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnszones/www.contoso-157.com/MX/email\",\r\n  \"name\": \"email\",\r\n  \"type\": \"Microsoft.Network/dnszones/MX\",\r\n  \"etag\": \"fc9a5990-8755-4b1f-9063-a2bc9fe1585a\",\r\n  \"properties\": {\r\n    \"metadata\": {\r\n      \"mxa\": \"mxaa\",\r\n      \"mxb\": \"mxbb\"\r\n    },\r\n    \"fqdn\": \"email.www.contoso-157.com.\",\r\n    \"TTL\": 3600,\r\n    \"MXRecords\": [\r\n      {\r\n        \"exchange\": \"mail.contoso-mail-exchange1.com\",\r\n        \"preference\": 1\r\n      },\r\n      {\r\n        \"exchange\": \"mail.contoso-mail-exchange2.com\",\r\n        \"preference\": 2\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/MX/email?api-version=2018-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"etag\": \"fc9a5990-8755-4b1f-9063-a2bc9fe1585a\",\r\n  \"properties\": {\r\n    \"metadata\": {\r\n      \"mxc\": \"mxcc\",\r\n      \"mxb\": \"mxbb\",\r\n      \"mxd\": \"mxdd\"\r\n    },\r\n    \"TTL\": 3600,\r\n    \"MXRecords\": [\r\n      {\r\n        \"preference\": 1,\r\n        \"exchange\": \"mail.contoso-mail-exchange1.com\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "01e29f17-a50e-4139-8840-33e095179dc8"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnszones/www.contoso-157.com/MX/email\",\r\n  \"name\": \"email\",\r\n  \"type\": \"Microsoft.Network/dnszones/MX\",\r\n  \"etag\": \"01e29f17-a50e-4139-8840-33e095179dc8\",\r\n  \"properties\": {\r\n    \"metadata\": {\r\n      \"mxc\": \"mxcc\",\r\n      \"mxb\": \"mxbb\",\r\n      \"mxd\": \"mxdd\"\r\n    },\r\n    \"fqdn\": \"email.www.contoso-157.com.\",\r\n    \"TTL\": 3600,\r\n    \"MXRecords\": [\r\n      {\r\n        \"exchange\": \"mail.contoso-mail-exchange1.com\",\r\n        \"preference\": 1\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/PTR/40?api-version=2018-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"PTRRecords\": [\r\n      {\r\n        \"ptrdname\": \"www.contoso.com\"\r\n      },\r\n      {\r\n        \"ptrdname\": \"mail.contoso.com\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "99547282-091e-4da2-8d8c-f0e184c09fc7"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnszones/www.contoso-157.com/PTR/40\",\r\n  \"name\": \"40\",\r\n  \"type\": \"Microsoft.Network/dnszones/PTR\",\r\n  \"etag\": \"99547282-091e-4da2-8d8c-f0e184c09fc7\",\r\n  \"properties\": {\r\n    \"fqdn\": \"40.www.contoso-157.com.\",\r\n    \"TTL\": 3600,\r\n    \"PTRRecords\": [\r\n      {\r\n        \"ptrdname\": \"www.contoso.com\"\r\n      },\r\n      {\r\n        \"ptrdname\": \"mail.contoso.com\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/SRV/_sip._tcp?api-version=2018-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"SRVRecords\": [\r\n      {\r\n        \"priority\": 10,\r\n        \"weight\": 60,\r\n        \"port\": 5060,\r\n        \"target\": \"bigbox.contoso-service.com\"\r\n      },\r\n      {\r\n        \"priority\": 10,\r\n        \"weight\": 20,\r\n        \"port\": 5060,\r\n        \"target\": \"smallbox1.contoso-service.com\"\r\n      },\r\n      {\r\n        \"priority\": 10,\r\n        \"weight\": 20,\r\n        \"port\": 5060,\r\n        \"target\": \"smallbox2.contoso-service.com\"\r\n      },\r\n      {\r\n        \"priority\": 10,\r\n        \"weight\": 0,\r\n        \"port\": 5060,\r\n        \"target\": \"backupbox.co[...]
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/NS/partners?api-version=2018-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"NSRecords\": [\r\n      {\r\n        \"nsdname\": \"ns1-05.azure-dns.com\"\r\n      },\r\n      {\r\n        \"nsdname\": \"ns2-05.azure-dns.net\"\r\n      },\r\n      {\r\n        \"nsdname\": \"ns3-05.azure-dns.org\"\r\n      },\r\n      {\r\n        \"nsdname\": \"ns4-05.azure-dns.info\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "fd85d1c7-fd76-4e32-bad5-f6fe8c400d03"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnszones/www.contoso-157.com/NS/partners\",\r\n  \"name\": \"partners\",\r\n  \"type\": \"Microsoft.Network/dnszones/NS\",\r\n  \"etag\": \"fd85d1c7-fd76-4e32-bad5-f6fe8c400d03\",\r\n  \"properties\": {\r\n    \"fqdn\": \"partners.www.contoso-157.com.\",\r\n    \"TTL\": 3600,\r\n    \"NSRecords\": [\r\n      {\r\n        \"nsdname\": \"ns1-05.azure-dns.com\"\r\n      },\r\n      {\r\n        \"nsdname\": \"ns2-05.azure-dns.net\"\r\n      },\r\n      {\r\n        \"nsdname\": \"ns3-05.azure-dns.org\"\r\n      },\r\n      {\r\n        \"nsdname\": \"ns4-05.azure-dns.info\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/A/www?api-version=2018-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"TTL\": 7200,\r\n    \"ARecords\": [\r\n      {\r\n        \"ipv4Address\": \"23.96.104.40\"\r\n      },\r\n      {\r\n        \"ipv4Address\": \"24.97.105.41\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "9a6f6327-3636-4d5b-a110-76961b85b513"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnszones/www.contoso-157.com/A/www\",\r\n  \"name\": \"www\",\r\n  \"type\": \"Microsoft.Network/dnszones/A\",\r\n  \"etag\": \"9a6f6327-3636-4d5b-a110-76961b85b513\",\r\n  \"properties\": {\r\n    \"fqdn\": \"www.www.contoso-157.com.\",\r\n    \"TTL\": 7200,\r\n    \"ARecords\": [\r\n      {\r\n        \"ipv4Address\": \"23.96.104.40\"\r\n      },\r\n      {\r\n        \"ipv4Address\": \"24.97.105.41\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/TXT/www?api-version=2018-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"TXTRecords\": [\r\n      {\r\n        \"value\": [\r\n          \"some info about www.contoso.com\"\r\n        ]\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "6b771ecc-867d-49d1-a89d-bccfed3a6333"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnszones/www.contoso-157.com/TXT/www\",\r\n  \"name\": \"www\",\r\n  \"type\": \"Microsoft.Network/dnszones/TXT\",\r\n  \"etag\": \"6b771ecc-867d-49d1-a89d-bccfed3a6333\",\r\n  \"properties\": {\r\n    \"fqdn\": \"www.www.contoso-157.com.\",\r\n    \"TTL\": 3600,\r\n    \"TXTRecords\": [\r\n      {\r\n        \"value\": [\r\n          \"some info about www.contoso.com\"\r\n        ]\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/SOA/@?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "18f35449-c959-4104-88f1-e4ff9dcf4fc5"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnszones/www.contoso-157.com/SOA/@\",\r\n  \"name\": \"@\",\r\n  \"type\": \"Microsoft.Network/dnszones/SOA\",\r\n  \"etag\": \"18f35449-c959-4104-88f1-e4ff9dcf4fc5\",\r\n  \"properties\": {\r\n    \"fqdn\": \"www.contoso-157.com.\",\r\n    \"TTL\": 3600,\r\n    \"SOARecord\": {\r\n      \"email\": \"azuredns-hostmaster.microsoft.com\",\r\n      \"expireTime\": 2419200,\r\n      \"host\": \"ns1-06.azure-dns.com.\",\r\n      \"minimumTTL\": 300,\r\n      \"refreshTime\": 3600,\r\n      \"retryTime\": 300,\r\n      \"serialNumber\": 1\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/A?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "499"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-entities-read": [
          "59999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnszones/www.contoso-157.com/A/www\",\r\n      \"name\": \"www\",\r\n      \"type\": \"Microsoft.Network/dnszones/A\",\r\n      \"etag\": \"9a6f6327-3636-4d5b-a110-76961b85b513\",\r\n      \"properties\": {\r\n        \"fqdn\": \"www.www.contoso-157.com.\",\r\n        \"TTL\": 7200,\r\n        \"ARecords\": [\r\n          {\r\n            \"ipv4Address\": \"23.96.104.40\"\r\n          },\r\n          {\r\n            \"ipv4Address\": \"24.97.105.41\"\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/AAAA?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "499"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-entities-read": [
          "59999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnszones/www.contoso-157.com/AAAA/www\",\r\n      \"name\": \"www\",\r\n      \"type\": \"Microsoft.Network/dnszones/AAAA\",\r\n      \"etag\": \"d4bd0dfc-6358-4afd-ba1d-3cfa122d9ccf\",\r\n      \"properties\": {\r\n        \"fqdn\": \"www.www.contoso-157.com.\",\r\n        \"TTL\": 3600,\r\n        \"AAAARecords\": [\r\n          {\r\n            \"ipv6Address\": \"2001:db8:85a3::8a2e:370:7334\"\r\n          },\r\n          {\r\n            \"ipv6Address\": \"2002:db9:85a4::8a2e:371:7335\"\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/MX?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "499"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-entities-read": [
          "5[...]
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/NS?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "499"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-entities-read": [
          "5[...]
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/TXT?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "499"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-entities-read": [
          "[...]
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/SRV?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "499"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-entities-read": [
          "[...]
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/PTR?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "499"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-entities-read": [
          "[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/CNAME?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "499"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-entities-read": [
         [...]
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/recordsets?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "499"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-entities-read": [
    [...]
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/CNAME/help?api-version=2018-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"CNAMERecord\": {\r\n      \"cname\": \"doc.contoso.com\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "7bb47928-53be-4ffd-8c13-450d9760b1d6"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnszones/www.contoso-157.com/CNAME/help\",\r\n  \"name\": \"help\",\r\n  \"type\": \"Microsoft.Network/dnszones/CNAME\",\r\n  \"etag\": \"7bb47928-53be-4ffd-8c13-450d9760b1d6\",\r\n  \"properties\": {\r\n    \"fqdn\": \"help.www.contoso-157.com.\",\r\n    \"TTL\": 3600,\r\n    \"CNAMERecord\": {\r\n      \"cname\": \"doc.contoso.com\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com/MX/email-internal?api-version=2018-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"TTL\": 3600,\r\n    \"MXRecords\": [\r\n      {\r\n        \"preference\": 1,\r\n        \"exchange\": \"mail.contoso-mail-exchange1.com\"\r\n      },\r\n      {\r\n        \"preference\": 2,\r\n   [...]
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsZones/www.contoso-157.com?api-version=2018-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsOperationResults/delzone637074656354676949e7ef0225?api-version=2018-03-01-preview"
        ],
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/rgdnschash110/providers/Microsoft.Network/dnsOperationStatuses/delzone637074656354676949e7ef0225?api-version=2018-03-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
[...]
