{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgacs987?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"eastus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1172"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgacs987\",\n  \"name\": \"rgacs987\",\n  \"location\": \"eastus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgacs987/providers/Microsoft.ContainerService/containerServices/acs987?api-version=2017-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"orchestratorProfile\": {\n      \"orchestratorType\": \"DCOS\"\n    },\n    \"masterProfile\": {\n      \"count\": 1,\n      \"dnsPrefix\": \"mp0dnsacs987\",\n      \"vmSize\": \"Standard_D2_v2\"\n    },\n    \"agentPoolProfiles\": [\n      {\n        \"name\": \"ap0acs987\",\n        \"count\": 1,\n        \"vmSize\": \"Standard_A1\",\n        \"dnsPrefix\": \"ap0dnsacs987\"\n      }\n    ],\n    \"linuxProfile\": {\n      \"adminUsername\": \"testacs\",\n      \"ssh\": {\n        \"publicKeys\": [\n          {\n            \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCfSPC2K7LZcFKEO+/t3dzmQYtrJFZNxOsbVgOVKietqHyvmYGHEC0J2wPdAqQ/63g/hhAEFRoyehM+rbeDri4txB3YFfnOK58jqdkyXzupWqXzOrlKY4Wz9SKjjN765+dqUITjKRIaAip1Ri137szRg71WnrmdP3SphTRlCx1Bk2nXqWPsclbRDCiZeF8QOTi4JqbmJyK5+0UqhqYRduun8ylAwKKQJ1NJt85sYIHn9f1Rfr6Tq2zS0wZ7DHbZL+zB5rSlAr8QyUdg/GQD+cmSs6LvPJKL78d6hMGk84ARtFo4A79ovwX/Fj01znDQkU6nJildfkaolH2rWFG/qttD azjava@javalib.Com\"\n          }\n        ]\n      }\n    },\n    \"diagnosticsProfile\": {\n      \"vmDiagnostics\": {\n        \"enabled\": true\n      }\n    }\n  },\n  \"location\": \"eastus\",\n  \"tags\": {\n    \"tag1\": \"value1\"\n  }\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.ContainerService/locations/eastus/operations/ade506b6-4b70-44ab-85c6-518842a833af?api-version=2017-01-31"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/CreateUpdateContainerService3Min;9,Microsoft.Compute/CreateUpdateContainerService30Min;99"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1171"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"type\": \"Microsoft.ContainerService/ContainerServices\",\n  \"location\": \"eastus\",\n  \"tags\": {\n    \"tag1\": \"value1\"\n  },\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgacs987/providers/Microsoft.ContainerService/containerServices/acs987\",\n  \"name\": \"acs987\",\n  \"properties\": {\n    \"provisioningState\": \"Creating\",\n    \"orchestratorProfile\": {\n      \"orchestratorType\": \"DCOS\"\n    },\n    \"masterProfile\": {\n      \"count\": 1,\n      \"dnsPrefix\": \"mp0dnsacs987\",\n      \"vmSize\": \"Standard_D2_v2\"\n    },\n    \"agentPoolProfiles\": [\n      {\n        \"name\": \"ap0acs987\",\n        \"count\": 1,\n        \"vmSize\": \"Standard_A1\",\n        \"dnsPrefix\": \"ap0dnsacs987\",\n        \"osType\": \"Linux\"\n      }\n    ],\n    \"linuxProfile\": {\n      \"ssh\": {\n        \"publicKeys\": [\n          {\n            \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCfSPC2K7LZcFKEO+/t3dzmQYtrJFZNxOsbVgOVKietqHyvmYGHEC0J2wPdAqQ/63g/hhAEFRoyehM+rbeDri4txB3YFfnOK58jqdkyXzupWqXzOrlKY4Wz9SKjjN765+dqUITjKRIaAip1Ri137szRg71WnrmdP3SphTRlCx1Bk2nXqWPsclbRDCiZeF8QOTi4JqbmJyK5+0UqhqYRduun8ylAwKKQJ1NJt85sYIHn9f1Rfr6Tq2zS0wZ7DHbZL+zB5rSlAr8QyUdg/GQD+cmSs6LvPJKL78d6hMGk84ARtFo4A79ovwX/Fj01znDQkU6nJildfkaolH2rWFG/qttD azjava@javalib.Com\"\n          }\n        ]\n      },\n      \"adminUsername\": \"testacs\"\n    },\n    \"diagnosticsProfile\": {\n      \"vmDiagnostics\": {\n        \"enabled\": true\n      }\n    }\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgacs987/providers/Microsoft.ContainerService/containerServices/acs987?api-version=2017-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"orchestratorProfile\": {\n      \"orchestratorType\": \"DCOS\"\n    },\n    \"masterProfile\": {\n      \"count\": 1,\n      \"dnsPrefix\": \"mp0dnsacs987\",\n      \"vmSize\": \"Standard_D2_v2\"\n    },\n    \"agentPoolProfiles\": [\n      {\n        \"name\": \"ap0acs987\",\n        \"count\": 5,\n        \"vmSize\": \"Standard_A1\",\n        \"dnsPrefix\": \"ap0dnsacs987\",\n        \"osType\": \"Linux\"\n      }\n    ],\n    \"linuxProfile\": {\n      \"adminUsername\": \"testacs\",\n      \"ssh\": {\n        \"publicKeys\": [\n          {\n            \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCfSPC2K7LZcFKEO+/t3dzmQYtrJFZNxOsbVgOVKietqHyvmYGHEC0J2wPdAqQ/63g/hhAEFRoyehM+rbeDri4txB3YFfnOK58jqdkyXzupWqXzOrlKY4Wz9SKjjN765+dqUITjKRIaAip1Ri137szRg71WnrmdP3SphTRlCx1Bk2nXqWPsclbRDCiZeF8QOTi4JqbmJyK5+0UqhqYRduun8ylAwKKQJ1NJt85sYIHn9f1Rfr6Tq2zS0wZ7DHbZL+zB5rSlAr8QyUdg/GQD+cmSs6LvPJKL78d6hMGk84ARtFo4A79ovwX/Fj01znDQkU6nJildfkaolH2rWFG/qttD azjava@javalib.Com\"\n          }\n        ]\n      }\n    },\n    \"diagnosticsProfile\": {\n      \"vmDiagnostics\": {\n        \"enabled\": true\n      }\n    }\n  },\n  \"location\": \"eastus\",\n  \"tags\": {\n    \"tag2\": \"value2\",\n    \"tag3\": \"value3\"\n  }\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.ContainerService/locations/eastus/operations/576770cb-f194-4864-9e4d-2fcb5d180a1e?api-version=2017-01-31"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Comput[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.ContainerService/locations/eastus/operations/ade506b6-4b70-44ab-85c6-518842a833af?api-version=2017-01-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperationStatus3Min;148,Microsoft.Compute/GetOperationStatus30Min;1498"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11741"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"startTime\": \"2018-08-01T02:47:50.9356361+00:00\",\n  \"status\": \"InProgress\",\n  \"name\": \"ade506b6-4b70-44ab-85c6-518842a833af\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.ContainerService/locations/eastus/operations/ade506b6-4b70-44ab-85c6-518842a833af?api-version=2017-01-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperationStatus3Min;144,Microsoft.Compute/GetOperationStatus30Min;1478"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11813"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"startTime\": \"2018-08-01T02:47:50.9356361+00:00\",\n  \"endTime\": \"2018-08-01T02:55:19.522319+00:00\",\n  \"status\": \"Succeeded\",\n  \"name\": \"ade506b6-4b70-44ab-85c6-518842a833af\"\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgacs987/providers/Microsoft.ContainerService/containerServices/acs987?api-version=2017-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetContainerService3Min;39,Microsoft.Compute/GetContainerService30Min;397"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11812"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"type\": \"Microsoft.ContainerService/ContainerServices\",\n  \"location\": \"eastus\",\n  \"tags\": {\n    \"tag1\": \"value1\"\n  },\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgacs987/providers/Microsoft.ContainerService/containerServices/acs987\",\n  \"name\": \"acs987\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"orchestratorProfile\": {\n      \"orchestratorType\": \"DCOS\"\n    },\n    \"masterProfile\": {\n      \"count\": 1,\n      \"dnsPrefix\": \"mp0dnsacs987\",\n      \"fqdn\": \"mp0dnsacs987.eastus.cloudapp.azure.com\",\n      \"vmSize\": \"Standard_D2_v2\"\n    },\n    \"agentPoolProfiles\": [\n      {\n        \"name\": \"ap0acs987\",\n        \"count\": 1,\n        \"vmSize\": \"Standard_A1\",\n        \"dnsPrefix\": \"ap0dnsacs987\",\n        \"fqdn\": \"ap0dnsacs987.eastus.cloudapp.azure.com\",\n        \"osType\": \"Linux\"\n      }\n    ],\n    \"linuxProfile\": {\n      \"ssh\": {\n        \"publicKeys\": [\n          {\n            \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCfSPC2K7LZcFKEO+/t3dzmQYtrJFZNxOsbVgOVKietqHyvmYGHEC0J2wPdAqQ/63g/hhAEFRoyehM+rbeDri4txB3YFfnOK58jqdkyXzupWqXzOrlKY4Wz9SKjjN765+dqUITjKRIaAip1Ri137szRg71WnrmdP3SphTRlCx1Bk2nXqWPsclbRDCiZeF8QOTi4JqbmJyK5+0UqhqYRduun8ylAwKKQJ1NJt85sYIHn9f1Rfr6Tq2zS0wZ7DHbZL+zB5rSlAr8QyUdg/GQD+cmSs6LvPJKL78d6hMGk84ARtFo4A79ovwX/Fj01znDQkU6nJildfkaolH2rWFG/qttD azjava@javalib.Com\"\n          }\n        ]\n      },\n      \"adminUsername\": \"testacs\"\n    },\n    \"diagnosticsProfile\": {\n      \"vmDiagnostics\": {\n        \"enabled\": true,\n        \"storageUri\": \"https://zd6xbhbt5klugdiag0.blob.core.windows.net/\"\n      }\n    }\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgacs987?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR0FDUzk4Ny1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14995"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {
    "ContainerServiceCRUDTest": [
      "acs987"
    ]
  },
  "Variables": {
    "ServicePrincipal": "39e3d217-cb72-4b90-8532-394a7e784d93",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}