{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rg69720?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"northcentralus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1175"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg69720\",\n  \"name\": \"rg69720\",\n  \"location\": \"northcentralus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg69720/providers/Microsoft.Network/expressRouteCircuits/erc428082?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"sku\": {\n    \"name\": \"Standard_MeteredData\",\n    \"tier\": \"Standard\",\n    \"family\": \"MeteredData\"\n  },\n  \"properties\": {\n    \"serviceProviderProperties\": {\n      \"serviceProviderName\": \"Microsoft ER Test\",\n      \"peeringLocation\": \"Area51\",\n      \"bandwidthInMbps\": 50\n    }\n  },\n  \"location\": \"northcentralus\",\n  \"tags\": {\n    \"tag1\": \"value1\"\n  }\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/northcentralus/operations/3b86f381-a278-4ee7-a6bb-338af76b086b?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1174"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"erc428082\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg69720/providers/Microsoft.Network/expressRouteCircuits/erc428082\",\n  \"etag\": \"W/\\\"d92d9526-409b-4dd1-9ba1-367f55a562f0\\\"\",\n  \"type\": \"Microsoft.Network/expressRouteCircuits\",\n  \"location\": \"northcentralus\",\n  \"tags\": {\n    \"tag1\": \"value1\"\n  },\n  \"properties\": {\n    \"provisioningState\": \"Updating\",\n    \"resourceGuid\": \"3ffff3a2-0daf-4af9-adca-562defaf6e30\",\n    \"peerings\": [],\n    \"authorizations\": [],\n    \"serviceProviderProperties\": {\n      \"serviceProviderName\": \"Microsoft ER Test\",\n      \"peeringLocation\": \"Area51\",\n      \"bandwidthInMbps\": 50\n    },\n    \"circuitProvisioningState\": \"Disabled\",\n    \"allowClassicOperations\": false,\n    \"serviceKey\": \"00000000-0000-0000-0000-000000000000\",\n    \"serviceProviderProvisioningState\": \"NotProvisioned\"\n  },\n  \"sku\": {\n    \"name\": \"Standard_MeteredData\",\n    \"tier\": \"Standard\",\n    \"family\": \"MeteredData\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg69720/providers/Microsoft.Network/expressRouteCircuits/erc428082?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"sku\": {\n    \"name\": \"Premium_UnlimitedData\",\n    \"tier\": \"Premium\",\n    \"family\": \"UnlimitedData\"\n  },\n  \"properties\": {\n    \"allowClassicOperations\": false,\n    \"circuitProvisioningState\": \"Enabled\",\n    \"serviceProviderProvisioningState\": \"NotProvisioned\",\n    \"authorizations\": [],\n    \"peerings\": [],\n    \"serviceKey\": \"97127dbe-534c-4f3c-8660-63f6b80fc8f5\",\n    \"serviceProviderProperties\": {\n      \"serviceProviderName\": \"Microsoft ER Test\",\n      \"peeringLocation\": \"Area51\",\n      \"bandwidthInMbps\": 200\n    },\n    \"provisioningState\": \"Succeeded\",\n    \"gatewayManagerEtag\": \"\"\n  },\n  \"location\": \"northcentralus\",\n  \"tags\": {\n    \"tag2\": \"value2\"\n  }\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/northcentralus/operations/2a1c43af-0824-4543-81a5-3dc6650bc27e?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/northcentralus/operations/3b86f381-a278-4ee7-a6bb-338af76b086b?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11853"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"status\": \"InProgress\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg69720/providers/Microsoft.Network/expressRouteCircuits/erc428082?api-version=2018-04-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/northcentralus/operationResults/8eb45bbb-3020-4fe4-a7bd-1208ed5cf2a7?api-version=2018-04-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/northcentralus/operations/8eb45bbb-3020-4fe4-a7bd-1208ed5cf2a7?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14995"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/northcentralus/operationResults/8eb45bbb-3020-4fe4-a7bd-1208ed5cf2a7?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/northcentralus/operationResults/8eb45bbb-3020-4fe4-a7bd-1208ed5cf2a7?api-version=2018-04-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/northcentralus/operations/8eb45bbb-3020-4fe4-a7bd-1208ed5cf2a7?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11842"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rg69720?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14993"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"error\": {\n    \"code\": \"ResourceGroupNotFound\",\n    \"message\": \"Resource group 'rg69720' could not be found.\"\n  }\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzY5NzIwLU5PUlRIQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJub3J0aGNlbnRyYWx1cyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzY5NzIwLU5PUlRIQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJub3J0aGNlbnRyYWx1cyJ9?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11841"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzY5NzIwLU5PUlRIQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJub3J0aGNlbnRyYWx1cyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11838"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "CreateUpdate": [
      "erc428082",
      "rg69720"
    ]
  },
  "Variables": {
    "ServicePrincipal": "39e3d217-cb72-4b90-8532-394a7e784d93",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}