{
  "Entries": [
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"sp1b8669908b845\",\r\n  \"homepage\": \"http://sp1b8669908b845\",\r\n  \"identifierUris\": [\r\n    \"http://sp1b8669908b845\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"http://sp1b8669908b845\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/0bfbec31-baab-40a6-aa4e-105ddfd8c9a0/Microsoft.DirectoryServices.Application"
        ],
        "ocp-aad-diagnostics-server-name": [
          "91xLmGTFEA8hg8/ja4rK7cEUvohUp7ZE8rjtBUooDnU="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "2I8-yQ9HikWNK5poKOb-EuvXYgAeNoovN1uddFGylQPZquv7wM0XailjYVxgM_N99wsMFJWC-Uw-r6iNPjxFVXlxn2kbql7SUf6RLZ0DUDcYqevuiYZUsT9c4nA4xBlL5nq-Beef3IoR29QO3ac_W2eJgQ9EyySUNnAZAienXHs.sV5ZqB_A2wklbeqsszsRDIwto4GD7QhbP4fenBl_fAY"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "7160754"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"0bfbec31-baab-40a6-aa4e-105ddfd8c9a0\",\r\n  \"deletionTimestamp\": null,\r\n  \"acceptMappedClaims\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"ec11d38b-ca4f-4c0f-ae44-52190d613826\",\r\n  \"applicationTemplateId\": null,\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"sp1b8669908b845\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://sp1b8669908b845\",\r\n  \"identifierUris\": [\r\n    \"http://sp1b8669908b845\"\r\n  ],\r\n  \"informationalUrls\": {\r\n    \"termsOfService\": null,\r\n    \"support\": null,\r\n    \"privacy\": null,\r\n    \"marketing\": null\r\n  },\r\n  \"isDeviceOnlyAuthSupported\": null,\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"logo@odata.mediaEditLink\": \"directoryObjects/0bfbec31-baab-40a6-aa4e-105ddfd8c9a0/Microsoft.DirectoryServices.Application/logo\",\r\n  \"logo@odata.mediaContentType\": \"application/json;odata=minimalmetadata; charset=utf-8\",\r\n  \"logoUrl\": null,\r\n  \"mainLogo@odata.mediaEditLink\": \"directoryObjects/0bfbec31-baab-40a6-aa4e-105ddfd8c9a0/Microsoft.DirectoryServices.Application/mainLogo\",\r\n  \"oauth2AllowIdTokenImplicitFlow\": true,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access sp1b8669908b845 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access sp1b8669908b845\",\r\n      \"id\": \"4093ce66-058d-438f-8b69-0dabbfb65643\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access sp1b8669908b845 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access sp1b8669908b845\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"optionalClaims\": null,\r\n  \"orgRestrictions\": [],\r\n  \"parentalControlSettings\": {\r\n    \"countriesBlockedForMinors\": [],\r\n    \"legalAgeGroupRule\": \"Allow\"\r\n  },\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"publisherDomain\": \"AzureSDKTeam.onmicrosoft.com\",\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [\r\n    \"http://sp1b8669908b845\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"signInAudience\": \"AzureADMyOrg\",\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications/0bfbec31-baab-40a6-aa4e-105ddfd8c9a0/keyCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "XwM9J6mYB/CvvQX3xOj9NMCXa2qCyINEEs06ms8zTaI="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "jVurACxHCrn0XWKzVzdV_gdwI0UqS7QrsrlXXvnzcIYAqKT8NF2FNfHFBOmrZ0DN_vH9QgexhgMw4C8RpYq7zDr0pKpVQ9pANen2Y4ICYEnM8bLkuCSlsyIx81qwIpKDtXYU5J6vTHHlyH2KiFPYKc-lgaoo5eJAASLKMsBZikA.sEPjAHpebgwjs7pTTxJSa6ECQCRGxm02v-BI_G3rfM0"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2546968"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.KeyCredential)\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications/0bfbec31-baab-40a6-aa4e-105ddfd8c9a0/passwordCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "BI70eeqtQXrdS4Ok9RnJ88M0ewwv+DbnOCOkOB0pCIo="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "E3KXMUg1AOGuiosFJQRcfGQ_mM4qY86pF0E1CsHSgQkK-KNAPWp26fcJn3rdrI6oT6CX3vk0O3cfMATnB_QxxQU3HICweDtGDqkBnXLwDQfn8fSAQcqxnGId4isUear8PK7XjbmpccemCuZ9Q7jnB5U3K8VFBHdk_Gxc1Wogs8E.-DXC3TKlUisxw7uIiedBUqrxKA5aeDwu6Xi3pV3wk-Q"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2746076"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.PasswordCredential)\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"ec11d38b-ca4f-4c0f-ae44-52190d613826\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/113027f4-00c5-49d3-a462-50fe006397b6/Microsoft.DirectoryServices.ServicePrincipal"
        ],
        "ocp-aad-diagnostics-server-name": [
          "UCqg51CRwbFSVSpQdd+0eu2pZyuBt7dvQmjs73sOGao="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "xUonUTRdft0x5t7aLs2GC-bTYnROF2P6e5CcAqUxm3C5v93ofHQOVfZo96O8qWT26rVSysgo2J-NBFJBLOiO6aQpNxsp2lJ9mjMbBYSjppKFT8K1w5Qm0voikTme0UHa73-FGXRUs8hylM431M5ELdsGMsJmQu5md0Sqjy1l57M.hUwC7gblnC3ME-Lp47t1BSM7nHOjWrweCoSTvv1GcfQ"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "5567882"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"113027f4-00c5-49d3-a462-50fe006397b6\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"sp1b8669908b845\",\r\n  \"appId\": \"ec11d38b-ca4f-4c0f-ae44-52190d613826\",\r\n  \"applicationTemplateId\": null,\r\n  \"appOwnerTenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"sp1b8669908b845\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://sp1b8669908b845\",\r\n  \"informationalUrls\": {\r\n    \"termsOfService\": null,\r\n    \"support\": null,\r\n    \"privacy\": null,\r\n    \"marketing\": null\r\n  },\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"notificationEmailAddresses\": [],\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access sp1b8669908b845 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access sp1b8669908b845\",\r\n      \"id\": \"4093ce66-058d-438f-8b69-0dabbfb65643\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access sp1b8669908b845 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access sp1b8669908b845\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [],\r\n  \"preferredSingleSignOnMode\": null,\r\n  \"preferredTokenSigningKeyEndDateTime\": null,\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"AzureSDKTeam\",\r\n  \"replyUrls\": [\r\n    \"http://sp1b8669908b845\"\r\n  ],\r\n  \"samlMetadataUrl\": null,\r\n  \"samlSingleSignOnSettings\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"ec11d38b-ca4f-4c0f-ae44-52190d613826\",\r\n    \"http://sp1b8669908b845\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"signInAudience\": \"AzureADMyOrg\",\r\n  \"tags\": [],\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/113027f4-00c5-49d3-a462-50fe006397b6/keyCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "WxCDq01gHkt8PEbLuKB23iq/D8gu7Qy5H+1Xe8Cg40Y="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "a-4tqXC6Nn2UgV7GNciRbuCDTS8gum5IDO6VeeV9umfzMHrhazzwlUxMxe06yiZOHtoyn4VH2uHD7acpP_STfsLiH9uBbQA_JetW5uwyWwDWAbF7IOol-kbHv0b8gvVubZWctdS0iBe1j7CacOXw0SSg1iY2vPjrwmALDu38wAw.2JTO2PiO8zOGclpG2o4PWLrAJ346jL3Uud_kBdAy3kk"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2456964"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.KeyCredential)\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/113027f4-00c5-49d3-a462-50fe006397b6/passwordCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "BI70eeqtQXrdS4Ok9RnJ88M0ewwv+DbnOCOkOB0pCIo="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "D4070hUECVfX-iDUXL1Ea5Nl7-JvtFUHcIV14Kv7sdHbcmYdlY_dZtkDPNSaaVYX8ZoJhlHrGUIMjQU_IMgBeEO308aJ-sXi9BOwuw2W3Gf_QbW-T4-fYANwi7UEBfXk7_sApNn6LZN7PuOT__VVmTb-Bk0YywsaTMIWQ2xAcPc.t3VZC61fJwOZ3RY_Q3Tqr9pw9n0SyLo_H9We4JnPE7c"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2470669"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.PasswordCredential)\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/domains?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "91xLmGTFEA8hg8/ja4rK7cEUvohUp7ZE8rjtBUooDnU="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "AP8yTdWX8Hawui5fTezefCcxn9od7xFvcU7EAA4pFj2YpS-lCkfLZFOG1O8Grwwl2r8Uwuo4nNho7zQ-P_HsoZiNpxlstJDmQKf2VoZZ_HFrQ0abSi9u_wwHs2WozvwyRTfeB4pJvp0TPGR7VVPgqN6AU0WhjTQekh9wj6TG7UI.wkOFtvZmswWrre-ib8rDk9c5hsM5Y6jafszmq8AxQ5s"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2356229"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#domains\",\r\n  \"value\": [\r\n    {\r\n      \"authenticationType\": \"Federated\",\r\n      \"availabilityStatus\": null,\r\n      \"isAdminManaged\": true,\r\n      \"isDefault\": false,\r\n      \"isDefaultForCloudRedirections\": false,\r\n      \"isInitial\": false,\r\n      \"isRoot\": false,\r\n      \"isVerified\": false,\r\n      \"name\": \"BFDevOpsNonRestricted.onmicrosoft.de\",\r\n      \"supportedServices\": [],\r\n      \"forceDeleteState\": null,\r\n      \"state\": null,\r\n      \"passwordValidityPeriodInDays\": null,\r\n      \"passwordNotificationWindowInDays\": null\r\n    },\r\n    {\r\n      \"authenticationType\": \"Managed\",\r\n      \"availabilityStatus\": null,\r\n      \"isAdminManaged\": true,\r\n      \"isDefault\": true,\r\n      \"isDefaultForCloudRedirections\": false,\r\n      \"isInitial\": true,\r\n      \"isRoot\": true,\r\n      \"isVerified\": true,\r\n      \"name\": \"AzureSDKTeam.onmicrosoft.com\",\r\n      \"supportedServices\": [\r\n        \"Email\",\r\n        \"OfficeCommunicationsOnline\"\r\n      ],\r\n      \"forceDeleteState\": null,\r\n      \"state\": null,\r\n      \"passwordValidityPeriodInDays\": null,\r\n      \"passwordNotificationWindowInDays\": null\r\n    },\r\n    {\r\n      \"authenticationType\": \"Managed\",\r\n      \"availabilityStatus\": null,\r\n      \"isAdminManaged\": true,\r\n      \"isDefault\": false,\r\n      \"isDefaultForCloudRedirections\": false,\r\n      \"isInitial\": false,\r\n      \"isRoot\": true,\r\n      \"isVerified\": true,\r\n      \"name\": \"azdevextest.com\",\r\n      \"supportedServices\": [],\r\n      \"forceDeleteState\": null,\r\n      \"state\": null,\r\n      \"passwordValidityPeriodInDays\": null,\r\n      \"passwordNotificationWindowInDays\": null\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"usdd990169b3d79\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"MGMT_PLACEHOLDER\"\r\n  },\r\n  \"userPrincipalName\": \"usdd990169b3d79@AzureSDKTeam.onmicrosoft.com\",\r\n  \"mailNickname\": \"usdd990169b3d79\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/117e50d3-b4b2-435a-9a64-522a91f73111/Microsoft.DirectoryServices.User"
        ],
        "ocp-aad-diagnostics-server-name": [
          "ujUSmj8FiX4t/EX+dTu/7F8x7hmXB38pLUyIq9mZgws="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "evpO-T47RZVdATv5Ec9Z2BI3Aedr1Q0fFl6b9XdBujPtSH4lK932MMp56tKJF9FL62nOg7NE8D7PDLQebkddhotH-MSfyQSTXL11qvms9Wbc7p8hfK_f15bnqe_EMeRjl9gpiThIcGQvmGkiEeHVs1jxSDVzQ6ki4Feo3oFm4_M.ZJptky1ccYPscFuS1JX3fyG25UYx6H5W-Z-c7lhSRak"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "6378534"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n  \"objectType\": \"User\",\r\n  \"objectId\": \"117e50d3-b4b2-435a-9a64-522a91f73111\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"ageGroup\": null,\r\n  \"assignedLicenses\": [],\r\n  \"assignedPlans\": [],\r\n  \"city\": null,\r\n  \"companyName\": null,\r\n  \"consentProvidedForMinor\": null,\r\n  \"country\": null,\r\n  \"createdDateTime\": \"2019-10-28T06:21:34Z\",\r\n  \"creationType\": null,\r\n  \"department\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"usdd990169b3d79\",\r\n  \"employeeId\": null,\r\n  \"facsimileTelephoneNumber\": null,\r\n  \"givenName\": null,\r\n  \"immutableId\": null,\r\n  \"isCompromised\": null,\r\n  \"jobTitle\": null,\r\n  \"lastDirSyncTime\": null,\r\n  \"legalAgeGroupClassification\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"usdd990169b3d79\",\r\n  \"mobile\": null,\r\n  \"onPremisesDistinguishedName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"otherMails\": [],\r\n  \"passwordPolicies\": null,\r\n  \"passwordProfile\": {\r\n    \"password\": null,\r\n    \"forceChangePasswordNextLogin\": true,\r\n    \"enforceChangePasswordPolicy\": false\r\n  },\r\n  \"physicalDeliveryOfficeName\": null,\r\n  \"postalCode\": null,\r\n  \"preferredLanguage\": null,\r\n  \"provisionedPlans\": [],\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"refreshTokensValidFromDateTime\": \"2019-10-28T06:21:34.6191735Z\",\r\n  \"showInAddressList\": null,\r\n  \"signInNames\": [],\r\n  \"sipProxyAddress\": null,\r\n  \"state\": null,\r\n  \"streetAddress\": null,\r\n  \"surname\": null,\r\n  \"telephoneNumber\": null,\r\n  \"thumbnailPhoto@odata.mediaEditLink\": \"directoryObjects/117e50d3-b4b2-435a-9a64-522a91f73111/Microsoft.DirectoryServices.User/thumbnailPhoto\",\r\n  \"usageLocation\": null,\r\n  \"userIdentities\": [],\r\n  \"userPrincipalName\": \"usdd990169b3d79@AzureSDKTeam.onmicrosoft.com\",\r\n  \"userState\": null,\r\n  \"userStateChangedOn\": null,\r\n  \"userType\": \"Member\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgNEMV8786?api-version=2021-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNEMV8786\",\r\n  \"name\": \"rgNEMV8786\",\r\n  \"type\": \"Microsoft.Resources/resourceGroups\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals?$filter=displayName%20eq%20'http://sp1b8669908b845'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "ob2ID0s2NDUg4csOA7zjdqlUyYMXmzqc0deRVGnRrRk="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "m8ZYG9IBheozbHfu45JH4f6nXQlCW423iAQg0iFiE5K75CpDlo_7EOzXSAIfNNbbvXrIm04KM82K3bQwEN-9AjzrFY_DoRJuVA-1T1WlqN6PZc4D7M9PmtQ4Du43yuWaWVfvk8WLU0UnRSbg1cFrLAWBvNJYrxSiV1LtrRyZGIY.brkgVRgrpqcbd1cTANJNdFuqaQJAJ1vR6mnRZl-jTaY"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2390929"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/users/usdd990169b3d79?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "/JBGpzTChbcDSwlRpz1rJ60jXqzIcsL8TiQ4nnAtBvA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "wkttTahefM3sgmdqM7xStKPT6qtrzOd4VGd4OwZAue4vqpVS_xtMpyXJf3uDl3ZpB_S0XAH_bcJog_gpPvU4Us_jflRYJnCXLtxbaHU_NYUIckb67lj7tRBTBfGVl-mw7at3xaNYSvfgoglgxZnP6SrXKWM1XVB3D0d0i2BUrEo.wLIZBpv40Km-huCsiq1NU4HyLP-KvctoW2Oo8xWJ1oc"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2428101"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource 'usdd990169b3d79' does not exist or one of its queried reference-property objects are not present.\"\r\n    },\r\n    \"requestId\": \"0bdb6cd7-976d-4024-9638-e1e88262ee73\",\r\n    \"date\": \"2019-10-28T06:21:39\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals?$filter=servicePrincipalNames/any(c:c%20eq%20'http://sp1b8669908b845')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "2STKeCADhyz5VJ+8pYe6U/vC7ChohuwgrtibnKjN6LA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/users?$filter=displayName%20eq%20'usdd990169b3d79'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "CB6SIW0UFZAjiWXJN39BLCKPIxfd8cS9A1TPlCaqMlk="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "I3hIu3GE-i5NAIzLK7[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgNEMV8786/providers/Microsoft.KeyVault/vaults/vault17708?api-version=2018-02-14",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\r\n    \"sku\": {\r\n      \"name\": \"standard\",\r\n      \"family\": \"A\"\r\n    },\r\n    \"accessPolicies\": [\r\n      {\r\n        \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\r\n        \"objectId\": \"113027f4-00c5-49d3-a462-50fe006397b6\",\r\n        \"permissions\": {\r\n          \"keys\": [\r\n            \"list\"\r\n          ],\r\n          \"secrets\": [\r\n            \"get\",\r\n            \"list\",\r\n            \"set\",\r\n            \"delete\",\r\n            \"backup\",\r\n            \"restore\",\r\n            \"recover\",\r\n            \"purge\"\r\n          ],\r\n          \"certificates\": [\r\n            \"get\"\r\n          ]\r\n        }\r\n      },\r\n      {\r\n        \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\r\n        \"objectId\": \"117e50d3-b4b2-435a-9a64-522a91f73111\",\r\n        \"permissions\": {\r\n          \"keys\": [\r\n            \"encrypt\",\r\n            \"decrypt\",\r\n            \"wrapKey\",\r\n            \"unwrapKey\",\r\n            \"sign\",\r\n            \"verify\",\r\n            \"get\",\r\n            \"list\",\r\n            \"cr[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgNEMV8786?api-version=2021-01-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR05FTVY4Nzg2LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2019-08-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR05FTVY4Nzg2LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR05FTVY4Nzg2LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2019-08-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/113027f4-00c5-49d3-a462-50fe006397b6?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "1K8OkAggl/7n8gRFRTrj6dGeUxfOr2uRL7vGQyv0S8k="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "nmGs6r1xAdsILWAbSNq-YZgSSfmkSGPStnjxv5ysxH8QCHdwBCrz6ejFgnafF66rojQjd8k3d9pjSWkoJRfInTKPyRlkl587UPFW8ILCRucbG_mXy6tVttRxmbh8omP9QAi20tj_G38LDnmy-HpvxlXsVSXCydstguD7dRcK0lE.83m8gIANojkGbex27dEQ9VKqrln1gEG9Ms2xK78XZcw"
        ],
        "Duration": [
          "3379409"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/users/117e50d3-b4b2-435a-9a64-522a91f73111?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "2SXYdh9iZWfGDJEiF2L2+eBKwvL2R87WZIRQoyL66Do="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "cKh6ThvAYCdGLYBZl1ARXJRi7aOKa1hGcyqqJWF-avsAaR19m_bLXg0Gx1RQBvyP3nJlUmyKFGwIg_cmeWcWUSGh8pqXjyMB-QC62h53HEzVeW3v1T_D3YXzt9r0V0d6dfxTECMeIV7q3L4WPS8E6ZMKs3bSBRvN_ZN7eAti1lM.R8_LxmYAnn8V2JX9xUbXx3sjgpbIxypAeGZDx88C9fA"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2474287"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Authorization_RequestDenied\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Insufficient privileges to complete the operation.\"\r\n    },\r\n    \"requestId\": \"90481246-f5ba-42fa-b9e7-5c34d747ebd8\",\r\n    \"date\": \"2019-10-28T06:24:22\"\r\n  }\r\n}",
      "StatusCode": 403
    }
  ],
  "Names": {
    "CanCRUDKeyVault": [
      "sp1b8669908b845",
      "usdd990169b3d79",
      "vault17708",
      "rgNEMV8786"
    ]
  },
  "Variables": {
    "ServicePrincipal": "6345c07e-79bd-46c3-8486-ae12b7d6893d",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}