{
  "Entries": [
    {
      "RequestUri": "/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourcegroups/javacsmrg8250?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250\",\r\n  \"name\": \"javacsmrg8250\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/virtualNetworks/vmssvnet?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/28\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/28\"\r\n        },\r\n        \"name\": \"subnet1\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/providers/Microsoft.Network/locations/eastus/operations/a3e7c8d2-e8d4-4188-bd98-e4d35bc71a18?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vmssvnet\",\r\n  \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/virtualNetworks/vmssvnet\",\r\n  \"etag\": \"W/\\\"4452df90-d84c-48bd-843f-0abffd13ffac\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"1321f504-e42d-475e-9104-66dc32abf911\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/28\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnet1\",\r\n        \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/virtualNetworks/vmssvnet/subnets/subnet1\",\r\n        \"etag\": \"W/\\\"4452df90-d84c-48bd-843f-0abffd13ffac\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.0.0/28\",\r\n          \"delegations\": []\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/providers/Microsoft.Network/locations/eastus/operations/a3e7c8d2-e8d4-4188-bd98-e4d35bc71a18?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/virtualNetworks/vmssvnet?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"c2efb179-ac1a-40c5-a83a-c081333b4196\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vmssvnet\",\r\n  \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/virtualNetworks/vmssvnet\",\r\n  \"etag\": \"W/\\\"c2efb179-ac1a-40c5-a83a-c08[...]
    {
      "RequestUri": "/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/publicIPAddresses/pip-extlb1-4741?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"pip-extlb1-4741\"\r\n    }\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/providers/Microsoft.Network/locations/eastus/operations/b150b17e-0b99-43f6-889f-887e5b850a60?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip-extlb1-4741\",\r\n  \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/publicIPAddresses/pip-extlb1-4741\",\r\n  \"etag\": \"W/\\\"2f75eec1-fdba-4bc0-823f-80f9defad1cf\\\"\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"06d8e61a-52d0-43d6-949f-7fa6cf8ed235\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"pip-extlb1-4741\",\r\n      \"fqdn\": \"pip-extlb1-4741.eastus.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/publicIPAddresses/pip-extlb1-4741?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"c3e6941a-37ac-4148-a7a4-09b3b1a0d8ff\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip-extlb1-4741\",\r\n  \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/publicIPAddresses/pip-extlb1-4741\",\r\n  \"etag\": \"W/\\\"c3e6941a-37ac-4148-a7a4-09b3b1a0d8ff\\\"\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"06d8e61a-52d0-43d6-949f-7fa6cf8ed235\",\r\n    \"ipAddress\": \"52.234.229.177\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"pip-extlb1-4741\",\r\n      \"fqdn\": \"pip-extlb1-4741.eastus.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/loadBalancers/extlb1-4741?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\": {\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/publicIPAddresses/pip-extlb1-4741\"\r\n          }\r\n        },\r\n        \"name\": \"extlb1-4741-FE1\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"extlb1-4741-BAP1\"\r\n      },\r\n      {\r\n        \"name\": \"extlb1-4741-BAP2\"\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [\r\n      {\r\n        \"properties\": {\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/loadBalancers/extlb1-4741/frontendIPConfigurations/extlb1-4741-FE1\"\r\n          },\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/loadBalancers/extlb1-4741/backendAddressPools/extlb1-4741-BAP1\"\r\n          },\r\n          \"probe\": {\r\n            \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/loadBalancers/extlb1-4741/probes/httpProbe\"\r\n          },\r\n          \"protocol\": \"Tcp\",\r\n          \"frontendPort\": 80,\r\n          \"backendPort\": 80\r\n        },\r\n        \"name\": \"httpRule\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/loadBalancers/extlb1-4741/frontendIPConfigurations/extlb1-4741-FE1\"\r\n          },\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/loadBalancers/extlb1-4741/backendAddressPools/extlb1-4741-BAP2\"\r\n          },\r\n          \"probe\": {\r\n            \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/loadBalancers/extlb1-4741/probes/httpsProbe\"\r\n          },\r\n          \"protocol\": \"Tcp\",\r\n          \"frontendPort\": 443,\r\n          \"backendPort\": 443\r\n        },\r\n        \"name\": \"httpsRule\"\r\n      }\r\n    ],\r\n    \"probes\": [\r\n      {\r\n        \"properties\": {\r\n          \"protocol\": \"Http\",\r\n          \"port\": 80,\r\n          \"requestPath\": \"/\"\r\n        },\r\n        \"name\": \"httpProbe\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"protocol\": \"Http\",\r\n          \"port\": 80,\r\n          \"requestPath\": \"/\"\r\n        },\r\n        \"name\": \"httpsProbe\"\r\n      }\r\n    ],\r\n    \"inboundNatRules\": [],\r\n    \"inboundNatPools\": [\r\n      {\r\n        \"properties\": {\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/loadBalancers/extlb1-4741/frontendIPConfigurations/extlb1-4741-FE1\"\r\n          },\r\n          \"protocol\": \"Tcp\",\r\n          \"frontendPortRangeStart\": 5000,\r\n          \"frontendPortRangeEnd\": 5099,\r\n          \"backendPort\": 22\r\n        },\r\n        \"name\": \"extlb1-4741-INP1\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/loadBalancers/extlb1-4741/frontendIPConfigurations/extlb1-4741-FE1\"\r\n          },\r\n          \"protocol\": \"Tcp\",\r\n          \"frontendPortRangeStart\": 6000,\r\n   [...]
[...]
    {
      "RequestUri": "/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Storage/storageAccounts/stg91?api-version=2018-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/providers/Microsoft.Storage/locations/eastus/asyncoperations/2e96d344-ff81-45df-9119-8abee3d4601f?monitor=true&api-version=2018-11-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/providers/Microsoft.Storage/locations/eastus/asyncoperations/2e96d344-ff81-45df-9119-8abee3d4601f?monitor=true&api-version=2018-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Storage/storageAccounts/stg91\",\r\n  \"name\": \"stg91\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2019-05-14T21:04:31.2058125Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2019-05-14T21:04:31.2058125Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2019-05-14T21:04:31.11206Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://stg91.blob.core.windows.net/\",\r\n      \"queue\": \"https://stg91.queue.core.windows.net/\",\r\n      \"table\": \"https://stg91.table.core.windows.net/\",\r\n      \"file\": \"https://stg91.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"eastus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"westus\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Compute/virtualMachineScaleSets/vmss7753?api-version=2018-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_A0\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Manual\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"vmss7753-vm\",\r\n        \"adminUsername\": \"jvuser\",\r\n        \"adminPassword\": \"123OData!@#123\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\": false\r\n        }\r\n      },\r\n      \"storageProfile\": {\r\n        \"imageReference\": {\r\n          \"publisher\": \"Canonical\",\r\n          \"offer\": \"UbuntuServer\",\r\n          \"sku\": \"16.04.0-LTS\",\r\n          \"version\": \"latest\"\r\n        },\r\n        \"osDisk\": {\r\n          \"name\": \"vmss7753-os-disk\",\r\n          \"caching\": \"ReadWrite\",\r\n          \"createOption\": \"FromImage\",\r\n          \"vhdContainers\": [\r\n            \"https://stg91.blob.core.windows.net/vhds\",\r\n            \"https://stg38264.blob.core.windows.net/vhds\"\r\n          ]\r\n        }\r\n      },\r\n      \"networkProfile\": {\r\n        \"networkInterfaceConfigurations\": [\r\n          {\r\n            \"name\": \"primary-nic-cfg\",\r\n            \"properties\": {\r\n              \"primary\": true,\r\n              \"ipConfigurations\": [\r\n                {\r\n                  \"name\": \"primary-nic-ip-cfg\",\r\n                  \"properties\": {\r\n                    \"subnet\": {\r\n                      \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/virtualNetworks/vmssvnet/subnets/subnet1\"\r\n                    },\r\n                    \"loadBalancerBackendAddressPools\": [\r\n                      {\r\n                        \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/loadBalancers/extlb1-4741/backendAddressPools/extlb1-4741-BAP1\"\r\n                      },\r\n                      {\r\n                        \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/loadBalancers/extlb1-4741/backendAddressPools/extlb1-4741-BAP2\"\r\n                      }\r\n                    ],\r\n                    \"loadBalancerInboundNatPools\": [\r\n                      {\r\n                        \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/loadBalancers/extlb1-4741/inboundNatPools/extlb1-4741-INP1\"\r\n                      },\r\n                      {\r\n                        \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/loadBalancers/extlb1-4741/inboundNatPools/extlb1-4741-INP2\"\r\n                      }\r\n                    ]\r\n                  }\r\n                }\r\n              ]\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/providers/Microsoft.Compute/locations/eastus/operations/c136a129-9afb-4c4a-9b13-23a9d9ffeda2?api-version=2018-10-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/CreateVMScaleSet3Min;39,Microsoft.Compute/CreateVMScaleSet30Min;198,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1196,Microsoft.Compute/VmssQueuedVMOperations;4796"
        ],
        "x-ms-request-charge": [
          "4"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_A0\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Manual\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"vmss7753-vm\",\r\n        \"adminUsername\": \"jvuser\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\": false,\r\n          \"provisionVMAgent\": true\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\": true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\n          \"vhdContainers\": [\r\n            \"https://stg91.blob.core.windows.net/vhds\",\r\n            \"https://stg38264.blob.core.windows.net/vhds\"\r\n          ],\r\n          \"name\": \"vmss7753-os-disk\",\r\n          \"createOption\": \"FromImage\",\r\n          \"caching\": \"ReadWrite\"\r\n        },\r\n        \"imageReference\": {\r\n          \"publisher\": \"Canonical\",\r\n          \"offer\": \"UbuntuServer\",\r\n          \"sku\": \"16.04.0-LTS\",\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"networkProfile\": {\r\n        \"networkInterfaceConfigurations\": [\r\n          {\r\n            \"name\": \"primary-nic-cfg\",\r\n            \"properties\": {\r\n              \"primary\": true,\r\n              \"enableAcceleratedNetworking\": false,\r\n              \"dnsSettings\": {\r\n                \"dnsServers\": []\r\n              },\r\n              \"enableIPForwarding\": false,\r\n              \"ipConfigurations\": [\r\n                {\r\n                  \"name\": \"primary-nic-ip-cfg\",\r\n                  \"properties\": {\r\n                    \"subnet\": {\r\n                      \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/virtualNetworks/vmssvnet/subnets/subnet1\"\r\n                    },\r\n                    \"privateIPAddressVersion\": \"IPv4\",\r\n                    \"loadBalancerBackendAddressPools\": [\r\n                      {\r\n                        \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/loadBalancers/extlb1-4741/backendAddressPools/extlb1-4741-BAP1\"\r\n                      },\r\n                      {\r\n                        \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/loadBalancers/extlb1-4741/backendAddressPools/extlb1-4741-BAP2\"\r\n                      }\r\n                    ],\r\n                    \"loadBalancerInboundNatPools\": [\r\n                      {\r\n                        \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/loadBalancers/extlb1-4741/inboundNatPools/extlb1-4741-INP1\"\r\n                      },\r\n                      {\r\n                        \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Network/loadBalancers/extlb1-4741/inboundNatPools/extlb1-4741-INP2\"\r\n                      }\r\n                    ]\r\n                  }\r\n                }\r\n              ]\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"overprovision\": true,\r\n    \"uniqueId\": \"e7de33b2-7acf-4121-ac2e-6bfef5405e06\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Compute/virtualMachineScaleSets/vmss7753\",\r\n  \"name\": \"vmss7753\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/providers/Microsoft.Compute/locations/eastus/operations/c136a129-9afb-4c4a-9b13-23a9d9ffeda2?api-version=2018-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "61"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29991"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2019-05-14T14:04:50.8544735-07:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"c136a129-9afb-4c4a-9b13-23a9d9ffeda2\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/providers/Microsoft.Compute/locations/eastus/operations/c136a129-9afb-4c4a-9b13-23a9d9ffeda2?api-version=2018-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14994,Microsoft.Compute/GetOperation30Min;29985"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2019-05-14T14:04:50.8544735-07:00\",\r\n  \"endTime\": \"2019-05-14T14:07:20.5416076-07:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"c136a129-9afb-4c4a-9b13-23a9d9ffeda2\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Compute/virtualMachineScaleSets/vmss7753/virtualMachines?api-version=2018-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/HighCostGetVMScaleSet3Min;177,Microsoft.Compute/HighCostGetVMScaleSet30Min;892,Microsoft.Compute/VMScaleSetVMViews3Min;4988"
        ],
        "x-ms-request-charge": [
          "4"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"instanceId\": \"1\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_A0\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"properties\": {\r\n        \"latestModelApplied\": true,\r\n        \"vmId\": \"d4e35928-878a-4dc9-9ee2-9282339fcf46\",\r\n        \"hardwareProfile\": {},\r\n        \"storageProfile\": {\r\n          \"imageReference\": {\r\n            \"publisher\": \"Canonical\",\r\n            \"offer\": \"UbuntuServer\",\r\n            \"sku\": \"16.04.0-LTS\",\r\n            \"version\": \"16.04.201903130\"\r\n          },\r\n          \"osDisk\": {\r\n            \"osType\": \"Linux\",\r\n            \"name\": \"vmss7753-os-disk-os-1-1779dcadcea54e70aa818b344f04c1b7\",\r\n            \"createOption\": \"FromImage\",\r\n            \"vhd\": {\r\n              \"uri\": \"https://stg38264.blob.core.windows.net/vhds/vmss7753-os-disk-os-1-1779dcadcea54e70aa818b344f04c1b7.vhd\"\r\n            },\r\n            \"caching\": \"ReadWrite\"\r\n          }\r\n        },\r\n        \"osProfile\": {\r\n          \"computerName\": \"vmss7753-vm000001\",\r\n          \"adminUsername\": \"jvuser\",\r\n          \"linuxConfiguration\": {\r\n            \"disablePasswordAuthentication\": false,\r\n            \"provisionVMAgent\": true\r\n          },\r\n          \"secrets\": [],\r\n          \"allowExtensionOperations\": true,\r\n          \"requireGuestProvisionSignal\": true\r\n        },\r\n        \"networkProfile\": {\r\n          \"networkInterfaces\": [\r\n            {\r\n              \"id\": \"/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Compute/virtualMachineScaleSets/vmss7753/virtualMachines/1/networkInterfaces/primary-nic-cfg\"\r\n            }\r\n          ]\r\n        },\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"type\": \"Microsoft.Compute/virtualMachineScaleSets/virtualMachines\",\r\n      \"location\": \"eastus\",\r\n      \"tags\": {},\r\n      \"[...]
    {
      "RequestUri": "/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Compute/virtualMachineScaleSets/vmss7753/virtualmachines/1?api-version=2018-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetVMScaleSetVM3Min;499,Microsoft.Compute/GetVMScaleSetVM30Min;2496,Microsoft.Compute/VMScaleSe[...]
[...]
    {
      "RequestUri": "/subscriptions/cfaa321b-47b6-4233-aea8-6684a4da739b/resourceGroups/javacsmrg8250/providers/Microsoft.Compute/virtualMachineScaleSets/vmss7753/virtualmachines/1/instanceView?api-version=2018-10-01",
      "RequestMethod": "GET",
[...]
