{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgnemv3642948718f1f?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"westcentralus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1138"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f\",\n  \"name\": \"rgnemv3642948718f1f\",\n  \"location\": \"westcentralus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/virtualNetworks/vnetbd1470198ab4?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"10.11.0.0/16\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"properties\": {\n          \"addressPrefix\": \"10.11.255.0/27\"\n        },\n        \"name\": \"GatewaySubnet\"\n      }\n    ]\n  },\n  \"location\": \"westcentralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westcentralus/operations/98558ff6-92e3-4fa5-b1b5-ebbb8efa85e7?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1137"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"vnetbd1470198ab4\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/virtualNetworks/vnetbd1470198ab4\",\n  \"etag\": \"W/\\\"822275b3-d431-4fc3-a032-25edcb2a9330\\\"\",\n  \"type\": \"Microsoft.Network/virtualNetworks\",\n  \"location\": \"westcentralus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Updating\",\n    \"resourceGuid\": \"e9bedc50-8d22-4802-accb-348ffdbde43a\",\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"10.11.0.0/16\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"name\": \"GatewaySubnet\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/virtualNetworks/vnetbd1470198ab4/subnets/GatewaySubnet\",\n        \"etag\": \"W/\\\"822275b3-d431-4fc3-a032-25edcb2a9330\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Updating\",\n          \"addressPrefix\": \"10.11.255.0/27\",\n          \"delegations\": []\n        },\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\n      }\n    ],\n    \"virtualNetworkPeerings\": [],\n    \"enableDdosProtection\": false,\n    \"enableVmProtection\": false\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westcentralus/operations/98558ff6-92e3-4fa5-b1b5-ebbb8efa85e7?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11186"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"status\": \"Succeeded\"\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/virtualNetworks/vnetbd1470198ab4?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"971bf5c6-86ae-4774-968e-894d56822d74\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11185"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"vnetbd1470198ab4\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/virtualNetworks/vnetbd1470198ab4\",\n  \"etag\": \"W/\\\"971bf5c6-86[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/virtualNetworks/vnetbd1470198ab4/virtualNetworkPeerings?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11184"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": []\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/publicIPAddresses/pip14700?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"westcentralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westcentralus/operations/c78e60dc-60b2-41b1-a1f4-15d9567def17?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1136"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"pip14700\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/publicIPAddresses/pip14700\",\n  \"etag\": \"W/\\\"db502490-eca5-4ca2-a4a7-e9fd57d904d5\\\"\",\n  \"location\": \"westcentralus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Updating\",\n    \"resourceGuid\": \"34ee7c3d-fa5e-498b-8e0e-c554eada03ba\",\n    \"publicIPAddressVersion\": \"IPv4\",\n    \"publicIPAllocationMethod\": \"Dynamic\",\n    \"idleTimeoutInMinutes\": 4,\n    \"ipTags\": []\n  },\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\": \"Regional\"\n  }\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/virtualNetworkGateways/vngw1ba34055b9e1?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"ipConfigurations\": [\n      {\n        \"properties\": {\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/virtualNetworks/vnetbd1470198ab4/subnets/GatewaySubnet\"\n          },\n          \"publicIPAddress\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/publicIPAddresses/pip14700\"\n          }\n        },\n        \"name\": \"ipcfg70131\"\n      }\n    ],\n    \"gatewayType\": \"Vpn\",\n    \"vpnType\": \"RouteBased\",\n    \"sku\": {\n      \"name\": \"VpnGw1\",\n      \"tier\": \"VpnGw1\"\n    }\n  },\n  \"location\": \"westcentralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Ne[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/localNetworkGateways/lngw47666208f5ac?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"localNetworkAddressSpace\": {\n      \"addressPrefixes\": [\n        \"192.168.3.0/24\"\n      ]\n    },\n    \"gatewayIpAddress\": \"40.71.184.214\"\n  },\n  \"location\": \"westcentralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westcentralus/operations/709d8d72-5b82-407e-ba87-c86c1c32bff7?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1131"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"lngw47666208f5ac\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/localNetworkGateways/lngw47666208f5ac\",\n  \"etag\": \"W/\\\"2281e869-71b5-4d4f-b581-720d5dd9f06f\\\"\",\n  \"type\": \"Microsoft.Network/localNetworkGateways\",\n  \"location\": \"westcentralus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Updating\",\n    \"resourceGuid\": \"81604907-3716-4a3b-9845-a3b49ede3418\",\n    \"localNetworkAddressSpace\": {\n      \"addressPrefixes\": [\n        \"192.168.3.0/24\"\n      ]\n    },\n    \"gatewayIpAddress\": \"40.71.184.214\"\n  }\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/connections/con81654749511e?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"virtualNetworkGateway1\": {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/virtualNetworkGateways/vngw1ba34055b9e1\"\n    },\n    \"localNetworkGateway2\": {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/localNetworkGateways/lngw47666208f5ac\"\n    },\n    \"connectionType\": \"IPsec\",\n    \"sharedKey\": \"MySecretKey\"\n  },\n  \"location\": \"westcentralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westcentralus/operations/bfbf1c7d-a421-4e1e-86fe-0ff522124188?ap[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/connections/con81654749511e?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11012"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"con81654749511e\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/connections/con81654749511e\",\n  \"etag\": \"W/\\\"17c9d26b-92f3-47f1-9779-2378d87d6830\\\"\",\n  \"type\": \"Microsoft.Network/connections\",\n  \"location\": \"westcentralus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceGuid\": \"db10f177-28b3-4573-81f4-819809e59b41\",\n    \"virtualNetworkGateway1\": {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/virtualNetworkGateways/vngw1ba34055b9e1\"\n    },\n    \"localNetworkGateway2\": {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/localNetworkGateways/lngw47666208f5ac\"\n    },\n    \"connectionType\": \"IPsec\",\n    \"routingWeight\": 0,\n    \"sharedKey\": \"MySecretKey\",\n    \"enableBgp\": false,\n    \"usePolicyBasedTrafficSelectors\": false,\n    \"ipsecPolicies\": [],\n    \"connectionStatus\": \"Unknown\",\n    \"ingressBytesTransferred\": 0,\n    \"egressBytesTransferred\": 0\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/virtualNetworkGateways/vngw1ba34055b9e1/connections?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11011"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        [...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgnemv3642948718f1f/providers/Microsoft.Network/virtualNetworkGateways/vngw1ba34055b9e1/reset?api-version=2018-04-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westcentralus/operationResults/7b60b10a-45eb-4d5c-a51a-5286197696c4?api-version=2018-04-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westcentralus/operations/7b60b10a-45eb-4d5c-a51a-5286197696c4?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1129"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westcentralus/operationResults/7b60b10a-45eb-4d5c-a51a-5286197696c4?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westcentralus/operationResults/7b60b10a-45eb-4d5c-a51a-5286197696c4?api-version=2018-04-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westcentralus/operations/7b60b10a-45eb-4d5c-a51a-5286197696c4?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11558"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgnemv3642948718f1f?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR05FTVYzNjQyOTQ4NzE4RjFGLVdFU1RDRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6Indlc3RjZW50cmFsdXMifQ?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14993"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {
    "ManageVpnGatewaySite2SiteConnectionTest": [
      "rgnemv3642948718f1f",
      "vnetbd1470198ab4",
      "vngw1ba34055b9e1",
      "lngw47666208f5ac",
      "con81654749511e",
      "ipcfg70131",
      "pip14700"
    ]
  },
  "Variables": {
    "ServicePrincipal": "39e3d217-cb72-4b90-8532-394a7e784d93",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}