{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgstms3805708313c?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"eastus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1168"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstms3805708313c\",\n  \"name\": \"rgstms3805708313c\",\n  \"location\": \"eastus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstms3805708313c/providers/Microsoft.Storage/storageAccounts/sa51f3762646cce?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"sku\": {\n    \"name\": \"Standard_GRS\"\n  },\n  \"kind\": \"Storage\",\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Storage/locations/eastus/asyncoperations/64e4baeb-a617-43d3-a45e-ba27e005c287?monitor=true&api-version=2017-10-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1167"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Storage/locations/eastus/asyncoperations/64e4baeb-a617-43d3-a45e-ba27e005c287?monitor=true&api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11833"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\n  \"sku\": {\n    \"name\": \"Standard_GRS\",\n    \"tier\": \"Standard\"\n  },\n  \"kind\": \"Storage\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstms3805708313c/providers/Microsoft.Storage/storageAccounts/sa51f3762646cce\",\n  \"name\": \"sa51f3762646cce\",\n  \"type\": \"Microsoft.Storage/storageAccounts\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"networkAcls\": {\n      \"bypass\": \"AzureServices\",\n      \"virtualNetworkRules\": [],\n      \"ipRules\": [],\n      \"defaultAction\": \"Allow\"\n    },\n    \"trustedDirectories\": [\n      \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\n    ],\n    \"supportsHttpsTrafficOnly\": false,\n    \"encryption\": {\n      \"services\": {\n        \"file\": {\n          \"enabled\": true,\n          \"lastEnabledTime\": \"2018-08-01T01:59:23.5598692Z\"\n        },\n        \"blob\": {\n          \"enabled\": true,\n          \"lastEnabledTime\": \"2018-08-01T01:59:23.5598692Z\"\n        }\n      },\n      \"keySource\": \"Microsoft.Storage\"\n    },\n    \"provisioningState\": \"Succeeded\",\n    \"creationTime\": \"2018-08-01T01:59:23.4192431Z\",\n    \"primaryEndpoints\": {\n      \"blob\": \"https://sa51f3762646cce.blob.core.windows.net/\",\n      \"queue\": \"https://sa51f3762646cce.queue.core.windows.net/\",\n      \"table\": \"https://sa51f3762646cce.table.core.windows.net/\",\n      \"file\": \"https://sa51f3762646cce.file.core.windows.net/\"\n    },\n    \"primaryLocation\": \"eastus\",\n    \"statusOfPrimary\": \"available\",\n    \"secondaryLocation\": \"westus\",\n    \"statusOfSecondary\": \"available\"\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstms3805708313c/providers/Microsoft.Storage/storageAccounts/sa51f3762646cce/listKeys?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1166"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\n  \"keys\": [\n    {\n      \"keyName\": \"key1\",\n      \"value\": \"glsyPBwko+2fgKwqHFqjkkyedNP8mUvmUaJE1v8bcG8guBO3uaLw9qSW0ZNVczfoKqwiVrCpt2Sz9vJPOfAPGQ==\",\n      \"permissions\": \"FULL\"\n    },\n    {\n      \"keyName\": \"key2\",\n      \"value\": \"uPGsWnAV/PqZSsbhkHzxpihGq1qjlijsRJDtOz2uxyTkjaP9KgtVyY01U2zcvMjlgiverzW4aQiBhC53BHc2sA==\",\n      \"permissions\": \"FULL\"\n    }\n  ]\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstms3805708313c/providers/Microsoft.Storage/storageAccounts/sa51f3762646cce/regenerateKey?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\n  \"keyName\": \"key1\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1165"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\n  \"keys\": [\n    {\n      \"keyName\": \"key1\",\n      \"value\": \"rel/lL1c/5nqrxYva1SNbMcknxVlpCEu6rHf1v5hGfNP4LnMUNCD36yfnd1gEUXt8WJ1fo55tvu1wLRUlYFdkQ==\",\n      \"permissions\": \"FULL\"\n    },\n    {\n      \"keyName\": \"key2\",\n      \"value\": \"uPGsWnAV/PqZSsbhkHzxpihGq1qjlijsRJDtOz2uxyTkjaP9KgtVyY01U2zcvMjlgiverzW4aQiBhC53BHc2sA==\",\n      \"permissions\": \"FULL\"\n    }\n  ]\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstms3805708313c/providers/Microsoft.Storage/storageAccounts?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11828"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\n  \"value\": [\n[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1NUTVMzODA1NzA4MzEzQy1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1NUTVMzODA1NzA4MzEzQy1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11826"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1NUTVMzODA1NzA4MzEzQy1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11819"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "ManageStorageAccountTest": [
      "rgstms3805708313c",
      "sa51f3762646cce",
      "sa2166601051ac0"
    ]
  },
  "Variables": {
    "ServicePrincipal": "39e3d217-cb72-4b90-8532-394a7e784d93",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}