{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgstmsc736820775c?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"eastus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1180"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c\",\n  \"name\": \"rgstmsc736820775c\",\n  \"location\": \"eastus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/virtualNetworks/nwb8f77272d64ae?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"10.0.0.0/28\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"properties\": {\n          \"addressPrefix\": \"10.0.0.8/29\",\n          \"serviceEndpoints\": [\n            {\n              \"service\": \"Microsoft.Storage\",\n              \"locations\": []\n            }\n          ]\n        },\n        \"name\": \"subnetA\"\n      }\n    ]\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/d9651817-1424-419d-bbd7-7f881b7fb927?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1179"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"nwb8f77272d64ae\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/virtualNetworks/nwb8f77272d64ae\",\n  \"etag\": \"W/\\\"e9795b9a-8cc0-4a05-b975-403a2f9ebbb4\\\"\",\n  \"type\": \"Microsoft.Network/virtualNetworks\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Updating\",\n    \"resourceGuid\": \"1dca7c07-f1f4-4835-9621-d3650444f7d5\",\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"10.0.0.0/28\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"name\": \"subnetA\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/virtualNetworks/nwb8f77272d64ae/subnets/subnetA\",\n        \"etag\": \"W/\\\"e9795b9a-8cc0-4a05-b975-403a2f9ebbb4\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Updating\",\n          \"addressPrefix\": \"10.0.0.8/29\",\n          \"serviceEndpoints\": [\n            {\n              \"provisioningState\": \"Updating\",\n              \"service\": \"Microsoft.Storage\",\n              \"locations\": [\n                \"eastus\",\n                \"westus\"\n              ]\n            }\n          ],\n          \"delegations\": []\n        }\n      }\n    ],\n    \"virtualNetworkPeerings\": [],\n    \"enableDdosProtection\": false,\n    \"enableVmProtection\": false\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/d9651817-1424-419d-bbd7-7f881b7fb927?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11840"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"status\": \"Succeeded\"\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/virtualNetworks/nwb8f77272d64ae?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"662b92ce-001f-4c71-ba99-925a2044af26\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11839"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"nwb8f77272d64ae\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/virtualNetworks/nwb8f77272d64ae\",\n  \"etag\": \"W/\\\"662b92ce-001f-4[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/virtualNetworks/nwb8f77272d64ae/virtualNetworkPeerings?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11838"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": []\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Storage/storageAccounts/sa50c55213b3?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"sku\": {\n    \"name\": \"Standard_GRS\"\n  },\n  \"kind\": \"Storage\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"networkAcls\": {\n      \"virtualNetworkRules\": [\n        {\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/virtualNetworks/nwb8f77272d64ae/subnets/subnetA\",\n          \"action\": \"Allow\"\n        }\n      ],\n      \"defaultAction\": \"Deny\"\n    }\n  }\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Storage/locations/eastus/asyncoperations/5e9bba4a-9843-4805-a03b-c034a1defb86?monitor=true&api-version=2017-10-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1178"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Storage/locations/eastus/asyncoperations/5e9bba4a-9843-4805-a03b-c034a1defb86?monitor=true&api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Storage/locations/eastus/asyncoperations/5e9bba4a-9843-4805-a03b-c034a1defb86?monitor=true&api-version=2017-10-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11837"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Storage/locations/eastus/asyncoperations/5e9bba4a-9843-4805-a03b-c034a1defb86?monitor=true&api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11836"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\n  \"sku\": {\n    \"name\": \"Standard_GRS\",\n    \"tier\": \"Standard\"\n  },\n  \"kind\": \"Storage\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Storage/storageAccounts/sa50c55213b3\",\n  \"name\": \"sa50c55213b3\",\n  \"type\": \"Microsoft.Storage/storageAccounts\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"networkAcls\": {\n      \"bypass\": \"AzureServices\",\n      \"virtualNetworkRules\": [\n        {\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/virtualNetworks/nwb8f77272d64ae/subnets/subnetA\",\n          \"action\": \"Allow\",\n          \"state\": \"Succeeded\"\n        }\n      ],\n      \"ipRules\": [],\n      \"defaultAction\": \"Deny\"\n    },\n    \"trustedDirectories\": [\n      \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\n    ],\n    \"supportsHttpsTrafficOnly\": false,\n    \"encryption\": {\n      \"services\": {\n        \"file\": {\n          \"enabled\": true,\n          \"lastEnabledTime\": \"2018-08-01T02:03:09.8957977Z\"\n        },\n        \"blob\": {\n          \"enabled\": true,\n          \"lastEnabledTime\": \"2018-08-01T02:03:09.8957977Z\"\n        }\n      },\n      \"keySource\": \"Microsoft.Storage\"\n    },\n    \"provisioningState\": \"Succeeded\",\n    \"creationTime\": \"2018-08-01T02:03:09.7551697Z\",\n    \"primaryEndpoints\": {\n      \"blob\": \"https://sa50c55213b3.blob.core.windows.net/\",\n      \"queue\": \"https://sa50c55213b3.queue.core.windows.net/\",\n      \"table\": \"https://sa50c55213b3.table.core.windows.net/\",\n      \"file\": \"https://sa50c55213b3.file.core.windows.net/\"\n    },\n    \"primaryLocation\": \"eastus\",\n    \"statusOfPrimary\": \"available\",\n    \"secondaryLocation\": \"westus\",\n    \"statusOfSecondary\": \"available\"\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/publicIPAddresses/pip9975212482e0?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"dnsSettings\": {\n      \"domainNameLabel\": \"pip9975212482e0\"\n    }\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/1cf88426-f6d9-49a7-bcfb-713d544a8626?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1177"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"pip9975212482e0\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/publicIPAddresses/pip9975212482e0\",\n  \"etag\": \"W/\\\"59484af5-891e-453f-83d0-ced51e1c1705\\\"\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Updating\",\n    \"resourceGuid\": \"0b1d1c27-1976-4df2-b2de-6ef0b52226f6\",\n    \"publicIPAddressVersion\": \"IPv4\",\n    \"publicIPAllocationMethod\": \"Dynamic\",\n    \"idleTimeoutInMinutes\": 4,\n    \"dnsSettings\": {\n      \"domainNameLabel\": \"pip9975212482e0\",\n      \"fqdn\": \"pip9975212482e0.eastus.cloudapp.azure.com\"\n    },\n    \"ipTags\": []\n  },\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\": \"Regional\"\n  }\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/publicIPAddresses/pip9975212482e0?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"892bf6aa-40e0-4fab-a6d7-3f1a566b2139\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11823"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"pip9975212482e0\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/publicIPAddresses/pip9975212482e0\",\n  \"etag\": \"W/\\\"892bf6aa-40e0-4fab-a6d7-3f1a566b2139\\\"\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceGuid\": \"0b1d1c27-1976-4df2-b2de-6ef0b52226f6\",\n    \"ipAddress\": \"23.96.29.231\",\n    \"publicIPAddressVersion\": \"IPv4\",\n    \"publicIPAllocationMethod\": \"Dynamic\",\n    \"idleTimeoutInMinutes\": 4,\n    \"dnsSettings\": {\n      \"domainNameLabel\": \"pip9975212482e0\",\n      \"fqdn\": \"pip9975212482e0.eastus.cloudapp.azure.com\"\n    },\n    \"ipTags\": [],\n    \"ipConfiguration\": {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/networkInterfaces/nic8260326d4c2/ipConfigurations/primary\"\n    }\n  },\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\": \"Regional\"\n  }\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/virtualNetworks/vnetd55012747de3?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"10.1.0.0/28\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"properties\": {\n          \"add[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/networkInterfaces/nic8260326d4c2?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"ipConfigurations\": [\n      {\n        \"properties\": {\n          \"privateIPAllocationMethod\": \"Dynamic\",\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/virtualNetworks/vnetd55012747de3/subnets/subnet1\"\n          },\n          \"primary\": true,\n          \"publicIPAddress\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/publicIPAddresses/pip9975212482e0\"\n          }\n        },\n        \"name\": \"primary\"\n      }\n    ],\n    \"dnsSettings\": {}\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/networkInterfaces/nic8260326d4c2?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"6a9c9ba5-dc1d-48ce-9357-8ee7d28b5163\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11829"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"nic8260326d4c2\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/networkInterfaces/nic8260326d4c2\",\n  \"etag\": \"W/\\\"6a9c9ba5-dc1d-48ce-9357-8ee7d28b5163\\\"\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceGuid\": \"f8cf28cd-49df-45db-8678-26467751b658\",\n    \"ipConfigurations\": [\n      {\n        \"name\": \"primary\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/networkInterfaces/nic8260326d4c2/ipConfigurations/primary\",\n        \"etag\": \"W/\\\"6a9c9ba5-dc1d-48ce-9357-8ee7d28b5163\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Succeeded\",\n          \"privateIPAddress\": \"10.1.0.4\",\n          \"privateIPAllocationMethod\": \"Dynamic\",\n          \"publicIPAddress\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/publicIPAddresses/pip9975212482e0\"\n          },\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/virtualNetworks/vnetd55012747de3/subnets/subnet1\"\n          },\n          \"primary\": true,\n          \"privateIPAddressVersion\": \"IPv4\",\n          \"isInUseWithService\": false\n        }\n      }\n    ],\n    \"dnsSettings\": {\n      \"dnsServers\": [],\n      \"appliedDnsServers\": [],\n      \"internalDomainNameSuffix\": \"nkc3a2qmm5bezcdye1vtt0dkrf.bx.internal.cloudapp.net\"\n    },\n    \"enableAcceleratedNetworking\": false,\n    \"enableIPForwarding\": false,\n    \"services\": null,\n    \"virtualNetworkTapProvisioningState\": \"NotProvisioned\"\n  },\n  \"type\": \"Microsoft.Network/networkInterfaces\"\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Compute/virtualMachines/vme2593304?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"hardwareProfile\": {\n      \"vmSize\": \"Standard_D3_v2\"\n    },\n    \"storageProfile\": {\n      \"imageReference\": {\n        \"publisher\": \"Canonical\",\n        \"offer\": \"UbuntuServer\",\n        \"sku\": \"16.04.0-LTS\",\n        \"version\": \"latest\"\n      },\n      \"osDisk\": {\n        \"caching\": \"ReadWrite\",\n        \"createOption\": \"FromImage\",\n        \"managedDisk\": {\n          \"storageAccountType\": \"Standard_LRS\"\n        }\n      }\n    },\n    \"osProfile\": {\n      \"computerName\": \"vme2593304\",\n      \"adminUsername\": \"tirekicker\",\n      \"adminPassword\": \"12NewPA$$w0rd!\",\n      \"linuxConfiguration\": {\n        \"disablePasswordAuthentication\": false\n      }\n    },\n    \"networkProfile\": {\n      \"networkInterfaces\": [\n        {\n          \"properties\": {\n            \"primary\": true\n          },\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/networkInterfaces/nic8260326d4c2\"\n        }\n      ]\n    }\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/cda555ff-00d6-4c45-9d1f-87043e3f85fe?api-version=2018-06-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1191"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1174"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"properties\": {\n    \"vmId\": \"afb5db0a-50de-409f-b2d3-1a3a52a95e0a\",\n    \"hardwareProfile\": {\n      \"vmSize\": \"Standard_D3_v2\"\n    },\n    \"storageProfile\": {\n      \"imageReference\": {\n        \"publisher\": \"Canonical\",\n        \"offer\": \"UbuntuServer\",\n        \"sku\": \"16.04.0-LTS\",\n        \"version\": \"latest\"\n      },\n      \"osDisk\": {\n        \"osType\": \"Linux\",\n        \"createOption\": \"FromImage\",\n        \"caching\": \"ReadWrite\",\n        \"managedDisk\": {\n          \"storageAccountType\": \"Standard_LRS\"\n        }\n      },\n      \"dataDisks\": []\n    },\n    \"osProfile\": {\n      \"computerName\": \"vme2593304\",\n      \"adminUsername\": \"tirekicker\",\n      \"linuxConfiguration\": {\n        \"disablePasswordAuthentication\": false,\n        \"provisionVMAgent\": true\n      },\n      \"secrets\": [],\n      \"allowExtensionOperations\": true\n    },\n    \"networkProfile\": {\n      \"networkInterfaces\": [\n        {\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Network/networkInterfaces/nic8260326d4c2\",\n          \"properties\": {\n            \"primary\": true\n          }\n        }\n      ]\n    },\n    \"provisioningState\": \"Creating\"\n  },\n  \"type\": \"Microsoft.Compute/virtualMachines\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgstmsc736820775c/providers/Microsoft.Compute/virtualMachines/vme2593304\",\n  \"name\": \"vme2593304\"\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/cda555ff-00d6-4c45-9d1f-87043e3f85fe?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "30"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14988,Microsoft.Compute/GetOperation30Min;29664"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11828"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"startTime\": \"2018-08-01T02:04:24.2622364+00:00\",\n  \"status\": \"InProgress\",\n  \"name\": \"cda555ff-00d6-4c45-9d1f-87043e3f85fe\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/cda555ff-00d6-4c45-9d1f-87043e3f85fe?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14983,Microsoft.Compute/GetOperation30Min;29842"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11825"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"startTime\": \"2018-08-01T02:04:24.2622364+00:00\",\n  \"endTime\": \"2018-08-01T02:06:07.6543167+00:00\",\n  \"status\": \"Succeeded\",\n  \"name\": \"cda555ff-00d6-4c45-9d1f-87043e3f85fe\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1NUTVNDNzM2ODIwNzc1Qy1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1NUTVNDNzM2ODIwNzc1Qy1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11819"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1NUTVNDNzM2ODIwNzc1Qy1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11794"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "ManageManageStorageAccountNetworkRulesTest": [
      "rgstmsc736820775c",
      "nwb8f77272d64ae",
      "sa50c55213b3",
      "pip9975212482e0",
      "vme2593304",
      "nic8260326d4c2",
      "vnetd55012747de3"
    ]
  },
  "Variables": {
    "ServicePrincipal": "39e3d217-cb72-4b90-8532-394a7e784d93",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}