{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Web/certificates?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11980"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/webtest/providers/Microsoft.Web/certificates/C41F3E969835B9246AEBEFAE8C10B572B7452E57##centralus#\",\r\n      \"name\": \"C41F3E969835B9246AEBEFAE8C10B572B7452E57##centralus#\",\r\n      \"type\": \"Microsoft.Web/certificates\",\r\n      \"location\": \"Central US\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"friendlyName\": \"\",\r\n        \"subjectName\": \"*.teststar.biz\",\r\n        \"hostNames\": [\r\n          \"*.teststar.biz\"\r\n        ],\r\n        \"pfxBlob\": null,\r\n        \"siteName\": null,\r\n        \"selfLink\": null,\r\n        \"issuer\": \"Let's Encrypt Authority X3\",\r\n        \"issueDate\": \"2019-10-21T16:26:22+08:00\",\r\n        \"expirationDate\": \"2020-01-19T16:26:22+08:00\",\r\n        \"password\": null,\r\n        \"thumbprint\": \"C41F3E969835B9246AEBEFAE8C10B572B7452E57\",\r\n        \"valid\": null,\r\n        \"toDelete\": null,\r\n        \"cerBlob\": null,\r\n        \"publicKeyHash\": null,\r\n        \"hostingEnvironment\": null,\r\n        \"hostingEnvironmentProfile\": null,\r\n        \"keyVaultSecretStatus\": \"Initialized\",\r\n        \"webSpace\": \"webtest-CentralUSwebspace\",\r\n        \"serverFarmId\": null,\r\n        \"tags\": {}\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": null,\r\n  \"id\": null\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "ServicePrincipal": "f963607e-882c-4ea1-95b3-0399672aea88",
    "AADTenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "SubscriptionId": "ec0aa5f7-9e78-40c9-85cd-535c6305b380"
  }
}