{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgrcmce4546216573?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"centralus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1133"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrcmce4546216573\",\n  \"name\": \"rgrcmce4546216573\",\n  \"location\": \"centralus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrcmce4546216573/providers/Microsoft.Cache/Redis/rc125a4320742be?api-version=2018-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"sku\": {\n      \"name\": \"Basic\",\n      \"family\": \"C\",\n      \"capacity\": 0\n    }\n  },\n  \"location\": \"centralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrcmce4546216573/providers/Microsoft.Cache/redis/rc125a4320742be?api-version=2018-03-01"
        ],
        "x-rp-server-mvid": [
          "65fec597-8aa7-4bbe-8633-71ed2ef4d634"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1132"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrcmce4546216573/providers/Microsoft.Cache/Redis/rc125a4320742be\",\n  \"location\": \"Central US\",\n  \"name\": \"rc125a4320742be\",\n  \"type\": \"Microsoft.Cache/Redis\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Creating\",\n    \"redisVersion\": \"3.2.7\",\n    \"sku\": {\n      \"name\": \"Basic\",\n      \"family\": \"C\",\n      \"capacity\": 0\n    },\n    \"enableNonSslPort\": false,\n    \"redisConfiguration\": {\n      \"maxclients\": \"256\",\n      \"maxmemory-reserved\": \"2\",\n      \"maxfragmentationmemory-reserved\": \"12\",\n      \"maxmemory-delta\": \"2\"\n    },\n    \"accessKeys\": {\n      \"primaryKey\": \"v4n37JjfeBAtfv71XoOHFpgH6NWP3l175J1albVNUvo=\",\n      \"secondaryKey\": \"8tcUm5kYAATgfq3j0bLZPtH3Ao0NmbkLCeGfyvx6Bp8=\"\n    },\n    \"hostName\": \"rc125a4320742be.redis.cache.windows.net\",\n    \"port\": 6379,\n    \"sslPort\": 6380,\n    \"linkedServers\": []\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrcmce4546216573/providers/Microsoft.Cache/redis/rc125a4320742be?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "65fec597-8aa7-4bbe-8633-71ed2ef4d634"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11164"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrcmce4546216573/providers/Microsoft.Cache/Redis/rc125a4320742be\",\n  \"location\": \"Central US\",\n  \"name\": \"rc125a4320742be\",\n  \"type\": \"Microsoft.Cache/Redis\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Creating\",\n    \"redisVersion\": \"3.2.7\",\n    \"sku\": {\n      \"name\": \"Basic\",\n      \"family\": \"C\",\n      \"capacity\": 0\n    },\n    \"enableNonSslPort\": false,\n    \"redisConfiguration\": {\n      \"maxclients\": \"256\",\n      \"maxmemory-reserved\": \"2\",\n      \"maxfragmentationmemory-reserved\": \"12\",\n      \"maxmemory-delta\": \"2\"\n    },\n    \"accessKeys\": null,\n    \"hostName\": \"rc125a4320742be.redis.cache.windows.net\",\n    \"port\": 6379,\n    \"sslPort\": 6380,\n    \"linkedServers\": []\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrcmce4546216573/providers/Microsoft.Cache/Redis/rc125a4320742be/listKeys?api-version=2018-03-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "65fec597-8aa7-4bbe-8633-71ed2ef4d634"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1128"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"primaryKey\": \"v4n37JjfeBAtfv71XoOHFpgH6NWP3l175J1albVNUvo=\",\n  \"secondaryKey\": \"8tcUm5kYAATgfq3j0bLZPtH3Ao0NmbkLCeGfyvx6Bp8=\"\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrcmce4546216573/providers/Microsoft.Cache/Redis/rc125a4320742be/regenerateKey?api-version=2018-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\n  \"keyType\": \"Secondary\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "65fec597-8aa7-4bbe-8633-71ed2ef4d634"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1127"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"primaryKey\": \"v4n37JjfeBAtfv71XoOHFpgH6NWP3l175J1albVNUvo=\",\n  \"secondaryKey\": \"DEbHKqmW4SLL8zciw8lB5oprxD0uJmtHIEgRokn+1zU=\"\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrcmce4546216573/providers/Microsoft.Cache/Redis/rc2c8b8393999a7?api-version=2018-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"shardCount\": 3,\n    \"sku\": {\n      \"name\": \"Premium\",\n      \"family\": \"P\",\n      \"capacity\": 1\n    }\n  },\n  \"location\": \"centralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrcmce4546216573/providers/Microsoft.Cache/redis/rc2c8b8393999a7[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrcmce4546216573/providers/Microsoft.Cache/Redis?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "65fec597-8aa7-4bbe-8633-71ed2ef4d634"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11588"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrcmce4546216573/providers/Microsoft.Cache/Redis/rc125a4320742be\",\n      \"location\": \"Central US\",\n      \"name\": \"rc125a4320742be\",\n      \"type\": \"Microsoft.Cache/Redis\",\n      \"tags\": {},\n      \"properties\": {\n        \"provisioningState\": \"Succeeded\",\n        \"redisVersion\": \"3.2.7\",\n        \"sku\": {\n          \"name\": \"Basic\",\n          \"family\": \"C\",\n    [...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrcmce4546216573/providers/Microsoft.Cache/Redis/rc125a4320742be/patchSchedules?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "65fec597-8aa7-4bbe-8633-71ed2ef4d634"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11587"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"error\": {\n    \"code\": \"ResourceNotFound\",\n    \"message\": \"There are no patch schedules found for redis cache 'rc125a4320742be'.\\r\\nRequestID=f79301e5-79be-4c69-b27c-e1ec64168f55\",\n    \"target\": null\n  }\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrcmce4546216573/providers/Microsoft.Cache/Redis/rc125a4320742be/firewallRules?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "65fec597-8aa7-4bbe-8633-71ed2ef4d634"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11586"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": []\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrcmce4546216573/providers/Microsoft.Cache/Redis/rc2c8b8393999a7?api-version=2018-03-01",
      "RequestMethod": "PATCH",
      "RequestBody": "{\n  \"properties\": {\n    \"redisConfiguration\": {\n      \"maxmemory-policy\": \"allkeys-random\",\n      \"maxmemory-reserved\": \"20\"\n    },\n    \"enableNonSslPort\": true,\n    \"shardCount\": 4\n  }\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "65fec597-8aa7-4bbe-8633-71ed2ef4d634"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1158"
        ],
        "Content-Type": [
          "application/[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrcmce4546216573/providers/Microsoft.Cache/Redis/rc2c8b8393999a7/patchSchedules/default?api-version=2018-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"scheduleEntries\": [\n      {\n        \"dayOfWeek\": \"Monday\",\n        \"startHourUtc\": 5\n      }\n    ]\n  }\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "65fec597-8aa7-4bbe-8633-71ed2ef4d634"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1157"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrcmce4546216573/providers/Microsoft.Cache/Redis/rc2c8b8393999a7/patchSchedules/default\",\n  \"location\": \"Central US\",\n  \"name\": \"rc2c8b8393999a7/default\",\n  \"type\": \"Microsoft.Cache/Redis/PatchSchedules\",\n  \"properties\": {\n    \"scheduleEntries\": [\n      {\n        \"dayOfWeek\": \"Monday\",\n        \"startHourUtc\": 5,\n        \"maintenanceWindow\": \"PT5H\"\n      }\n    ]\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgrcmce4546216573/providers/Microsoft.Cache/Redis/rc2c8b8393999a7/forceReboot?api-version=2018-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\n  \"rebootType\": \"AllNodes\",\n  \"shardId\": 1\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "65fec597-8aa7-4bbe-8633-71ed2ef4d634"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1165"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"message\": \"The requested reboot operation for 'AllNodes' has been successfully scheduled and should be executed shortly.\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Cache/locations/Central%20US/operationresults/2c1b6a52-a0d0-48a1-a302-521c87447cfc?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Cache/locations/Central%20US/operationresults/2c1b6a52-a0d0-48a1-a302-521c87447cfc?api-version=2018-03-01"
        ],
        "x-rp-server-mvid": [
          "65fec597-8aa7-4bbe-8633-71ed2ef4d634"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11704"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgrcmce4546216573?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1JDTUNFNDU0NjIxNjU3My1DRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6ImNlbnRyYWx1cyJ9?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14996"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1JDTUNFNDU0NjIxNjU3My1DRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6ImNlbnRyYWx1cyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1JDTUNFNDU0NjIxNjU3My1DRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6ImNlbnRyYWx1cyJ9?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11732"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1JDTUNFNDU0NjIxNjU3My1DRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6ImNlbnRyYWx1cyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11769"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "ManageRedisTest": [
      "rc125a4320742be",
      "rc2c8b8393999a7",
      "rc32b92531600c6",
      "rgrcmce4546216573"
    ]
  },
  "Variables": {
    "ServicePrincipal": "39e3d217-cb72-4b90-8532-394a7e784d93",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}