{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rg98875?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"westus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1163"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875\",\n  \"name\": \"rg98875\",\n  \"location\": \"westus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/publicIPAddresses/pip73282?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"westus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/b0cba000-f1bb-4879-8699-81e8d4c0a39e?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1162"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"pip73282\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/publicIPAddresses/pip73282\",\n  \"etag\": \"W/\\\"e3f50611-5129-41e9-a9dc-ebd08bb543fa\\\"\",\n  \"location\": \"westus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Updating\",\n    \"resourceGuid\": \"c07eb11b-c0ac-49f5-bd42-4a42d420a5e2\",\n    \"publicIPAddressVersion\": \"IPv4\",\n    \"publicIPAllocationMethod\": \"Dynamic\",\n    \"idleTimeoutInMinutes\": 4,\n    \"ipTags\": []\n  },\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\": \"Regional\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/virtualNetworks/vnet52210?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"10.11.0.0/16\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"properties\": {\n          \"addressPrefix\": \"10.11.255.0/27\"\n        },\n        \"name\": \"GatewaySubnet\"\n      }\n    ]\n  },\n  \"location\": \"westus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/west[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/b0cba000-f1bb-4879-8699-81e8d4c0a39e?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11605"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"status\": \"Succeeded\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/publicIPAddresses/pip73282?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"89c65f24-c8a0-4c95-b3be-94694b00748b\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11604"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"pip73282\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/publicIPAddresses/pip73282\",\n  \"etag\": \"W/\\\"89c65f24-c8a0-4c95-b3be-94694b00748b\\\"\",\n  \"location\": \"westus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceGuid\": \"c07eb11b-c0ac-49f5-bd42-4a42d420a5e2\",\n    \"publicIPAddressVersion\": \"IPv4\",\n    \"publicIPAllocationMethod\": \"Dynamic\",\n    \"idleTimeoutInMinutes\": 4,\n    \"ipTags\": []\n  },\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\": \"Regional\"\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/virtualNetworkGateways/vngw09826?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"ipConfigurations\": [\n      {\n        \"properties\": {\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/virtualNetworks/vnet52210/subnets/GatewaySubnet\"\n          },\n          \"publicIPAddress\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/publicIPAddresses/pip73282\"\n          }\n        },\n        \"name\": \"ipcfg86185\"\n      }\n    ],\n    \"gatewayType\": \"Vpn\",\n    \"vpnType\": \"RouteBased\",\n    \"sku\": {\n      \"name\": \"VpnGw1\",\n      \"tier\": \"VpnGw1\"\n    }\n  },\n  \"location\": \"westus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/l[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/virtualNetworkGateways/vngw09826?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11593"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"vngw09826\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/virtualNetworkGateways/vngw09826\",\n  \"etag\": \"W/\\\"7acee2a1-a69e-42f9-92d2-5ee6bd2d838a\\\"\",\n  \"type\": \"Microsoft.Network/virtualNetworkGateways\",\n  \"location\": \"westus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceGuid\": \"d88ce34f-f897-47ae-9274-7d68b7d6e8d7\",\n    \"ipConfigurations\": [\n      {\n        \"name\": \"ipcfg86185\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/virtualNetworkGateways/vngw09826/ipConfigurations/ipcfg86185\",\n        \"etag\": \"W/\\\"7acee2a1-a69e-42f9-92d2-5ee6bd2d838a\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Succeeded\",\n          \"privateIPAllocationMethod\": \"Dynamic\",\n          \"publicIPAddress\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/publicIPAddresses/pip73282\"\n          },\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/virtualNetworks/vnet52210/subnets/GatewaySubnet\"\n          }\n        }\n      }\n    ],\n    \"sku\": {\n      \"name\": \"VpnGw1\",\n      \"tier\": \"VpnGw1\",\n      \"capacity\": 2\n    },\n    \"gatewayType\": \"Vpn\",\n    \"vpnType\": \"RouteBased\",\n    \"enableBgp\": false,\n    \"activeActive\": false,\n    \"bgpSettings\": {\n      \"asn\": 65515,\n      \"bgpPeeringAddress\": \"10.11.255.30\",\n      \"peerWeight\": 0\n    }\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/connections/myNewConnection?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"virtualNetworkGateway1\": {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/virtualNetworkGateways/vngw09826\"\n    },\n    \"virtualNetworkGateway2\": {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/virtualNetworkGateways/vngw249968\"\n    },\n    \"connectionType\": \"Vnet2Vnet\",\n    \"sharedKey\": \"MySecretKey\"\n  },\n  \"location\": \"westus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/efe07751-a3f9-48af-b01e-851f9dd8781f?api-version=2018[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/connections/myNewConnection?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11727"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"myNewConnection\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/connections/myNewConnection\",\n  \"etag\": \"W/\\\"2e886005-3046-40f8-b277-9be0fa2c2dce\\\"\",\n  \"type\": \"Microsoft.Network/connections\",\n  \"location\": \"westus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceGuid\": \"35775028-2aac-4ccd-a3ed-feffd116fde3\",\n    \"virtualNetworkGateway1\": {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/virtualNetworkGateways/vngw09826\"\n    },\n    \"virtualNetworkGateway2\": {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/virtualNetworkGateways/vngw249968\"\n    },\n    \"connectionType\": \"Vnet2Vnet\",\n    \"routingWeight\": 0,\n    \"sharedKey\": \"MySecretKey\",\n    \"enableBgp\": false,\n    \"usePolicyBasedTrafficSelectors\": false,\n    \"ipsecPolicies\": [],\n    \"connectionStatus\": \"Unknown\",\n    \"ingressBytesTransferred\": 0,\n    \"egressBytesTransferred\": 0\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/connections/myNewConnection2?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"virtualNetworkGateway1\": {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/virtualNetworkGateways/vngw249968\"\n    },\n    \"virtualNetworkGateway2\": {\n      [...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/virtualNetworkGateways/vngw09826/connections?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11723"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": [\n    {\n      \"name\": \"myNewConnection\",\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/connections/myNewConnection\",\n      \"etag\": \"W/\\\"2e886005-3046-40f8-b277-9be0fa2c2dce\\\"\",\n      \"type\": \"Microsoft.Network/connections\",\n      \"location\": \"westus\",\n      \"tags\": {},\n      \"properties\": {\n        \"provisioningState\": \"Succeeded\",\n        \"resourceGuid\": \"35775028-2aac-4ccd-a3ed-feffd116fde3\",\n        \"virtualNetworkGateway1\": {\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/virtualNetworkGateways/vngw09826\"\n        },\n        \"virtualNetworkGateway2\": {\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/virtualNetworkGateways/vngw249968\"\n        },\n        \"connectionType\": \"Vnet2Vnet\",\n        \"routingWeight\": 0,\n        \"enableBgp\": false,\n        \"usePolicyBasedTrafficSelectors\": false,\n        \"ipsecPolicies\": [],\n        \"ingressBytesTransferred\": 0,\n        \"egressBytesTransferred\": 0\n      }\n    }\n  ]\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg98875/providers/Microsoft.Network/connections/myNewConnection?api-version=2018-04-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/96576661-f178-401c-97a5-c7a83f6052a4?api-version=2018-04-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/96576661-f178-401c-97a5-c7a83f6052a4?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14993"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/96576661-f178-401c-97a5-c7a83f6052a4?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/96576661-f178-401c-97a5-c7a83f6052a4?api-version=2018-04-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/96576661-f178-401c-97a5-c7a83f6052a4?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11718"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzk4ODc1LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzk4ODc1LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzk4ODc1LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11955"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "CanCreateVNetToVNetConnection": [
      "vngw09826",
      "vngw249968",
      "rg98875",
      "vnet52210",
      "ipcfg86185",
      "pip73282",
      "vnet52236",
      "ipcfg24665",
      "pip68936"
    ]
  },
  "Variables": {
    "ServicePrincipal": "39e3d217-cb72-4b90-8532-394a7e784d93",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}