{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rg64775?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"westus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg64775\",\n  \"name\": \"rg64775\",\n  \"location\": \"westus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg64775/providers/Microsoft.Network/virtualNetworks/net657064?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"192.168.0.0/16\",\n        \"10.254.0.0/16\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"properties\": {\n          \"addressPrefix\": \"192.168.200.0/24\"\n        },\n        \"name\": \"GatewaySubnet\"\n      },\n      {\n        \"properties\": {\n          \"addressPrefix\": \"192.168.1.0/24\"\n        },\n        \"name\": \"FrontEnd\"\n      },\n      {\n        \"properties\": {\n          \"addressPrefix\": \"10.254.1.0/24\"\n        },\n        \"name\": \"BackEnd\"\n      }\n    ]\n  },\n  \"location\": \"westus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/a3f62587-1642-4e37-8afb-91629b3701bb?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"net657064\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg64775/providers/Microsoft.Network/virtualNetworks/net657064\",\n  \"etag\": \"W/\\\"77b310c5-347f-43c9-a787-bc1b7560e7f1\\\"\",\n  \"type\": \"Microsoft.Network/virtualNetworks\",\n  \"location\": \"westus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Updating\",\n    \"resourceGuid\": \"b5db8cd7-8aca-4cd9-86b7-dce462d3b874\",\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"192.168.0.0/16\",\n        \"10.254.0.0/16\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"name\": \"GatewaySubnet\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg64775/providers/Microsoft.Network/virtualNetworks/net657064/subnets/GatewaySubnet\",\n        \"etag\": \"W/\\\"77b310c5-347f-43c9-a787-bc1b7560e7f1\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Updating\",\n          \"addressPrefix\": \"192.168.200.0/24\",\n          \"delegations\": []\n        }\n      },\n      {\n        \"name\": \"FrontEnd\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg64775/providers/Microsoft.Network/virtualNetworks/net657064/subnets/FrontEnd\",\n        \"etag\": \"W/\\\"77b310c5-347f-43c9-a787-bc1b7560e7f1\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Updating\",\n          \"addressPrefix\": \"192.168.1.0/24\",\n          \"delegations\": []\n        }\n      },\n      {\n        \"name\": \"BackEnd\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg64775/providers/Microsoft.Network/virtualNetworks/net657064/subnets/BackEnd\",\n        \"etag\": \"W/\\\"77b310c5-347f-43c9-a787-bc1b7560e7f1\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Updating\",\n          \"addressPrefix\": \"10.254.1.0/24\",\n          \"delegations\": []\n        }\n      }\n    ],\n    \"virtualNetworkPeerings\": [],\n    \"enableDdosProtection\": false,\n    \"enableVmProtection\": false\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/a3f62587-1642-4e37-8afb-91629b3701bb?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11828"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"status\": \"Succeeded\"\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg64775/providers/Microsoft.Network/virtualNetworks/net657064?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"1a0e3268-5915-45e9-ac4e-26c5c38e1891\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11827"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"net657064\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg64775/providers/Microsoft.Network/virtualNetworks/net657064\",\n  \"etag\": \"W/\\\"1a0e3268-5915-45e9-ac4e-26c5c38e1891\[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg64775/providers/Microsoft.Network/publicIPAddresses/pip34787?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"westus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/d34db4fa-ab42-43e8-85ad-4b48b7cf4b9e?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"pip34787\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg64775/providers/Microsoft.Network/publicIPAddresses/pip34787\",\n  \"etag\": \"W/\\\"ce1da948-d8d9-406e-8e03-611cc914cf6d\\\"\",\n  \"location\": \"westus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Updating\",\n    \"resourceGuid\": \"89cdf4dc-9623-4546-a577-e45623ab8b9f\",\n    \"publicIPAddressVersion\": \"IPv4\",\n    \"publicIPAllocationMethod\": \"Dynamic\",\n    \"idleTimeoutInMinutes\": 4,\n    \"ipTags\": []\n  },\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\": \"Regional\"\n  }\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg64775/providers/Microsoft.Network/virtualNetworkGateways/vngw98679?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"ipConfigurations\": [\n      {\n        \"properties\": {\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg64775/providers/Microsoft.Network/virtualNetworks/net657064/subnets/GatewaySubnet\"\n          },\n          \"publicIPAddress\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg64775/providers/Microsoft.Network/publicIPAddresses/pip34787\"\n          }\n        },\n        \"name\": \"ipcfg45288\"\n      }\n    ],\n    \"gatewayType\": \"Vpn\",\n    \"vpnType\": \"RouteBased\",\n    \"sku\": {\n      \"name\": \"VpnGw1\",\n      \"tier\": \"VpnGw1\"\n    }\n  },\n  \"location\": \"westus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/l[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg64775/providers/Microsoft.Network/virtualNetworkGateways/vngw98679?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"ipConfigurations\": [\n      {\n        \"properties\": {\n          \"privateIPAllocationMethod\": \"Dynamic\",\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg64775/providers/Microsoft.Network/virtualNetworks/net657064/subnets/GatewaySubnet\"\n          },\n          \"publicIPAddress\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg64775/providers/Microsoft.Network/publicIPAddresses/pip34787\"\n          }\n        },\n        \"name\": \"ipcfg45288\",\n        \"etag\": \"W/\\\"1132b9ac-1be1-484f-a9d8-9a34734bd87d\\\"\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg64775/providers/Microsoft.Network/virtualNetworkGateways/vngw98679/ipConfigurations/ipcfg45288\"\n      }\n    ],\n    \"gatewayType\": \"Vpn\",\n    \"vpnType\": \"RouteBased\",\n    \"enableBgp\": false,\n    \"activeActive\": false,\n    \"sku\": {\n      \"name\": \"VpnGw1\",\n      \"tier\": \"VpnGw1\",\n      \"capacity\": 2\n    },\n    \"vpnClientConfiguration\": {\n      \"vpnClientAddressPool\": {\n        \"addressPrefixes\": [\n          \"172.16.201.0/24\"\n        ]\n      },\n      \"vpnClientRootCertificates\": [\n        {\n          \"properties\": {\n            \"publicCertData\": \"\\nMIIC5zCCAc+gAwIBAgIQUIcRQlcJRpJFiqjTDA/eaDANBgkqhkiG9w0BAQsFADAW\\nMRQwEgYDVQQDDAtQMlNSb290Q2VydDAeFw0xODAxMjMwMDI0MjhaFw0xOTAxMjMw\\nMDQ0MjhaMBYxFDASBgNVBAMMC1AyU1Jvb3RDZXJ0MIIBIjANBgkqhkiG9w0BAQEF\\nAAOCAQ8AMIIBCgKCAQEA9gGcJrS4a8Nb67To6Zilv0AG0Jw4ZmWXjT5an8peBbVr\\nEjIVtTN5CbD2M9WJhBDi1GQH6hj1xzHltPQY0HRQCqfZ25zs20kBi1SJF5fE8q2t\\n4q26jF7lUjAtwzniqHh8/Y+LqI9ldyV+Lxj0L7brDnkU4mryy3h86V60PsMSl7n2\\nY8ly1b3uT2mvd49wATCp7cs0bGweWopq+D6LaFSyWp1JoWTFFgi9KysN9D/auFwx\\ndTqJH/IXCFaiAl/iKketERIA95wQ+BpDbuVux35fVMXE0GfiaubNBtf9/DmJBMjr\\nWcy9BCYNBaJtzHq6vT9etej28V4sAW0PXOXwiOg9vQIDAQABozEwLzAOBgNVHQ8B\\nAf8EBAMCAgQwHQYDVR0OBBYEFO5DxuEoPKP0uPMckMX6q90yEeMaMA0GCSqGSIb3\\nDQEBCwUAA4IBAQACLZEizRDy0559l5EmkelKbH1n4rxxIS4ID7zlceVXNgvuoDKq\\nWSdhYMilEoXtb1cZXNAylWH+9JoXt7QzjvM05NvvSegaIu8ndBrxBHtwDfVw+rGs\\nghy4JQeIW0pAy9eshHDwXzoBZgC3uUlHDgnVZZ3o9Td+6uLKKRZNERGPu5uqpjyl\\nJmpEyyeb7zfv9cyPBB/L4BclIcM43pjJ7/yf1skWdinoIa1azdOAJgG6aVwDWtGA\\nW+UO9SXb36dZrCl9W5ZqTjXJjjk1fP4fANpx+xeLbIo6JVxIKglF8SIDxmOHfFRx\\ng8l48V1o5pLppQ50Q3JhvSPuNqWfQQMmrMOc\\n\"\n          },\n          \"name\": \"myTest3.cer\"\n        }\n      ]\n    },\n    \"bgpSettings\": {\n      \"asn\": 65515,\n      \"bgpPeeringAddress\": \"192.168.200.254\",\n      \"peerWeight\": 0\n    },\n    \"resourceGuid\": \"f24ddf41-ad0e-4746-b7bc-0f58511d4a24\"\n  },\n  \"etag\": \"W/\\\"1132b9ac-1be1-484f-a9d8-9a34734bd87d\\\"\",\n  \"location\": \"westus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rg64775/providers/Microsoft.Network/virtualNetworkGateways/vngw98679/generatevpnprofile?api-version=2018-04-01",
      "RequestMethod": "POST",
      "RequestBody": "{}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/f78b2d96-b802-4467-bca1-fc7d59a447c8?api-version=2018-04-01"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1187"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/f78b2d96-b802-4467-bca1-fc7d59a447c8?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operationResults/f78b2d96-b802-4467-bca1-fc7d59a447c8?api-version=2018-04-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westus/operations/f78b2d96-b802-4467-bca1-fc7d59a447c8?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11766"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzY0Nzc1LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzY0Nzc1LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11955"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzY0Nzc1LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11917"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "CanCreatePointToSiteConfigurtation": [
      "vngw98679",
      "net657064",
      "rg64775",
      "ipcfg45288",
      "pip34787"
    ]
  },
  "Variables": {
    "ServicePrincipal": "39e3d217-cb72-4b90-8532-394a7e784d93",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}