{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourcegroups/rg39678?api-version=2021-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678\",\r\n  \"name\": \"rg39678\",\r\n  \"type\": \"Microsoft.Resources/resourceGroups\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/virtualNetworks/net153519?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\",\r\n        \"10.254.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"192.168.200.0/24\"\r\n        },\r\n        \"name\": \"GatewaySubnet\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"192.168.1.0/24\"\r\n        },\r\n        \"name\": \"FrontEnd\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.254.1.0/24\"\r\n        },\r\n        \"name\": \"BackEnd\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/westus/operations/a91139df-201a-4e3f-8c5d-cf677f9ffb40?api-version=2019-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"net153519\",\r\n  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/virtualNetworks/net153519\",\r\n  \"etag\": \"W/\\\"3fb9017c-e189-4c17-858e-3c229d9cd55e\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"b15d95ec-53f7-450d-b340-e3ced4037240\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\",\r\n        \"10.254.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"GatewaySubnet\",\r\n        \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/virtualNetworks/net153519/subnets/GatewaySubnet\",\r\n        \"etag\": \"W/\\\"3fb9017c-e189-4c17-858e-3c229d9cd55e\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"192.168.200.0/24\",\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      },\r\n      {\r\n        \"name\": \"FrontEnd\",\r\n        \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/virtualNetworks/net153519/subnets/FrontEnd\",\r\n        \"etag\": \"W/\\\"3fb9017c-e189-4c17-858e-3c229d9cd55e\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"192.168.1.0/24\",\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      },\r\n      {\r\n        \"name\": \"BackEnd\",\r\n        \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/virtualNetworks/net153519/subnets/BackEnd\",\r\n        \"etag\": \"W/\\\"3fb9017c-e189-4c17-858e-3c229d9cd55e\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.254.1.0/24\",\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/westus/operations/a91139df-201a-4e3f-8c5d-cf677f9ffb40?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/virtualNetworks/net153519?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"a03a5f15-0406-4500-9301-66510a35437d\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"net153519\",\r\n  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/virtualNetworks/net153519\",\r\n  \"etag\": \"W/\\\"a03a5f15-0406-4500-9301-66510a3[...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/publicIPAddresses/pip49492?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/westus/operations/07ff3b21-8139-4543-89d6-cec07a1f5a8e?api-version=2019-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip49492\",\r\n  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/publicIPAddresses/pip49492\",\r\n  \"etag\": \"W/\\\"ba82bb54-c3cc-4eae-b746-74566282d48d\\\"\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"23f98847-9f75-453a-a2c7-841213815759\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/virtualNetworkGateways/vngw07218?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/virtualNetworks/net153519/subnets/GatewaySubnet\"\r\n          },\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/publicIPAddresses/pip49492\"\r\n          }\r\n        },\r\n        \"name\": \"ipcfg08447\"\r\n      }\r\n    ],\r\n    \"gatewayType\": \"Vpn\",\r\n    \"vpnType\": \"RouteBased\",\r\n    \"sku\": {\r\n      \"name\": \"VpnGw1\",\r\n      \"tier\": \"VpnGw1\"\r\n    }\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/westus/operations/68e8d46a-2693-4bc8-a285-0cba973caccd?api-version=2019-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vngw07218\",\r\n  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/virtualNetworkGateways/vngw07218\",\r\n  \"etag\": \"W/\\\"1070952c-7c1e-433d-83c6-844cf4d6bf06\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworkGateways\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"dd6bfe9b-1556-4163-9614-35b7adc2a1e8\",\r\n    \"packetCaptureDiagnosticState\": \"None\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipcfg08447\",\r\n        \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/virtualNetworkGateways/vngw07218/ipConfigurations/ipcfg08447\",\r\n        \"etag\": \"W/\\\"1070952c-7c1e-433d-83c6-844cf4d6bf06\\\"\",\r\n        \"type\": \"Microsoft.Network/virtualNetworkGateways/ipConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/publicIPAddresses/pip49492\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/virtualNetworks/net153519/subnets/GatewaySubnet\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"sku\": {\r\n      \"name\": \"VpnGw1\",\r\n      \"tier\": \"VpnGw1\",\r\n      \"capacity\": 2\r\n    },\r\n    \"gatewayType\": \"Vpn\",\r\n    \"vpnType\": \"RouteBased\",\r\n    \"enableBgp\": false,\r\n    \"activeActive\": false,\r\n    \"vpnClientConfiguration\": {\r\n      \"vpnClientProtocols\": [\r\n        \"OpenVPN\",\r\n        \"IkeV2\"\r\n      ],\r\n      \"vpnClientRootCertificates\": [],\r\n      \"vpnClientRevokedCertificates\": [],\r\n      \"vpnClientIpsecPolicies\": []\r\n    },\r\n    \"vpnGatewayGeneration\": \"Generation1\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/virtualNetworkGateways/vngw07218?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/virtualNetworks/net153519/subnets/GatewaySubnet\"\r\n          },\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/publicIPAddresses/pip49492\"\r\n          }\r\n        },\r\n        \"name\": \"ipcfg08447\",\r\n        \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/virtualNetworkGateways/vngw07218/ipConfigurations/ipcfg08447\"\r\n      }\r\n    ],\r\n    \"gatewayType\": \"Vpn\",\r\n    \"vpnType\": \"RouteBased\",\r\n    \"vpnGatewayGeneration\": \"Generation1\",\r\n    \"enableBgp\": false,\r\n    \"activeActive\": false,\r\n    \"sku\": {\r\n      \"name\": \"VpnGw1\",\r\n      \"tier\": \"VpnGw1\"\r\n    },\r\n    \"vpnClientConfiguration\": {\r\n      \"vpnClientAddressPool\": {\r\n        \"addressPrefixes\": [\r\n          \"172.16.201.0/24\"\r\n        ]\r\n      },\r\n      \"vpnClientRootCertificates\": [\r\n        {\r\n          \"properties\": {\r\n            \"publicCertData\": \"\\r\\nMIIC5zCCAc+gAwIBAgIQIdPU05rC0ZZPmYfzuGdI2TANBgkqhkiG9w0BAQsFADAW\\r\\nMRQwEgYDVQQDDAtQMlNSb290Q2VydDAeFw0xOTA4MTQwMTQwMzVaFw0yMDA4MTQw\\r\\nMjAwMzVaMBYxFDASBgNVBAMMC1AyU1Jvb3RDZXJ0MIIBIjANBgkqhkiG9w0BAQEF\\r\\nAAOCAQ8AMIIBCgKCAQEAwDj3Y8k1GUVusuf20r6KMXkv3cw7Hta3WjVP5cg8bdqa\\r\\nk52QkOr+vylZxdhXjmt3+7AtYj0tSzhwpKWKNmsumQY+vkKmwtUyWxnNkjw+U/ns\\r\\nCJyeTq/Ho4/Lvqq+uofAOCYAhiYN8wenKJCEkrRGuCbiWe/JreUiLyFQB9GX2mEe\\r\\nNLhu+0xmM6qLAGkmy2VrJMv1qsOMW/eGA2P6azbd5INj7BhNdD6ZgBVSkkBt15h8\\r\\nfp2ldjFPkFIe5CfBUt3kYSubo8yLoswX5kobdStRWyPTtExf+aAz19E6nRo8TYm1\\r\\nMA7YkTiEWkq7Q6H5ZRiG9fE7YbE8vHrQLOhUBDBnoQIDAQABozEwLzAOBgNVHQ8B\\r\\nAf8EBAMCAgQwHQYDVR0OBBYEFHf4D9sCBGhgyuQTDf2Y6MECBNPtMA0GCSqGSIb3\\r\\nDQEBCwUAA4IBAQAy24orF87u3L4K00LsFtsIhr0YW7Eb6SPHKVEoKzDsiDF5eOh6\\r\\n/ERkdAeYir/laTYa3tbCXGgLx/opAEbSNhtoGK1x7KwGGV+y6Tquxnv+rTEat2rY\\r\\nDz8X0lQTlHY9EJWj4D7M9GdrOMZr83xeMwlqzhYSqmBH50otcR3e+rOAsGXL77hX\\r\\nnVxAVg2LYtXniCjDxYiSUinnn9ViV6mZp5RieyMWF88Y/i+6mqDPAqmvH8d8x/JD\\r\\nMKUPA8+ABD0cdx5kSjQxsY07k9zAEM3RTOaHHqqcENnyE25yOUHanRf7xT60+F4a\\r\\nFDA9SSdljEFrx2abboa1Ngy3ilJDkkrBhcP/\\r\\n\\r\\n\"\r\n          },\r\n          \"name\": \"myTest3.cer\"\r\n        }\r\n      ]\r\n    },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"bgpPeeringAddress\": \"192.168.200.254\",\r\n      \"peerWeight\": 0\r\n    }\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/westus/operations/31a68281-5cb2-4adb-9476-9dc9e20ac3a9?api-version=2[...]
[...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/virtualNetworkGateways/vngw07218/generatevpnprofile?api-version=2019-09-01",
      "RequestMethod": "POST",
      "RequestBody": "{}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/westus/operationResults/876d2fcc-50bf-49ca-9ee4-8ab30fcc82ee?api-version=2019-09-01"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/westus/operationResults/876d2fcc-50bf-49ca-9ee4-8ab30fcc82ee?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/westus/operationResults/876d2fcc-50bf-49ca-9ee4-8ab30fcc82ee?api-version=2019-09-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/westus/operations/876d2fcc-50bf-49ca-9ee4-8ab30fcc82ee?api-version=2019-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11875"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/westus/operations/876d2fcc-50bf-49ca-9ee4-8ab30fcc82ee?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11874"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\",\r\n  \"properties\": {\r\n    \"output\": \"https://nfvprodsuppby.blob.core.windows.net/vpnprofileimmutable/a5540031-eaa4-4d16-adfc-95ae764b10c0/vpnprofile/bab3811f-f877-40f3-8ceb-6ad98a50dd84/vpnclientconfiguration.zip?sv=2017-04-17&sr=b&sig=yz00aXljCYUGqPLUyq3UKImnDhlBBWG01vh6Qys8SLM%3D&st=2019-12-13T15%3A15%3A58Z&se=2019-12-13T16%3A15%3A58Z&sp=r&fileExtension=.zip\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzM5Njc4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzM5Njc4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2019-08-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzM5Njc4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11903"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"Error\": {\r\n    \"Code\": \"ResourceGroupDeletionBlocked\",\r\n    \"Target\": null,\r\n    \"Message\": \"Deletion of resource group 'rg39678' failed as resources with identifiers 'Microsoft.Network/virtualNetworks/net153519,Microsoft.Network/publicIPAddresses/pip49492' could not be deleted. The provisioning state of the resource group will be rolled back. The tracking Id is '97f24827-2157-422e-95cf-730c359dac57'. Please check audit logs for more details.\",\r\n    \"Details\": [\r\n      {\r\n        \"Code\": null,\r\n        \"Target\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/virtualNetworks/net153519\",\r\n        \"Message\": \"{\\\"error\\\":{\\\"code\\\":\\\"InUseSubnetCannotBeDeleted\\\",\\\"message\\\":\\\"Subnet GatewaySubnet is in use by /subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/virtualNetworkGateways/vngw07218/ipConfigurations/ipcfg08447 and cannot be deleted. In order to delete the subnet, delete all the resources within the subnet. See aka.ms/deletesubnet.\\\",\\\"details\\\":[]}}\",\r\n        \"Details\": null,\r\n        \"AdditionalInfo\": null\r\n      },\r\n      {\r\n        \"Code\": null,\r\n        \"Target\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/publicIPAddresses/pip49492\",\r\n        \"Message\": \"{\\\"error\\\":{\\\"code\\\":\\\"PublicIPAddressCannotBeDeleted\\\",\\\"message\\\":\\\"Public IP address /subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/publicIPAddresses/pip49492 can not be deleted since it is still allocated to resource /subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rg39678/providers/Microsoft.Network/virtualNetworkGateways/vngw07218/ipConfigurations/ipcfg08447. In order to delete the public IP, disassociate/detach the Public IP address from the resource.  To learn how to do this, see aka.ms/deletepublicip.\\\",\\\"details\\\":[]}}\",\r\n        \"Details\": null,\r\n        \"AdditionalInfo\": null\r\n      }\r\n    ],\r\n    \"AdditionalInfo\": null\r\n  }\r\n}",
      "StatusCode": 409
    }
  ],
  "Names": {
    "CanCreatePointToSiteConfigurtation": [
      "vngw07218",
      "net153519",
      "rg39678",
      "ipcfg08447",
      "pip49492"
    ]
  },
  "Variables": {
    "ServicePrincipal": "f95af6c4-6bb0-46be-945d-307f2410f6ca",
    "AADTenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "SubscriptionId": "ec0aa5f7-9e78-40c9-85cd-535c6305b380"
  }
}