{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgfluentchash-8943?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"eastus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1168"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943\",\n  \"name\": \"rgfluentchash-8943\",\n  \"location\": \"eastus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/virtualNetworks/vnet25d702111ad3?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"10.0.0.0/28\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"properties\": {\n          \"addressPrefix\": \"10.0.0.0/28\"\n        },\n        \"name\": \"subnet1\"\n      }\n    ]\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/7bfdca32-4974-4031-9936-ca7285ec98b3?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1167"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"vnet25d702111ad3\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/virtualNetworks/vnet25d702111ad3\",\n  \"etag\": \"W/\\\"ba30195a-b849-49b3-9fe9-3a2bc88ead5d\\\"\",\n  \"type\": \"Microsoft.Network/virtualNetworks\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Updating\",\n    \"resourceGuid\": \"8b10aa74-a8b8-41d8-97c9-0df260ecf1d4\",\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"10.0.0.0/28\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"name\": \"subnet1\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/virtualNetworks/vnet25d702111ad3/subnets/subnet1\",\n        \"etag\": \"W/\\\"ba30195a-b849-49b3-9fe9-3a2bc88ead5d\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Updating\",\n          \"addressPrefix\": \"10.0.0.0/28\",\n          \"delegations\": []\n        }\n      }\n    ],\n    \"virtualNetworkPeerings\": [],\n    \"enableDdosProtection\": false,\n    \"enableVmProtection\": false\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Storage/storageAccounts/stg32f32844155?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"sku\": {\n    \"name\": \"Standard_GRS\"\n  },\n  \"kind\": \"Storage\",\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Storage/locations/eastus/asyncoperations/606f5e72-01f9-45de-b5d9-0d6a1cf7b853?monitor=true&api-version=2017-10-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1182"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/publicIPAddresses/pip076455c3?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"dnsSettings\": {\n      \"domainNameLabel\": \"pip09f1242738fc\"\n    }\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/17d70e4b-f5f8-428d-bcb2-f7c41c82bc36?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"pip076455c3\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/publicIPAddresses/pip076455c3\",\n  \"etag\": \"W/\\\"977d63dc-7fda-44f6-ad0f-cd7cda2df60e\\\"\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Updating\",\n    \"resourceGuid\": \"582345b0-0f0b-4976-91ee-ffe665c89746\",\n    \"publicIPAddressVersion\": \"IPv4\",\n    \"publicIPAllocationMethod\": \"Dynamic\",\n    \"idleTimeoutInMinutes\": 4,\n    \"dnsSettings\": {\n      \"domainNameLabel\": \"pip09f1242738fc\",\n      \"fqdn\": \"pip09f1242738fc.eastus.cloudapp.azure.com\"\n    },\n    \"ipTags\": []\n  },\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\": \"Regional\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/7bfdca32-4974-4031-9936-ca7285ec98b3?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11866"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"status\": \"InProgress\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/publicIPAddresses/pip076455c3?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"4ea6f75d-47de-489d-a1c3-b06dc834b673\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11864"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"pip076455c3\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/publicIPAddresses/pip076455c3\",\n  \"etag\": \"W/\\\"4ea6f75d-47de-489d-a1c3-b06dc834b673\\\"\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceGuid\": \"582345b0-0f0b-4976-91ee-ffe665c89746\",\n    \"publicIPAddressVersion\": \"IPv4\",\n    \"publicIPAllocationMethod\": \"Dynamic\",\n    \"idleTimeoutInMinutes\": 4,\n    \"dnsSettings\": {\n      \"domainNameLabel\": \"pip09f1242738fc\",\n      \"fqdn\": \"pip09f1242738fc.eastus.cloudapp.azure.com\"\n    },\n    \"ipTags\": []\n  },\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\": \"Regional\"\n  }\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/publicIPAddresses/pip076455c3?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"a25117c1-80be-482d-8dd5-3ec19e31424a\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11856"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"pip076455c3\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/publicIPAddresses/pip076455c3\",\n  \"etag\": \"W/\\\"a25117c1-80be-482d-8dd5-3ec19e31424a\\\"\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceGuid\": \"582345b0-0f0b-4976-91ee-ffe665c89746\",\n    \"ipAddress\": \"104.41.139.67\",\n    \"publicIPAddressVersion\": \"IPv4\",\n    \"publicIPAllocationMethod\": \"Dynamic\",\n    \"idleTimeoutInMinutes\": 4,\n    \"dnsSettings\": {\n      \"domainNameLabel\": \"pip09f1242738fc\",\n      \"fqdn\": \"pip09f1242738fc.eastus.cloudapp.azure.com\"\n    },\n    \"ipTags\": [],\n    \"ipConfiguration\": {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/networkInterfaces/nic086843336f1/ipConfigurations/primary\"\n    }\n  },\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\": \"Regional\"\n  }\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Storage/locations/eastus/asyncoperations/606f5e72-01f9-45de-b5d9-0d6a1cf7b853?monitor=true&api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11863"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\n  \"sku\": {\n    \"name\": \"Standard_GRS\",\n    \"tier\": \"Standard\"\n  },\n  \"kind\": \"Storage\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Storage/storageAccounts/stg32f32844155\",\n  \"name\": \"stg32f32844155\",\n  \"type\": \"Microsoft.Storage/storageAccounts\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"networkAcls\": {\n      \"bypass\": \"AzureServices\",\n      \"virtualNetworkRules\": [],\n      \"ipRules\": [],\n      \"defaultAction\": \"Allow\"\n    },\n    \"trustedDirectories\": [\n      \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\n    ],\n    \"supportsHttpsTrafficOnly\": false,\n    \"encryption\": {\n      \"services\": {\n        \"file\": {\n          \"enabled\": true,\n          \"lastEnabledTime\": \"2018-08-01T03:14:30.8744824Z\"\n        },\n        \"blob\": {\n          \"enabled\": true,\n          \"lastEnabledTime\": \"2018-08-01T03:14:30.8744824Z\"\n        }\n      },\n      \"keySource\": \"Microsoft.Storage\"\n    },\n    \"provisioningState\": \"Succeeded\",\n    \"creationTime\": \"2018-08-01T03:14:30.7338607Z\",\n    \"primaryEndpoints\": {\n      \"blob\": \"https://stg32f32844155.blob.core.windows.net/\",\n      \"queue\": \"https://stg32f32844155.queue.core.windows.net/\",\n      \"table\": \"https://stg32f32844155.table.core.windows.net/\",\n      \"file\": \"https://stg32f32844155.file.core.windows.net/\"\n    },\n    \"primaryLocation\": \"eastus\",\n    \"statusOfPrimary\": \"available\",\n    \"secondaryLocation\": \"westus\",\n    \"statusOfSecondary\": \"available\"\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/networkInterfaces/nic086843336f1?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"ipConfigurations\": [\n      {\n        \"properties\": {\n          \"privateIPAllocationMethod\": \"Dynamic\",\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/virtualNetworks/vnet25d702111ad3/subnets/subnet1\"\n          },\n          \"primary\": true,\n          \"publicIPAddress\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/publicIPAddresses/pip076455c3\"\n          }\n        },\n        \"name\": \"primary\"\n      }\n    ],\n    \"dnsSettings\": {}\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/networkInterfaces/nic086843336f1?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"3e3dedcf-2ee4-4048-b009-3a900a0f49a5\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11859"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"nic086843336f1\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/networkInterfaces/nic086843336f1\",\n  \"etag\": \"W/\\\"3e3dedcf-2ee4-4048-b009-3a900a0f49a5\\\"\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceGuid\": \"23e8f134-1545-49ef-b5c4-8e4454a0d0c7\",\n    \"ipConfigurations\": [\n      {\n        \"name\": \"primary\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/networkInterfaces/nic086843336f1/ipConfigurations/primary\",\n        \"etag\": \"W/\\\"3e3dedcf-2ee4-4048-b009-3a900a0f49a5\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Succeeded\",\n          \"privateIPAddress\": \"10.0.0.4\",\n          \"privateIPAllocationMethod\": \"Dynamic\",\n          \"publicIPAddress\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/publicIPAddresses/pip076455c3\"\n          },\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/virtualNetworks/vnet25d702111ad3/subnets/subnet1\"\n          },\n          \"primary\": true,\n          \"privateIPAddressVersion\": \"IPv4\",\n          \"isInUseWithService\": false\n        }\n      }\n    ],\n    \"dnsSettings\": {\n      \"dnsServers\": [],\n      \"appliedDnsServers\": [],\n      \"internalDomainNameSuffix\": \"osvbbc3yvdmedf4jbxzgb1hr0e.bx.internal.cloudapp.net\"\n    },\n    \"enableAcceleratedNetworking\": false,\n    \"enableIPForwarding\": false,\n    \"services\": null,\n    \"virtualNetworkTapProvisioningState\": \"NotProvisioned\"\n  },\n  \"type\": \"Microsoft.Network/networkInterfaces\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Compute/virtualMachines/vm67-c1958309c19?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"hardwareProfile\": {\n      \"vmSize\": \"Standard_D5_v2\"\n    },\n    \"storageProfile\": {\n      \"imageReference\": {\n        \"publisher\": \"Canonical\",\n        \"offer\": \"UbuntuServer\",\n        \"sku\": \"16.04.0-LTS\",\n        \"version\": \"latest\"\n      },\n      \"osDisk\": {\n        \"name\": \"vm67-c1958309c19-os-disk\",\n        \"vhd\": {\n          \"uri\": \"https://stg32f32844155.blob.core.windows.net/vhds/vm67-c1958309c19-os-disk-fff94dad-2092-4645-b5f3-78a8f6881688.Vhd\"\n        },\n        \"caching\": \"ReadWrite\",\n        \"createOption\": \"FromImage\"\n      },\n      \"dataDisks\": [\n        {\n          \"lun\": 0,\n          \"name\": \"disk-1\",\n          \"vhd\": {\n            \"uri\": \"https://stg32f32844155.blob.core.windows.net/vhds/vm67-c1958309c19-data-disk-0-4bee3b64-56d4-43fa-90d4-2a2e394fd2d4.Vhd\"\n          },\n          \"caching\": \"ReadWrite\",\n          \"createOption\": \"Empty\",\n          \"diskSizeGB\": 30\n        },\n        {\n          \"lun\": 1,\n          \"name\": \"disk-2\",\n          \"vhd\": {\n            \"uri\": \"https://stg32f32844155.blob.core.windows.net/vhds/vm67-c1958309c19-data-disk-1-d7cd418b-ac64-40d3-b4f7-d5b17945eb06.Vhd\"\n          },\n          \"caching\": \"ReadOnly\",\n          \"createOption\": \"Empty\",\n          \"diskSizeGB\": 60\n        }\n      ]\n    },\n    \"osProfile\": {\n      \"computerName\": \"vm84351932f2\",\n      \"adminUsername\": \"javauser\",\n      \"adminPassword\": \"12NewPA$$w0rd!\",\n      \"linuxConfiguration\": {\n        \"disablePasswordAuthentication\": false\n      }\n    },\n    \"networkProfile\": {\n      \"networkInterfaces\": [\n        {\n          \"properties\": {\n            \"primary\": true\n          },\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/networkInterfaces/nic086843336f1\"\n        }\n      ]\n    }\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/b6b7a2e1-a058-411b-b48a-69c215df1fe7?api-version=2018-06-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutVM3Min;236,Microsoft.Compute/PutVM30Min;1189"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1188"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"properties\": {\n    \"vmId\": \"bb0434d7-4d81-44be-8734-35de4ad3efde\",\n    \"hardwareProfile\": {\n      \"vmSize\": \"Standard_D5_v2\"\n    },\n    \"storageProfile\": {\n      \"imageReference\": {\n        \"publisher\": \"Canonical\",\n        \"offer\": \"UbuntuServer\",\n        \"sku\": \"16.04.0-LTS\",\n        \"version\": \"latest\"\n      },\n      \"osDisk\": {\n        \"osType\": \"Linux\",\n        \"name\": \"vm67-c1958309c19-os-disk\",\n        \"createOption\": \"FromImage\",\n        \"vhd\": {\n          \"uri\": \"https://stg32f32844155.blob.core.windows.net/vhds/vm67-c1958309c19-os-disk-fff94dad-2092-4645-b5f3-78a8f6881688.Vhd\"\n        },\n        \"caching\": \"ReadWrite\"\n      },\n      \"dataDisks\": [\n        {\n          \"lun\": 0,\n          \"name\": \"disk-1\",\n          \"createOption\": \"Empty\",\n          \"vhd\": {\n            \"uri\": \"https://stg32f32844155.blob.core.windows.net/vhds/vm67-c1958309c19-data-disk-0-4bee3b64-56d4-43fa-90d4-2a2e394fd2d4.Vhd\"\n          },\n          \"caching\": \"ReadWrite\",\n          \"diskSizeGB\": 30\n        },\n        {\n          \"lun\": 1,\n          \"name\": \"disk-2\",\n          \"createOption\": \"Empty\",\n          \"vhd\": {\n            \"uri\": \"https://stg32f32844155.blob.core.windows.net/vhds/vm67-c1958309c19-data-disk-1-d7cd418b-ac64-40d3-b4f7-d5b17945eb06.Vhd\"\n          },\n          \"caching\": \"ReadOnly\",\n          \"diskSizeGB\": 60\n        }\n      ]\n    },\n    \"osProfile\": {\n      \"computerName\": \"vm84351932f2\",\n      \"adminUsername\": \"javauser\",\n      \"linuxConfiguration\": {\n        \"disablePasswordAuthentication\": false,\n        \"provisionVMAgent\": true\n      },\n      \"secrets\": [],\n      \"allowExtensionOperations\": true\n    },\n    \"networkProfile\": {\n      \"networkInterfaces\": [\n        {\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Network/networkInterfaces/nic086843336f1\",\n          \"properties\": {\n            \"primary\": true\n          }\n        }\n      ]\n    },\n    \"provisioningState\": \"Creating\"\n  },\n  \"type\": \"Microsoft.Compute/virtualMachines\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Compute/virtualMachines/vm67-c1958309c19\",\n  \"name\": \"vm67-c1958309c19\"\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/b6b7a2e1-a058-411b-b48a-69c215df1fe7?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "30"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14935,Microsoft.Compute/GetOperation30Min;29813"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11864"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"startTime\": \"2018-08-01T03:14:52.9533264+00:00\",\n  \"status\": \"InProgress\",\n  \"name\": \"b6b7a2e1-a058-411b-b48a-69c215df1fe7\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/b6b7a2e1-a058-411b-b48a-69c215df1fe7?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14933,Microsoft.Compute/GetOperation30Min;29782"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11860"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"startTime\": \"2018-08-01T03:14:52.9533264+00:00\",\n  \"endTime\": \"2018-08-01T03:16:02.9066663+00:00\",\n  \"status\": \"Succeeded\",\n  \"name\": \"b6b7a2e1-a058-411b-b48a-69c215df1fe7\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Compute/virtualMachines/vm67-c1958309c19/deallocate?api-version=2018-06-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/4c06350a-b2ec-4a8b-afe3-8f579bf6adf4?monitor=true&api-version=2018-06-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/4c06350a-b2ec-4a8b-afe3-8f579bf6adf4?api-version=2018-06-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/DeleteVM3Min;237,Microsoft.Compute/DeleteVM30Min;1189"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1188"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/4c06350a-b2ec-4a8b-afe3-8f579bf6adf4?monitor=true&api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14933,Microsoft.Compute/GetOperation30Min;29718"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11845"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Compute/virtualMachines/vm67-c1958309c19/generalize?api-version=2018-06-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/UpdateVM3Min;238,Microsoft.Compute/UpdateVM30Min;1198"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1187"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Compute/images/img1455873550?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"sourceVirtualMachine\": {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Compute/virtualMachines/vm67-c1958309c19\"\n    }\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/90669257-21da-44a4-a59c-c34c70919743?api-version=2018-06-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/CreateImages3Min;38,Microsoft.Compute/CreateImages30Min;197"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1185"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"properties\": {\n    \"sourceVirtualMachine\": {\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Compute/virtualMachines/vm67-c1958309c19\"\n    },\n    \"storageProfile\": {\n      \"osDisk\": {\n        \"osType\": \"Linux\",\n        \"osState\": \"Generalized\",\n        \"diskSizeGB\": 30,\n        \"blobUri\": \"https://stg32f32844155.blob.core.windows.net/vhds/vm67-c1958309c19-os-disk-fff94dad-2092-4645-b5f3-78a8f6881688.Vhd\",\n        \"caching\": \"ReadWrite\",\n        \"storageAccountType\": \"Standard_LRS\"\n      },\n      \"dataDisks\": [\n        {\n          \"lun\": 0,\n          \"diskSizeGB\": 30,\n          \"blobUri\": \"https://stg32f32844155.blob.core.windows.net/vhds/vm67-c1958309c19-data-disk-0-4bee3b64-56d4-43fa-90d4-2a2e394fd2d4.Vhd\",\n          \"caching\": \"ReadWrite\",\n          \"storageAccountType\": \"Standard_LRS\"\n        },\n        {\n          \"lun\": 1,\n          \"diskSizeGB\": 60,\n          \"blobUri\": \"https://stg32f32844155.blob.core.windows.net/vhds/vm67-c1958309c19-data-disk-1-d7cd418b-ac64-40d3-b4f7-d5b17945eb06.Vhd\",\n          \"caching\": \"ReadOnly\",\n          \"storageAccountType\": \"Standard_LRS\"\n        }\n      ]\n    },\n    \"provisioningState\": \"Creating\"\n  },\n  \"type\": \"Microsoft.Compute/images\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgfluentchash-8943/providers/Microsoft.Compute/images/img1455873550\",\n  \"name\": \"img1455873550\"\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR0ZMVUVOVENIQVNIOjJEODk0My1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR0ZMVUVOVENIQVNIOjJEODk0My1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
[...]
