{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourcegroups/rgfd257378?api-version=2021-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"southeastasia\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rgfd257378\",\r\n  \"name\": \"rgfd257378\",\r\n  \"type\": \"Microsoft.Resources/resourceGroups\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rgfd257378/providers/Microsoft.Network/azureFirewalls/azfw27569?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"applicationRuleCollections\": [\r\n      {\r\n        \"properties\": {\r\n          \"priority\": 200,\r\n          \"action\": {\r\n            \"type\": \"Allow\"\r\n          },\r\n          \"rules\": [\r\n            {\r\n              \"name\": \"Allow-Google\",\r\n              \"sourceAddresses\": [\r\n                \"10.0.2.0/24\"\r\n              ],\r\n              \"protocols\": [\r\n                {\r\n                  \"protocolType\": \"Http\",\r\n                  \"port\": 8080\r\n                },\r\n                {\r\n                  \"protocolType\": \"Https\",\r\n                  \"port\": 8081\r\n                }\r\n              ],\r\n              \"targetFqdns\": [\r\n                \"www.google.com\"\r\n              ]\r\n            }\r\n          ]\r\n        },\r\n        \"name\": \"App-Coll01\"\r\n      }\r\n    ],\r\n    \"networkRuleCollections\": [\r\n      {\r\n        \"properties\": {\r\n          \"priority\": 200,\r\n          \"action\": {\r\n            \"type\": \"Allow\"\r\n          },\r\n          \"rules\": [\r\n            {\r\n              \"name\": \"Allow-DNS\",\r\n              \"protocols\": [\r\n                \"UDP\"\r\n              ],\r\n              \"sourceAddresses\": [\r\n                \"10.0.2.0/24\"\r\n              ],\r\n              \"destinationAddresses\": [\r\n                \"209.244.0.3\",\r\n                \"209.244.0.4\"\r\n              ],\r\n              \"destinationPorts\": [\r\n                \"53\"\r\n              ]\r\n            }\r\n          ]\r\n        },\r\n        \"name\": \"RCNet01\"\r\n      }\r\n    ],\r\n    \"threatIntelMode\": \"Alert\",\r\n    \"sku\": {\r\n      \"name\": \"AZFW_VNet\"\r\n    }\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/southeastasia/operations/569b9ea6-f6d5-40bc-8bd5-2ad45e661d06?api-version=2019-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"azfw27569\",\r\n  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rgfd257378/providers/Microsoft.Network/azureFirewalls/azfw27569\",\r\n  \"etag\": \"W/\\\"ed1462cc-54d6-4afe-9212-5bc2aead6877\\\"\",\r\n  \"type\": \"Microsoft.Network/azureFirewalls\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"sku\": {\r\n      \"name\": \"AZFW_VNet\",\r\n      \"tier\": \"Standard\"\r\n    },\r\n    \"threatIntelMode\": \"Alert\",\r\n    \"additionalProperties\": {},\r\n    \"ipConfigurations\": [],\r\n    \"networkRuleCollections\": [\r\n      {\r\n        \"name\": \"RCNet01\",\r\n        \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rgfd257378/providers/Microsoft.Network/azureFirewalls/azfw27569/networkRuleCollections/RCNet01\",\r\n        \"etag\": \"W/\\\"ed1462cc-54d6-4afe-9212-5bc2aead6877\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"priority\": 200,\r\n          \"action\": {\r\n            \"type\": \"Allow\"\r\n          },\r\n          \"rules\": [\r\n            {\r\n              \"name\": \"Allow-DNS\",\r\n              \"protocols\": [\r\n                \"UDP\"\r\n              ],\r\n              \"sourceAddresses\": [\r\n                \"10.0.2.0/24\"\r\n              ],\r\n              \"destinationAddresses\": [\r\n                \"209.244.0.3\",\r\n                \"209.244.0.4\"\r\n              ],\r\n              \"sourceIpGroups\": [],\r\n              \"destinationIpGroups\": [],\r\n              \"destinationFqdns\": [],\r\n              \"destinationPorts\": [\r\n                \"53\"\r\n              ]\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/azureFirewalls/networkRuleCollections\"\r\n      }\r\n    ],\r\n    \"applicationRuleCollections\": [\r\n      {\r\n        \"name\": \"App-Coll01\",\r\n        \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rgfd257378/providers/Microsoft.Network/azureFirewalls/azfw27569/applicationRuleCollections/App-Coll01\",\r\n        \"etag\": \"W/\\\"ed1462cc-54d6-4afe-9212-5bc2aead6877\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"priority\": 200,\r\n          \"action\": {\r\n            \"type\": \"Allow\"\r\n          },\r\n          \"rules\": [\r\n            {\r\n              \"name\": \"Allow-Google\",\r\n              \"priority\": 0,\r\n              \"direction\": \"Inbound\",\r\n              \"protocols\": [\r\n                {\r\n                  \"protocolType\": \"Http\",\r\n                  \"port\": 8080\r\n                },\r\n                {\r\n                  \"protocolType\": \"Https\",\r\n                  \"port\": 8081\r\n                }\r\n              ],\r\n              \"fqdnTags\": [],\r\n              \"targetFqdns\": [\r\n                \"www.google.com\"\r\n              ],\r\n              \"actions\": [],\r\n              \"sourceAddresses\": [\r\n                \"10.0.2.0/24\"\r\n              ],\r\n              \"sourceIpGroups\": []\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/azureFirewalls/applicationRuleCollections\"\r\n      }\r\n    ],\r\n    \"natRuleCollections\": []\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rgfd257378/providers/Microsoft.Network/azureFirewalls/azfw27569?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"applicationRuleCollections\": [\r\n      {\r\n        \"properties\": {\r\n          \"priority\": 220,\r\n          \"action\": {\r\n            \"type\": \"Allow\"\r\n          },\r\n          \"rules\": [\r\n            {\r\n              \"name\": \"Allow-Google\",\r\n              \"description\": \"Updated v1\",\r\n              \"sourceAddresses\": [\r\n                \"10.0.2.0/24\"\r\n              ],\r\n              \"protocols\": [\r\n                {\r\n                  \"protocolType\": \"Http\",\r\n                  \"port\": 8080\r\n                },\r\n                {\r\n                  \"protocolType\": \"Https\",\r\n                  \"port\": 8081\r\n                }\r\n              ],\r\n              \"targetFqdns\": [\r\n                \"www.google.com\"\r\n [...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.Network/locations/southeastasia/operations/569b9ea6-f6d5-40bc-8bd5-2ad45e661d06?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rgfd257378/providers/Microsoft.Network/azureFirewalls/azfw27569?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"0a29f8ea-4d5e-45d3-8dae-9143faf86bfb\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"azfw27569\",\r\n  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rgfd257378/providers/Microsoft.Network/azureFirewalls/azfw27569\",\r\n  \"etag\": \"W/\\\"0a29f8ea-4d5e-45d3-8dae-9143f[...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rgfd257378/providers/Microsoft.Network/azureFirewalls/azfw27569?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"5465fd4e-f27f-4f0b-8e70-21023d980f43\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"azfw27569\",\r\n  \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rgfd257378/providers/Microsoft.Network/azureFirewalls/azfw27569\",\r\n  \"etag\": \"W/\\\"5465fd4e-f27f-4f0b-8e70-21023d980f43\\\"\",\r\n  \"type\": \"Microsoft.Network/azureFirewalls\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"sku\": {\r\n      \"name\": \"AZFW_VNet\",\r\n      \"tier\": \"Standard\"\r\n    },\r\n    \"threatIntelMode\": \"Deny\",\r\n    \"additionalProperties\": {\r\n      \"key1\": \"valueToAdd\"\r\n    },\r\n    \"ipConfigurations\": [],\r\n    \"networkRuleCollections\": [\r\n      {\r\n        \"name\": \"RCNet01\",\r\n        \"id\": \"/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/rgfd257378/providers/Microsoft.Network/azureFirewalls/azfw27569/networkRuleCollections/RCNet01\",\r\n        \"etag\": \"W/\\\"5465fd4e-f27f-4f0b-8e70-21023d980f43\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"prior[...]
[...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourcegroups/rgfd257378?api-version=2021-01-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR0ZEMjU3Mzc4LVNPVVRIRUFTVEFTSUEiLCJqb2JMb2NhdGlvbiI6InNvdXRoZWFzdGFzaWEifQ?api-version=2019-08-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR0ZEMjU3Mzc4LVNPVVRIRUFTVEFTSUEiLCJqb2JMb2NhdGlvbiI6InNvdXRoZWFzdGFzaWEifQ?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR0ZEMjU3Mzc4LVNPVVRIRUFTVEFTSUEiLCJqb2JMb2NhdGlvbiI6InNvdXRoZWFzdGFzaWEifQ?api-version=2019-08-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11985"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR0ZEMjU3Mzc4LVNPVVRIRUFTVEFTSUEiLCJqb2JMb2NhdGlvbiI6InNvdXRoZWFzdGFzaWEifQ?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11978"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "CanCreateUpdate": [
      "rgfd257378",
      "azfw27569"
    ]
  },
  "Variables": {
    "ServicePrincipal": "f95af6c4-6bb0-46be-945d-307f2410f6ca",
    "AADTenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "SubscriptionId": "ec0aa5f7-9e78-40c9-85cd-535c6305b380"
  }
}