{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourcegroups/rgaciae658840c?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgaciae658840c\",\r\n  \"name\": \"rgaciae658840c\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgaciae658840c/providers/Microsoft.Storage/storageAccounts/saf0778161b0209?api-version=2016-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/providers/Microsoft.Storage/locations/eastus/asyncoperations/3c5040e2-963d-4716-8a36-69943b1b294d?monitor=true&api-version=2016-01-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/providers/Microsoft.Storage/locations/eastus/asyncoperations/3c5040e2-963d-4716-8a36-69943b1b294d?monitor=true&api-version=2016-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgaciae658840c/providers/Microsoft.Storage/storageAccounts/saf0778161b0209\",\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"eastus\",\r\n  \"name\": \"saf0778161b0209\",\r\n  \"properties\": {\r\n    \"creationTime\": \"2017-09-20T18:53:17.3833054Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://saf0778161b0209.blob.core.windows.net/\",\r\n      \"file\": \"https://saf0778161b0209.file.core.windows.net/\",\r\n      \"queue\": \"https://saf0778161b0209.queue.core.windows.net/\",\r\n      \"table\": \"https://saf0778161b0209.table.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"eastus\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"secondaryLocation\": \"westus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"statusOfSecondary\": \"available\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"tags\": {},\r\n  \"type\": \"Microsoft.Storage/storageAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14987"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgaciae658840c/providers/Microsoft.Storage/storageAccounts/saf0778161b0209/listKeys?api-version=2016-01-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"permissions\": \"Full\",\r\n      \"value\": \"X1Mi9ng5Py32LL2kDv0RES88TN/bfJUMpJdAuub6ldYgKckA6lpe0nrtvVyLFsvgAPSgvMRC2szzITPXY9+yuA==\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"permissions\": \"Full\",\r\n      \"value\": \"OjYrNfyIByvQSFOXeRo4AsdUP5k0atRNmvCgUQsOIC/fV64mGG14+Nb1AV6ux+rnmEXdoVEfoWpOGCXQOi61KA==\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgaciae658840c/providers/Microsoft.ContainerInstance/containerGroups/acisample7b9634487?api-version=2017-08-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"containers\": [\r\n      {\r\n        \"name\": \"acisample7b9634487\",\r\n        \"properties\": {\r\n          \"image\": \"seanmckenna/aci-hellofiles\",\r\n          \"ports\": [\r\n            {\r\n              \"port\": 80\r\n            }\r\n          ],\r\n          \"resources\": {\r\n            \"requests\": {\r\n              \"memoryInGB\": 1.5,\r\n              \"cpu\": 1.0\r\n            }\r\n          },\r\n          \"volumeMounts\": [\r\n            {\r\n              \"name\": \"aci-helloshare\",\r\n              \"mountPath\": \"/aci/logs/\",\r\n              \"readOnly\": false\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"ipAddress\": {\r\n      \"ports\": [\r\n        {\r\n          \"protocol\": \"TCP\",\r\n          \"port\": 80\r\n        }\r\n      ],\r\n      \"ip\": \"Public\",\r\n      \"type\": \"Public\"\r\n    },\r\n    \"osType\": \"Linux\",\r\n    \"volumes\": [\r\n      {\r\n        \"name\": \"aci-helloshare\",\r\n        \"azureFile\": {\r\n          \"shareName\": \"fileshare95c65881b\",\r\n          \"readOnly\": false,\r\n          \"storageAccountName\": \"saf0778161b0209\",\r\n          \"storageAccountKey\": \"X1Mi9ng5Py32LL2kDv0RES88TN/bfJUMpJdAuub6ldYgKckA6lpe0nrtvVyLFsvgAPSgvMRC2szzITPXY9+yuA==\"\r\n        }\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"containers\": [\r\n      {\r\n        \"name\": \"acisample7b9634487\",\r\n        \"properties\": {\r\n          \"image\": \"seanmckenna/aci-hellofiles\",\r\n          \"ports\": [\r\n            {\r\n              \"port\": 80\r\n            }\r\n          ],\r\n          \"environmentVariables\": [],\r\n          \"resources\": {\r\n            \"requests\": {\r\n              \"memoryInGB\": 1.5,\r\n              \"cpu\": 1.0\r\n            }\r\n          },\r\n          \"volumeMounts\": [\r\n            {\r\n              \"name\": \"aci-helloshare\",\r\n              \"mountPath\": \"/aci/logs/\",\r\n              \"readOnly\": false\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"ipAddress\": {\r\n      \"ports\": [\r\n        {\r\n          \"protocol\": \"TCP\",\r\n          \"port\": 80\r\n        }\r\n      ],\r\n      \"ip\": \"52.168.33.141\",\r\n      \"type\": \"Public\"\r\n    },\r\n    \"osType\": \"Linux\",\r\n    \"state\": \"Pending\",\r\n    \"volumes\": [\r\n      {\r\n        \"name\": \"aci-helloshare\",\r\n        \"azureFile\": {\r\n          \"shareName\": \"fileshare95c65881b\",\r\n          \"storageAccountName\": \"saf0778161b0209\"\r\n        }\r\n      }\r\n    ]\r\n  },\r\n  \"id\": \"/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgaciae658840c/providers/Microsoft.ContainerInstance/containerGroups/acisample7b9634487\",\r\n  \"name\": \"acisample7b9634487\",\r\n  \"type\": \"Microsoft.ContainerInstance/containerGroups\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgaciae658840c/providers/Microsoft.ContainerInstance/containerGroups/acisample7b9634487?api-version=2017-08-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"containers\": [\r\n      {\r\n        \"name\": \"acisample7b9634487\",\r\n        \"properties\": {\r\n          \"image\": \"seanmckenna/aci-hellofiles\",\r\n          \"ports\": [\r\n            {\r\n              \"port\": 80\r\n            }\r\n          ],\r\n          \"environmentVariables\": [],\r\n          \"instanceView\": {\r\n            \"restartCount\": 0,\r\n            \"currentState\": {\r\n              \"state\": \"Running\",\r\n              \"startTime\": \"2017-09-20T18:53:52Z\",\r\n              \"detailStatus\": \"\"\r\n            },\r\n            \"events\": [\r\n              {\r\n                \"count\": 1,\r\n                \"firstTimestamp\": \"2017-09-20T18:53:46Z\",\r\n                \"lastTimestamp\": \"2017-09-20T18:53:46Z\",\r\n                \"message\": \"Pulling: pulling image \\\"seanmckenna/aci-hellofiles\\\"\",\r\n                \"type\": \"Normal\"\r\n              },\r\n              {\r\n                \"count\": 1,\r\n                \"firstTimestamp\": \"2017-09-20T18:53:52Z\",\r\n                \"lastTimestamp\": \"2017-09-20T18:53:52Z\",\r\n                \"message\": \"Pulled: Successfully pulled image \\\"seanmckenna/aci-hellofiles\\\"\",\r\n                \"type\": \"Normal\"\r\n              },\r\n              {\r\n       [...]
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/rgaciae658840c/providers/Microsoft.ContainerInstance/containerGroups/acisample7b9634487/containers/acisample7b9634487/logs?api-version=2017-08-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"content\": \"listening on port undefined\\n\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14984"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourcegroups/rgaciae658840c?api-version=2016-02-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR0FDSUFFNjU4ODQwQy1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2016-02-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {
    "ManageContainerInstanceWithManualAzureFileShareMountCreationTest": [
      "rgaciae658840c",
      "acisample7b9634487",
      "saf0778161b0209",
      "fileshare95c65881b"
    ]
  },
  "Variables": {
    "ServicePrincipal": "26bdda7f-4c22-4e48-8524-7c44e2cdbe38",
    "AADTenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "SubscriptionId": "ffa52f27-be12-4cad-b1ea-c2c241b6cceb"
  }
}