{
  "Entries": [
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/domains?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "BoymsOIHYhC2MMynPFwfbh3Zcc5hQ254oHjnaQqr2fU="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "0yVQOt2C17qyQreTr1LvVfA8HHBds6OMvOyPArHNhMtLRst2uEkaYG13Q-2ukeb_iKFYqAD4XQsupQdPUCGSg2xfzquChuFTnjNPDin2PGewfZuar9aKFg1-X-cEzRErqNnSGSeILHKjSBQKgjLAHhqRO1HV21uMLSf7A3Dds70.P95pYdJPq_ldt-qIX65B5xt_Yravy-mVL8VETdkem2Q"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2324335"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#domains\",\r\n  \"value\": [\r\n    {\r\n      \"authenticationType\": \"Federated\",\r\n      \"availabilityStatus\": null,\r\n      \"isAdminManaged\": true,\r\n      \"isDefault\": false,\r\n      \"isDefaultForCloudRedirections\": false,\r\n      \"isInitial\": false,\r\n      \"isRoot\": false,\r\n      \"isVerified\": false,\r\n      \"name\": \"BFDevOpsNonRestricted.onmicrosoft.de\",\r\n      \"supportedServices\": [],\r\n      \"forceDeleteState\": null,\r\n      \"state\": null,\r\n      \"passwordValidityPeriodInDays\": null,\r\n      \"passwordNotificationWindowInDays\": null\r\n    },\r\n    {\r\n      \"authenticationType\": \"Managed\",\r\n      \"availabilityStatus\": null,\r\n      \"isAdminManaged\": true,\r\n      \"isDefault\": true,\r\n      \"isDefaultForCloudRedirections\": false,\r\n      \"isInitial\": true,\r\n      \"isRoot\": true,\r\n      \"isVerified\": true,\r\n      \"name\": \"AzureSDKTeam.onmicrosoft.com\",\r\n      \"supportedServices\": [\r\n        \"Email\",\r\n        \"OfficeCommunicationsOnline\"\r\n      ],\r\n      \"forceDeleteState\": null,\r\n      \"state\": null,\r\n      \"passwordValidityPeriodInDays\": null,\r\n      \"passwordNotificationWindowInDays\": null\r\n    },\r\n    {\r\n      \"authenticationType\": \"Managed\",\r\n      \"availabilityStatus\": null,\r\n      \"isAdminManaged\": true,\r\n      \"isDefault\": false,\r\n      \"isDefaultForCloudRedirections\": false,\r\n      \"isInitial\": false,\r\n      \"isRoot\": true,\r\n      \"isVerified\": true,\r\n      \"name\": \"azdevextest.com\",\r\n      \"supportedServices\": [],\r\n      \"forceDeleteState\": null,\r\n      \"state\": null,\r\n      \"passwordValidityPeriodInDays\": null,\r\n      \"passwordNotificationWindowInDays\": null\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"user40f08956dd\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"StrongPass!123\"\r\n  },\r\n  \"userPrincipalName\": \"user40f08956dd@AzureSDKTeam.onmicrosoft.com\",\r\n  \"mailNickname\": \"user40f08956dd\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/dcbcb06e-3d04-4147-9990-bfa1caeeafc4/Microsoft.DirectoryServices.User"
        ],
        "ocp-aad-diagnostics-server-name": [
          "y2AFatDb8bxovAuAcAg+Xai78XOhksqhh+LYGhHC+p8="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "xOxoTcuMISmQwYe1fTrpCoX5Ga6U7toHlt5X-iFCtfA2iXb-15dtNr1REj2p38mCItGb7w9Z1fawMuga2xW9DAxho9_SSw55FRggk2qEOg2DP1Xcy_ozBqanTSYta8eApBAHIdl3tCacZxm4Nh2pZU3Sv5Zb4aJzWuVGJ4p63fA.Pa_jjqZdNaQ8sTAzs4WuNv2PgeSjUeWAN7vh9Rq8qVA"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "6366303"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n  \"objectType\": \"User\",\r\n  \"objectId\": \"dcbcb06e-3d04-4147-9990-bfa1caeeafc4\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"ageGroup\": null,\r\n  \"assignedLicenses\": [],\r\n  \"assignedPlans\": [],\r\n  \"city\": null,\r\n  \"companyName\": null,\r\n  \"consentProvidedForMinor\": null,\r\n  \"country\": null,\r\n  \"createdDateTime\": \"2019-10-28T06:20:10Z\",\r\n  \"creationType\": null,\r\n  \"department\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"user40f08956dd\",\r\n  \"employeeId\": null,\r\n  \"facsimileTelephoneNumber\": null,\r\n  \"givenName\": null,\r\n  \"immutableId\": null,\r\n  \"isCompromised\": null,\r\n  \"jobTitle\": null,\r\n  \"lastDirSyncTime\": null,\r\n  \"legalAgeGroupClassification\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"user40f08956dd\",\r\n  \"mobile\": null,\r\n  \"onPremisesDistinguishedName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"otherMails\": [],\r\n  \"passwordPolicies\": null,\r\n  \"passwordProfile\": {\r\n    \"password\": null,\r\n    \"forceChangePasswordNextLogin\": true,\r\n    \"enforceChangePasswordPolicy\": false\r\n  },\r\n  \"physicalDeliveryOfficeName\": null,\r\n  \"postalCode\": null,\r\n  \"preferredLanguage\": null,\r\n  \"provisionedPlans\": [],\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"refreshTokensValidFromDateTime\": \"2019-10-28T06:20:10.3279108Z\",\r\n  \"showInAddressList\": null,\r\n  \"signInNames\": [],\r\n  \"sipProxyAddress\": null,\r\n  \"state\": null,\r\n  \"streetAddress\": null,\r\n  \"surname\": null,\r\n  \"telephoneNumber\": null,\r\n  \"thumbnailPhoto@odata.mediaEditLink\": \"directoryObjects/dcbcb06e-3d04-4147-9990-bfa1caeeafc4/Microsoft.DirectoryServices.User/thumbnailPhoto\",\r\n  \"usageLocation\": null,\r\n  \"userIdentities\": [],\r\n  \"userPrincipalName\": \"user40f08956dd@AzureSDKTeam.onmicrosoft.com\",\r\n  \"userState\": null,\r\n  \"userStateChangedOn\": null,\r\n  \"userType\": \"Member\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"sp99219570a9c\",\r\n  \"homepage\": \"https://sp99219570a9c\",\r\n  \"identifierUris\": [\r\n    \"https://sp99219570a9c\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"https://sp99219570a9c\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/c392f66c-2ef1-4e41-84f6-a1726ec1082c/Microsoft.DirectoryServices.Application"
        ],
        "ocp-aad-diagnostics-server-name": [
          "FzBy1dfPLdnOUgWf0dpSUTgv1fkpsaisLLmIFPDeitU="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "3jE5IR5fDI_3q5jAy6Cj8zRyyeS8Ab4I-7Bhi03jdxXNvSLzaqp7VevpAgmifhYwnCs9EHyGbDBY1nRHHKlUhkpUv_xaVShSXI_aH9Rcef3GwWEV1wUkT6ItfaIKH9QOHQ64pM3amXg_KEDCZOFyyltnumB__ZXYMr9-c8a-qds.zcUVTTT89CToMxpzM8xMETsqCCeJsZBl7SpPlwooeqw"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "6890657"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"c392f66c-2ef1-4e41-84f6-a1726ec1082c\",\r\n  \"deletionTimestamp\": null,\r\n  \"acceptMappedClaims\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"efb7b30e-7ccb-45ae-8f2a-3100e43d50d5\",\r\n  \"applicationTemplateId\": null,\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"sp99219570a9c\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"https://sp99219570a9c\",\r\n  \"identifierUris\": [\r\n    \"https://sp99219570a9c\"\r\n  ],\r\n  \"informationalUrls\": {\r\n    \"termsOfService\": null,\r\n    \"support\": null,\r\n    \"privacy\": null,\r\n    \"marketing\": null\r\n  },\r\n  \"isDeviceOnlyAuthSupported\": null,\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"logo@odata.mediaEditLink\": \"directoryObjects/c392f66c-2ef1-4e41-84f6-a1726ec1082c/Microsoft.DirectoryServices.Application/logo\",\r\n  \"logo@odata.mediaContentType\": \"application/json;odata=minimalmetadata; charset=utf-8\",\r\n  \"logoUrl\": null,\r\n  \"mainLogo@odata.mediaEditLink\": \"directoryObjects/c392f66c-2ef1-4e41-84f6-a1726ec1082c/Microsoft.DirectoryServices.Application/mainLogo\",\r\n  \"oauth2AllowIdTokenImplicitFlow\": true,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access sp99219570a9c on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access sp99219570a9c\",\r\n      \"id\": \"6de56afd-00a2-4a17-9db3-0c19a4e63d32\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access sp99219570a9c on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access sp99219570a9c\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"optionalClaims\": null,\r\n  \"orgRestrictions\": [],\r\n  \"parentalControlSettings\": {\r\n    \"countriesBlockedForMinors\": [],\r\n    \"legalAgeGroupRule\": \"Allow\"\r\n  },\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"publisherDomain\": \"AzureSDKTeam.onmicrosoft.com\",\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [\r\n    \"https://sp99219570a9c\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"signInAudience\": \"AzureADMyOrg\",\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications/c392f66c-2ef1-4e41-84f6-a1726ec1082c/keyCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "+wP/7vd5+5YurfC/KCsX3jUAS2OZ2VhL1D5T6A0EWMI="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "JSmddqJCoi1p9qj9dfM10mRi9lsXM0omfLM_mz4yUVtWzf_1-KY4kt6kZuk999J701sX5ljP2bTZzctWiqreWLw6t3K5sNFC0BSgo6jZk1UlkWmIePdMISLQQ0bmGeveVS2ryA4j0WB6TY2hM818KK783pQ4quQlhUsM28SBj1k.tlbb3zly0O8QsNJBzyq6NXdBNywkpmEOCyJhFf12Nco"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2439826"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.KeyCredential)\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications/c392f66c-2ef1-4e41-84f6-a1726ec1082c/passwordCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "uw2DI55YPxO27iCQ9gmp7jkFjvTBnlg/TMjn48ai3jY="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "nDYzkdcX0pJfZtiz7pb1kVCYQq1U2TnJToYXxs-sahxMT4_BXP1vYIxzHJdRWZ0m6I0dQCZ7FHQmHsX3lzruwHC-5Hlym8fg_WDRdMnzuD5eDzftQXlpwqn-z9K5oWEIeaNBC0PVcJfr9sk6W_0vEZavd6YidtqJnuEntb2bs44.dU1GsFd77Icq3RMXoL5MFHclbl1lC6Gsmydd26P21uI"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2470176"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.PasswordCredential)\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"efb7b30e-7ccb-45ae-8f2a-3100e43d50d5\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryOb[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/1d2473a0-03c9-4575-9d88-8ddd42581b1c/keyCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "c961QXj+XitIe9ndNvmA8K1Z1/zgJelmYQNKQ1J3RwA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "xGhNpYuQYnByQiiDzRaO-ts6opQZ2jqzLZEqgdgseZd2U5w_6lmMunQtU5Qgy7CgdIBnScoR284YhKUeHkMsPW2sG0Gp2vVwLK2dgUiprOxH3i2Dfp-8FDbmBPAwYNJ00LC1s-SvptKsTjLevBlkftXqjhQdfrKFYF27Zge_E-c.payFDqmqB9LhzcxWK89lKjOWmg5cb7KRYOEdmJfx5-o"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2423046"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.KeyCredential)\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/1d2473a0-03c9-4575-9d88-8ddd42581b1c/passwordCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "+wP/7vd5+5YurfC/KCsX3jUAS2OZ2VhL1D5T6A0EWMI="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "UP163rnq6k7d9eChJPFDv-6Y1DwyEDDFfuf5MTAilQV9bRolPHG1DqjPAOUKb6rMDVS-9lGJgS012D7rZzfwbXQrSbG6xiV99eHFMcp1-v3t2B_dlK3JismCkKI4-DugduNP-K5qV75xpuxRv6lQt5ZQgjxEtJVzukdZgcbA3kY.nbknACW6GFmb_Uq7wHy5VUWEfniW3e4CZwzWLB8A1As"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2446046"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.PasswordCredential)\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"groupf1025461d\",\r\n  \"mailNickname\": \"groupf1025461d\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/4c7030b7-b2c1-4eca-8327-030939101cc4/Microsoft.DirectoryServices.Group"
        ],
        "ocp-aad-diagnostics-server-name": [
          "c961QXj+XitIe9ndNvmA8K1Z1/zgJelmYQNKQ1J3RwA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "LHocdpHcVzQvSGmvoAwc-CkGuGI7UoVf1rsU43F9UY4e1lBoialxUqU7hqy_tcHsH3-gPxGHrn19nl30R7YldhJi3aCY6RIB_5tYPVmECWp_av6k91pRejv57Yz9qJB8bpps5Wzq6jJSoomxTLIh7ebklDBW-Y1dl0kb70KODoY.ow4wXkZVirMcGPg6uaWNs4VhndOnvgpj1C7fMVJnTjg"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "5524850"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"4c7030b7-b2c1-4eca-8327-030939101cc4\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"groupf1025461d\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"groupf1025461d\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesDomainName\": null,\r\n  \"onPremisesNetBiosName\": null,\r\n  \"onPremisesSamAccountName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/groups/69618404-38d0-432a-9f53-aec74203b3d5/$links/members?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/dcbcb06e-3d04-4147-9990-bfa1caeeafc4\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "AO8aByeydM5hr4Nt08rI3IeFDTLsTL/1ZH6EpPaHXyU="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "avU9LupS0_kpaI1CEu_a4RndSLfSofhdiejnKTw7bNOx5OLycoyeKi1VvJIFqtBhPOlHQ4XJcYA2n34JnKBusDrTbwi4BEMrGXAPCwhymR5JXVAeiDVRRYtkwnUPrOR2YYR6Gb-r-xbeKPTRvL5L0ghr6cK3HnBdCgI4ozwKC74.sAJZEMGX2IGeT92ot7JqgCtc9mPXH6wX3HbeyITce3w"
        ],
        "Duration": [
          "5967237"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/groups/69618404-38d0-432a-9f53-aec74203b3d5/members?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "sc2HGlAzCMS1VY7X5hfVhAS42eedMCDVczjCHW+dA+w="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "cQ5zDo3dJjgRM7qi6[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/1d2473a0-03c9-4575-9d88-8ddd42581b1c?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "uw2DI55YPxO27iCQ9gmp7jkFjvTBnlg/TMjn48ai3jY="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "ksLa0sfvHNJXjRfm4Ccpp_1VdomgjNzCl2b-0bSdI0Hp41_1UoPPRzzLs6RX8ItNGfRKDXPwU0sVkBvWPRtPLRdNp8Uh5IUYbfxOl30GINbFZiIE7kO3fAg3p8kA2RpIXofTWCA8QmtzWmRss1lNECIxqSj0RcVs32XTZj92MRY.MPQd0sdLYLUIJIkaAA1Qr8XGT_74R_tQwXOKqO3QIx8"
        ],
        "Duration": [
          "3273392"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "CanCRUDGroup": [
      "user40f08956dd",
      "sp99219570a9c",
      "groupf1025461d",
      "group393479162"
    ]
  },
  "Variables": {
    "ServicePrincipal": "6345c07e-79bd-46c3-8486-ae12b7d6893d",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}