{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgcomvc5285189f080b30f?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"westcentralus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f\",\n  \"name\": \"rgcomvc5285189f080b30f\",\n  \"location\": \"westcentralus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Network/virtualNetworks/vnet76d080112eb5?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"10.0.0.0/28\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"properties\": {\n          \"addressPrefix\": \"10.0.0.0/28\"\n        },\n        \"name\": \"subnet1\"\n      }\n    ]\n  },\n  \"location\": \"westcentralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westcentralus/operations/49289e11-44f1-46a0-b7ea-b8a9384b8b88?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"vnet76d080112eb5\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Network/virtualNetworks/vnet76d080112eb5\",\n  \"etag\": \"W/\\\"fbf77429-c542-45da-9610-cadafb70553d\\\"\",\n  \"type\": \"Microsoft.Network/virtualNetworks\",\n  \"location\": \"westcentralus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Updating\",\n    \"resourceGuid\": \"6f35e5b7-3ade-4aaf-b3a9-9f5ff9248c46\",\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"10.0.0.0/28\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"name\": \"subnet1\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Network/virtualNetworks/vnet76d080112eb5/subnets/subnet1\",\n        \"etag\": \"W/\\\"fbf77429-c542-45da-9610-cadafb70553d\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Updating\",\n          \"addressPrefix\": \"10.0.0.0/28\",\n          \"delegations\": []\n        },\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\n      }\n    ],\n    \"virtualNetworkPeerings\": [],\n    \"enableDdosProtection\": false,\n    \"enableVmProtection\": false\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Network/publicIPAddresses/pip46942eed?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"dnsSettings\": {\n      \"domainNameLabel\": \"pip09f22551aa983bf7c\"\n    }\n  },\n  \"location\": \"westcentralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westcentralus/operations/dd44c9a8-29c0-40e5-ab73-c12712ba514c?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"pip46942eed\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Network/publicIPAddresses/pip46942eed\",\n  \"etag\": \"W/\\\"8ec1aa20-5f4d-4e42-b671-988c81e67998\\\"\",\n  \"location\": \"westcentralus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Updating\",\n    \"resourceGuid\": \"892898d4-f983-43ce-b6f9-3d24e164ced0\",\n    \"publicIPAddressVersion\": \"IPv4\",\n    \"publicIPAllocationMethod\": \"Dynamic\",\n    \"idleTimeoutInMinutes\": 4,\n    \"dnsSettings\": {\n      \"domainNameLabel\": \"pip09f22551aa983bf7c\",\n      \"fqdn\": \"pip09f22551aa983bf7c.westcentralus.cloudapp.azure.com\"\n    },\n    \"ipTags\": []\n  },\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\": \"Regional\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/westcentralus/operations/49289e11-44f1-46a0-b7ea-b8a9384b8b88?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"status\": \"Succeeded\"\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Network/virtualNetworks/vnet76d080112eb5?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"a2932860-536a-46fb-8a3b-4076e4d636d1\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"vnet76d080112eb5\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Network/virtualNetworks/vnet76d080112eb5\",\n  \"etag\": \"W/\\\"a2932860[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Network/networkInterfaces/nic62029bd1ac5?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"ipConfigurations\": [\n      {\n        \"properties\": {\n          \"privateIPAllocationMethod\": \"Dynamic\",\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Network/virtualNetworks/vnet76d080112eb5/subnets/subnet1\"\n          },\n          \"primary\": true,\n          \"publicIPAddress\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Network/publicIPAddresses/pip46942eed\"\n          }\n        },\n        \"name\": \"primary\"\n      }\n    ],\n    \"dnsSettings\": {}\n  },\n  \"location\": \"westcentralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncO[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Compute/virtualMachines/vm1d776398938781ad3c?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"hardwareProfile\": {\n      \"vmSize\": \"Standard_D3_v2\"\n    },\n    \"storageProfile\": {\n      \"imageReference\": {\n        \"publisher\": \"Canonical\",\n        \"offer\": \"UbuntuServer\",\n        \"sku\": \"16.04.0-LTS\",\n        \"version\": \"latest\"\n      },\n      \"osDisk\": {\n        \"caching\": \"ReadWrite\",\n        \"createOption\": \"FromImage\",\n        \"managedDisk\": {\n          \"storageAccountType\": \"Standard_LRS\"\n        }\n      },\n      \"dataDisks\": [\n        {\n          \"lun\": 0,\n          \"caching\": \"ReadWrite\",\n          \"createOption\": \"Empty\",\n          \"diskSizeGB\": 100,\n          \"managedDisk\": {\n            \"storageAccountType\": \"Standard_LRS\"\n          }\n        },\n        {\n          \"lun\": 1,\n          \"caching\": \"ReadWrite\",\n          \"createOption\": \"Empty\",\n          \"diskSizeGB\": 100,\n          \"managedDisk\": {\n            \"storageAccountType\": \"Standard_LRS\"\n          }\n        }\n      ]\n    },\n    \"osProfile\": {\n      \"computerName\": \"vm9cc50655c2\",\n      \"adminUsername\": \"tirekicker\",\n      \"adminPassword\": \"12NewPA$$w0rd!\",\n      \"linuxConfiguration\": {\n        \"disablePasswordAuthentication\": false\n      }\n    },\n    \"networkProfile\": {\n      \"networkInterfaces\": [\n        {\n          \"properties\": {\n            \"primary\": true\n          },\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Network/networkInterfaces/nic62029bd1ac5\"\n        }\n      ]\n    }\n  },\n  \"location\": \"westcentralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westcentralus/operations/f0adce61-da7b-4a5e-b2da-92e566d76fe0?api-version=2018-06-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1193"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"properties\": {\n    \"vmId\": \"850d6a8d-b2bc-4724-832e-cc012741805d\",\n    \"hardwareProfile\": {\n      \"vmSize\": \"Standard_D3_v2\"\n    },\n    \"storageProfile\": {\n      \"imageReference\": {\n        \"publisher\": \"Canonical\",\n        \"offer\": \"UbuntuServer\",\n        \"sku\": \"16.04.0-LTS\",\n        \"version\": \"latest\"\n      },\n      \"osDisk\": {\n        \"osType\": \"Linux\",\n        \"createOption\": \"FromImage\",\n        \"caching\": \"ReadWrite\",\n        \"managedDisk\": {\n          \"storageAccountType\": \"Standard_LRS\"\n        }\n      },\n      \"dataDisks\": [\n        {\n          \"lun\": 0,\n          \"createOption\": \"Empty\",\n          \"caching\": \"ReadWrite\",\n          \"managedDisk\": {\n            \"storageAccountType\": \"Standard_LRS\"\n          },\n          \"diskSizeGB\": 100\n        },\n        {\n          \"lun\": 1,\n          \"createOption\": \"Empty\",\n          \"caching\": \"ReadWrite\",\n          \"managedDisk\": {\n            \"storageAccountType\": \"Standard_LRS\"\n          },\n          \"diskSizeGB\": 100\n        }\n      ]\n    },\n    \"osProfile\": {\n      \"computerName\": \"vm9cc50655c2\",\n      \"adminUsername\": \"tirekicker\",\n      \"linuxConfiguration\": {\n        \"disablePasswordAuthentication\": false,\n        \"provisionVMAgent\": true\n      },\n      \"secrets\": [],\n      \"allowExtensionOperations\": true\n    },\n    \"networkProfile\": {\n      \"networkInterfaces\": [\n        {\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Network/networkInterfaces/nic62029bd1ac5\",\n          \"properties\": {\n            \"primary\": true\n          }\n        }\n      ]\n    },\n    \"provisioningState\": \"Creating\"\n  },\n  \"type\": \"Microsoft.Compute/virtualMachines\",\n  \"location\": \"westcentralus\",\n  \"tags\": {},\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Compute/virtualMachines/vm1d776398938781ad3c\",\n  \"name\": \"vm1d776398938781ad3c\"\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westcentralus/operations/f0adce61-da7b-4a5e-b2da-92e566d76fe0?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "30"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14998,Microsoft.Compute/GetOperation30Min;29951"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"startTime\": \"2018-08-01T01:11:19.5319312+00:00\",\n  \"status\": \"InProgress\",\n  \"name\": \"f0adce61-da7b-4a5e-b2da-92e566d76fe0\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westcentralus/operations/f0adce61-da7b-4a5e-b2da-92e566d76fe0?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14990,Microsoft.Compute/GetOperation30Min;29942"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"startTime\": \"2018-08-01T01:11:19.5319312+00:00\",\n  \"endTime\": \"2018-08-01T01:12:14.6175174+00:00\",\n  \"status\": \"Succeeded\",\n  \"name\": \"f0adce61-da7b-4a5e-b2da-92e566d76fe0\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Compute/virtualMachines/vm1d776398938781ad3c/extensions/CustomScriptForLinux?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"publisher\": \"Microsoft.OSTCExtensions\",\n    \"type\": \"CustomScriptForLinux\",\n    \"typeHandlerVersion\": \"1.4\",\n    \"autoUpgradeMinorVersion\": true,\n    \"settings\": {\n      \"fileUris\": [\n        \"https://raw.githubusercontent.com/Azure/azure-libraries-for-net/master/Samples/Asset/install_apache.sh\"\n      ],\n      \"commandToExecute\": \"bash install_apache.sh\"\n    }\n  },\n  \"location\": \"westcentralus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westcentralus/operations/ae1ab14f-7089-4ebb-9c20-0bcdde820933?api-version=2018-06-01"
        ],
        "x-ms-rat[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Compute/disks/vm1d776398938781ad3c_OsDisk_1_0506752fc60946c0838380e36bbf024e?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/LowCostGet3Min;4984,Microsoft.Compute/LowCostGet30Min;19980"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11981"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"managedBy\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Compute/virtualMachines/vm1d776398938781ad3c\",\n  \"sku\": {\n    \"name\": \"Standard_LRS\",\n    \"tier\": \"Standard\"\n  },\n  \"properties\": {\n    \"osType\": \"Linux\",\n    \"creationData\": {\n      \"createOption\": \"FromImage\",\n      \"imageReference\": {\n        \"id\": \"/Subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/Providers/Microsoft.Compute/Locations/westcentralus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/16.04.0-LTS/Versions/16.04.201805220\"\n      }\n    },\n    \"diskSizeGB\": 30,\n    \"timeCreated\": \"2018-08-01T01:11:19.9212735+00:00\",\n    \"provisioningState\": \"Succeeded\",\n    \"diskState\": \"Attached\"\n  },\n  \"type\": \"Microsoft.Compute/disks\",\n  \"location\": \"westcentralus\",\n  \"tags\": {},\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Compute/disks/vm1d776398938781ad3c_OsDisk_1_0506752fc60946c0838380e36bbf024e\",\n  \"name\": \"vm1d776398938781ad3c_OsDisk_1_0506752fc60946c0838380e36bbf024e\"\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Compute/disks/vm1d776398938781ad3c_disk2_5764efb0e2f744c3bfe35eec8b5113c2?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/LowCostGet3Min;4983,Microsoft.Compute/LowCostGet30Min;19979"
        ],[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Compute/virtualMachines/vm1d776398938781ad3c?api-version=2018-06-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westcentralus/operations/ee316824-f4b9-4394-b0ab-1bfd281d2bdf?monitor=true&api-version=2018-06-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westcentralus/operations/ee316824-f4b9-4394-b0ab-1bfd281d2bdf?api-version=2018-06-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/DeleteVM3Min;239,Microsoft.Compute/DeleteVM30Min;1198"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westcentralus/operations/ee316824-f4b9-4394-b0ab-1bfd281d2bdf?monitor=true&api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14949,Microsoft.Compute/GetOperation30Min;29880"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11973"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Compute/snapshots/ss-os-3f15509159cad196?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"sku\": {\n    \"name\": \"Standard_LRS\"\n  },\n  \"properties\": {\n    \"osType\": \"Linux\",\n    \"creationData\": {\n      \"createOption\": \"Copy\",\n      \"sourceResourceId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Compute/disks/vm1d776398938781ad3c_OsDisk_1_0506752fc60946c0838380e36bbf024e\"\n    }\n  },\n  \"location\": \"westcentralus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-a[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/24f99f9f-279c-45a7-b323-d105ecd200e5?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;49988,Microsoft.Compute/GetOperation30Min;249979"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11972"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"startTime\": \"2018-08-01T01:16:15.0227621+00:00\",\n  \"endTime\": \"2018-08-01T01:16:36.4329182+00:00\",\n  \"status\": \"Succeeded\",\n  \"properties\": {\n    \"output\": {\n      \"sku\": {\n        \"name\": \"Standard_LRS\",\n        \"tier\": \"Standard\"\n      },\n      \"properties\": {\n        \"osType\": \"Linux\",\n        \"creationData\": {\n          \"createOption\": \"Copy\",\n          \"sourceResourceId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Compute/disks/vm1d776398938781ad3c_OsDisk_1_0506752fc60946c0838380e36bbf024e\"\n        },\n        \"diskSizeGB\": 30,\n        \"timeCreated\": \"2018-08-01T01:16:15.0227621+00:00\",\n        \"provisioningState\": \"Succeeded\",\n        \"diskState\": \"Unattached\"\n      },\n      \"type\": \"Microsoft.Compute/snapshots\",\n      \"location\": \"westcentralus\",\n      \"tags\": {},\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Compute/snapshots/ss-os-3f15509159cad196\",\n      \"name\": \"ss-os-3f15509159cad196\"\n    }\n  },\n  \"name\": \"24f99f9f-279c-45a7-b323-d105ecd200e5\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Compute/snapshots/ss-data-5b9630675a3650c-0?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"sku\": {\n    \"name\": \"Standard_LRS\"\n  },\n  \"properties\": {\n    \"creationData\": {\n      \"createOption\": \"Copy\",\n      \"sourceResourceId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc52[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Compute/disks/ds-os-nw-de311938190bea?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"sku\": {\n    \"name\": \"Standard_LRS\"\n  },\n  \"properties\": {\n    \"osType\": \"Linux\",\n    \"creationData\": {\n      \"createOption\": \"Copy\",\n      \"sourceResourceId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/re[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Compute/disks/ds-data-nw-9e84986281d5b-0?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"creationData\": {\n      \"createOption\": \"Copy\",\n      \"sourceResourceId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Compute/snapshots/ss-[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/7b9de865-2e6b-4ba5-812d-e421bab66026?monitor=true&api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;49971,Microsoft.Compute/GetOperation30Min;249942"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11952"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Compute/virtualMachines/vm206d472063c79104c8/deallocate?api-version=2018-06-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westcentralus/operations/aa70007d-b134-493a-a9e7-f75ba7f8045d?monitor=true&api-version=2018-06-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westcentralus/operations/aa70007d-b134-493a-a9e7-f75ba7f8045d?api-version=2018-06-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/DeleteVM3Min;235,Microsoft.Compute/DeleteVM30Min;1190"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1186"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Compute/disks/ds-os-nw-de311938190bea/beginGetAccess?api-version=2018-04-01",
      "RequestMethod": "POST",
      "RequestBody": "{\n  \"access\": \"Read\",\n  \"durationInSeconds\": 1440\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/380af15b-179e-410d-ad7f-e97f9364f177?monitor=true&api-version=2018-04-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/380af15b-179e-410d-ad7f-e97f9364f177?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/HighCostDiskHydrate3Min;999,Microsoft.Compute/HighCostDiskHydrate30Min;4997"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1185"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/380af15b-179e-410d-ad7f-e97f9364f177?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;49995,Microsoft.Compute/GetOperation30Min;249933"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11941"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"startTime\": \"2018-08-01T01:23:34.4851626+00:00\",\n  \"endTime\": \"2018-08-01T01:23:34.6570439+00:00\",\n  \"status\": \"Succeeded\",\n  \"properties\": {\n    \"output\": {\n      \"accessSAS\": \"https://md-2svgj1qsllbg.blob.core.windows.net/sdc3mhzdsbfw/abcd?sv=2017-04-17&sr=b&si=8f4b41af-f2be-4b26-a3da-59d545c894c6&sig=1eomwmsg6NwREhllwQKh971mF%2BTDk9%2BKCbB1cErkiwA%3D\"\n    }\n  },\n  \"name\": \"380af15b-179e-410d-ad7f-e97f9364f177\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcomvc5285189f080b30f/providers/Microsoft.Compute/disks/ds-data-nw-9e84986281d5b-0/beginGetAccess?api-version=2018-04-01",
      "RequestMethod": "POST",
      "RequestBody": "{\n  \"access\": \"Read\",\n  \"durationInSeconds\": 1440\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/64b18324-b036-41e5-95d4-c1c05d0b3d32?monitor=true&api-version=2018-04-01"
        ],
[...]
