{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10895"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"eastus\",\r\n    \"name\": \"128technology\",\r\n    \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/128technology\"\r\n  },\r\n  {\r\n    \"location\": \"eastus\",\r\n    \"name\": \"1e\",\r\n    \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/1e\"\r\n  },\r\n  {\r\n    \"location\": \"eastus\",\r\n    \"name\": \"2021ai\",\r\n    \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Comp[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.Azure.Extensions/artifacttypes/vmextension/types?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10894"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        [...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.Azure.Extensions/artifacttypes/vmextension/types/CustomScript/versions?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10893"
        ],
        "Content-Type": [
          "application/json; c[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.Azure.Extensions/artifacttypes/vmextension/types/CustomScript/versions/2.0.0?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10892"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"operatingSystem\": \"Linux\",\r\n    \"computeRole\": \"IaaS\",\r\n    \"vmScaleSetEnabled\": false,\r\n    \"supportsMultipleExtensions\": false,\r\n    \"rollbackSupported\": false,\r\n    \"isJsonExtension\": true\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"name\": \"2.0.0\",\r\n  \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.Azure.Extensions/ArtifactTypes/VMExtension/Types/CustomScript/Versions/2.0.0\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.Azure.Extensions/artifacttypes/vmextension/types/DockerExtension/versions?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10883"
        ],
        "Content-Type": [
          "application/json[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.Azure.Extensions/artifacttypes/vmextension/types/DockerExtension/versions/1.0.1512030601?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10882"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"operatingSystem\": \"Windows\",\r\n    \"computeRole\": \"IaaS\",\r\n    \"vmScaleSetEnabled\": false,\r\n    \"supportsMultipleExtensions\": false,\r\n    \"rollbackSupported\": false,\r\n    \"isJsonExtension\": true\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"name\": \"1.0.1512030601\",\r\n  \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.Azure.Extensions/ArtifactTypes/VMExtension/Types/DockerExtension/Versions/1.0.1512030601\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.Azure.Extensions/artifacttypes/vmextension/types/FixEmulatedIO/versions?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10872"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"eastus\",\r\n    \"name\": \"1.0.0\",\r\n    \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.Azure.Extensions/ArtifactTypes/VMExtension/Types/FixEmulatedIO/Versions/1.0.0\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.Azure.Extensions/artifacttypes/vmextension/types/FixEmulatedIO/versions/1.0.0?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10871"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"operatingSystem\": \"Windows\",\r\n    \"computeRole\": \"IaaS\",\r\n    \"vmScaleSetEnabled\": false,\r\n    \"supportsMultipleExtensions\": false,\r\n    \"rollbackSupported\": false,\r\n    \"isJsonExtension\": true\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"name\": \"1.0.0\",\r\n  \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.Azure.Extensions/ArtifactTypes/VMExtension/Types/FixEmulatedIO/Versions/1.0.0\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.Azure.Extensions/artifacttypes/vmextension/types/FixLinuxDiagnostic/versions?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10870"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"eastus\",\r\n    \"name\": \"1.0.0\",\r\n    \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.Azure.Extensions/ArtifactTypes/VMExtension/Types/FixLinuxDiagnostic/Versions/1.0.0\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.Azure.Extensions/artifacttypes/vmextension/types/FixLinuxDiagnostic/versions/1.0.0?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10869"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"operatingSystem\": \"Windows\",\r\n    \"computeRole\": \"IaaS\",\r\n    \"vmScaleSetEnabled\": false,\r\n    \"supportsMultipleExtensions\": false,\r\n    \"rollbackSupported\": false,\r\n    \"isJsonExtension\": true\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"name\": \"1.0.0\",\r\n  \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.Azure.Extensions/ArtifactTypes/VMExtension/Types/FixLinuxDiagnostic/Versions/1.0.0\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.Azure.Extensions/artifacttypes/vmextension/types/GuestActionForLinux/versions?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10868"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"eastus\",\r\n    \"name\": \"1.0.0\",\r\n    \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.Azure.Extensions/ArtifactTypes/VMExtension/Types/GuestActionForLinux/Versions/1.0.0\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.Azure.Extensions/artifacttypes/vmextension/types/GuestActionForLinux/versions/1.0.0?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10867"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"operatingSystem\": \"Linux\",\r\n    \"computeRole\": \"IaaS\",\r\n    \"vmScaleSetEnabled\": false,\r\n    \"supportsMultipleExtensions\": false,\r\n    \"rollbackSupported\": false,\r\n    \"isJsonExtension\": true\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"name\": \"1.0.0\",\r\n  \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.Azure.Extensions/ArtifactTypes/VMExtension/Types/GuestActionForLinux/Versions/1.0.0\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.Azure.Extensions/artifacttypes/vmextension/types/GuestActionForWindows/versions?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10866"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"eastus\",\r\n    \"name\": \"1.0.0\",\r\n    \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.Azure.Extensions/ArtifactTypes/VMExtension/Types/GuestActionForWindows/Versions/1.0.0\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.Azure.Extensions/artifacttypes/vmextension/types/GuestActionForWindows/versions/1.0.0?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10865"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"operatingSystem\": \"Windows\",\r\n    \"computeRole\": \"IaaS\",\r\n    \"vmScaleSetEnabled\": false,\r\n    \"supportsMultipleExtensions\": false,\r\n    \"rollbackSupported\": false,\r\n    \"isJsonExtension\": true\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"name\": \"1.0.0\",\r\n  \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.Azure.Extensions/ArtifactTypes/VMExtension/Types/GuestActionForWindows/Versions/1.0.0\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.Azure.Extensions/artifacttypes/vmextension/types/LinuxAsm/versions?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10864"
        ],
        "Content-Type": [
          "application/json; chars[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.Azure.Extensions/artifacttypes/vmextension/types/LinuxAsm/versions/2.0.1?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10863"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"operatingSystem\": \"Windows\",\r\n    \"computeRole\": \"IaaS\",\r\n    \"vmScaleSetEnabled\": false,\r\n    \"supportsMultipleExtensions\": false,\r\n    \"rollbackSupported\": false,\r\n    \"isJsonExtension\": true\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"name\": \"2.0.1\",\r\n  \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.Azure.Extensions/ArtifactTypes/VMExtension/Types/LinuxAsm/Versions/2.0.1\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.OSTCExtensions/artifacttypes/vmextension/types?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10854"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.OSTCExtensions/artifacttypes/vmextension/types/AzureDiskEncryptionForLinux/versions?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10853"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"eastus\",\r\n    \"name\": \"0.1.0.999105\",\r\n    \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.OSTCExtensions/ArtifactTypes/VMExtension/Types/AzureDiskEncryptionForLinux/Versions/0.1.0.999105\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.OSTCExtensions/artifacttypes/vmextension/types/AzureDiskEncryptionForLinux/versions/0.1.0.999105?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10852"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"operatingSystem\": \"Linux\",\r\n    \"computeRole\": \"IaaS\",\r\n    \"vmScaleSetEnabled\": false,\r\n    \"supportsMultipleExtensions\": false,\r\n    \"rollbackSupported\": false,\r\n    \"isJsonExtension\": true\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"name\": \"0.1.0.999105\",\r\n  \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.OSTCExtensions/ArtifactTypes/VMExtension/Types/AzureDiskEncryptionForLinux/Versions/0.1.0.999105\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.OSTCExtensions/artifacttypes/vmextension/types/AzureEnhancedMonitorForLinux/versions?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10851"
        ],
        "Content-Type": [
          "appli[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.OSTCExtensions/artifacttypes/vmextension/types/AzureEnhancedMonitorForLinux/versions/2.0.0.2?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10850"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"operatingSystem\": \"Windows\",\r\n    \"computeRole\": \"IaaS\",\r\n    \"vmScaleSetEnabled\": false,\r\n    \"supportsMultipleExtensions\": false,\r\n    \"rollbackSupported\": false,\r\n    \"isJsonExtension\": true\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"name\": \"2.0.0.2\",\r\n  \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.OSTCExtensions/ArtifactTypes/VMExtension/Types/AzureEnhancedMonitorForLinux/Versions/2.0.0.2\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.OSTCExtensions/artifacttypes/vmextension/types/CustomScriptForLinux/versions?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10843"
        ],
        "Content-Type": [
          "application/j[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.OSTCExtensions/artifacttypes/vmextension/types/CustomScriptForLinux/versions/1.0?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10842"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"operatingSystem\": \"Windows\",\r\n    \"computeRole\": \"IaaS\",\r\n    \"vmScaleSetEnabled\": false,\r\n    \"supportsMultipleExtensions\": false,\r\n    \"rollbackSupported\": false,\r\n    \"isJsonExtension\": true\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"name\": \"1.0\",\r\n  \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.OSTCExtensions/ArtifactTypes/VMExtension/Types/CustomScriptForLinux/Versions/1.0\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.OSTCExtensions/artifacttypes/vmextension/types/CustomScriptForLinux/versions/1.0.1?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10841"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"operatingSystem\": \"Linux\",\r\n    \"computeRole\": \"IaaS\",\r\n    \"vmScaleSetEnabled\": false,\r\n    \"supportsMultipleExtensions\": false,\r\n    \"rollbackSupported\": false,\r\n    \"isJsonExtension\": true\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"name\": \"1.0.1\",\r\n  \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.OSTCExtensions/ArtifactTypes/VMExtension/Types/CustomScriptForLinux/Versions/1.0.1\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.OSTCExtensions/artifacttypes/vmextension/types/CustomScriptForLinux/versions/1.2.2.0?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10838"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"operatingSystem\": \"Windows\",\r\n    \"computeRole\": \"IaaS\",\r\n    \"vmScaleSetEnabled\": false,\r\n    \"supportsMultipleExtensions\": false,\r\n    \"rollbackSupported\": false,\r\n    \"isJsonExtension\": true\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"name\": \"1.2.2.0\",\r\n  \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.OSTCExtensions/ArtifactTypes/VMExtension/Types/CustomScriptForLinux/Versions/1.2.2.0\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.OSTCExtensions/artifacttypes/vmextension/types/DSCForLinux/versions?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10827"
        ],
        "Content-Type": [
          "application/json; char[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.OSTCExtensions/artifacttypes/vmextension/types/DSCForLinux/versions/1.0.0.0?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10826"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"operatingSystem\": \"Windows\",\r\n    \"computeRole\": \"IaaS\",\r\n    \"vmScaleSetEnabled\": false,\r\n    \"supportsMultipleExtensions\": false,\r\n    \"rollbackSupported\": false,\r\n    \"isJsonExtension\": true\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"name\": \"1.0.0.0\",\r\n  \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.OSTCExtensions/ArtifactTypes/VMExtension/Types/DSCForLinux/Versions/1.0.0.0\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.OSTCExtensions/artifacttypes/vmextension/types/LinuxDiagnostic/versions?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10811"
        ],
        "Content-Type": [
          "application/json; [...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.OSTCExtensions/artifacttypes/vmextension/types/LinuxDiagnostic/versions/2.0.9023?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10810"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"operatingSystem\": \"Linux\",\r\n    \"computeRole\": \"IaaS\",\r\n    \"vmScaleSetEnabled\": false,\r\n    \"supportsMultipleExtensions\": false,\r\n    \"rollbackSupported\": false,\r\n    \"isJsonExtension\": true\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"name\": \"2.0.9023\",\r\n  \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.OSTCExtensions/ArtifactTypes/VMExtension/Types/LinuxDiagnostic/Versions/2.0.9023\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.OSTCExtensions/artifacttypes/vmextension/types/Null/versions?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10803"
        ],
        "Content-Type": [
          "application/json; charset=utf[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.OSTCExtensions/artifacttypes/vmextension/types/Null/versions/1.0.0.0?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10802"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"operatingSystem\": \"Linux\",\r\n    \"computeRole\": \"IaaS\",\r\n    \"vmScaleSetEnabled\": false,\r\n    \"supportsMultipleExtensions\": false,\r\n    \"rollbackSupported\": false,\r\n    \"isJsonExtension\": true\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"name\": \"1.0.0.0\",\r\n  \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.OSTCExtensions/ArtifactTypes/VMExtension/Types/Null/Versions/1.0.0.0\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.OSTCExtensions/artifacttypes/vmextension/types/OSPatchingForLinux/versions?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10792"
        ],
        "Content-Type": [
          "application/jso[...]
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.OSTCExtensions/artifacttypes/vmextension/types/OSPatchingForLinux/versions/1.0?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10791"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"operatingSystem\": \"Windows\",\r\n    \"computeRole\": \"IaaS\",\r\n    \"vmScaleSetEnabled\": false,\r\n    \"supportsMultipleExtensions\": false,\r\n    \"rollbackSupported\": false,\r\n    \"isJsonExtension\": true\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"name\": \"1.0\",\r\n  \"id\": \"/Subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.OSTCExtensions/ArtifactTypes/VMExtension/Types/OSPatchingForLinux/Versions/1.0\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.OSTCExtensions/artifacttypes/vmextension/types/OSPatchingForLinux/versions/1.0.1.1?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "10790"
        ],
        "Content-Type": [
[...]
