{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgcopp1116305961120?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"eastus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcopp1116305961120\",\n  \"name\": \"rgcopp1116305961120\",\n  \"location\": \"eastus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcopp1116305961120/providers/Microsoft.Network/virtualNetworks/vnetcomvda90077976ce?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"172.16.0.0/16\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"properties\": {\n          \"addressPrefix\": \"172.16.0.0/16\"\n        },\n        \"name\": \"subnet1\"\n      }\n    ]\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/0a1d69e1-5b5f-4020-aff8-3e19488f849d?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"vnetcomvda90077976ce\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcopp1116305961120/providers/Microsoft.Network/virtualNetworks/vnetcomvda90077976ce\",\n  \"etag\": \"W/\\\"2391a58f-ea67-4fbc-9f73-372fc0d9fc38\\\"\",\n  \"type\": \"Microsoft.Network/virtualNetworks\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Updating\",\n    \"resourceGuid\": \"9f037ef7-2410-4b2d-ac78-4115f32ff865\",\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"172.16.0.0/16\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"name\": \"subnet1\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcopp1116305961120/providers/Microsoft.Network/virtualNetworks/vnetcomvda90077976ce/subnets/subnet1\",\n        \"etag\": \"W/\\\"2391a58f-ea67-4fbc-9f73-372fc0d9fc38\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Updating\",\n          \"addressPrefix\": \"172.16.0.0/16\",\n          \"delegations\": []\n        }\n      }\n    ],\n    \"virtualNetworkPeerings\": [],\n    \"enableDdosProtection\": false,\n    \"enableVmProtection\": false\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcopp1116305961120/providers/Microsoft.Storage/storageAccounts/stgcomvbf406237da?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"sku\": {\n    \"name\": \"Standard_GRS\"\n  },\n  \"kind\": \"Storage\",\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Storage/locations/eastus/asyncoperations/410fdfb5-3136-4d57-a1e2-aadc37effc24?monitor=true&api-version=2017-10-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/0a1d69e1-5b5f-4020-aff8-3e19488f849d?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"status\": \"InProgress\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Storage/locations/eastus/asyncoperations/410fdfb5-3136-4d57-a1e2-aadc37effc24?monitor=true&api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\n  \"sku\": {\n    \"name\": \"Standard_GRS\",\n    \"tier\": \"Standard\"\n  },\n  \"kind\": \"Storage\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcopp1116305961120/providers/Microsoft.Storage/storageAccounts/stgcomvbf406237da\",\n  \"name\": \"stgcomvbf406237da\",\n  \"type\": \"Microsoft.Storage/storageAccounts\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"networkAcls\": {\n      \"bypass\": \"AzureServices\",\n      \"virtualNetworkRules\": [],\n      \"ipRules\": [],\n      \"defaultAction\": \"Allow\"\n    },\n    \"trustedDirectories\": [\n      \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\n    ],\n    \"supportsHttpsTrafficOnly\": false,\n    \"encryption\": {\n      \"services\": {\n        \"file\": {\n          \"enabled\": true,\n          \"lastEnabledTime\": \"2018-08-01T01:09:28.2743826Z\"\n        },\n        \"blob\": {\n          \"enabled\": true,\n          \"lastEnabledTime\": \"2018-08-01T01:09:28.2743826Z\"\n        }\n      },\n      \"keySource\": \"Microsoft.Storage\"\n    },\n    \"provisioningState\": \"Succeeded\",\n    \"creationTime\": \"2018-08-01T01:09:28.0399921Z\",\n    \"primaryEndpoints\": {\n      \"blob\": \"https://stgcomvbf406237da.blob.core.windows.net/\",\n      \"queue\": \"https://stgcomvbf406237da.queue.core.windows.net/\",\n      \"table\": \"https://stgcomvbf406237da.table.core.windows.net/\",\n      \"file\": \"https://stgcomvbf406237da.file.core.windows.net/\"\n    },\n    \"primaryLocation\": \"eastus\",\n    \"statusOfPrimary\": \"available\",\n    \"secondaryLocation\": \"westus\",\n    \"statusOfSecondary\": \"available\"\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcopp1116305961120/providers/Microsoft.Network/virtualNetworks/vnetcomvda90077976ce?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"f944befd-c44e-41e5-b61a-bf6122bba464\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"vnetcomvda90077976ce\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcopp1116305961120/providers/Microsoft.Network/virtualNetworks/vnetcomvda90077976ce\",\n  \"etag\": \"W/\\\"f94[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcopp1116305961120/providers/Microsoft.Network/networkInterfaces/nicvm-14da0165756?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"ipConfigurations\": [\n      {\n        \"properties\": {\n          \"privateIPAllocationMethod\": \"Dynamic\",\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcopp1116305961120/providers/Microsoft.Network/virtualNetworks/vnetcomvda90077976ce/subnets/subnet1\"\n          },\n          \"primary\": true\n        },\n        \"name\": \"primary\"\n      }\n    ],\n    \"dnsSettings\": {}\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/cf917e3c-db5f-49a1-9589-9138bf847167?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscriptio[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcopp1116305961120/providers/Microsoft.Network/networkInterfaces/nicvm-14da0165756?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"61174049-5a1c-484b-bf14-41ed319db7c7\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"nicvm-14da0165756\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcopp1116305961120/providers/Microsoft.Network/networkInterfaces/nicvm-14da0165756\",\n  \"etag\": \"W/\\\"61174049-5a1c-484b-bf14-41ed319db7c7\\\"\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceGuid\": \"a62b1ab9-7bca-43a1-8bbc-7035363420dd\",\n    \"ipConfigurations\": [\n      {\n        \"name\": \"primary\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcopp1116305961120/providers/Microsoft.Network/networkInterfaces/nicvm-14da0165756/ipConfigurations/primary\",\n        \"etag\": \"W/\\\"61174049-5a1c-484b-bf14-41ed319db7c7\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Succeeded\",\n          \"privateIPAddress\": \"172.16.0.4\",\n          \"privateIPAllocationMethod\": \"Dynamic\",\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcopp1116305961120/providers/Microsoft.Network/virtualNetworks/vnetcomvda90077976ce/subnets/subnet1\"\n          },\n          \"primary\": true,\n          \"privateIPAddressVersion\": \"IPv4\",\n          \"isInUseWithService\": false\n        }\n      }\n    ],\n    \"dnsSettings\": {\n      \"dnsServers\": [],\n      \"appliedDnsServers\": [],\n      \"internalDomainNameSuffix\": \"435ahhyqeqwuxldyiek5gl5ymf.bx.internal.cloudapp.net\"\n    },\n    \"enableAcceleratedNetworking\": false,\n    \"enableIPForwarding\": false,\n    \"services\": null,\n    \"virtualNetworkTapProvisioningState\": \"NotProvisioned\"\n  },\n  \"type\": \"Microsoft.Network/networkInterfaces\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcopp1116305961120/providers/Microsoft.Compute/virtualMachines/VM-1?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"hardwareProfile\": {\n      \"vmSize\": \"Standard_D3_v2\"\n    },\n    \"storageProfile\": {\n      \"imageReference\": {\n        \"publisher\": \"Canonical\",\n        \"offer\": \"UbuntuServer\",\n        \"sku\": \"16.04.0-LTS\",\n        \"version\": \"latest\"\n      },\n      \"osDisk\": {\n        \"caching\": \"ReadWrite\",\n        \"createOption\": \"FromImage\",\n        \"managedDisk\": {\n          \"storageAccountType\": \"Standard_LRS\"\n        }\n      }\n    },\n    \"osProfile\": {\n      \"computerName\": \"VM-1\",\n      \"adminUsername\": \"tirekicker\",\n      \"adminPassword\": \"12NewPA$$w0rd!\",\n      \"linuxConfiguration\": {\n        \"disablePasswordAuthentication\": false\n      }\n    },\n    \"networkProfile\": {\n      \"networkInterfaces\": [\n        {\n          \"properties\": {\n            \"primary\": true\n          },\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcopp1116305961120/providers/Microsoft.Network/networkInterfaces/nicvm-14da0165756\"\n        }\n      ]\n    }\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/eabd9608-ad5a-475a-93b0-1abd8f86f4f4?api-version=2018-06-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutVM3Min;231,Microsoft.Compute/PutVM30Min;1191"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"properties\": {\n    \"vmId\": \"2b251304-3ebb-4d7f-8310-e5875884f6ee\",\n    \"hardwareProfile\": {\n      \"vmSize\": \"Standard_D3_v2\"\n    },\n    \"storageProfile\": {\n      \"imageReference\": {\n        \"publisher\": \"Canonical\",\n        \"offer\": \"UbuntuServer\",\n        \"sku\": \"16.04.0-LTS\",\n        \"version\": \"latest\"\n      },\n      \"osDisk\": {\n        \"osType\": \"Linux\",\n        \"createOption\": \"FromImage\",\n        \"caching\": \"ReadWrite\",\n        \"managedDisk\": {\n          \"storageAccountType\": \"Standard_LRS\"\n        }\n      },\n      \"dataDisks\": []\n    },\n    \"osProfile\": {\n      \"computerName\": \"VM-1\",\n      \"adminUsername\": \"tirekicker\",\n      \"linuxConfiguration\": {\n        \"disablePasswordAuthentication\": false,\n        \"provisionVMAgent\": true\n      },\n      \"secrets\": [],\n      \"allowExtensionOperations\": true\n    },\n    \"networkProfile\": {\n      \"networkInterfaces\": [\n        {\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcopp1116305961120/providers/Microsoft.Network/networkInterfaces/nicvm-14da0165756\",\n          \"properties\": {\n            \"primary\": true\n          }\n        }\n      ]\n    },\n    \"provisioningState\": \"Creating\"\n  },\n  \"type\": \"Microsoft.Compute/virtualMachines\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcopp1116305961120/providers/Microsoft.Compute/virtualMachines/VM-1\",\n  \"name\": \"VM-1\"\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/eabd9608-ad5a-475a-93b0-1abd8f86f4f4?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "30"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14952,Microsoft.Compute/GetOperation30Min;29952"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"startTime\": \"2018-08-01T01:09:50.0875143+00:00\",\n  \"status\": \"InProgress\",\n  \"name\": \"eabd9608-ad5a-475a-93b0-1abd8f86f4f4\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/eabd9608-ad5a-475a-93b0-1abd8f86f4f4?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14932,Microsoft.Compute/GetOperation30Min;29916"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"startTime\": \"2018-08-01T01:09:50.0875143+00:00\",\n  \"endTime\": \"2018-08-01T01:10:57.0105168+00:00\",\n  \"status\": \"Succeeded\",\n  \"name\": \"eabd9608-ad5a-475a-93b0-1abd8f86f4f4\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR0NPUFAxMTE2MzA1OTYxMTIwLUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR0NPUFAxMTE2MzA1OTYxMTIwLUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11985"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR0NPUFAxMTE2MzA1OTYxMTIwLUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11959"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "ManageVirtualMachinesInParallelTest": [
      "rgcopp1116305961120",
      "vnetcomvda90077976ce",
      "stgcomvbf406237da",
      "nicvm-0d571946765",
      "nicvm-14da0165756"
    ]
  },
  "Variables": {
    "ServicePrincipal": "39e3d217-cb72-4b90-8532-394a7e784d93",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}