{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/rgcovec3473617?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"location\": \"eastus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1185"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617\",\n  \"name\": \"rgcovec3473617\",\n  \"location\": \"eastus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Network/virtualNetworks/vnet069032728f8d?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"10.0.0.0/28\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"properties\": {\n          \"addressPrefix\": \"10.0.0.0/28\"\n        },\n        \"name\": \"subnet1\"\n      }\n    ]\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/937da358-a348-4de2-9a87-ae521d3131e9?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1184"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"vnet069032728f8d\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Network/virtualNetworks/vnet069032728f8d\",\n  \"etag\": \"W/\\\"7be7ee7e-c3ed-4cfa-8b0f-7ebf4708cabd\\\"\",\n  \"type\": \"Microsoft.Network/virtualNetworks\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Updating\",\n    \"resourceGuid\": \"b7bafa77-782d-4225-83ee-5aadaef4d634\",\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"10.0.0.0/28\"\n      ]\n    },\n    \"dhcpOptions\": {\n      \"dnsServers\": []\n    },\n    \"subnets\": [\n      {\n        \"name\": \"subnet1\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Network/virtualNetworks/vnet069032728f8d/subnets/subnet1\",\n        \"etag\": \"W/\\\"7be7ee7e-c3ed-4cfa-8b0f-7ebf4708cabd\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Updating\",\n          \"addressPrefix\": \"10.0.0.0/28\",\n          \"delegations\": []\n        }\n      }\n    ],\n    \"virtualNetworkPeerings\": [],\n    \"enableDdosProtection\": false,\n    \"enableVmProtection\": false\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Network/publicIPAddresses/pip71048572?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"dnsSettings\": {\n      \"domainNameLabel\": \"rgpip186347830e88a7\"\n    }\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/535da410-daed-40c3-b44b-d196bc5bd4ac?api-version=2018-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"pip71048572\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Network/publicIPAddresses/pip71048572\",\n  \"etag\": \"W/\\\"1e5ad5f1-c080-4f72-af3a-0fb318a7332c\\\"\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Updating\",\n    \"resourceGuid\": \"64eac298-e3ce-4af5-82ec-545b42558e4e\",\n    \"publicIPAddressVersion\": \"IPv4\",\n    \"publicIPAllocationMethod\": \"Dynamic\",\n    \"idleTimeoutInMinutes\": 4,\n    \"dnsSettings\": {\n      \"domainNameLabel\": \"rgpip186347830e88a7\",\n      \"fqdn\": \"rgpip186347830e88a7.eastus.cloudapp.azure.com\"\n    },\n    \"ipTags\": []\n  },\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\": \"Regional\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/eastus/operations/535da410-daed-40c3-b44b-d196bc5bd4ac?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11352"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"status\": \"Succeeded\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Network/publicIPAddresses/pip71048572?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"a1ca6112-a8c8-4cf0-b470-f61a678c3d3f\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11351"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"pip71048572\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Network/publicIPAddresses/pip71048572\",\n  \"etag\": \"W/\\\"a1ca6112-a8c8-4cf0-b470-f61a678c3d3f\\\"\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceGuid\": \"64eac298-e3ce-4af5-82ec-545b42558e4e\",\n    \"publicIPAddressVersion\": \"IPv4\",\n    \"publicIPAllocationMethod\": \"Dynamic\",\n    \"idleTimeoutInMinutes\": 4,\n    \"dnsSettings\": {\n      \"domainNameLabel\": \"rgpip186347830e88a7\",\n      \"fqdn\": \"rgpip186347830e88a7.eastus.cloudapp.azure.com\"\n    },\n    \"ipTags\": []\n  },\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\n  \"sku\": {\n    \"name\": \"Basic\",\n    \"tier\": \"Regional\"\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Network/networkInterfaces/niclvm42931b22914388?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"ipConfigurations\": [\n      {\n        \"properties\": {\n          \"privateIPAllocationMethod\": \"Dynamic\",\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Network/virtualNetworks/vnet069032728f8d/subnets/subnet1\"\n          },\n          \"primary\": true,\n          \"publicIPAddress\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Network/publicIPAddresses/pip71048572\"\n          }\n        },\n        \"name\": \"primary\"\n      }\n    ],\n    \"dnsSettings\": {}\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
  [...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Network/networkInterfaces/niclvm42931b22914388?api-version=2018-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"4862c5a9-5b14-432b-875f-24c1f091797c\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11348"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"niclvm42931b22914388\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Network/networkInterfaces/niclvm42931b22914388\",\n  \"etag\": \"W/\\\"4862c5a9-5b14-432b-875f-24c1f091797c\\\"\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceGuid\": \"f24aa3db-f9e6-452c-a590-7937f3480289\",\n    \"ipConfigurations\": [\n      {\n        \"name\": \"primary\",\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Network/networkInterfaces/niclvm42931b22914388/ipConfigurations/primary\",\n        \"etag\": \"W/\\\"4862c5a9-5b14-432b-875f-24c1f091797c\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Succeeded\",\n          \"privateIPAddress\": \"10.0.0.4\",\n          \"privateIPAllocationMethod\": \"Dynamic\",\n          \"publicIPAddress\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Network/publicIPAddresses/pip71048572\"\n          },\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Network/virtualNetworks/vnet069032728f8d/subnets/subnet1\"\n          },\n          \"primary\": true,\n          \"privateIPAddressVersion\": \"IPv4\",\n          \"isInUseWithService\": false\n        }\n      }\n    ],\n    \"dnsSettings\": {\n      \"dnsServers\": [],\n      \"appliedDnsServers\": [],\n      \"internalDomainNameSuffix\": \"o53lvnznpasufa5olkw033gwge.bx.internal.cloudapp.net\"\n    },\n    \"enableAcceleratedNetworking\": false,\n    \"enableIPForwarding\": false,\n    \"services\": null,\n    \"virtualNetworkTapProvisioningState\": \"NotProvisioned\"\n  },\n  \"type\": \"Microsoft.Network/networkInterfaces\"\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Compute/virtualMachines/lvm42931b?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"hardwareProfile\": {\n      \"vmSize\": \"Standard_D3_v2\"\n    },\n    \"storageProfile\": {\n      \"imageReference\": {\n        \"publisher\": \"Canonical\",\n        \"offer\": \"UbuntuServer\",\n        \"sku\": \"14.04.4-LTS\",\n        \"version\": \"latest\"\n      },\n      \"osDisk\": {\n        \"caching\": \"ReadWrite\",\n        \"createOption\": \"FromImage\",\n        \"managedDisk\": {\n          \"storageAccountType\": \"Standard_LRS\"\n        }\n      }\n    },\n    \"osProfile\": {\n      \"computerName\": \"lvm42931b\",\n      \"adminUsername\": \"tirekicker\",\n      \"adminPassword\": \"12NewPA$$w0rd!\",\n      \"linuxConfiguration\": {\n        \"disablePasswordAuthentication\": false\n      }\n    },\n    \"networkProfile\": {\n      \"networkInterfaces\": [\n        {\n          \"properties\": {\n            \"primary\": true\n          },\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Network/networkInterfaces/niclvm42931b22914388\"\n        }\n      ]\n    }\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/03ea9309-868e-4f1d-88d8-3110d30d2b00?api-version=2018-06-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutVM3Min;232,Microsoft.Compute/PutVM30Min;1192"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1182"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"properties\": {\n    \"vmId\": \"1c90e23d-eb91-4bad-bed5-67e6e5684fe0\",\n    \"hardwareProfile\": {\n      \"vmSize\": \"Standard_D3_v2\"\n    },\n    \"storageProfile\": {\n      \"imageReference\": {\n        \"publisher\": \"Canonical\",\n        \"offer\": \"UbuntuServer\",\n        \"sku\": \"14.04.4-LTS\",\n        \"version\": \"latest\"\n      },\n      \"osDisk\": {\n        \"osType\": \"Linux\",\n        \"createOption\": \"FromImage\",\n        \"caching\": \"ReadWrite\",\n        \"managedDisk\": {\n          \"storageAccountType\": \"Standard_LRS\"\n        }\n      },\n      \"dataDisks\": []\n    },\n    \"osProfile\": {\n      \"computerName\": \"lvm42931b\",\n      \"adminUsername\": \"tirekicker\",\n      \"linuxConfiguration\": {\n        \"disablePasswordAuthentication\": false,\n        \"provisionVMAgent\": true\n      },\n      \"secrets\": [],\n      \"allowExtensionOperations\": true\n    },\n    \"networkProfile\": {\n      \"networkInterfaces\": [\n        {\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Network/networkInterfaces/niclvm42931b22914388\",\n          \"properties\": {\n            \"primary\": true\n          }\n        }\n      ]\n    },\n    \"provisioningState\": \"Creating\"\n  },\n  \"type\": \"Microsoft.Compute/virtualMachines\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Compute/virtualMachines/lvm42931b\",\n  \"name\": \"lvm42931b\"\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/03ea9309-868e-4f1d-88d8-3110d30d2b00?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "30"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14956,Microsoft.Compute/GetOperation30Min;29956"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11347"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"startTime\": \"2018-08-01T01:09:31.0569895+00:00\",\n  \"status\": \"InProgress\",\n  \"name\": \"03ea9309-868e-4f1d-88d8-3110d30d2b00\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/03ea9309-868e-4f1d-88d8-3110d30d2b00?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14939,Microsoft.Compute/GetOperation30Min;29931"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11345"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"startTime\": \"2018-08-01T01:09:31.0569895+00:00\",\n  \"endTime\": \"2018-08-01T01:10:41.7908128+00:00\",\n  \"status\": \"Succeeded\",\n  \"name\": \"03ea9309-868e-4f1d-88d8-3110d30d2b00\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Compute/virtualMachines/lvm42931b?api-version=2018-06-01",
      "RequestMethod": "PATCH",
      "RequestBody": "{\n  \"properties\": {\n    \"hardwareProfile\": {\n      \"vmSize\": \"Standard_D3_v2\"\n    },\n    \"storageProfile\": {\n      \"imageReference\": {\n        \"publisher\": \"Canonical\",\n        \"offer\": \"UbuntuServer\",\n        \"sku\": \"14.04.4-LTS\",\n        \"version\": \"latest\"\n      },\n      \"osDisk\": {\n        \"osType\": \"Linux\",\n        \"name\": \"lvm42931b_OsDisk_1_2d43d92300fb41cea5c9b4891a357200\",\n        \"caching\": \"ReadWrite\",\n        \"createOption\": \"FromImage\",\n        \"diskSizeGB\": 30,\n        \"managedDisk\": {\n          \"storageAccountType\": \"Standard_LRS\",\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Compute/disks/lvm42931b_OsDisk_1_2d43d92300fb41cea5c9b4891a357200\"\n        }\n      },\n      \"dataDisks\": []\n    },\n    \"osProfile\": {\n      \"computerName\": \"lvm42931b\",\n      \"adminUsername\": \"tirekicker\",\n      \"linuxConfiguration\": {\n        \"disablePasswordAuthen[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Compute/virtualMachines/lvm42931b/extensions/VMAccessForLinux?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"publisher\": \"Microsoft.OSTCExtensions\",\n    \"type\": \"VMAccessForLinux\",\n    \"typeHandlerVersion\": \"1.4\",\n    \"protectedSettings\": {\n      \"username\": \"seconduser\",\n      \"password\": \"B12a6@12xyz!\",\n      \"expiration\": \"2020-12-31\"\n    }\n  },\n  \"location\": \"eastus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/d129e844-8c05-4359-86a9-46973c59bbdf?api-version=2018-06-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/UpdateVM3Min;239,Microsoft.Compute/UpdateVM30Min;1199"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1180"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"properties\": {\n    \"autoUpgradeMinorVersion\": false,\n    \"provisioningState\": \"Creating\",\n    \"publisher\": \"Microsoft.OSTCExtensions\",\n    \"type\": \"VMAccessForLinux\",\n    \"typeHandlerVersion\": \"1.4\"\n  },\n  \"type\": \"Microsoft.Compute/virtualMachines/extensions\",\n  \"location\": \"eastus\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Compute/virtualMachines/lvm42931b/extensions/VMAccessForLinux\",\n  \"name\": \"VMAccessForLinux\"\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Compute/virtualMachines/lvm42931b/extensions/VMAccessForLinux?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"publisher\": \"Microsoft.OSTCExtensions\",\n    \"type\": \"VMAccessForLinux\",\n    \"typeHandlerVersion\": \"1.4\",\n    \"autoUpgradeMinorVersion\": false,\n    \"protectedSettings\": {\n      \"username\": \"tirekicker\",\n      \"password\": \"muy!234OR\",\n      \"reset_ssh\": \"true\"\n    }\n  },\n  \"location\": \"eastus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/2c76d0b5-f676-41ad-827b-83c32ffa4a26?api-version=2018-06-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/UpdateVM3Min;237,Microsoft.Compute/UpdateVM30Min;1197"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1172"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"properties\": {\n    \"autoUpgradeMinorVersion\": false,\n    \"provisioningState\": \"Updating\",\n    \"publisher\": \"Microsoft.OSTCExtensions\",\n    \"type\": \"VMAccessForLinux\",\n    \"typeHandlerVersion\": \"1.4\"\n  },\n  \"type\": \"Microsoft.Compute/virtualMachines/extensions\",\n  \"location\": \"eastus\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Compute/virtualMachines/lvm42931b/extensions/VMAccessForLinux\",\n  \"name\": \"VMAccessForLinux\"\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Compute/virtualMachines/lvm42931b/extensions/VMAccessForLinux?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"publisher\": \"Microsoft.OSTCExtensions\",\n    \"type\": \"VMAccessForLinux\",\n    \"typeHandlerVersion\": \"1.4\",\n    \"autoUpgradeMinorVersion\": false,\n    \"protectedSettings\": {\n      \"remove_user\": \"seconduser\"\n    }\n  },\n  \"location\": \"eastus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/577476f5-0611-4004-b443-a8303c1b33ea?api-version=2018-06-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/UpdateVM3Min;237,Microsoft.Compute/UpdateVM30Min;1196"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1170"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"properties\": {\n    \"autoUpgradeMinorVersion\": false,\n    \"provisioningState\": \"Updating\",\n    \"publisher\": \"Microsoft.OSTCExtensions\",\n    \"type\": \"VMAccessForLinux\",\n    \"typeHandlerVersion\": \"1.4\"\n  },\n  \"type\": \"Microsoft.Compute/virtualMachines/extensions\",\n  \"location\": \"eastus\",\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Compute/virtualMachines/lvm42931b/extensions/VMAccessForLinux\",\n  \"name\": \"VMAccessForLinux\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Compute/virtualMachines/lvm42931b/extensions/CustomScriptForLinux?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"publisher\": \"Microsoft.OSTCExtensions\",\n    \"type\": \"CustomScriptForLinux\",\n    \"typeHandlerVersion\": \"1.4\",\n    \"autoUpgradeMinorVersion\": true,\n    \"settings\": {\n      \"fileUris\": [\n        \"https://raw.githubusercontent.com/Azure/azure-quickstart-templates/4397e808d07df60ff3cdfd1ae40999f0130eb1b3/mysql-standalone-server-ubuntu/scripts/install_mysql_server_5.6.sh\"\n      ],\n      \"commandToExecute\": \"bash install_mysql_server_5.6.sh Abc.123x(\"\n    }\n  },\n  \"location\": \"eastus\"\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/2aea64f7-8c05-43d7-9796-55ce505d2818?api-version=2018-06-01"
        ],
        "x-[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Compute/virtualMachines/lvm42931b/extensions/VMAccessForLinux?api-version=2018-06-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/70573dec-849b-4cd3-ad99-958e7fe68881?monitor=true&api-version=2018-06-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/70573dec-849b-4cd3-ad99-958e7fe68881?api-version=2018-06-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/UpdateVM3Min;238,Microsoft.Compute/UpdateVM30Min;1194"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14994"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/eastus/operations/70573dec-849b-4cd3-ad99-958e7fe68881?monitor=true&api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14947,Microsoft.Compute/GetOperation30Min;29684"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Network/networkInterfaces/nicwvm66513dd8928095?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"ipConfigurations\": [\n      {\n        \"properties\": {\n          \"privateIPAllocationMethod\": \"Dynamic\",\n          \"subnet\": {\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/reso[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Compute/virtualMachines/wvm66513d?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"hardwareProfile\": {\n      \"vmSize\": \"Standard_D3_v2\"\n    },\n    \"storageProfile\": {\n      \"imageReference\": {\n        \"publisher\": \"MicrosoftWindowsServer\",\n        \"offer\": \"WindowsServer\",\n        \"sku\": \"2012-R2-Datacenter\",\n        \"version\": \"latest\"\n      },\n      \"osDisk\": {\n        \"caching\": \"ReadWrite\",\n        \"createOption\": \"FromImage\",\n        \"managedDisk\": {\n          \"storageAccountType\": \"Standard_LRS\"\n        }\n      }\n    },\n    \"osProfile\": {\n      \"computerName\": \"wvm66513d\",\n      \"adminUsername\": \"tirekicker\",\n      \"adminPassword\": \"12NewPA$$w0rd!\",\n      \"windowsConfiguration\": {\n        \"provisionVMAgent\": true,\n        \"enableAutomaticUpdates\": true\n      }\n    },\n    \"networkProfile\": {\n      \"networkInterfaces\": [\n        {\n          \"properties\": {\n            \"primary\": true\n          },\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Network/networkInterfaces/nicwvm66513dd8928095\"\n        }\n      ]\n    }\n  },\n  \"location\": \"eastus\",\n  \"tags\": {}\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/jso[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Compute/virtualMachines/wvm66513d/extensions/CustomScriptExtension?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\n  \"properties\": {\n    \"publisher\": \"Microsoft.Compute\",\n    \"type\": \"CustomScriptExtension\",\n    \"typeHandlerVersion\": \"1.7\",\n    \"autoUpgradeMinorVersion\": true,\n    \"settings\": {\n      \"fileUris\":[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgcovec3473617/providers/Microsoft.Compute/virtualMachines/wvm66513d/extensions/VMAccessAgent?api-version=2018-06-01",
      "RequestMethod": "PUT",
[...]
